<w:p>
	<w:pPr>
		<w:pStyle w:val="BodyText"/>
		<w:spacing w:after="0"/>
		<w:rPr>
			<w:b-cs/>
			<w:sz-cs w:val="24"/>
			<w:lang w:fareast="EN-GB"/>
		</w:rPr>
	</w:pPr>
	<w:r><w:t>[[Name]]</w:t></w:r>
</w:p>