<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>NINO self service</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links/>
      <content><![CDATA[<p>Text here.</p>
<div class="login_holder">
<form name="complete_form" action="_login_ask.html">
	<input id="doout" type="Submit" name="doout" value="Go" >
</form></div>
<p>&nbsp;</p>
]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/limes.jpg]]></target>
          <uuid>879fb567-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="limes" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>Change your
<br />NINO</p>]]></content>
    </element>
  </page>
</pages>
