<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>Username self service</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.test/resources/spinning_image.gif]]></target>
          <uuid>b85fb07c-1915-11de-b6d2-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p><b>I am a pensioner or a deferred member</b></p>
<p>Your National Insurance number has always been your username to log in to PensionLine. This has now changed.</p>
<p>Your National Insurance number identifies you to HM Revenue &amp; Customs and is a component of your personal data. To increase the security of PensionLine, we have introduced a new method for logging into the site. This new method gives you the opportunity to create a username of your choice.&nbsp;&nbsp;</p>
<p>Now is the opportunity for you to change your username to something more memorable. Please enter your new username in the box provided below and click &lsquo;Go&rsquo;.</p>
<p><b>I am an active employee</b></p>
<p>Your National Insurance number has always been your username to log in to PensionLine. This has now changed.</p>
<p>You can log in to PensionLine in one of two ways:</p>
<p>1.&nbsp;If you have a BP email account, by using your BP1 username and password,<br />
<br />
2.&nbsp;by changing your username to something more memorable and keeping a unique password.</p>
<p>If you would like to start using your email account to log in to PensionLine, please return to the log in page and enter your BP1 username and password.</p>
<p>If you would like to continue using a unique username and password for PensionLine, now is the opportunity for you to change your username to something more memorable. Please enter your new username in the box provided below and click &lsquo;Go&rsquo;.</p>
<form action="" method="post">
    <div id="error_text" style="color: rgb(255,0,0)" name="error_text" align="center">&nbsp;</div>
    <div class="component_holder">
    <div class="component_label"><label for="_new_username">New Username</label></div>
    <div class="component_value"><input id="_new_username" name="_new_username" type="text" /></div>
    </div>
    <div class="component_holder">
    <div class="component_label">&nbsp;</div>
    <div class="component_value"><input class="goButton" id="dochange" type="button" onclick="javascript:validateNINOInput(_new_username.value);" name="dochange" value="Go" /> <span id="loading" style="display: none"><img alt="validating..." src="%(link0)" /></span></div>
    </div>
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/limes.jpg]]></target>
          <uuid>879fb567-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="limes" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>Change your <br />
Username</p>]]></content>
    </element>
  </page>
</pages>
