<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>Password self service</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/Self_services/userid_self_service.html]]></target>
          <uuid>12d6d45e-e4a1-11de-9c92-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.test/resources/spinning_image.gif]]></target>
          <uuid>b85fb07c-1915-11de-b6d2-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>If you are a BP employee and not located overseas you can log in with your PensionLine user ID or BP1 account.</p>
<p>Please enter your personal details below. All fields marked <span style="color: #ff0000">#</span> must be entered. If you live overseas, please leave the postcode box blank.</p>
<p>If an error occurs, please <a target="_self" href="%(link0)">contact</a> the PensionLine Support Team.</p>
<div id="inputBox">
<form id="useridForm" method="post" action="" name="useridForm">
    <div style="color: rgb(255,0,0)" id="error_text" align="center">&nbsp;</div>
    <div class="login_component_holder">
    <div class="login_label"><span style="color: #ff0000">#</span> <label for="_request_nino">NI Number</label></div>
    <div class="login_value"><input id="_request_nino" class="reginput" name="_request_nino" type="text" /></div>
    </div>
    <div class="login_component_holder">
    <div class="login_label"><span style="color: #ff0000">#</span> <label for="_request_dob">Date of Birth</label></div>
    <div class="login_value"><span class="dateofbirth"><select id="_request_day" name="_request_day">
    <option value="01" selected="selected">01</option>
    <option value="02">02</option>
    <option value="03">03</option>
    <option value="04">04</option>
    <option value="05">05</option>
    <option value="06">06</option>
    <option value="07">07</option>
    <option value="08">08</option>
    <option value="09">09</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
    </select> </span><span class="dateofbirth"><select id="_request_month" name="_request_month">
    <option value="01" selected="selected">01</option>
    <option value="02">02</option>
    <option value="03">03</option>
    <option value="04">04</option>
    <option value="05">05</option>
    <option value="06">06</option>
    <option value="07">07</option>
    <option value="08">08</option>
    <option value="09">09</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    </select> </span><span class="dateofbirth"><input id="_request_year" maxlength="4" size="4" onKeyPress="return numbersonly(this, event)" name="_request_year" type="text" /> </span></div>
    </div>
    <div class="login_component_holder">
    <div class="login_label"><label for="_request_postcode">* PostCode</label></div>
    <div class="login_value"><input id="_request_postcode" class="reginput" name="_request_postcode" type="text" /></div>
    </div>
    <div class="login_component_holder">
    <div class="login_label">&nbsp;</div>
    <div class="login_value"><input id="dochange" class="goButton" type="button" onclick="javascript:validatePasswdSelfservice();" name="dochange" value="Go" /></div>
    <span style="display: none" id="loading"><img alt="finding..." src="%(link1)" /></span></div>
    <div style="display: none; color: red" id="ee101">Unable to validate the details provided.</div>
</form>
<div class="login_component_holder">
<div class="login_label">&nbsp;</div>
<div class="login_value"><a href="%(link2)">I've forgotten my user ID</a></div>
</div>
<p>&nbsp;</p>
<div id="result">&nbsp;</div>
<p style="width: 100%"><strong>* This field is mandatory if you live in the UK</strong></p>
<script type="text/javascript" language="JavaScript">
	window.onload = doFocus;
	function doFocus() {
		document.useridForm._request_nino.focus();
	}

	function numbersonly(myfield, e, dec)
	{
var key;
var keychar;

if (window.event)
   key = window.event.keyCode;
else if (e)
   key = e.which;
else
   return true;
keychar = String.fromCharCode(key);

// control keys
if ((key==null) || (key==0) || (key==8) || 
    (key==9) || (key==13) || (key==27) )
   return true;

// numbers
else if ((("0123456789").indexOf(keychar) > -1))
   return true;

// decimal point jump
else if (dec && (keychar == "."))
   {
   myfield.form.elements[dec].focus();
   return false;
   }
else
   return false;
}	
	
</script></div>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/laptop_on_grass.jpg]]></target>
          <uuid>873c118b-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="laptop on grass" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>forgotten your password</p>]]></content>
    </element>
  </page>
</pages>
