<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>who will receive benefits if I die?</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/Expression_of_Wish_form_for_BP_main_scheme.pdf]]></target>
          <uuid>1aab67f1-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/Resources/scheme_booklet.html]]></target>
          <uuid>10480b67-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<h2 class="ocms_de_norm">if you die in service</h2>
<p class="ocms_de_norm">If you die in service, a lump sum death benefit of three times your annual <span class="fakelink">[[Dictionary(BP):final salary]]</span> will be paid (four times if you are
currently on one of the contributory options).&nbsp;If you leave a&nbsp;spouse/civil partner or
dependant(s), a survivor's pension and/or children's pension will usually be payable as well.</p>
<h2 class="ocms_de_norm">if you leave</h2>
<p class="ocms_de_norm">If you keep your pension in the&nbsp;BP Pension Fund&nbsp;when you leave,
but die before you start to draw it, a survivor's pension for your spouse/civil partner or
dependant(s) and/or a children's pension will usually be payable.&nbsp;</p>
<h2 class="ocms_de_norm">if you die in retirement</h2>
<p>If you die within the five years after your pension starts, a lump sum equal to your outstanding
pension payments for that five-year period will be payable (known as the 'five-year
guarantee').</p>
<h2 class="ocms_de_norm">nominating your beneficiaries</h2>
<p>It is vital that you nominate who you want to receive any lump sum benefit on an 
<em>expression of wishes form</em>, as the Trustee will refer to this when deciding who should
receive this benefit. You can find more information and complete&nbsp;an online 
<em>expression of wishes form</em> by&nbsp;going to the update section in&nbsp;'I want
to...'.&nbsp;If you prefer, you can download and print a form by clicking 
<a title="Expression of Wish form for BP main scheme" target="_self"
href="%(link0)">here</a>.</p>
<h2>further information</h2>
<p class="ocms_de_norm">You can find out more about financial protection for your family in the 
<a href="%(link1)">explanatory booklet</a>.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/leafy_green_leafs.jpg]]></target>
          <uuid>876bad11-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="leafy green leafs" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>financial protection for your family is an important part of the Scheme's benefits</p>]]></content>
    </element>
  </page>
</pages>
