<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>how much money will I need?</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Application_images/incomechart.png]]></target>
          <uuid>53e5ac16-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/I_am_an_employee/Transfer_in/index.html]]></target>
          <uuid>0f8fdf5f-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>Your expenses may be different in retirement than they are now and your outgoings then may bear
little relation to your current expenditure. Some big expenses may be gone, e.g. mortgage or travel
costs, whilst others may increase, e.g. utility bills, if you are spending more time at home.</p>
<p>Instead of thinking of a cash figure, it may help to plan on the basis that you want a pension
worth a certain percentage or fraction of your [[Dictionary(BP):final salary]]&nbsp; e.g. 50%, or
two-thirds. In fact, under current BP Pension Scheme Rules, the maximum pension you can get on
retirement is two-thirds of your final salary, so this is a good starting point for your
calculations.</p>
<h2>am I on target?</h2>
<p>Having estimated how much money you think you will need, the obvious question is "am I on track
to achieve that income?"</p>
<p>A significant portion of your income in retirement is likely to be your BP pension. The main
benefit from the BP Pension Scheme is a pension based on 1/60th of your Final Salary for each year
you are an active member of the Scheme (known as [[Dictionary(BP):pensionable service]] ). The
formula used to calculate your pension is:</p>
<p class="formula">
<strong>(final salary ÷ 60) x pensionable service (in years and days)</strong>
</p>
<table style="WIDTH: 369px; HEIGHT: 143px" cellspacing="1" cellpadding="1" width="369" summary=""
border="4">
<tbody>
<tr>
<td>
<h3 class="highlight">example</h3>
<p class="highlight">Samantha&nbsp;retires in 2008, aged 60.&nbsp; When she retires, she has a
final salary&nbsp;of £45,000 having worked for BP for 18 years. She has always been a member of the
non contributory 0:60 option.</p>
<p class="highlight">Samantha's annual pension is worked out as:</p>
<p class="highlight">(£45,000 ÷ 60)&nbsp;x&nbsp;18 = 
<strong>£13,500</strong></p>
</td>
</tr>
</tbody>
</table>
<p>Several 'life events' could affect your pension planning. Some events will have a direct impact
on your final salary&nbsp;and your ability to make your own contributions - for example, going part
time (which would reduce the rate you earn pension for the future) or gaining a salary increase or
bonus.</p>
<p>Remember, too, that your retirement income&nbsp;may include more than just your BP pension from
the BP Pension Scheme. Your income may come from several sources (see example&nbsp;chart
below).</p>
<p align="center">
<img height="218" alt="BP income chart" width="218" border="0"
src="%(link0)" />
</p>
<p>In particular, you may have income from other occupational or private pension arrangements, so
you need to take this into account in working out whether you are saving enough.</p>
<h2>further information</h2>
<p class="actionpoint">Draw up a list of your potential income and expenditure to work out how much
money you will need in retirement. To see if you are on&nbsp;target, look at your&nbsp;combined
pension forecast in 'my benefits',&nbsp;to see your projected&nbsp;BP benefits at <span>[[Dictionary(BP):normal retirement age]]</span> and your projected State pension at <span>[[Dictionary(BP):State pension age]]</span>.</p>
<p>Use the personal planner to model different income targets to see what your pension might be if
you retire earlier.</p>
<p>If you would like to transfer in&nbsp;other pension benefits, you can find out how to do so by
clicking 
<a href="%(link1)">here</a>. However,&nbsp;we
recommend that you speak to an independent financial adviser to help you decide whether this is the
right option for you.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/leafy_green_leafs.jpg]]></target>
          <uuid>876bad11-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="leafy green leafs" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<font size="5">how much income will you need and are you on target?</font>]]></content>
    </element>
  </page>
</pages>
