<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="headerright">
      <links/>
      <content><![CDATA[<h1>I am an employee</h1>]]></content>
    </element>
    <element name="headerright2">
      <links/>
      <content><![CDATA[<p>If you login, you can use this site to:</p>
<ul>
<li>view your personal details in 'this is me'.</li>
<li>see the benefits you have built up so far and your estimated future pension under 'scheme
benefits'.</li>
<li>model different scenarios, such as early retirement or making contributions in the 'personal
planner'.</li>
</ul>]]></content>
    </element>
    <element name="headerright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/leafy_green_leafs.jpg]]></target>
          <uuid>876bad11-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="leafy green leafs" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="headerright4">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-100x100/ladybird_on_grass.jpg]]></target>
          <uuid>60503b90-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="100" alt="ladybird on grass" width="99" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="headerright5">
      <links/>
      <content><![CDATA[<p>See the menu on the&nbsp;left for questions and&nbsp;issues you should consider, to help you get
the most out of your BP pension.</p>
<p>These questions will help you to find out whether you are on track for a financially secure
retirement.</p>]]></content>
    </element>
    <element name="headerright6">
      <links/>
      <content><![CDATA[<p>don't forget to log in to access all features available to you</p>]]></content>
    </element>
  </page>
</pages>
