<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>how will I receive my benefits?</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links/>
      <content><![CDATA[<p>There is no 'one size fits all' when it comes to retirement benefits. To reflect this, the BP
Pension Scheme enables you to choose how you want to receive your benefits.</p>
<p>You can choose:</p>
<ul>
<li>to take a full pension; or</li>
<li>swap some of it for a tax-free lump sum.</li>
</ul>
<p>Your pension is paid into your&nbsp;bank account&nbsp;monthly in advance as taxable income, and
is guaranteed to increase each year in line with the Retail Prices Index (subject to a maximum of
5% a year).</p>
<p>You may want to&nbsp;consider asking for your pension to be levelled so that your combined
pension from BP and the State remains at a reasonably steady level throughout your retirement.</p>
<p>If you have Additional Voluntary Contributions (AVCs), you must take your AVC benefits at the
same time as your main BP Pension Scheme benefits. You can use your AVC 'pot' to buy an annuity,
which will provide you with additional annual pension. Alternatively,&nbsp;you can take some or all
of your AVC savings as a tax-free cash lump sum.</p>
<p>These options will be explained to you in more detail when you make your decision to retire.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/leafy_green_leafs.jpg]]></target>
          <uuid>876bad11-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="leafy green leafs" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<font size="5">you choose how you want to receive your benefits</font>]]></content>
    </element>
  </page>
</pages>
