<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>when&nbsp;can I&nbsp;retire?</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/Resources/scheme_booklet.html]]></target>
          <uuid>10480b67-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<h2>normal retirement</h2>
<p>Under the BP Pension Scheme, [[Dictionary(BP):normal retirement age]]&nbsp;is 65.</p>
<h2>early retirement</h2>
<p>You can retire early (if you have at least two years' qualifying service) but your pension may
be reduced because it will be paid for longer. The earliest age at which you can retire depends on
when you joined the Scheme. Please note that the following assumes that you retire immediately on
leaving the Scheme and do not defer retirement to a later date.</p>
<table class="MsoNormalTable"
style="BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BORDER-COLLAPSE: collapse; mso-yfti-tbllook: 480; mso-padding-alt: 0cm 5.4pt 0cm 5.4pt; mso-border-alt: solid gray .5pt; mso-border-insideh: .5pt solid gray; mso-border-insidev: .5pt solid gray"
 cellspacing="0" cellpadding="0" border="1">
<tbody>
<tr style="mso-yfti-irow: 0; mso-yfti-firstrow: yes">
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: gray 1pt solid; PADDING-LEFT: 5.4pt; BACKGROUND: silver; PADDING-BOTTOM: 0cm; BORDER-LEFT: gray 1pt solid; WIDTH: 137.4pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt"
 valign="top" width="183" bgcolor="#c0c0c0">
<p class="MsoNormal"
style="punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">
<font color="#ffffff">Date joined Scheme</font>
</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: gray 1pt solid; PADDING-LEFT: 5.4pt; BACKGROUND: silver; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 289pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt"
 valign="top" width="385" bgcolor="#c0c0c0">
<p class="MsoNormal"
style="punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">
<font color="#ffffff">Age at which pension can be taken</font>
</p>
</td>
</tr>
<tr style="mso-yfti-irow: 1">
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: gray 1pt solid; WIDTH: 137.4pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="183">
<p class="MsoNormal"
style="punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">Before
6 April 2006</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 289pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="385" bgcolor="#ffff00">
<p class="MsoNormal"
style="punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">You
can take your pension at any point from age 50.</p>
</td>
</tr>
<tr style="HEIGHT: 53.75pt; mso-yfti-irow: 2; mso-prop-change: 'James Matthews' 20070123T1717"
height="72">
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: gray 1pt solid; WIDTH: 137.4pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; HEIGHT: 53.75pt; mso-border-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="183" height="72">
<p class="MsoNormal"
style="punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">On
or after 6 April 2006 and before
<br />1 December 2006
<br /></p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 289pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; HEIGHT: 53.75pt; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="385" bgcolor="#ffff00" height="72">
<p class="MsoNormal"
style="punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">You
can take your pension at any point from age 50, if you reach age 50 and take your pension before 6
April 2010. Otherwise, you cannot take your pension until you reach age 55.</p>
</td>
</tr>
<tr style="mso-yfti-irow: 3; mso-yfti-lastrow: yes">
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: gray 1pt solid; WIDTH: 137.4pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="183">
<p class="MsoNormal"
style="punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">On
or after
<br />1 December 2006</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 289pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="385" bgcolor="#ffff00">
<p class="MsoNormal"
style="punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">You
can take your pension at any point from age 55.
<br /></p>
</td>
</tr>
</tbody>
</table>
<p>If you are made redundant, special rules apply and you may be entitled to an immediate or
deferred pension.</p>
<p>If you retire early, your pension will be reduced, unless you:</p>
<ul>
<li>were a member of the Scheme at 30 November 2006 and retire at age 60 or above; or</li>
<li>meet the transition requirements for the Voluntary Early Retirement Arrangement (VERA).</li>
</ul>
<h2>VERA transition requirements&nbsp;</h2>
<p>To meet the VERA transition requirements, you must have completed at least 15 years' relevant
pensionable service at 1 December 2006 and meet the following criteria when you retire.</p>
<ul>
<li>you have 30 or more years' BP heritage service;</li>
<li>you are aged 55 or over; and</li>
<li>you are retiring with employer's consent.</li>
</ul>
<p>The reduction that applies to your pre 1 December 2006 benefits is as follows:</p>
<table class="MsoNormalTable"
style="BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BORDER-COLLAPSE: collapse; mso-yfti-tbllook: 480; mso-padding-alt: 0cm 5.4pt 0cm 5.4pt; mso-border-alt: solid gray .5pt; mso-border-insideh: .5pt solid gray; mso-border-insidev: .5pt solid gray"
 cellspacing="0" cellpadding="0" border="1">
<tbody>
<tr style="mso-yfti-irow: 0; mso-yfti-firstrow: yes">
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: gray 1pt solid; PADDING-LEFT: 5.4pt; BACKGROUND: silver; PADDING-BOTTOM: 0cm; BORDER-LEFT: gray 1pt solid; WIDTH: 225.4pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt"
 valign="top" width="301" bgcolor="#c0c0c0">
<p class="MsoNormal">
<font color="#ffffff">Number of years’ service at 1 December 2006</font>
</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: gray 1pt solid; PADDING-LEFT: 5.4pt; BACKGROUND: silver; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 207.05pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt"
 valign="top" width="276" bgcolor="#c0c0c0">
<p class="MsoNormal">
<font color="#ffffff">Reduction if you retire from service from age 55 for each year before age
60</font>
</p>
</td>
</tr>
<tr style="mso-yfti-irow: 1">
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: gray 1pt solid; WIDTH: 225.4pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="301" bgcolor="#ffff00">
<p class="MsoNormal">
<font face="Univers 45 Light" size="2"><span lang="EN-GB" style="FONT-SIZE: 10pt">20 or more</span>
</font>
</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 207.05pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="276" bgcolor="#ffff00">
<p class="MsoNormal">
<font face="Univers 45 Light" size="2"><span lang="EN-GB" style="FONT-SIZE: 10pt">Nil</span>
</font>
</p>
</td>
</tr>
<tr style="mso-yfti-irow: 2">
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: gray 1pt solid; WIDTH: 225.4pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="301">
<p class="MsoNormal">
<font face="Univers 45 Light" size="2"><span lang="EN-GB" style="FONT-SIZE: 10pt">19 &ndash; 20</span>
</font>
</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 207.05pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="276">
<p class="MsoNormal">
<font face="Univers 45 Light" size="2"><span lang="EN-GB" style="FONT-SIZE: 10pt">0.5% a year</span>
</font>
</p>
</td>
</tr>
<tr style="mso-yfti-irow: 3">
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: gray 1pt solid; WIDTH: 225.4pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="301">
<p class="MsoNormal">
<font face="Univers 45 Light" size="2"><span lang="EN-GB" style="FONT-SIZE: 10pt">18 &ndash; 19</span>
</font>
</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 207.05pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="276">
<p class="MsoNormal">
<font face="Univers 45 Light" size="2"><span lang="EN-GB" style="FONT-SIZE: 10pt">1.0% a year</span>
</font>
</p>
</td>
</tr>
<tr style="mso-yfti-irow: 4">
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: gray 1pt solid; WIDTH: 225.4pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="301">
<p class="MsoNormal">
<font face="Univers 45 Light" size="2"><span lang="EN-GB" style="FONT-SIZE: 10pt">17 &ndash; 18</span>
</font>
</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 207.05pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="276">
<p class="MsoNormal">
<font face="Univers 45 Light" size="2"><span lang="EN-GB" style="FONT-SIZE: 10pt">1.5% a year</span>
</font>
</p>
</td>
</tr>
<tr style="mso-yfti-irow: 5">
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: gray 1pt solid; WIDTH: 225.4pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="301">
<p class="MsoNormal">
<font face="Univers 45 Light" size="2"><span lang="EN-GB" style="FONT-SIZE: 10pt">16 &ndash; 17</span>
</font>
</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 207.05pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="276">
<p class="MsoNormal">
<font face="Univers 45 Light" size="2"><span lang="EN-GB" style="FONT-SIZE: 10pt">2.0% a year</span>
</font>
</p>
</td>
</tr>
<tr style="mso-yfti-irow: 6; mso-yfti-lastrow: yes">
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: gray 1pt solid; WIDTH: 225.4pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="301">
<p class="MsoNormal">
<font face="Univers 45 Light" size="2"><span lang="EN-GB" style="FONT-SIZE: 10pt">15 &ndash; 16</span>
</font>
</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 207.05pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="276">
<p class="MsoNormal">
<font face="Univers 45 Light" size="2"><span lang="EN-GB" style="FONT-SIZE: 10pt">2.5% a year</span>
</font>
</p>
</td>
</tr>
</tbody>
</table>
<p>The pension you earn for service from 1 December 2006 will be reduced by 3% for each year your
pension start date is below age 60.</p>
<h2>late retirement</h2>
<p>If the Company agrees, you may work beyond your normal&nbsp;retirement age and continue to build
up <span class="fakelink">[[Dictionary(BP):pensionable service]]</span> until you actually stop
working. This must be no later than age 75.</p>
<h2>further information</h2>
<p>You can find further information on normal, early and late retirement in the 
<a href="%(link0)">explanatory booklet</a>.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/leafy_green_leafs.jpg]]></target>
          <uuid>876bad11-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="leafy green leafs" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<font size="5">having an idea of when you want to retire will help you&nbsp;plan your pension
saving</font>]]></content>
    </element>
  </page>
</pages>
