<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>pension increases</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link6" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/COL_increase_letter_2011.pdf]]></target>
          <uuid>4e01ca24-381a-11e0-8225-4d6e53b46e73</uuid>
        </link>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/Resources/index.html]]></target>
          <uuid>1224ba4b-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link5" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/Resources/index.html]]></target>
          <uuid>1224ba4b-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/Resources/index.html]]></target>
          <uuid>1224ba4b-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/Resources/Trust_Deed.html]]></target>
          <uuid>12930c88-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/Resources/index.html]]></target>
          <uuid>1224ba4b-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/Resources/Trust_Deed.html]]></target>
          <uuid>12930c88-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>Most members of the BP Pension Fund are entitled to receive a pension increase in line with the rise in the Retail Prices Index (RPI), subject, if appropriate,&nbsp;to a ceiling of 5% a year. For some members, different contractual terms apply - these are outlined in the <a href="%(link0)">Rules</a> of each Scheme.</p>
<h2>how does the Trustee make its decision?</h2>
<p>The Trustee has a duty to review all pensions and deferred pensions annually in line with the provisions of the <a href="%(link1)">Trust Deed</a> and the <a href="%(link2)">Rules</a> of the relevant Scheme. It must also have regard to relevant legislation and regulation. Under present procedures, the Trustee starts its review at its last Board meeting of the year and consults the Company in the process. The final decision is normally made at the next Board meeting - the first meeting of the following year.</p>
<p>The RPI is not the only measure of price inflation. Other measures are typically based on increases in the cost of different 'baskets' of goods and services; and the rates of increase differ for individual items. These differences tend to even out over time, so that in the longer term, a particular measure, like RPI, can be expected to give a reasonable reflection of the cost of living increases.</p>
<h2>what about discretionary increases?</h2>
<p>The Trustee must make its decision strictly within the terms of the <a href="%(link3)">Trust Deed</a>&nbsp;and relevant Scheme <a href="%(link4)">Rules</a>.</p>
<p>The Trust Deed includes a power to make discretionary increases. This is in order to provide some flexibility when circumstances are exceptional, such as price inflation being above the 5% ceiling. Any exercise of this discretion requires BP's consent, so in practice, the Company has the final say.</p>
<p>The Trustee must consider all beneficiaries in a consistent manner and does not have the power to tailor awards to individual circumstances. A further consideration for the Trustee is to ensure that the Fund has sufficient resources to meet its current and future financial commitments.</p>
<p>The real cost of BP's commitments is currently rising faster than inflation, owing to the impact of people living longer and the cost of complying with increasing regulation. As a result, the Trustee needs to maintain sufficient funding to protect and pay the benefits which members have already built up and to cope with unpredictable events.</p>
<p>Therefore, in all but exceptional years, members should expect increases to follow the RPI, subject to the 5% ceiling. Members of Schemes with different contractual terms should expect increases on the basis set out under the <a href="%(link5)">Rules</a>&nbsp;of their Scheme.</p>
<h2>pension review 2011</h2>
<p>Click <a title="COL increase letter 2011" href="%(link6)" target="_self">here</a> to see the Trustee letter detailing the pension increase to be awarded in May 2011.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/green_leaf.jpg]]></target>
          <uuid>866ab7b0-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="90" alt="green leaf" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<font size="5">find out how the Trustee decides what the annual pension increase will be</font>]]></content>
    </element>
  </page>
</pages>
