<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>who's who</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link8" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-BP_Trustees/Iain_Macdonald.jpg]]></target>
          <uuid>8d8df515-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link9" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-BP_Trustees/Peter_Mather.JPG]]></target>
          <uuid>8e185ad8-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link6" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-BP_Trustee_Office/David_Felder.JPG]]></target>
          <uuid>9a823153-6d57-11df-bdef-4d6e53b46e73</uuid>
        </link>
        <link name="link7" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-BP_Trustees/David_Jackson.jpg]]></target>
          <uuid>8d68b9cf-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link4" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-BP_Trustees/Martin_Bradshaw.jpg]]></target>
          <uuid>8dc3d22c-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link5" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-BP_Trustees/David_Cureton.jpg]]></target>
          <uuid>8d3d3cf9-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-BC_Trustees/Mark_Ashworth.jpg]]></target>
          <uuid>8c1b2b08-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-BP_Trustees/John_bartlett.jpg]]></target>
          <uuid>05b7e5d6-3acd-11e1-ab35-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-BP_Trustees/Ian_Prosser.jpg]]></target>
          <uuid>7ec4ae13-cd2f-11df-9ad9-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-BP_Trustees/Sally_Bridgeland.jpg]]></target>
          <uuid>8e4b9fde-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link10" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-BC_Trustees/Vicki_Peckering.jpg]]></target>
          <uuid>8c2bf3eb-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link11" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-BP_Trustees/Mark_Stageman.jpg]]></target>
          <uuid>7c27c094-7698-11de-b736-4d6e53b46e73</uuid>
        </link>
        <link name="link12" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-BP_Trustee_Office/Bruce_Garner.jpg]]></target>
          <uuid>8c624634-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>BP Pension Trustees Limited is the corporate trustee company that manages the BP Pension Fund on behalf of all members. There are&nbsp;11 Trustee Directors:<br />
<br />
&bull;&nbsp;one independent Chairman, nominated by the Company; <br />
&bull;&nbsp;one Trustee-selected Chief Executive Officer (CEO); <br />
&bull;&nbsp;four Member-nominated Directors;<br />
&bull;&nbsp;four Company-nominated Directors, one of whom is independent; and<br />
&bull;&nbsp;one Trustee-selected Director.<br />
<br />
The independent Directors are not members of the Fund.<br />
<br />
The current Trustee Directors are:</p>
<div class="bio_panel">
<div class="bio_image"><img height="150" alt="Ian Prosser" width="109" border="0" src="%(link0)" /></div>
<div class="bio_text">
<h3>Sir Ian Prosser - Chairman<br />
&nbsp;</h3>
<p>Sir Ian joined the Trustee Board as a Director on 24 June and was appointed Chairman on 29 September 2010. <br />
&nbsp;<br />
He retired as Deputy Chairman and senior independent director of BP p.l.c. at the AGM in April 2010, having joined the BP Board in 1997. He had also been Chairman of the Audit Committee and a member of the Remuneration and Nominations Committees.<br />
&nbsp;<br />
Sir Ian was Chairman and Chief Executive of Bass plc (formerly Bass Charrington) and, after the sale of the breweries and leisure businesses, became Chairman of Intercontinental Hotels, having spun off the pub company Mitchells &amp; Butler. <br />
&nbsp;<br />
He was formerly a non-executive Director of The Boots Company, Lloyds TSB plc, and senior independent director of GlaxoSmithKline plc. He was Chairman of the Stock Exchange Advisory Council and the World Travel and Tourism Council. <br />
&nbsp;<br />
He is currently Chairman of the Navy, Army &amp; Air Force Institutes, and a non-executive Director of Sara Lee Corporation.</p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image"><img height="150" alt="Sally Bridgeland" width="100" border="0" src="%(link1)" />&nbsp;</div>
<div class="bio_text">
<h3>Sally Bridgeland &ndash; CEO, BP Pension Trustees Limited</h3>
<font face="Verdana" color="#666666">
<p><br />
Sally became Chief Executive Officer of BP Pension Trustees Limited in July 2007.<br />
<br />
As CEO, Sally has the delegated authority to direct and oversee the running of the Fund in accordance with the Board&rsquo;s governance policies.<br />
<br />
Sally has extensive pensions and investment knowledge, gained through over 20 years' experience with leading consultants Aon Hewitt. <br />
<br />
Sally graduated from Imperial College, London in 1986 with a first class degree in mathematics and qualified as a Fellow of the Institute of Actuaries in 1989.</p>
</font></div>
</div>
<div class="bio_panel">
<div class="bio_image"><img height="151" alt="Mark Ashworth New" width="100" border="0" src="%(link2)" />&nbsp;</div>
<div class="bio_text">
<h3>Mark Ashworth - The Law Debenture Pension Corporation p.l.c.<br />
(Independent)</h3>
<p><em><strong>Audit&nbsp;Committee (Chairman)</strong></em></p>
<p>Law Debenture is a professional trustee company. It was appointed as an independent Director of BP Pension Trustees Limited in May 1997. It is currently represented by Mark Ashworth.<br />
<br />
Mark is a lawyer who joined Law Debenture in 2001. He represented Law Debenture as the independent Trustee Director and Chairman of the Burmah Castrol Pension Fund Trustee Board from 2003 until its merger into the BP Pension Fund on 31 March 2011.<br />
<br />
Commenting on the role of Law Debenture, Mark said, &quot;We seek to work with our fellow Trustee Directors and help them to live up to the increasingly demanding standards expected of trustees by sharing the knowledge and experience which we have gained as a result of working with over 200 UK pension schemes of all types and sizes.&quot;</p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image"><img height="150" alt="John_bartlett" width="100" border="0" src="%(link3)" />&nbsp;</div>
<div class="bio_text">
<h3>
<p><b><font size="2">John Bartlett &ndash; Group Head of Tax, BP p.l.c.<br />
(Company-nominated)</font>&nbsp;</b></p>
</h3>
<p><font size="2">John was appointed a Director of BP Pension Trustees Limited in December 2011.&nbsp;</font><br />
<br />
<font size="2">John joined BP in 1988, after 15 years with the Inland Revenue. He has held a variety of roles in BP, including Controller of North Sea Taxes and Head of UK and Business Taxes. John was Chief Financial Officer (CFO) for Exploration &amp; Production before taking up his present role in April 2006.</font><br />
<br />
<font size="2">As Group Head of Tax, John is a member of the Group CFO&rsquo;s Leadership Team. He leads an international team of 450 tax professionals working to meet increasingly challenging fiscal and regulatory compliance obligations while developing tax mitigation and risk management plans which support the Group&rsquo;s Strategy and Values.&nbsp;</font><br />
<br />
<font size="2">John represents BP and the UK Oil industry on fiscal issues with the OECD, the International Fiscal Association and the CBI. He is currently a member of HMRC&rsquo;s Business Tax Forum, and HM Treasury&rsquo;s Corporate Tax Reform and General Anti-Avoidance Review Committees.</font><font size="2">&nbsp;</font></p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image"><img height="150" alt="Martin Bradshaw" width="100" border="0" src="%(link4)" />&nbsp;</div>
<div class="bio_text">
<h3>Martin Bradshaw - Senior Trading Operator, BP p.l.c. <br />
(Member-nominated)&nbsp;</h3>
<p><em><strong>Discretionary Committee</strong> </em></p>
<p>Martin was appointed a Director of BP Pension Trustees Limited in December 2006 and reappointed in November 2010.<br />
<br />
Martin started his career with Mobil in 1982 as an Operator Apprentice at the Coryton Refinery. He held various positions with the Production Department, eventually joining the Production Planning Team where he went on to become Fuels Asset Planner. In 2005, Martin moved to Integrated Supply and Trading as a Senior Trading Operator for the Gasoil Team.<br />
<br />
Martin has held an interest in pensions for a number of years and was a member of the Transport and General Workers Union. He previously served as a MND of the Mobil Pension Scheme.<br />
<br />
&quot;I believe that it is important that ordinary members are able to serve as Trustee Directors. MNDs, along with all of the other Trustee Directors, play a key role in&nbsp;ensuring that the Fund is managed properly for all beneficiaries and&nbsp;that it continues to be seen as one of the best pensions&nbsp;funds&nbsp;available today.&quot;</p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image"><img height="133" alt="David Cureton" width="100" border="0" src="%(link5)" />&nbsp;</div>
<div class="bio_text">
<h3>David Cureton - BP pensioner <br />
(Member-nominated)</h3>
<p><em><strong>Audit Committee, Discretionary Committee</strong></em></p>
<p>David was appointed a Director of BP Pension Trustees Limited in November 2004. He was reappointed in November 2008 and, again, in November 2011.<br />
<br />
David joined BP in 1968 and retired in 1999. Whilst at BP, he held various financial and treasury roles including two overseas postings in Germany and Sweden. He has spent the last five years working for, and interacting with, many other organisations and believes he is fortunate to have worked for BP and to be in receipt of a BP pension.<br />
<br />
&quot;I became a Trustee Director to make sure that the BP pension benefit is protected and continues to develop in an ever changing world.&quot;</p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image"><img id="iimg_-95061304" height="150" alt="David Cureton" width="100" border="0" src="%(link6)" />&nbsp;</div>
<div class="bio_text">
<h3>David Felder - The Law Debenture Pension Corporation p.l.c. <br />
(Independent)</h3>
<p><em><strong>Audit Committee (Chairman)</strong></em></p>
<p>Law Debenture was appointed as an independent Director of BP Pension Trustees Limited in May 1997. It is currently represented by David Felder.<br />
<br />
David has more than 25 years of investment-related experience, working with pension funds in both the public and private sectors - first at Morgan Grenfell (now part of Deutsche Bank) as a fixed income fund manager, and then at Kleinwort Benson (now owned by Allianz) where he was Head of Fixed Income between 1992 and 1998.<br />
<br />
As well as pension funds, clients included government organisations and insurance companies, both in the UK and internationally, with a wide range of investment requirements.<br />
<br />
More recently, David was Head of Investments in London for Daiwa SB Investments, a joint venture between two of Japan&rsquo;s largest financial institutions, Daiwa Securities and Sumitomo Bank.<br />
<br />
David joined Law Debenture in 2002 and represents that organisation on a number of UK pension schemes in the manufacturing and financial sectors. He chairs a number of trustee boards and sits on several investment committees.<br />
<br />
David is a Fellow of the Chartered Institute for Securities &amp; Investment.<br />
&nbsp;</p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image"><img height="150" alt="David Jackson" width="100" border="0" src="%(link7)" />&nbsp;</div>
<div class="bio_text">
<h3>David Jackson - Company Secretary, BP p.l.c. <br />
(Company-nominated)</h3>
<p><em><strong>Discretionary Committee (Chairman)</strong></em></p>
<p>David was appointed&nbsp;a Director&nbsp;of BP Pension Trustees Limited in January&nbsp;2004.<br />
<br />
David has been Company Secretary at BP p.l.c. since July 2003. Before this, from 1989 to 2002, he was General Counsel and Company Secretary at PowerGen, where he was responsible for all legal matters relating to the PowerGen Group of Companies and all company secretarial matters. Prior to this, David held a number of legal positions with Matthew Hall, AMEC, Chloride Group, Nestle UK and Barlow Lyde &amp; Gilbert.<br />
<br />
David is a member of the Listing Authorities Advisory Committee. He is a Director of Business in the Community and Chairman of the Leadership Team of Business in the Environment.<br />
<br />
&quot;Having been on the Board of BPPT for just over a year, it is clear that the whole pensions industry is going through a period of fundamental change. BP has an excellent scheme and I hope that I can contribute to its governance, development and operation in a way that balances the interests of all those involved with it.&quot;</p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image"><img height="150" alt="Iain_Macdonald" width="100" border="0" src="%(link8)" />&nbsp;</div>
<div class="bio_text">
<h3>Iain Macdonald <br />
(Trustee-selected)<em> <br />
<br />
<br />
</em></h3>
<p>Iain Macdonald is Chief Financial Officer of Fairfield Energy Limited, which he joined in March 2010. Prior to this, he was BP&rsquo;s Deputy Group Chief Financial Officer.<br />
<br />
Iain joined BP in 1979 as an engineer and spent the earlier part of his career in Petrochemicals business and marketing roles. He also held a variety of project management and operational roles, including the field management of the Prudhoe Bay oilfield in Alaska. He was the Chief Executive of the Acetyls Business Unit.<br />
<br />
During his last ten years at BP, Iain held a number of roles in Finance: he led Group Planning and then became Group Controller, before being appointed Deputy Group CFO.<br />
<br />
Iain joined the Trustee Board on 1 August 2010 as a Trustee-selected Director, having previously served as a Company-nominated Director between April 2008 and March 2010.&nbsp;&nbsp;</p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image"><img height="153" alt="Peter Mather" width="100" border="0" src="%(link9)" />&nbsp;</div>
<div class="bio_text">
<h3>Peter Mather -&nbsp;Country Head, UK and Vice President, Europe,&nbsp; <br />
BP p.l.c. <br />
(Company-nominated)</h3>
<p><em><strong>Audit Committee</strong> </em></p>
<p>Peter&nbsp;was appointed&nbsp;a Director&nbsp;of BP Pension Trustees Limited in January 2008.<br />
<br />
Peter&nbsp;has been Country Head, UK and Vice President, Europe Region&nbsp;since January 2004.&nbsp;Immediately prior to this appointment, he was Vice President, External Affairs with overall responsibility for Europe, including UK and EU activities, and sub-Saharan Africa.<br />
<br />
Peter&rsquo;s early career in BP included oil trading, refining and shipping, in London, New York, Paris and Brussels.&nbsp;He then held senior strategic planning roles, initially in BP's upstream Global Gas group, and then in the Corporate Centre.&nbsp;On moving back into Refining and Marketing, he worked on the establishment and implementation of the BP/Mobil Joint Venture, led the European Supply and Distribution activity and sat on the Management Board of the Nerefco refinery in the Netherlands.&nbsp; He was then appointed to run the supply, trading and marketing business for BP&rsquo;s new North Europe Gas Business and was subsequently appointed Managing Director of the UK Gas and Power activities and sat on the Board of the UK Interconnector pipeline and the Great Yarmouth power station.<br />
<br />
Peter&rsquo;s current responsibilities cover a broad area including government and public affairs, communications, compliance, crisis management and social investment for the UK, as well as the overall responsibility for the reputation, co-ordination and integration of all the company&rsquo;s activities in the UK.&nbsp; He retains accountability for the External Affairs agenda across Europe.<br />
<br />
Peter is a Board member of the Energy Saving Trust, a council member of the Council for Industry and Higher Education, and a council member of the Energy Institute.&nbsp; He is also a non-executive director of Blue Giraffe Press Ltd.</p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image"><img height="151" alt="Vicki Peckering New" width="100" border="0" src="%(link10)" /></div>
<div class="bio_text">
<h3>Victoria Pickering &ndash; Burmah Castrol pensioner&nbsp;&nbsp; <br />
(Member-nominated)</h3>
<p><em><strong>Discretionary Committee</strong> </em></p>
<p>Vicki was appointed a Director of BP Pension Trustees Limited in June 2011.<br />
<br />
Vicki joined Lubricants UK in 1995 as Treasury Risks Manager. Following BP&rsquo;s acquisition of Burmah Castrol, she joined the BP Euro team, after which she worked on project management activities in Lubricants, focusing on training.<br />
<br />
In 2003, she was appointed a Member-Nominated Director of the Burmah Castrol Pension Fund and has since gained the Pensions Regulator&rsquo;s Trustee Toolkit Certificate.<br />
<br />
In 2005, Vicki moved to Exploration &amp; Production to develop and deliver training for Commercial staff. More recently, she was the E&amp;P Finance Faculty Lead at the BP Financial University. She retired from BP in April 2011.<br />
<br />
Vicki&lsquo;s earlier experience included working for Texaco UK in Corporate Finance/Treasury, being a non-executive director of Swindon Marlborough NHS Trust and an Open University tutor in corporate finance.<br />
<br />
&quot;I was delighted to become a Member-Nominated Director of the BP Pension Fund. It means I can build not only on my finance skills but also on the invaluable experience gained whilst being an MND for the Burmah Castrol Pension Fund. Given this background, I believe I can represent members' interests effectively&rdquo;.</p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image" style="width: 101px; height: 151px"><center><img height="150" alt="Mark Stageman" width="100" border="0" src="%(link11)" /><br />
</center></div>
<div class="bio_text">
<h3>Mark Stageman - BP Pensioner <br />
(Member-nominated)</h3>
<p><em><strong>Audit&nbsp;Committee, Discretionary Committee</strong> </em></p>
<p><font size="2">Mark was appointed a Director of BP Pension Trustees Limited in May 2009. </font><br />
<br />
<font size="2">Mark first worked for BP in 1971 before leaving to study for a chemical engineering degree. After graduating with a first class honours degree from Bath University in 1975, he rejoined BP. </font><br />
<br />
<font size="2">Mark&rsquo;s early career was spent in technical and manufacturing positions within BP Chemicals, before working in a business role developing opportunities in the Far East and the USA.&nbsp;<br />
&nbsp;<br />
This was followed by UK commercial and development roles in various BP power generation projects and in the restructuring of BP&rsquo;s sites at Baglan Bay and Hull. Before retiring from BP, Mark managed the operations of BP&rsquo;s olefins/polyolefins joint venture with Petronas in Malaysia. </font><br />
<br />
<font size="2">Since leaving BP in August 2006, Mark has worked as a consultant and as chairman of a local business enterprise agency.<br />
</font></p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image"><center><img height="153" alt="Bruce Garner" width="100" border="0" src="%(link12)" /></center></div>
<div class="bio_text">
<h3>Bruce Garner - Secretary to the Trustee Company<br />
&nbsp;</h3>
<p><font size="2">Bruce worked for BP for 36 years, during which time he carried out a wide range of operational, corporate and human resource roles in Aberdeen, Grangemouth, Hull and London.</font><br />
<br />
<font size="2">As Head of Pensions between 1997 and 2005, Bruce and his team oversaw the running of both the BP and Burmah Castrol Pension Funds in the UK. Bruce also had responsibility for formulating pension policy in the UK, as well as accountability for the governance-related aspects of all of BP&rsquo;s pension arrangements overseas.</font><br />
<br />
<font size="2">In June 2004, Bruce brought UK pensions administration back in-house,&nbsp;11 years after it had been outsourced. Just a year later, PensionLine won the coveted Professional Pensions &lsquo;best pension scheme website&rsquo; award.</font><br />
<br />
<font size="2">Bruce was a Board member of the Occupational Pensions Regulatory Authority until its responsibilities passed to the Pensions Regulator in 2005. He is now an elected member of the National Association of Pension Funds&rsquo; Retirement Benefits Council.</font><br />
<br />
<font size="2">Bruce retired from BP in March 2005. He was subsequently appointed Company Secretary of BP Pension Trustees Limited, in which role he supports the Trustee&rsquo;s business, both at Board and Committee level, reporting to the Chairman.&nbsp;&nbsp;</font><font size="2">&nbsp;</font></p>
</div>
</div>
<div class="bio_image"><center></center></div>
<p>&nbsp;</p>
<div class="bio_image"><center></center></div>
<p>&nbsp;</p>
<p>&nbsp;</p>]]></content>
    </element>
  </page>
</pages>
