<?xml version="1.0" encoding="UTF-8"?>

<CaveatPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.caveat/schemas/caveat.xsd">
  <PhraseType language="en">
    <Title><![CDATA[test]]></Title>
    <Description name="Description0">
      <links/>
      <content><![CDATA[<font face="Arial">show me caveat</font>]]></content>
    </Description>
  </PhraseType>
</CaveatPhraseTypes>
