<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[WhatIsTheScheduler]]></Anchor>
    <Title><![CDATA[What is the scheduler]]></Title>
    <Question><![CDATA[What is the scheduler?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>The scheduler is new functionality for the Reporting Tool which allows the creation of schedules for report groups. They can then run on a regular basis (daily, weekly, monthly etc.), and are accessible via an email sent to a specified distribution list. Please note that the scheduler is for report groups only (not for single reports).</p>]]></content>
    </Answer>
    <new_edited>false</new_edited>
  </PhraseType>
</FaqPhraseTypes>
