<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[WhoCanAccessTheScheduledReports]]></Anchor>
    <Title><![CDATA[Who can access the scheduled reports]]></Title>
    <Question><![CDATA[Who can access the scheduled reports?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Only people having a Report Editor or Report Runner role can access the reports and get information regarding the upcoming runs. In order to access this functionality please click on &lsquo;Access Report&rsquo; on the left menu.</p>]]></content>
    </Answer>
    <new_edited>false</new_edited>
  </PhraseType>
</FaqPhraseTypes>
