<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[WhatIsTheCronTrigger]]></Anchor>
    <Title><![CDATA[What is the cron trigger]]></Title>
    <Question><![CDATA[What is the cron trigger?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>This allows the user to specify when the report group will run. The scheduler&rsquo;s cron trigger is based on a cron expression which is a string made up of seven data as described below:</p>
<p>*&nbsp; *&nbsp; *&nbsp; *&nbsp; *&nbsp; *&nbsp; *&nbsp;&nbsp;&nbsp; command to be executed<br />
-&nbsp; -&nbsp; -&nbsp; -&nbsp; -&nbsp; -&nbsp; -<br />
|&nbsp; |&nbsp; |&nbsp; |&nbsp; |&nbsp; |&nbsp; |<br />
|&nbsp; |&nbsp; |&nbsp; |&nbsp; |&nbsp; |&nbsp; +-&nbsp;Year&nbsp;&nbsp;(optional field)<br />
|&nbsp; |&nbsp; |&nbsp; |&nbsp; |&nbsp; +---- Days of week&nbsp;(1 - 7 , Sunday = 1)<br />
|&nbsp; |&nbsp; |&nbsp; |&nbsp; +------- Months&nbsp;&nbsp;(1 - 12)<br />
|&nbsp; |&nbsp; |&nbsp; +---------- Days of month&nbsp;(1 - 31)<br />
|&nbsp; |&nbsp; +------------- Hours&nbsp;&nbsp;(0 - 23)<br />
|&nbsp;&nbsp; +--------------- Minutes&nbsp;(0 - 59)<br />
+------------------- Seconds&nbsp;(0 - 59)<br />
&nbsp;</p>
<p>Examples of&nbsp;cron expressions</p>
<p>Please find below some examples of complete cron-expressions:</p>
<p>Example 1:<br />
&quot;0 0 9 ? * Mon&quot; this means &quot;every Monday at 9:00 am&quot;.</p>
<p>As you can see from the example, the different data must be separate by a blank. Quotes are only here to help the reader to understand where the cron expression starts and ends- you do not need to add them.</p>
<p>Please have a look at the data below:<br />
Months can be specified with the following:<br />
JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC.</p>
<p>Days-of-Week can be specified as following: SUN, MON, TUE, WED, THU, FRI, SAT.<br />
Days-of-Week can also be specified with a number: Sunday=1,..., Saturday=7.</p>
<p>There are also two special characters:<br />
? which means &quot;any&quot;<br />
* which means &quot;every possible&quot;</p>
<p>Example 2:<br />
&quot;0 0 8 1 * ?&quot; this means &quot;every 1st of the month at 08:00 am&quot;.</p>
<p>Example 3:<br />
&quot;0 0 0 1 JAN,JUN ?&quot; this means &quot;the 1st of January and June at midnight&quot;</p>]]></content>
    </Answer>
    <new_edited>false</new_edited>
  </PhraseType>
</FaqPhraseTypes>
