<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[HowToAdd]]></Anchor>
    <Title><![CDATA[How to create a report]]></Title>
    <Question><![CDATA[How to create a report?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Only report adminstrator (report editor) can create a report. To create a report, go to 'Manage
reports' section then clich the 'Add' button at the bottom of the page. You must select the
datasource for the report first. Then input the report title and description. The report can
contains as many queries called sections as you wish by clich 'Add Section' button. Please see 'How
to add new section' for more information of the section.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
