<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[WhoCanManageSchedules]]></Anchor>
    <Title><![CDATA[Who can manage schedules]]></Title>
    <Question><![CDATA[Who can manage schedules?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Only people having the Report Scheduler role can manage schedules. They have the ability to Add/Edit/Delete schedules. In order to access this functionality please click on &lsquo;Access Report&rsquo; on the left menu, and then, on the Timer icon.</p>]]></content>
    </Answer>
    <new_edited>false</new_edited>
  </PhraseType>
</FaqPhraseTypes>
