<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>My Accrual Rate Modeller</h1>]]></content>
    </element>
    <element name="bptext">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>All projections on this page start with your Pensionable Salary, Service and Accrual Rate as at TODAY&rsquo;s date and assume you remain in service at least until 31 December <span contenteditable="false">[[PipYear]]</span>.</p>
<ul>You can use the &lsquo;plus buttons&rsquo; at the bottom of the modeller to model:
    <li>a new Pensionable Salary effective at the end of <span contenteditable="false">[[PipYear]]</span> (particularly important for the AA calculation)</li>
    <li>a change to your Accrual Rate effective from <strong>1 January next year only (you cannot model the effect of any <span contenteditable="false">[[PipYear]]</span> life event)</strong></li>
</ul>
<p>You can also model the effect of retiring at different ages by dragging the flag and change your cash lump sum amount by clicking on the money pile.</p>
<p><b>PensionLine will not register any changes you model here.</b> Please read the <i>About these calculations </i>section below as this will help you to understand some of the assumptions and terms used.</p>
<p>This modeller uses current data that we hold for you. If you believe any of the data shown is incorrect, please contact <a href="%(link0)">BP UK Pensions &amp; Benefits</a>. The data used to estimate your available carry forward was calculated on a fixed date and is not necessarily based on current data, as explained on the carry forward page.</p>]]></content>
    </element>
    <element name="bproad">
      <links>
        <link name="link2" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/sport-cars.png]]></target>
          <uuid>ef482a62-f3e1-11e0-8ed4-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/urban-cars.png]]></target>
          <uuid>ac454c45-e8d7-11e0-b7b2-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/saloon-cars.png]]></target>
          <uuid>ac66b6f9-e8d7-11e0-b7b2-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p><img style="display: none" alt="cars" src="%(link0)" /></p>
<p><img style="display: none" alt="cars" src="%(link1)" /></p>
<p><img style="display: none" alt="cars" src="%(link2)" /></p>]]></content>
    </element>
    <element name="bpbuttons">
      <links>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[http://www.bp.com/yourbenefits]]></target>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/myservice/notes_important.html]]></target>
          <uuid>e6ad291c-fa45-11e0-9890-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<div style="display: none">(--Add an accrual rate change pop up form--)</div>
<div id="popup_AccrualChange" class="aa_popup">
<h2>Accrual rate change</h2>
<p>Select your accrual rate to apply from 1 January&nbsp;2013&nbsp;<select id="accrual_select">
<option value="60" selected="selected">60th</option>
<option value="54">54th</option>
<option value="51">51st</option>
<option value="45">45th</option>
<option value="40">40th</option>
<option value="35">35th</option>
</select> &nbsp; <input class="goButton" type="button" onclick="modelAccrualChange(); return false;" value="Model" /></p>
</div>
<div style="display: none">(--Add a salary change pop up form--)</div>
<div id="popup_SalaryChange" class="aa_popup">
<h2>Salary change</h2>
<table style="margin-bottom: 20px" border="0" cellspacing="5" cellpadding="5" width="520">
    <tbody>
        <tr>
            <td width="530">Estimate your salary at 31 December 2012&nbsp;</td>
        </tr>
        <tr>
            <td>
            <div style="float: left">
            <div style="float: left" id="salary_slider">&nbsp;</div>
            <input style="text-align: right; width: 80px; float: left; margin-left: 10px" id="salary_select" class="slider_value" readonly="readonly" name="salary_select" type="text" />&nbsp;<input class="goButton" type="button" onclick="modelSalaryChange(); return false;" value="Model" /></div>
            </td>
        </tr>
    </tbody>
</table>
</div>
<h2>About these calculations</h2>
<p>All the figures shown are for illustration only. Although every effort has been made to ensure the accuracy of the data, the information provided does not give you any rights to the benefits shown. Your benefits are subject to the provisions of the BP Pension Fund Trust Deed, the Rules of the BP Pension Scheme and, if you have any benefits under the Supplementary Pension Plan (SPP), the Deed governing the SPP. You can model the effect of a change to your accrual rate on your benefits here, which will be effective from the following 1 January. You can only make an actual change to your accrual rate during the annual enrolment process, The only exception to this is if you encounter one of a specified list of &lsquo;life events&rsquo;.&nbsp; Please refer to the link <a href="%(link0)">here</a>&nbsp;for further information.</p>
<p>If you have made Additional Voluntary Contributions (AVCs), these are not included in the figures shown above.</p>
<p>Neither the Company nor the Trustee can be held accountable for any decision you make as a result of using this modeller, nor for any inaccuracies or omissions, nor if the figures shown do not accurately reflect your final position.<br />
<br />
<strong>IMPORTANT:</strong> There are certain assumptions and exclusions that affect the estimated results shown above. Please <a target="important_notes" href="%(link1)">click here</a> to view these.</p>]]></content>
    </element>
    <element name="popup_PensionInfo">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/myservice/notes_pension.html]]></target>
          <uuid>0c3095b8-fa46-11e0-9890-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<h2>Pension at chosen Retirement Age</h2>
<p>The figure shown is your estimated annual pension at the Retirement Age selected, based on the information that we hold regarding your pension history as at 1 January 2012 and the inputs that you have changed using the modeller, including your cash lump sum. The results shown assume that the Company has agreed to you retiring early.</p>
<p>You can model retiring at a different age, by dragging the flag to a different retirement age between ages 55 and 65.</p>
<p>You can use the &lsquo;plus buttons&rsquo; at the bottom of the modeller to model changes to your Pensionable Salary (as at 31 December 2012) and Accrual Rate <b>(note this is effective 1 January next year, so will not affect your tax charge for the 2012-13 tax year).</b></p>
<p>You can change your cash lump sum amount by clicking on the money pile.</p>
<p>Please click <a href="%(link0)">here</a> for important details that you should consider regarding your pension amount.&nbsp;&nbsp;</p>]]></content>
    </element>
    <element name="popup_TaxInfo">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/myservice/notes_below_aa.html]]></target>
          <uuid>fa02a770-fa45-11e0-9890-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/myservice/notes_above_aa.html]]></target>
          <uuid>01d2edc4-fa46-11e0-9890-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<h2>Annual Allowance (AA) Taxable Amount</h2>
<p>This modeller will help you to estimate your potential risk of incurring a tax charge for exceeding the AA limit for the&nbsp;2012-13 tax year in relation to your benefits in the BP Pension Scheme ONLY. This is based on your modelled Pensionable Salary at 31 December&nbsp;2012 and your accrual rate effective from 1 January next year.</p>
<p>The amount shown that you will pay tax on is your estimated AA Taxable Amount for the&nbsp;2012-13 tax year. You can model changes to your Pensionable Salary using the &lsquo;plus button&rsquo; at the bottom of the modeller.</p>
<p><strong>This modeller will not allow you to see the effect of changing your accrual rate mid year during <span contenteditable="false">[[PipYear]]</span> due to a &lsquo;life event&rsquo;.</strong></p>
<ul>
    <li>If your AA Taxable Amount shows as zero, you are unlikely to incur an AA tax charge. Please click <a target="tax_notes" href="%(link0)">here</a> to view more details.</li>
    <li>If your AA Taxable Amount is more than zero, you may incur an AA tax charge. Please click <a target="tax_notes" href="%(link1)">here</a> to view more details.</li>
</ul>]]></content>
    </element>
    <element name="popup_CashInfo">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/myservice/notes_cash.html]]></target>
          <uuid>3488a61c-fa46-11e0-9890-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<h2>Cash lump sum</h2>
<p>You can swap part of your pension for a cash lump sum at your chosen Retirement Age. You can model an estimated tax-free cash amount between zero and the maximum permitted under current HM Revenue &amp; Customs (HMRC) rules. The figure shown is based on the information that we hold regarding your pension history as at 1 January <span contenteditable="false">[[PipYear]]</span>&nbsp;and the inputs that you have changed using the modeller.</p>
<p>You can change your cash lump sum amount by clicking on the money pile to select either 0%, 50% or 100% of the maximum amount available and see the effect on your annual pension.</p>
<p>Please <a target="cash_notes" href="%(link0)">click </a>here for important details that you should consider regarding your cash lump sum amount.</p>]]></content>
    </element>
    <element name="bpcarchoices">
      <links>
        <link name="link2" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/sport-icon.png]]></target>
          <uuid>01fe0d56-f3e2-11e0-8ed4-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/saloon-icon.png]]></target>
          <uuid>ad232945-e8d7-11e0-b7b2-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/urban-icon.png]]></target>
          <uuid>ad0da571-e8d7-11e0-b7b2-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<table border="0" cellspacing="5" cellpadding="5" width="200">
    <tbody>
        <tr>
            <td colspan="3">Select an image to change</td>
        </tr>
        <tr>
            <td style="text-align: center" width="50"><img style="cursor: pointer" title="Saloon" alt="Saloon" src="%(link0)" /></td>
            <td style="padding-left: 10px; width: 110px; float: left; vertical-align: bottom">Saloon</td>
            <td width="30"><input style="border-bottom: medium none; border-left: medium none; border-top: medium none; border-right: medium none" id="carchoice_saloon" checked="checked" type="radio" name="carchoice" value="Saloon" /></td>
        </tr>
        <tr>
            <td style="text-align: center" width="50"><img style="cursor: pointer" id="carchoice_urban" title="Urban" alt="Urban" src="%(link1)" /></td>
            <td style="padding-left: 10px; width: 110px; float: left; vertical-align: bottom">Urban</td>
            <td width="30"><input style="border-bottom: medium none; border-left: medium none; border-top: medium none; border-right: medium none" id="carchoice_urban" type="radio" name="carchoice" value="Urban" /></td>
        </tr>
        <tr>
            <td style="text-align: center" width="50"><img style="cursor: pointer" id="carchoice_sport" title="Sport" alt="Sport" src="%(link2)" /></td>
            <td style="padding-left: 10px; width: 110px; float: left; vertical-align: bottom">Sport</td>
            <td width="30"><input style="border-bottom: medium none; border-left: medium none; border-top: medium none; border-right: medium none" id="carchoice_sport" type="radio" name="carchoice" value="Sport" /></td>
        </tr>
        <tr>
            <td style="text-align: right" colspan="3"><input class="goButton" type="button" onclick="updateCarChoice(); return false;" value="Ok" /></td>
        </tr>
    </tbody>
</table>]]></content>
    </element>
    <element name="tax_flag_text">
      <links/>
      <content><![CDATA[<p>For the&nbsp;<b>{TAXYEAR}</b> tax year, you will Pay tax on: <b>&pound;{TAXABLE_AMOUNT}</b></p>]]></content>
    </element>
    <element name="pension_flag_text">
      <links/>
      <content><![CDATA[<p>Retiring on your <b>{RETIRE_AGE}</b> birthday, estimated BP Pension: <b>&pound;{PENSION}</b> a year.</p>]]></content>
    </element>
    <element name="cash_flag_text">
      <links/>
      <content><![CDATA[<p>Estimated BP cash lump sum: <b>&pound;{CASH_LUMP_SUM}</b></p>]]></content>
    </element>
    <element name="warden_text">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/myservice/notes_lta.html]]></target>
          <uuid>428ce6e0-fa46-11e0-9890-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>You may exceed the Lifetime Allowance. Please click <a target="notes_lta" href="%(link0)">here</a> for more details.</p>]]></content>
    </element>
    <element name="plus_accrual_text">
      <links/>
      <content><![CDATA[<p>Click to add an accrual rate change</p>]]></content>
    </element>
    <element name="plus_salary_text">
      <links/>
      <content><![CDATA[<p>Click to add a salary change</p>]]></content>
    </element>
  </page>
</pages>
