<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>Below Annual Allowance (AA) Limit</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/myservice/notes_carry_forward.html]]></target>
          <uuid>a819f9e9-f4b4-11e0-b26d-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/annual_allowance/statement.html]]></target>
          <uuid>53b9df9a-5ed9-11e1-af41-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p><b>If your AA Taxable Amount shows as zero, you are unlikely to incur an AA tax charge for the&nbsp;2012-13 tax year.</b></p>
<p>Your accrual rate and your Pensionable Salary during <span contenteditable="false">[[PipYear]]</span>, together with your pension benefits already built up under the Fund, will affect how much of the Annual Allowance (AA) you use during <span contenteditable="false">[[PipYear]]</span> from your benefits with BP. If you exceed the AA limit, you may incur an AA tax charge. Please note that it is your increase in benefits from ALL pension plans that needs to be compared to the AA, not just those from BP.</p>
<p>The figure shown on the My Accrual Rate modeller is your estimated AA Taxable Amount for the <span contenteditable="false">[[PipYear]]</span> Pension Input Period (PIP) which falls in the&nbsp;2012-13 tax year. It is based on the information that we hold regarding your pension history as at&nbsp;1 January&nbsp;<span contenteditable="false">[[PipYear]]</span>&nbsp;and the inputs that you have changed using the modeller.<b> (Please note, any changes modelled to your accrual rate will be effective 1 January next year, so will not affect your AA Taxable Amount for the&nbsp;2012-13 tax year).</b> The increase in your pension during the&nbsp;<span contenteditable="false">[[PipYear]]</span> PIP will be assessed against the AA for the 2012-13 tax year.</p>
<p>We will provide you with a more detailed and more accurate estimate of your AA position for&nbsp;<span contenteditable="false">[[PipYear]]</span> in March <span contenteditable="false">[[PipYear]]</span>, once your Pensionable Salary from 1 April&nbsp;<span contenteditable="false">[[PipYear]]</span> is known. This can be found on the My AA Projection page, which will be available from March to early April only.</p>
<p>This estimate is based on the AA calculation as defined by HM Revenue &amp; Customs (HMRC). The AA modeller reflects the Company&rsquo;s and the Trustee&rsquo;s current understanding of the legislation and tax practices in the UK. These could be subject to change, as could the AA limit. If any carry forward is available and/or has been used in these calculations, we have assumed that you have maximised the use against any BP benefits at all times.</p>
<p>If your AA Taxable Amount shows as zero, this means we have estimated that your AA used for the&nbsp;2012-13 tax year using these inputs may be less than the AA limit of &pound;50,000 and you are unlikely to incur an AA tax charge. You should also consider the following:</p>
<h2>Inflation - Consumer Prices Index (CPI)</h2>
<p>When estimating your used carry forward for the&nbsp;2012-13 tax year, this is based on the difference in your pension across the relevant Pension Input Period (PIP) which will be from 1 January to 31 December&nbsp;<span contenteditable="false">[[PipYear]]</span> for the BP Pension Fund. To allow for inflationary impact in the increase in value of your pension benefits, your pension figure at the start of the PIP is permitted to increase by CPI for the previous September. We have used a September <span contenteditable="false">[[PipYearM1]]</span> CPI figure of 5.2% here.</p>
<h2>Pensionable Salary for <span contenteditable="false">[[PipYear]]</span></h2>
<p>Please estimate your Pensionable Salary for&nbsp;<span contenteditable="false">[[PipYear]]</span> to include all pay increases during <span contenteditable="false">[[PipYear]]</span>, as your estimated AA Taxable Amount will depend on your Pensionable Salary at 31 December <span contenteditable="false">[[PipYear]]</span>. For example, if you expect just one pay increase on 1 April&nbsp;<span contenteditable="false">[[PipYear]]</span> and no further increases during <span contenteditable="false">[[PipYear]]</span>, please check that your salary on the modeller is showing the figure you expect following the 1 April&nbsp;<span contenteditable="false">[[PipYear]]</span> increase as this will be the same amount at 31 December <span contenteditable="false">[[PipYear]]</span>.</p>
<h2>Carry forward</h2>
<p>You should also note that HMRC will allow you to offset any AA excess in one tax year against any remaining unused carry forward from the previous 3 tax years to reduce or remove the AA tax charge.</p>
<p>As your estimated AA used for the&nbsp;2012-13 tax year does not exceed the AA, you will not need to use any &lsquo;carry forward&rsquo; to reduce the potential AA tax charge. However, we estimate the amount of carry forward you have available for 2012/13 tax year is <span contenteditable="false">[[AaCarryFwdTotal]]</span>(from your BP benefits only). Please click <a href="%(link0)">here</a>, for a more detailed explanation of how this is calculated and the issues that you should be aware of that may affect this figure.</p>
<p>We have made the calculation of your carry forward available, based on the information we hold for previous years as at 1 January <span contenteditable="false">[[PipYear]]</span>, including your history of pensionable salaries.</p>
<p><i><b>If any carry forward is available and/or has been used in these calculations, we have assumed that you have maximised the use against any BP benefits at all times.</b></i></p>
<h2>My AA for previous tax years and more information</h2>
<p>To see your final position as at 31 December in previous years, please see the <a href="%(link1)">My AA Statement</a> page. This will be available on PensionLine shortly.</p>]]></content>
    </element>
  </page>
</pages>
