<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>The Lifetime Allowance</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/mylta.html]]></target>
          <uuid>a50ec117-168e-11e1-a146-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The Lifetime Allowance (LTA) is set by the Government and can change from year to year. It is important that you keep track of your pension benefits from all sources (including employments prior to joining BP and any private arrangements you may have) in relation to the lifetime allowance. If you have any pension benefits from a previous employer or another provider, you will need to add these to the value of your BP Pension Scheme benefits to get a more accurate view of your position against the LTA.</p>
<p>For more information on the LTA, please click <a href="%(link0)">here</a>.</p>]]></content>
    </element>
  </page>
</pages>
