<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>Important Notes</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[http://www.bp.com/yourbenefits]]></target>
        </link>
        <link name="link1" internal="false" type="A">
          <target><![CDATA[https://ukpensionsint.bp.com/content/pl/schemes_bp/Resources/scheme_booklet.html]]></target>
          <query><![CDATA[query=explanatory booklet]]></query>
        </link>
      </links>
      <content><![CDATA[<p><strong>Changing your Accrual Rate</strong><br />
<i>You may be offered the opportunity to change your accrual rate effective 1 April 2012 if we estimate that you are likely to exceed the AA limit for 2012 based on your position at that time. THIS MODELLER DOES NOT ALLOW YOU TO SEE THE EFFECT OF THIS AS ANY ACCRUAL RATE CHANGE IS ASSUMED TO TAKE EFFECT FROM 1 JANUARY OF THE FOLLOWING YEAR.</i></p>
<p>You can change the rate at which your pension builds up in the future by choosing a different accrual rate from the next annual enrolment process, please refer to the link <a href="%(link0)">here</a>&nbsp;for further information. Your current accrual rate and associated level of contribution is shown under 'current options and benefits'. Your contribution is paid as a percentage of your gross Pensionable Salary. Any change made on this modeller to your accrual rate is assumed to take place from the following 1 January.</p>
<p>You can model a new accrual rate using the &lsquo;plus buttons&rsquo; at the bottom.</p>
<p><strong>Some limitations of this modeller</strong><br />
This modeller produces estimated figures based on the information that we hold regarding your pension history as at 1 January 2012 and the inputs that you can change using the modeller. These figures are only estimates to assist you in planning for your retirement and considering making a change to your accrual rate for next year.</p>
<ul>The figures shown here may not give a complete picture of your individual circumstances. For example, they do not include:
    <li>any benefits you may have which are payable from the Exxon Mobil pension fund which are linked to your current salary</li>
    <li>any contributions you may be currently making to money purchase AVCs or contributions to and/or pensions accrual under external pension arrangements</li>
    <li>any changes to your accrual rate following a &lsquo;Life Event&rsquo; made within the last month or so</li>
    <li>any future changes to your Pensionable Salary (above any that you have modelled here).</li>
</ul>
<p>This is not a complete list of limitations.</p>
<ul>All figures shown:
    <li>assume you remain in service until 31 December 2012. If you were to leave service during 2012, this page is not relevant.</li>
    <li>use a September 2011 Consumer Prices Index (CPI) figure of 5.2%.</li>
</ul>
<ul><strong>About your benefits shown here</strong>
    <li>If you are a member of the Supplementary Pension Plan (SPP), some of the benefits shown above may come from the SPP.</li>
    <li>Your pension figure includes service that qualifies under VERA.</li>
    <li>You cannot receive a pension from the BP Pension Scheme of more than two-thirds of your final salary. If necessary, the figures above will be capped to reflect this limit.</li>
    <li>All calculations are based on your current Pensionable Salary.</li>
    <li>This statement assumes you are entitled to standard benefits. It includes benefits arising from any credited Pensionable Service shown on the <b>This is me </b>page on PensionLine.</li>
    <li>If your benefits are calculated by reference to your 'peak salary', rather than your actual current salary, the figures shown are based on current salary only.</li>
</ul>
<p><strong>Getting more help</strong><br />
You may wish to seek the help of a qualified Independent Financial Adviser before making any decisions regarding your pension arrangements.</p>
<p>For more information on the calculation and payment of benefits, please refer to the <a href="%(link1)">explanatory booklet</a> or contact <a href="%(link2)">BP UK Pensions &amp; Benefits.</a></p>
<p>If you are unsure whether the figures shown take into account all of your benefits in the BP Pension Fund, please phone the BP UK Pensions &amp; Benefits Helpline on 0845 602 1063 (or +44 1932 767730 if calling from overseas) to discuss this.</p>
<p><strong>Data protection</strong><br />
Under the terms of the Data Protection Act 1998, the Company and the Trustee hold personal details about you for the purposes of administering your pension benefits. This information will be made available to third party organisations who are working for and on behalf of the Company or the Trustee for the purposes of pension administration.</p>
<p>BP International Limited process all your personal data in accordance with their privacy policy. Please click on the Privacy Statement link at the bottom of this page to view BP&rsquo;s privacy policy.</p>]]></content>
    </element>
  </page>
</pages>
