<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>Pension notes</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/myservice/notes_lta.html]]></target>
          <uuid>428ce6e0-fa46-11e0-9890-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/retirement_planner_ac/index.html]]></target>
          <uuid>f78a13b1-1aa9-11de-9548-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The figure shown on the My Accrual Rate modeller is your estimated annual pension at the Retirement Age selected, based on the information that we hold regarding your pension history as at 1&nbsp;January <span contenteditable="false">[[PipYear]]</span> and the inputs that you have changed using the modeller, including your cash lump sum.</p>
<p>The results shown assume that the Company has agreed to you retiring early.</p>
<p>You should also consider the following when viewing your estimated pension at your chosen retirement age:</p>
<h2>Your benefits at Normal Retirement Age</h2>
<p>For your estimated benefits at age 60 or 65, we have assumed that you will continue in the BP Pension Scheme until you reach age 60 or 65, and that your Pensionable Salary and current accrual rate will remain unchanged over that period.</p>
<h2>&nbsp;&lsquo;Today&rsquo;s Prices&rsquo;</h2>
<p>Your estimated pension benefits are shown at your chosen Retirement Age based on the Pensionable Salary input into the modeller. The salary used for the pension amount has not been increased for inflation between now and your retirement age, so the amount is shown in &lsquo;today&rsquo;s prices&rsquo;.</p>
<h2>The Lifetime Allowance (LTA)</h2>
<p>The Lifetime Allowance (LTA) is set by the Government and can change from year to year. It is important that you keep track of your pension benefits from all sources (including employments prior to joining BP and any private arrangements you may have) in relation to the LTA. If you have any pension benefits from a previous employer or another provider, you will need to add these to the value of your BP Pension Scheme benefits to get a more accurate view of your position against the LTA. Where relevant, we have used the LTA limit of &pound;1.5 million on the modeller, which is the limit effective from 6 April 2012.</p>
<p>Please click <a href="%(link0)">here</a>&nbsp;for more details of the Lifetime Allowance.</p>
<h2>My Retirement and more information</h2>
<p>For more information on the details used to estimate your pension and our updated estimate of your pension as at today&rsquo;s date, please see the <a href="%(link1)">My retirement planner</a>. The My retirement planner will allow you to model your future benefits using your current Pensionable Salary only and will be more exact than using this modeller. Therefore, the My retirement planner results may be different to the estimated pension benefits shown on this page.</p>
<h2>Spouse's or civil partner's pension</h2>
<p>Your spouse's or civil partner's pension will not be affected by any reduction in your own pension that resulted from exchanging part of your pension for cash or retiring early.</p>
<p>If your spouse or civil partner is more than 20 years younger than you, their pension will be reduced. In certain circumstances, the Trustee may exercise its discretion to grant one or more dependants' pensions in place of the spouse's or civil partner's pension. Where applicable, pensions are also payable to qualifying children.</p>]]></content>
    </element>
  </page>
</pages>
