<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>Above Annual Allowance (AA) Limit</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/annual_allowance/statement.html]]></target>
          <uuid>53b9df9a-5ed9-11e1-af41-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/myservice/notes_carry_forward.html]]></target>
          <uuid>a819f9e9-f4b4-11e0-b26d-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p><b>If your AA Taxable Amount is more than zero, you may incur an AA tax charge for the&nbsp;2012-13 tax year.</b></p>
<p>Your accrual rate and your Pensionable Salary during 2012, together with your pension benefits already built up under the Fund, will affect how much of the Annual Allowance (AA) you use during 2012 from your benefits with BP. If you exceed the AA limit, you may incur an AA tax charge. Please note that it is your increase in benefits from ALL pension plans that needs to be compared to the AA, not just those from BP.</p>
<p>The figure shown on the My Accrual Rate modeller is your estimated AA Taxable Amount for the 2012 Pension Input Period (PIP) which falls in the 2012-13 tax year. It is based on the information that we hold regarding your pension history as at 1 January <span contenteditable="false">[[PipYear]]</span>&nbsp;and the inputs that you have changed using the modeller.&nbsp;&nbsp;<b>(Please note, any changes modelled to your accrual rate will be effective 1 January next year, so will not affect your AA Taxable Amount for the&nbsp;2012 tax year).</b>&nbsp;The increase in your pension during the 2012 PIP will be assessed against the AA for the 2012-13 tax year.</p>
<p>You may be able to reduce your accrual rate for the remainder of 2012 to reduce your estimated AA Taxable Amount for the 2012-13 tax year, if you have recently had a pensionable salary increase or a qualifying &lsquo;life event&rsquo;. For more details on this, please contact <a href="%(link0)">BP UK Pensions &amp; Benefits</a>.</p>
<p>We will provide you with a more detailed and more accurate estimate of your AA position for 2012 at the end of March 2012, once your Pensionable Salary from 1 April 2012 is known. You may be offered the opportunity to change your accrual rate from 1 April 2012 if we estimate that you are likely to exceed the AA limit for 2012 based on your position at that time.&nbsp;This can be found on the My AA Projection page, which will be available from March to early April only.&nbsp;</p>
<p>This estimate is based on the AA calculation as defined by HM Revenue &amp; Customs (HMRC). The AA modeller reflects the Company&rsquo;s and the Trustee&rsquo;s current understanding of the legislation and tax practices in the UK. These could be subject to change, as could the AA limit. If any carry forward is available and/or has been used in these calculations, we have assumed that you have maximised the use against any BP benefits at all times.</p>
<p>If your AA Taxable Amount is more than zero, this means we have estimated that your AA used for the 2012-13 tax year using these inputs may be above the AA limit of &pound;50,000 and you may incur an AA tax charge. In considering the impact of the AA on you, you should also consider the following:</p>
<h2>Your short term plans</h2>
<p>If you are thinking of retiring or leaving BP over the next 1-2 years, you may find that it suits your personal circumstances to incur a certain level of AA tax charge for the 2012-13 tax year, in return for the additional pension you would accrue.</p>
<h2>Carry forward</h2>
<p>You should also note that HMRC will allow you to offset any AA excess in one tax year against any unused AA from the previous 3 years to reduce or remove the AA tax charge.</p>
<p>The AA Taxable Amount shown does not take into account any unused &lsquo;carry forward&rsquo; you may have available from the previous 3 years, which may reduce this AA taxable amount. We estimate the amount of carry forward you have available for 2012 is <span contenteditable="false">[[AaCarryFwdTotal]]</span> (from your BP benefits only). Please click <a href="%(link1)">here</a>, for a more detailed explanation of how this is calculated and the issues that you should be aware of that may affect this figure.</p>
<p>We have made the calculation of your carry forward available, based on the information we hold for previous years as at 1 January <span contenteditable="false">[[PipYear]]</span>, including your history of pensionable salaries.</p>
<p><i><b>If any carry forward is available and/or has been used in these calculations, we have assumed that you have maximised the use against any BP benefits at all times.</b></i></p>
<h2>Scheme pays</h2>
<p>Under legislation, if your AA tax charge is above a minimum threshold, you may be able to meet the AA tax charge by paying this from your BP Pension Fund benefits. However, this will reduce your pension benefits and the amount of this reduction is unknown at this point. Once we are able to advise how this affects pension benefits, we will communicate this with those members affected.</p>
<h2>Inflation &ndash; Consumer Prices Index (CPI)</h2>
<p>When estimating your Pension Savings for the 2012-13 tax year, this is based on the difference in your pension across the relevant Pension Input Period (PIP) which will be from 1 January to 31 December <span contenteditable="false">[[PipYear]]</span> for the BP Pension Fund. To allow for inflationary impact in the increase in value of your pension benefits, your pension figure at the start of the PIP is permitted to increase by CPI for the previous September. We have used a September 2011 CPI figure of 5.2%.</p>
<h2>Pensionable Salary for 2012</h2>
<p>Please estimate your Pensionable Salary for <span contenteditable="false">[[PipYear]]</span> to include all pay increases during <span contenteditable="false">[[PipYear]]</span>, as your estimated AA Taxable Amount will depend on your Pensionable Salary at 31 December <span contenteditable="false">[[PipYear]]</span>. For example, if you expect just one pay increase on 1 April <span contenteditable="false">[[PipYear]]</span> and no further increases during <span contenteditable="false">[[PipYear]]</span>, please check that your salary on the modeller is showing the figure you expect following the 1 April <span contenteditable="false">[[PipYear]]</span> increase as this will be the same amount at 31 December <span contenteditable="false">[[PipYear]]</span>.&nbsp;</p>
<h2>My AA for <span contenteditable="false">[[PipTaxYear]]</span> tax year and more information</h2>
<p>To see your final position as at 31 December in previous years, please see the <a href="%(link2)">My AA Statement</a> page. This will be available on PensionLine shortly.</p>
<h2>&nbsp;</h2>
<p>&nbsp;</p>]]></content>
    </element>
  </page>
</pages>
