<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>Carry Forward</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[http://www.hmrc.gov.uk/pensionschemes/annual-allowance/carry-forward.htm]]></target>
        </link>
      </links>
      <content><![CDATA[<p>From 6th April 2011, HM Revenue &amp; Customs (HMRC) will allow you to offset any Annual Allowance (AA) excess in one tax year e.g. 2012-13 against any unused carry forward from the previous 3 tax years (e.g. 2011-12, 2010-11, 2009-10) to reduce or remove the AA tax charge.</p>
<p><i>For the rest of this note we describe the effect of this&nbsp;assuming you have BP Pension Fund benefits only and consequently we refer to the BP Pension Fund PIP throughout and that all decisions you make are in the interests of reducing your AA taxation charge in each tax year the AA applies from 6th April 2011 onwards. The relevant tax year for AA calculation purposes is the tax year in which the PIP year ends. The PIP for the BP Pension Fund runs from 1 January to 31 December each year. For example, the 2012 PIP year which ends on 31 December 2012 is relevant for the 2012-13 tax year.</i></p>
<h3>How is carry forward determined?</h3>
<p>If your Pension Savings under the BP Pension Fund in the 2012 PIP exceed the AA limit of &pound;50,000, the excess above &pound;50,000 is your AA taxable amount for the 2012-13 tax year. You will be liable to pay a tax charge on this. You may be able to use carry forward to reduce some or all of the amount liable to tax by making use of any unused available &lsquo;carry forward&rsquo; from the previous 3 PIPs (2011, 2010 and 2009) to reduce or eliminate the AA taxable amount for 2012.</p>
<p>To assess the carry forward available from previous PIPs to use in the 2012 PIP, your Pension Savings for 2009, 2010 and 2011 will be calculated. Each of these previous years&rsquo; actual Pension Savings are calculated using the same principles as those used in determining the Pension Savings for 2012.</p>
<ul>
    <li>If the Pension Savings for that PIP is above the &pound;50,000 limit, no carry forward is available for that year&rsquo;s PIP.</li>
    <li>If the Pension Savings for that PIP is below the &pound;50,000 limit, the difference is available as carry forward.</li>
</ul>
<p>To use any available carry forward you must consider the following rules:</p>
<ul>
    <li>Any carry forward amounts from each of the last 3 PIPs must be used in a particular order. Any carry forward available from the oldest PIP must be used first i.e. for the 2012 PIP year, any available unused carry forward from 2009 must be used first, then any unused carry forward from 2010, and finally any unused carry forward from 2011.</li>
    <li>Once carry forward has been used to offset a potential AA taxable amount in a given tax year it is no longer available in future tax years. So any carry forward used in 2011 from 2010 or 2009 to reduce the AA taxable amount in 2011 is not available to use in 2012.</li>
</ul>
<p>HMRC has introduced transitional arrangements for the carry forward available to use for the first two years since the reduction of the Annual Allowance on 6th April 2011, i.e. the 2011 and 2012 PIPs.</p>
<p><b>Full details are available on the <a href="%(link0)">HMRC website </a></b></p>
<h3>Your estimated available BP carry forward for the&nbsp;2012-13 tax year (<span contenteditable="false">[[PipYearM0]]</span> PIP):</h3>
<p>The table below shows our estimate of your BP carry forward available from the last 3 years that may be used to reduce or eliminate any AA taxable amount for the&nbsp;2012-13 tax year. <b>The figures relate only to your benefits accrued under the BP Pension Fund (BPPF). It does not include any contributions you may have made and/or pensions accrued under external pension arrangements over the last 3 years. If you have these, your carry forward figures will be reduced. It also assumes that the carry forward is not used for any other pension benefits you may have. </b><i><b>You may not have this carry forward available (for example, if you maximised your AA in a previous year by contributing to a SIPP), in which case you may still incur an AA tax charge for the&nbsp;2012-13 tax year. We will not offer you an alternative accrual rate.</b></i></p>
<table class="aa_taxmodeller_table" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label">PIP year</th>
            <th class="label">BPPF Pension Savings in PIP</th>
            <th class="label">BPPF carry forward available for <span contenteditable="false">[[PipYearM1]]</span></th>
            <th class="label">BPPF carry forward used in <span contenteditable="false">[[PipYearM1]]</span></th>
            <th class="label">BPPF remaining amount carried forward and available for 2012</th>
        </tr>
        <tr>
            <td><span contenteditable="false">[[PipYearM1]]</span></td>
            <td><span contenteditable="false">[[AaGrossM1]]</span></td>
            <td>&pound;0</td>
            <td>&pound;0</td>
            <td><span contenteditable="false">[[AaCarryFwdTotalM1]]</span></td>
        </tr>
        <tr>
            <td><span contenteditable="false">[[PipYearM2]]</span></td>
            <td><span contenteditable="false">[[AaGrossM2]]</span></td>
            <td><span contenteditable="false">[[AaCarryFwdBeforeUseM2]]</span></td>
            <td><span contenteditable="false">[[AaCarryFwdUsedM2]]</span></td>
            <td><span contenteditable="false">[[AaCarryFwdTotalM2]]</span></td>
        </tr>
        <tr>
            <td><span contenteditable="false">[[PipYearM3]]</span></td>
            <td><span contenteditable="false">[[AaGrossM3]]</span></td>
            <td><span contenteditable="false">[[AaCarryFwdBeforeUseM3]]</span></td>
            <td><span contenteditable="false">[[AaCarryFwdUsedM3]]</span></td>
            <td><span contenteditable="false">[[AaCarryFwdTotalM3]]</span></td>
        </tr>
        <tr>
            <td class="empty" colspan="3">&nbsp;</td>
            <td class="label"><strong>Total BPPF estimated carry forward available for <span contenteditable="false">[[PipYearM0]]</span></strong></td>
            <td class="value number"><span contenteditable="false"><strong><span contenteditable="false">[[AaCarryFwdTotal]]</span></strong></span>*</td>
        </tr>
    </tbody>
</table>
<p>If you joined the BP Pension Fund during any of the years in the table above, we have assumed that you do not have any available carry forward for the year that you joined the Fund and any previous years.</p>
<p>* The values shown for unused AA available from 2010 and 2009 are assumed to be after any amounts used to reduce the AA calculation for 2011. <i><b>If we estimate that any carry forward was available from 2010 or 2009 to use in 2011, we have assumed that you have maximised the use against any BP benefits at all times.</b></i></p>
<h3>Example of using prior year carry forward in 2012:</h3>
<p><i><b>This example is relevant for the transitional arrangements only (i.e. it does not apply for 2013). These figures are for illustration only:</b></i></p>
<p>This example shows a BP Pension Fund member who has a taxable amount for 2012 PIP and carry forward available from the previous years.</p>
<p><b>Step 1 &ndash; Determine Original Carry Forward Amounts from previous PIPs</b></p>
<p>The original carry forward available from the 2008 and 2010 PIPs are &pound;20,000 and &pound;15,000, respectively.</p>
<table class="aa_taxmodeller_table" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label">Pip year</th>
            <th class="label">BPPF Pension Savings in PIP</th>
            <th class="label">BPPF estimated carry forward available for 2011</th>
            <th class="label">Calculation Note</th>
        </tr>
        <tr>
            <td>2010</td>
            <td>&pound;35,000</td>
            <td>&pound;15,000</td>
            <td>(&pound;50,000 limit less &pound;35,000 <br />
            Pension Savings)</td>
        </tr>
        <tr>
            <td>2009</td>
            <td>&pound;70,000</td>
            <td>&pound;0</td>
            <td>((Pension Savings above <br />
            &pound;50,000)</td>
        </tr>
        <tr>
            <td>2008</td>
            <td>&pound;30,000</td>
            <td>&pound;20,000</td>
            <td>(&pound;50,000 limit less &pound;30,000 <br />
            Pension Savings)</td>
        </tr>
        <tr>
            <td class="empty">&nbsp;</td>
            <td class="label"><strong>Total BPPF estimated carry forward available for 2011 (for 2011-12 tax year)</strong></td>
            <td class="label"><strong>&pound;35,000</strong></td>
        </tr>
    </tbody>
</table>
<p><strong>Step 2 &ndash; Determine Remaining Carry Forward Amounts used up to the last PIP, 2011 (2011-12 tax year)</strong></p>
<p>For 2011 BPPF Pension Savings are &pound;75,000 resulting in an amount of &pound;25,000 above the AA limit of &pound;50,000</p>
<p>We therefore need to use &pound;25,000 from the 3 prior years carry forward (if available) as follows. The oldest available carry forward from the preceding 3 PIPs is used first (i.e. using the &pound;20,000 carry forward available from 2008). This leaves an AA taxable amount for 2011 of &pound;5,000, which is reduced to zero here using &pound;5,000 of the carry forward available from 2010.</p>
<table class="aa_taxmodeller_table" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label">Pip year</th>
            <th class="label">BPPF estimated carry forward available for 2011 (from Step 1)</th>
            <th class="label">Previous Year&rsquo;s estimated Carry Forward Used in 2011</th>
            <th class="label">BPPF estimated remaining amount carried forward and available for 2012</th>
            <th class="label">Calculation Note</th>
        </tr>
        <tr>
            <td>2010</td>
            <td>&pound;15,000</td>
            <td>&pound;5,000</td>
            <td>&pound;10,000</td>
            <td>(&pound;15,000 less &pound;5,000 carry <br />
            forward used in 2011)</td>
        </tr>
        <tr>
            <td>2009</td>
            <td>&pound;0</td>
            <td>&pound;0</td>
            <td>&pound;0</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>2008</td>
            <td>&pound;20,000</td>
            <td>&pound;20,000</td>
            <td>&pound;0</td>
            <td>(&pound;20,000 less &pound;20,000 carry <br />
            forward used in 2011)</td>
        </tr>
        <tr>
            <td><b>Totals</b></td>
            <td><b>&pound;35,000</b></td>
            <td><b>&pound;25,000</b></td>
            <td><b>&pound;10,000</b></td>
        </tr>
    </tbody>
</table>
<p><b>Step 3 &ndash; Determine Remaining Carry Forward Amounts from last 3 years available for current PIP, 2012 (2012-13 tax year)</b></p>
<p>We need to lose the oldest year (2008) and take the last year into account (2011).</p>
<p>This leaves remaining amounts of carry forward available from the 2009, 2010 and 2011 PIPs as shown below.</p>
<table class="aa_taxmodeller_table" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label">Pip year</th>
            <th class="label">BPPF estimated carried forward and available for 2012</th>
            <th class="label">Calculation Note</th>
        </tr>
        <tr>
            <td>2011</td>
            <td>&pound;0</td>
            <tdnone limit="" as="" available="" aa=""></tdnone>
        </tr>
        <tr>
            <td>2010</td>
            <td>&pound;10,000</td>
            <td>From table in step 2 above</td>
        </tr>
        <tr>
            <td>2009</td>
            <td>&pound;0</td>
            <td>From table in step 2 above</td>
        </tr>
        <tr>
            <td class="label"><strong>Total BPPF estimated carry forward available for 2012</strong></td>
            <td class="label"><strong>&pound;10,000</strong></td>
        </tr>
    </tbody>
</table>
<p><b>Step 4 &ndash; Using the Remaining Carry Forward Amounts from last 3 years in the current PIP, 2012 (2012-13 tax year)</b></p>
<p>If the individual has Pension Savings of more than &pound;50,000 up to &pound;10,000 is available to reduce the AA taxable amount.</p>]]></content>
    </element>
  </page>
</pages>
