<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>Cash lump sum notes</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/retirement_planner_ac/index.html]]></target>
          <uuid>f78a13b1-1aa9-11de-9548-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The figure shown on the My Accrual Rate modeller is your estimated cash lump sum at the Retirement Age selected, based on the information that we hold regarding your pension history as at <span contenteditable="false">[[AaEffectiveDate]]</span> and the inputs that you have changed using the modeller, including selecting 0%, 50% or 100% of the maximum cash lump sum available.</p>
<p>The results shown assume that the Company has agreed to you retiring early.</p>
<p>You should also consider the following when viewing your estimated cash lump sum at your chosen retirement age:</p>
<h3>Taking cash lump sum &ndash; the Tax impact on Lifetime Allowance (LTA) and Annual Allowance (AA)</h3>
<p>The modeller allows you to select a cash lump sum amount of 0%, 50% or 100% of the maximum permitted by HMRC based on your estimated pension at retirement. Your total pension benefits, before commutation for a cash lump sum, are assessed against the LTA and AA limits.</p>
<h3>My Retirement page and more information</h3>
<p>For more information on the details used to estimate your pension, tax-free cash and our updated estimate of your pension as at today&rsquo;s date, please see the <a href="%(link0)">My retirement planner</a>.The My retirement planner will allow you to model your future benefits using your current Pensionable Salary only and will be more exact than using this modeller. Therefore, the My retirement planner results may be different to the estimated pension benefits shown on this page.</p>]]></content>
    </element>
  </page>
</pages>
