<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[BPPensionScheme]]></Anchor>
    <Title><![CDATA[BP Pension Scheme]]></Title>
    <Question><![CDATA[If I choose to level my pension, what happens at State pension age?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>When you reach State pension age, you will start to receive your basic State pension as well as
your BP pension. At that time, BP UK Pensions &amp; Benefits will write to you confirming that your
BP pension has been reduced by the revalued basic State pension from the date of your
retirement.</p>
<p>As a result, your total monthly pension income (BP plus State) should stay approximately the
same - i.e. 'level'.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
