<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[BPPensionScheme]]></Anchor>
    <Title><![CDATA[BP Pension Scheme]]></Title>
    <Question><![CDATA[What happens if I leave?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>If you leave the BP Pension Fund before normal retirement age, your pension options will depend
on your qualifying service.</p>
<p>
<strong>Less than three months</strong>
</p>
<p>You will receive a refund of any contributions you have made, less tax.</p>
<p>
<strong>Between three months and two years</strong>
</p>
<p>You will be able to request a transfer payment to an external arrangement. The payment will be
equal to the value of the benefits that you have built up. If you do not make your request within a
defined decision period, the Trustee is entitled to simply refund any contributions you have made,
less tax.</p>
<p>
<strong>Two or more years</strong>
</p>
<p>You will be able to keep your benefits, as a deferred pension, within the BP Pension Fund.
Alternatively, you will be able to request a transfer payment to an external pension
arrangement.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
