<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[BPPensionScheme]]></Anchor>
    <Title><![CDATA[BP Pension Scheme]]></Title>
    <Question><![CDATA[What are my choices at retirement?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>There is no 'one size fits all' when it comes to retirement benefits. To reflect this, the BP
Pension Scheme enables you to choose how you want to receive your money.</p>
<ul>
<li>You can choose either a full pension or swap some of it for a tax-free lump sum.</li>
<li>You may consider asking for your pension to be 'levelled' so that your combined pension from BP
and the State remains at a reasonably steady level throughout your retirement.</li>
<li>If you have AVCs, you must take your AVC benefits at the same time as your main BP Pension
Scheme benefits. You can use your AVC 'pot' to buy an annuity or take some or all of it as a
tax-free lump sum.</li>
</ul>
<p>These options will be explained to you in more detail when you make your decision to retire.</p>
<p>You can use the personal planner to see what would happen if you swapped some of your pension
for a tax-free lump sum.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
