<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[BPPensionScheme]]></Anchor>
    <Title><![CDATA[BP Pension Scheme]]></Title>
    <Question><![CDATA[How can I save more for my retirement?]]></Question>
    <Answer name="Answer0">
      <links>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[http://www.unbiased.co.uk]]></target>
        </link>
      </links>
      <content><![CDATA[<p>If you want to save more for your retirement, you can do so by making your own contributions in
three ways:</p>
<ul>
<li>
<strong>Choosing one of the Scheme's five 'contributory options' to increase your pension build-up
rate</strong>
<br />By paying your choice of 2%, 3%, 5%, 10% or 15% of your Pensionable Salary into the Scheme,
you can increase the build-up rate from 1/60th to 1/54th, 1/51st, 1/45th, 1/40th or 1/35th
respectively. As an extra benefit, by selecting one of the contributory options, your life cover
increases to four times final salary (from three times with the 1/60th membership).
<br />
<br />You can find more information about contributory options in the explanatory booklet. If you
would like to start or change a contributory option, you can print and complete the contributory
options form, available in the 'resources' section.&nbsp;
<br />
<br /></li>
<li>
<strong>Paying additional voluntary contributions (AVCs)
<br /></strong> AVCs are a 'defined contribution' type of pension arrangement, which means that
your pension benefits are based on the contributions you make, investment performance and the price
of buying a pension at retirement.
<br />
<br />Please note that AVCs are a contract between you and the Trustee. The Company does not
promote AVCs over any other savings product.
<br />
<br />Using AVCs, you can build up a separate fund that will be used to buy benefits when you
retire.
<br />
<br />You can find more information about AVCs in the AVC guides. You can find application and
investment switching forms under 'forms', in the resources section.
<br />
<br /></li>
<li>
<strong>Paying into a private pension
<br /></strong> You can now pay into private pension arrangements at the same time as into your BP
pension. You can have as many pension plans as you like - you will get tax relief on your own
contributions up to 100% of your earnings (subject to the annual allowance).</li>
</ul>
<p>You may wish to take specialist independent financial advice. IFA Promotion Limited can suggest
independent financial advisers in your area, if you do not already use one. They can be contacted
on 
<strong>0800 085 3250</strong> or through their website at 
<a href="%(link0)">www.unbiased.co.uk</a>.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
