<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[BPPensionScheme]]></Anchor>
    <Title><![CDATA[BP Pension Scheme]]></Title>
    <Question><![CDATA[I am a pensioner. How is my pension paid?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Your pension is paid into your bank account monthly in advance as taxable income.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
