<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[BPPensionScheme]]></Anchor>
    <Title><![CDATA[BP Pension Scheme]]></Title>
    <Question><![CDATA[What are the main features of the BP Pension Scheme?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>If you are eligible, you automatically become a member of the Scheme - you do not have to
complete an application form.</p>
<p>The Scheme provides you with a final salary pension. This means that the amount of pension you
get when you retire is linked to your BP salary at the time you leave and your length of
service.</p>
<p>You do not have to make any contributions. The Scheme automatically provides you with a pension
based on 1/60th of your earnings for each year you are an active (i.e. an employee) member.</p>
<p>If you would like to save more for your retirement, you can make your own contributions into the
Scheme.</p>
<p>In addition to the basic retirement pension, the Scheme provides financial protection, for you
and your family, in the event of your incapacity or death.</p>
<p>You can find full details about the BP Pension Scheme’s features and benefits in the explanatory
booklet, located in the 'resources' section.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
