<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[BPPensionScheme]]></Anchor>
    <Title><![CDATA[BP Pension Scheme]]></Title>
    <Question><![CDATA[What does the Trustee do?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>BP Pension Trustees Limited is a trustee company that&nbsp;manages the Fund on behalf of all
members. Amongst other things, the Trustee is responsible for Fund finances, including investment
strategy.</p>
<p>You can find more details about the Trustee and the Trustee Directors in the 'people'
section.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
