<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[BPPensionScheme]]></Anchor>
    <Title><![CDATA[BP Pension Scheme]]></Title>
    <Question><![CDATA[What benefits are payable if I die?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>If you die in service or after leaving BP and you leave a spouse/civil partner or
<br />dependant(s), a survivor's pension and/or children's pension will usually be payable.</p>
<p>
<strong>If you die in service:</strong>
</p>
<ul>
<li>A lump sum of three times your Final Salary will be paid (four times Final Salary if you are in
one of the contributory options).</li>
</ul>
<p>
<strong>If you leave BP but die before you start to draw your BP pension:</strong>
</p>
<ul>
<li>A lump sum equal to five times the value of your deferred pension at the date of your death
will be payable.</li>
</ul>
<p>
<strong>If you die within the five years after your pension starts and are under age 75:</strong>
</p>
<ul>
<li>A lump sum equal to your outstanding pension payments for that five-year period will be payable
(known as the 'five-year guarantee').</li>
</ul>
<p>You can find more information about financial protection and death after retirement in the
explanatory booklet.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
