<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[BPPensionScheme]]></Anchor>
    <Title><![CDATA[BP Pension Scheme]]></Title>
    <Question><![CDATA[Does my pension increase from year to year?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Your pension from the BP Pension Scheme is guaranteed to increase each year in line with
inflation (subject to a maximum of 5%&nbsp;a year).</p>
<p>You can find more information about pension increases in the explanatory booklet.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
