<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[BPPensionScheme]]></Anchor>
    <Title><![CDATA[BP Pension Scheme]]></Title>
    <Question><![CDATA[How much does it cost me?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Basic membership of the Scheme costs you nothing. You are automatically entitled to the '1/60th'
membership.</p>
<p>If you want to increase your pension, you can choose to make your own contributions, at various
levels, which are deducted from your salary.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
