<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[BPPensionScheme]]></Anchor>
    <Title><![CDATA[BP Pension Scheme]]></Title>
    <Question><![CDATA[I have left BP but not yet retired. How can I find out the value of my deferred BP pension?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>If you can log into PensionLine, you can find the value of your deferred pension in 'my
benefits'.</p>
<p>If you cannot log into PensionLine, contact&nbsp;BP UK Pensions &amp;&nbsp;Benefits who will be
able to provide you with the current value of your benefits.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
