<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[BPPensionScheme]]></Anchor>
    <Title><![CDATA[BP Pension Scheme]]></Title>
    <Question><![CDATA[Can I transfer my pension from a previous employer into the Scheme? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Given the current economic climate, the BP Pension Fund&nbsp;Trustee suspended transfers-in to
all the Fund's final salary schemes from 17&nbsp;October 2008.
<br />
<br />For more information, go to the 'News' section under 'Announcements'.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
