<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[BPPensionScheme]]></Anchor>
    <Title><![CDATA[BP Pension Scheme]]></Title>
    <Question><![CDATA[When can I retire? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Normal retirement age under the BP Pension Scheme is 65.
<br />
<br />You can retire early (if you have at least two years' service) but your pension may be
reduced because it will be paid for longer. The earliest age at which you can retire depends on
when you joined the Scheme.
<br />
<br />
<strong>Joined Scheme before 6 April 2006</strong>
<br />
<br />You can take your pension at any point from age 50 before 6 April 2010. From 6 April 2010 you
will not be able to take your pension until age 55, unless you retire immediately from active
employment and do not defer receipt of your pension until a later date.
<br />
<br />
<strong>
<strong>Joined Scheme&nbsp;o</strong>n or after 6 April 2006 and before 1 December 2006
<br /></strong>
<br />You can take your pension at any point from age 50. If you reach age 50 before 6 April 2010,
you may elect to receive your pension. Otherwise you cannot elect to take your pension until you
reach age 55.
<br />
<br />
<strong>
<strong>Joined Scheme&nbsp;o</strong>n or after 1 December 2006
<br /></strong>
<br />You can take your pension at any point from age 55.
<br />
<br />If you are made redundant, special rules apply and you may be entitled to an immediate or
deferred pension.</p>
<p>If you retire early, your pension will be reduced, unless you were a member of the Scheme on 30
November 2006 and retire at age 60 or later. Alternatively, if you retire before age 60 but meet
the transition requirements for the voluntary early retirement arrangement (VERA), only that part
of your pension relating to service before 1 December 2006 will be reduced.
<br />
<br />
<strong>VERA transition requirements</strong>
<br />
<br />To meet the VERA transition requirements, you must retire from service (with employer
consent) from age 55, with at least 30 years’ service. The amount by which your pre-December 2006
pension will be reduced, depends on how many years’ service you had at 1 December 2006.
<br /></p>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>
<strong>20 or more years’ service at 1 December 2006
<br /></strong> Nil reduction to pre December 2006 pension for each year you retire before age
60&nbsp;</p>
<p>
<strong>19 &ndash; 20 years’ service at 1 December 2006</strong>
<br />0.5% reduction to pre December 2006 pension for each year you retire before age 60</p>
<p>
<strong>18 &ndash; 19 years’ service at 1 December 2006</strong>
<br />1.0% reduction to pre December 2006 pension for each year you retire before age 60</p>
<p>
<strong>17 &ndash; 18 years’ service at 1 December 2006</strong>
<br />1.5% reduction to pre December 2006 pension for each year you retire before age 60</p>
<p>
<strong>16 &ndash; 17 years’ service at 1 December 2006</strong>
<br />2.0% reduction to pre December 2006 pension for each year you retire before age 60</p>
<p>
<strong>15 &ndash; 16 years’ service at 1 December 2006</strong>
<br />2.5% reduction to pre December 2006 pension for each year you retire before age 60</p>
</blockquote>
<p dir="ltr">The pension you earn for service from 1 December 2006 will be reduced by 3% for each
year your pension start date is below age 60.</p>
<p>If the Company agrees, you may work beyond your normal pension age and continue to build up
pensionable service until you actually stop working, subject to benefit limits. This must be no
later than age 75.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
