<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[BPPensionScheme]]></Anchor>
    <Title><![CDATA[BP Pension Scheme]]></Title>
    <Question><![CDATA[How much pension will I get?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>The amount of pension you will get from the BP Pension Scheme when you retire is based on your
final salary, length of pensionable service and the rate at which your pension builds up each year
(the 'accrual rate').</p>
<p>The basic formula for the 1/60th membership is:</p>
<p>Pensionable service (in years and days) ÷ 60 x final salary</p>
<p>You can increase your BP pension by making your own contributions.</p>
<p>Please remember that your pension may be reduced if you take it earlier than your normal
retirement age. It will be reduced because it will be paid to you for longer.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
