<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="headerright">
      <links/>
      <content><![CDATA[<h1>announcements</h1>]]></content>
    </element>
    <element name="headerright2">
      <links/>
      <content><![CDATA[<p>In this section you can find the latest pension news and announcements.</p>
<p>If you are a current employee, you can view&nbsp;the timetable of upcoming education events,
including pre-retirement courses and site visits.</p>]]></content>
    </element>
    <element name="headerright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/rubber_ring.jpg]]></target>
          <uuid>88a9f99e-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="rubber ring" width="178" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="headerright4">
      <links/>
      <content/>
    </element>
    <element name="headerright5">
      <links/>
      <content/>
    </element>
    <element name="headerright6">
      <links/>
      <content/>
    </element>
  </page>
</pages>
