<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[mainfeature]]></Anchor>
    <Title><![CDATA[main feature]]></Title>
    <Question><![CDATA[When can I take my deferred pension? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Under current Burmah Castrol Pension Fund and HM Revenue &amp; Customs rules, you have two
options:</p>
<ul>
<li>Keep your deferred pension in the Burmah Castrol Pension Fund until your normal pension age;
or</li>
<li>Take your pension earlier at a reduced rate. It will be reduced because it will be paid to you
for longer.</li>
</ul>
<p>By April 2010, the minimum&nbsp;retirement age will increase from 50 to 55.</p>
<p>Contact BP UK Pensions &amp;&nbsp;Benefits if you would like a retirement benefits quotation
based on a particular age.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
