<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[mainfeature]]></Anchor>
    <Title><![CDATA[main feature]]></Title>
    <Question><![CDATA[Does my pension increase from year to year? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Your pension from the Burmah Castrol Pension Fund is guaranteed to increase each year in line
with inflation (subject to a maximum of 5%&nbsp;a year). If you were a member of the Fund before
April 1997, your pension will include a <span class="fakelink">Guaranteed Minimum Pension</span> increase. Responsibility for this increase
is shared between the Fund and the State.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
