<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[mainfeature]]></Anchor>
    <Title><![CDATA[main feature]]></Title>
    <Question><![CDATA[Why do I need to complete an expression of wishes form? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Financial protection for your family is an important part of the Fund’s benefits.</p>
<p>It is vital that you nominate who you want to receive any lump sum death benefit on an 
<em>expression of wishes form</em>, as the Trustee will refer to this when deciding who should
receive this benefit.</p>
<p>You can print an 
<em>expression of wishes form</em> and send it to&nbsp;BP UK Pensions &amp; Benefits.</p>
<p>If your personal circumstances change, you should complete a new 
<em>expression of wishes form</em>.</p>
<p>If you do not wish anyone to know your nomination details until the event of your death, you can
print the form and post it to the Team in a sealed envelope, marked with your name, date of birth,
date of form completion,&nbsp;National Insurance number (and/or Burmah Castrol pension membership
number) and 'To be opened in the event of my death'. We will store the form unopened in our safe
until it is required. If you wish to update your details, please provide us with another sealed
envelope and we will destroy the initial copy and replace it with the new version.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
