<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[mainfeature]]></Anchor>
    <Title><![CDATA[main feature]]></Title>
    <Question><![CDATA[Can I transfer my pension into my new employer's scheme? ]]></Question>
    <Answer name="Answer0">
      <links>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[http://www.unbiased.co.uk]]></target>
        </link>
      </links>
      <content><![CDATA[<p>You may decide that you want to transfer your Burmah Castrol Pension Fund benefits to another
pension arrangement, such as your new employer's pension scheme, a personal pension, a stakeholder
pension or an individual insurance buy-out contract (sometimes known as a 'Section 32 Policy').</p>
<p>You can find out more about transferring out your benefits in the 'I have left' section and your
explanatory booklet.</p>
<p>If you would like a current cash transfer value, you can download a transfer out form from the
'I have left' section. Alternatively, please contact BP UK Pensions &amp; Benefits. You can ask for
a transfer value once in any 12-month period.</p>
<p>You may wish to take specialist independent financial advice. IFA Promotion Limited can suggest
independent financial advisers in your area, if you do not already use one. They can be contacted
on 
<strong>0800 085 3250</strong> or through their website at 
<a href="%(link0)">www.unbiased.co.uk</a>. &nbsp;
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
