<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[mainfeatures]]></Anchor>
    <Title><![CDATA[main features]]></Title>
    <Question><![CDATA[What happens if I leave? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>If you leave the Burmah Castrol Pension Fund before normal pension age, you will have the choice
of:</p>
<ul>
<li>Keeping your benefits on the Burmah Castrol Pension Fund until your normal&nbsp;pension
age.</li>
<li>Take your pension earlier at a reduced rate. It will be reduced because it will be paid to you
for longer.</li>
<li>Transferring your benefits to another pension arrangement such as your new employers pension
scheme or a personal pension.
<br /></li>
</ul>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
