<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[mainfeatures]]></Anchor>
    <Title><![CDATA[main features]]></Title>
    <Question><![CDATA[Can I transfer my pension from a previous employer into the Fund? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p><span style="text-align: left; widows: 2; text-transform: none; text-indent: 0px; display: inline !important; font: 13px Verdana, Helvetica, sans-serif; white-space: normal; orphans: 2; float: none; letter-spacing: normal; color: rgb(102,102,102); word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px">Given the current economic climate, the BP Pension Fund&nbsp;Trustee suspended transfers-in to all the Fund's final salary schemes from 17&nbsp;October 2008.<span class="Apple-converted-space">&nbsp;</span></span><br style="text-align: left; widows: 2; text-transform: none; text-indent: 0px; font: 13px Verdana, Helvetica, sans-serif; white-space: normal; orphans: 2; letter-spacing: normal; color: rgb(102,102,102); word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px" />
<br style="text-align: left; widows: 2; text-transform: none; text-indent: 0px; font: 13px Verdana, Helvetica, sans-serif; white-space: normal; orphans: 2; letter-spacing: normal; color: rgb(102,102,102); word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px" />
<span style="text-align: left; widows: 2; text-transform: none; text-indent: 0px; display: inline !important; font: 13px Verdana, Helvetica, sans-serif; white-space: normal; orphans: 2; float: none; letter-spacing: normal; color: rgb(102,102,102); word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px">For more information, go to the 'News' section under 'Announcements'.</span></p>]]></content>
    </Answer>
    <new_edited>false</new_edited>
  </PhraseType>
</FaqPhraseTypes>
