<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[costme]]></Anchor>
    <Title><![CDATA[main features]]></Title>
    <Question><![CDATA[How much does it cost me? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>You pay 5% of your contribution pay. However, if you joined the Fund before 1 January 1994, you
only pay contributions on the increase to your contribution pay since that date.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
