<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[mainfeatures]]></Anchor>
    <Title><![CDATA[main features]]></Title>
    <Question><![CDATA[What happens if I am too ill to work? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>If you become unable to work because of ill health or injury before normal retirement age, you
may receive an incapacity pension.</p>
<p>You can find more information in your explanatory booklet.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
