<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[mainfeatures]]></Anchor>
    <Title><![CDATA[main features]]></Title>
    <Question><![CDATA[When can I retire? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Normal pension age under the Burmah Castrol Pension Fund is 65. However,&nbsp;you can retire
early but your pension&nbsp;may be&nbsp;reduced.
<br />
<br />The earliest age at which you can currently retire is age 50. However, due to changes in
legislation, the minimum age you will be able to retire from 6 April 2010, will increase to 55.
<br />
<br />If the Company agrees, you may work beyond your normal pension age and continue to build up
pensionable employment until you actually stop working, subject to benefit limits. This must be no
later than age 75.
<br />
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
