<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[MainFeaturesOfScheme]]></Anchor>
    <Title><![CDATA[main features]]></Title>
    <Question><![CDATA[What are the main features of the Burmah Castrol Pension Fund?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>The Fund provides you with a final salary pension. This means that the amount of pension you get
when you retire is linked to your pay at the time you leave and your length of service.</p>
<p>In addition to the basic retirement pension, the Fund provides financial protection, for you and
your family, in the event of your incapacity or death.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
