<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>Additional information</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/AA_QxAs.pdf]]></target>
          <uuid>dbd9ddf9-68d0-11e1-9223-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/BP_Pension_Tax_Changes_Webcast.pdf]]></target>
          <uuid>0f6fa307-458b-11e0-bf4b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="false" type="A">
          <target><![CDATA[http://www.littleorchardprods.co.uk/wealth-at-work/W-104MJL.html]]></target>
        </link>
      </links>
      <content><![CDATA[<p>This page will be added to over time as more information becomes available.</p>
<ul>
    <li>
    <h3>Slide pack for presentations</h3>
    BP, in conjunction with WEALTH at work, developed a slide pack for presentations to employees about the pension tax changes. Click <a title="BP Pension Tax Changes Webcast" target="_self" href="%(link0)">here</a> to view the slides.<br />
    &nbsp;</li>
    <li>
    <h3>Webcast of presentation</h3>
    BP, in conjunction with WEALTH at work, developed a webcast of the presentation to employees about the pension tax changes. Click <a href="%(link1)">here</a> to access webcast.<br />
    &nbsp;</li>
    <li>
    <h3>Questions &amp; Answers</h3>
    BP has developed a set of Qs&amp;As about the pension taxation changes. Click <a title="AA Q&amp;As" href="%(link2)" target="_self">here</a> to access the Qs&amp;As.</li>
</ul>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x180/garden_path.jpg]]></target>
          <uuid>74d1dd61-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p><img height="180" alt="garden path" width="180" border="0" src="%(link0)" /></p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>information</p>]]></content>
    </element>
  </page>
</pages>
