<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>My annual allowance projection</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link8" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/info32.png]]></target>
          <uuid>93747baa-1a82-11e0-b62b-4d6e53b46e73</uuid>
        </link>
        <link name="link9" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/info32.png]]></target>
          <uuid>93747baa-1a82-11e0-b62b-4d6e53b46e73</uuid>
        </link>
        <link name="link6" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/red-indicator.png]]></target>
          <uuid>ee5332a6-1d4a-11e0-951b-4d6e53b46e73</uuid>
        </link>
        <link name="link7" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/info32.png]]></target>
          <uuid>93747baa-1a82-11e0-b62b-4d6e53b46e73</uuid>
        </link>
        <link name="link4" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/red-indicator.png]]></target>
          <uuid>ee5332a6-1d4a-11e0-951b-4d6e53b46e73</uuid>
        </link>
        <link name="link5" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/green-indicator.png]]></target>
          <uuid>abf8a0ad-1d4d-11e0-951b-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/info32.png]]></target>
          <uuid>93747baa-1a82-11e0-b62b-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/green-indicator.png]]></target>
          <uuid>abf8a0ad-1d4d-11e0-951b-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/annual_allowance/notes.html]]></target>
          <uuid>ee34ac8b-24b3-11e0-ae77-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/info32.png]]></target>
          <uuid>93747baa-1a82-11e0-b62b-4d6e53b46e73</uuid>
        </link>
        <link name="link19" internal="false" type="A">
          <target><![CDATA[http://www.hmrc.gov.uk/pensionschemes/annual-allowance/carry-forward.htm]]></target>
        </link>
        <link name="link18" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/red-indicator.png]]></target>
          <uuid>ee5332a6-1d4a-11e0-951b-4d6e53b46e73</uuid>
        </link>
        <link name="link17" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/green-indicator.png]]></target>
          <uuid>abf8a0ad-1d4d-11e0-951b-4d6e53b46e73</uuid>
        </link>
        <link name="link13" internal="true" type="A">
          <target><![CDATA[]]></target>
          <anchor><![CDATA[]]></anchor>
        </link>
        <link name="link14" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/info32.png]]></target>
          <uuid>93747baa-1a82-11e0-b62b-4d6e53b46e73</uuid>
        </link>
        <link name="link15" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/green-indicator.png]]></target>
          <uuid>abf8a0ad-1d4d-11e0-951b-4d6e53b46e73</uuid>
        </link>
        <link name="link16" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/red-indicator.png]]></target>
          <uuid>ee5332a6-1d4a-11e0-951b-4d6e53b46e73</uuid>
        </link>
        <link name="link10" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/info32.png]]></target>
          <uuid>93747baa-1a82-11e0-b62b-4d6e53b46e73</uuid>
        </link>
        <link name="link11" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/info32.png]]></target>
          <uuid>93747baa-1a82-11e0-b62b-4d6e53b46e73</uuid>
        </link>
        <link name="link12" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/info32.png]]></target>
          <uuid>93747baa-1a82-11e0-b62b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<div>
<p>For&nbsp;2012-13 tax year (<span contenteditable="false">[[PipYear]]</span> PIP):</p>
<p>We estimate that your Pension Savings for the BP Pension Fund, (after using our estimate of your available carry forward), will be more than &pound;50,000 in <span contenteditable="false">[[PipYearM0]]</span> and you are likely to incur an AA tax charge for the&nbsp;2012-13 tax year.</p>
<p><b><i>If we estimate carry forward is available and has been used in these calculations, we have assumed that you have maximised the use of carry forward against any BP benefits at all times and it has not been used against any other pension benefits. You may not have this carry forward available (for example, if you maximised your AA in a previous year by contributing to a SIPP), in which case you may still incur an AA tax charge for the 2012-13 tax year. We will not offer you an alternative accrual rate.</i></b></p>
<p>You have a choice to make between:&nbsp;</p>
<ol>
    <li>remaining on your current accrual rate and potentially incurring an AA tax charge for the 2012-13&nbsp;tax year; or</li>
    <li>change to the alternative option below, which the Company estimates may result in your BP Pension Savings for <span contenteditable="false">[[PipYear]]</span> being below the AA limit for the 2012-13&nbsp;tax year or as close to the AA limit as possible.</li>
</ol>
<br />
<p>Details of the two options are given below. There are no other choices open to you under the BP Pension Fund.</p>
<p>You should register your choice for <span contenteditable="false">[[PipYear]]</span> from the dropdown list below and click on &lsquo;Go&rsquo;. This must be done before 17:00 (UK time) on 23 March 2012. You can view and amend your previous selection using this AA Projection Tool at any point before this date.</p>
<p>If we do not receive notification of your choice before 17:00 (UK time) on 23 March 2012, the Company will review what action it wishes to take regarding your future accrual rate and confirm this to you. It is likely that your pension accrual will be set to a level that the Company estimates may result in your Pension Savings for <span contenteditable="false">[[PipYearM0]]</span> being below the AA limit for the 2012-13&nbsp;tax year or as close to the AA limit as possible.</p>
<!-- 
###### Start of main page block - select choice
-->
<p><b>Make your choice here:</b></p>
<div id="select_choice_div" class="no-print">
<table class="aa_taxmodeller_table" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td class="label" width="175">Your choice for <span contenteditable="false">[[PipYear]]</span></td>
            <td class="info">&nbsp;</td>
            <td class="number"><select id="tax_choice">
            <option value="Green" selected="selected">Reduce accrual rate</option>
            <option value="Red">Retain current accrual rate</option>
            </select> <input class="goButton" type="button" onclick="selectTaxChoice();" value="Go" /></td>
        </tr>
        <tr>
            <td style="display: none" id="thankyou_message" class="empty" colspan="3">Thank you for updating your tax choice</td>
        </tr>
    </tbody>
</table>
</div>
<!-- 
###### End of main page block - select choice
--><!-- 
###### Start of main page block - display choice made
-->
<div>
<p style="display: none"><span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[AaCurrentChoice]] != &quot;null&quot;|Checking...))</span></p>
<div style="display: none" id="current_choice_div">
<p>You previously chose the <span id="AaCurrentChoice"><span contenteditable="false">[[AaCurrentChoice]]</span></span> option on <span id="AaCurrentChoiceDate"><span contenteditable="false">[[AaCurrentChoiceDate]]</span></span>. If you wish to make a different choice, you can make another choice using the dropdown box above, before 23 March 2012.</p>
</div>
</div>
<!-- 
###### End of main page block - display choice made
--><!-- 
###### Start of main page block - tables
-->
<p>Both options take into account the use of any &lsquo;carry forward&rsquo; we estimate is available from the last 3 years that may offset your AA tax charge for the 2012-13&nbsp;tax year.</p>
<p><i><b>If we estimate carry forward is available and has been used in these calculations, we have assumed that you have maximised the use of carry forward against any BP benefits at all times and it has not been used against any other pension benefits. You may not have this carry forward available (for example, if you maximised your AA in a previous year by contributing to a SIPP), in which case you may still incur an AA tax charge for the 2012-13 tax year. We will not offer you an alternative accrual rate.</b></i></p>
<p>This estimate is for your BP Pension Fund benefits only and excludes any contributions you are currently making to and/or pension accrual under external pension arrangements, which should also be included in your planning. If you have made pension contributions elsewhere (e.g. to a SIPP) and do not believe our estimate of your carry forward is available, please phone the BP UK Pensions &amp; Benefits Helpline on 0845 602 1063 (or +44 1932 767730 if calling from overseas) to discuss what effect this may have on the result below.</p>
<p>You should contact a qualified Independent Financial Adviser before making any decisions regarding your pension arrangements. Certain conditions apply to the use of this AA Projection Tool. Please click&nbsp;<a href="%(link0)">here</a> for a reminder of the conditions that apply. Neither the Company nor the Trustee can guarantee that if you choose to change to the alternative option that you will not incur an AA tax charge.</p>
<table class="aa_taxmodeller_table" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th style="text-align: left" class="empty" colspan="4"><b>The 2 options available to you are:</b></th>
        </tr>
        <tr>
            <th class="empty" colspan="2">&nbsp;</th>
            <th class="label">Current option</th>
            <th class="label">Alternative option</th>
        </tr>
        <tr>
            <td class="label">Accrual rate</td>
            <td class="info">&nbsp;</td>
            <td class="number"><span contenteditable="false">[[AaAccrualRate]]</span></td>
            <td class="value number"><span contenteditable="false">[[AltAaAccrualRate]]</span></td>
        </tr>
        <tr>
            <td class="label">Percentage of gross Pensionable Salary sacrificed or deducted for accrual rate</td>
            <td class="info">&nbsp;</td>
            <td class="number"><span contenteditable="false">[[AaAccrualDeduct]]</span></td>
            <td class="value number"><span contenteditable="false">[[AltAaAccrualDeduct]]</span></td>
        </tr>
        <tr>
            <td class="label">Additional non-pensionable cash supplement (known as 'accrual allowance' and expressed as a percentage of Pensionable Salary)</td>
            <td class="info"><img id="info_AaCashAlternative" title="Click for more information" alt="info button" src="%(link1)" /></td>
            <td class="number"><span contenteditable="false">[[AaCashAlternative]]</span></td>
            <td class="value number"><span contenteditable="false">[[AltAaCashAlternative]]</span></td>
        </tr>
        <tr>
            <td class="label">Estimated AA taxable amount for 2012-13&nbsp;tax year</td>
            <td class="info"><img id="info_AaTaxableAmt" title="Click for more information" alt="info button" src="%(link2)" /></td>
            <td class="number" name="AaTaxableAmt"><span contenteditable="false">[[AaTaxableAmt]]</span></td>
            <td class="value number" name="AltAaTaxableAmt"><span contenteditable="false">[[AltAaTaxableAmt]]</span></td>
        </tr>
        <tr>
            <td class="empty" colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">Estimated AA tax charge status for&nbsp;2012-13&nbsp;tax year</td>
            <td class="info">&nbsp;</td>
            <td class="value status"><span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[AaTaxStatus]] = &quot;green&quot;|Checking...))</span>
            <div style="display: none"><img alt="red-indicator" src="%(link3)" /></div>
            <span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[AaTaxStatus]] = &quot;red&quot;|Checking...))</span>
            <div style="display: none"><img alt="red-indicator" src="%(link4)" /></div>
            </td>
            <td class="value status"><span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[AltAaTaxStatus]] = &quot;green&quot;|Checking...))</span>
            <div style="display: none"><img alt="red-indicator" src="%(link5)" /></div>
            <span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[AltAaTaxStatus]] = &quot;red&quot;|Checking...))</span>
            <div style="display: none"><img alt="red-indicator" src="%(link6)" /></div>
            </td>
        </tr>
        <tr>
            <td class="empty" colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <th style="text-align: left" class="empty" colspan="4"><b>The figures above are based on the following estimates:</b></th>
        </tr>
        <tr>
            <th class="empty" colspan="2">&nbsp;</th>
            <th class="label">Current option</th>
            <th class="label">Alternative option</th>
        </tr>
        <tr>
            <td class="label">BP Pension Fund benefit built up to 31 December 2011</td>
            <td class="info"><img id="info_PipStartBenefit" title="Click for more information" alt="info button" src="%(link7)" /></td>
            <td class="number"><span contenteditable="false">[[PipStartBenefit]]</span></td>
            <td class="value number"><span contenteditable="false">[[PipStartBenefit]]</span></td>
        </tr>
        <tr>
            <td class="label">Estimated Pensionable Salary at 31 December 2012 (using your salary at 1 April <span contenteditable="false">[[PipYear]]</span>)</td>
            <td class="info"><img id="info_PipEndSalary" title="Click for more information" alt="info button" src="%(link8)" /></td>
            <td class="number"><span contenteditable="false">[[PipEndSalary]]</span></td>
            <td class="value number"><span contenteditable="false">[[PipEndSalary]]</span></td>
        </tr>
        <tr>
            <td class="label">Accrual rate at 31 December <span contenteditable="false">[[PipYear]]</span> (using your accrual rate at 1 February <span contenteditable="false">[[PipYear]]</span>)</td>
            <td class="info">&nbsp;</td>
            <td class="number"><span contenteditable="false">[[AaAccrualRate]]</span></td>
            <td class="value number"><span contenteditable="false">[[AltAaAccrualRate]]</span></td>
        </tr>
        <tr>
            <td class="label">Estimated BP Pension Fund benefit built up to 31 December&nbsp;<span contenteditable="false">[[PipYear]]</span></td>
            <td class="info"><img id="info_PipEndBenefit" title="Click for more information" alt="info button" src="%(link9)" /></td>
            <td class="number"><span contenteditable="false">[[PipEndBenefit]]</span></td>
            <td class="value number"><span contenteditable="false">[[AltPipEndBenefit]]</span></td>
        </tr>
        <tr>
            <td class="label">Pension Savings for <span contenteditable="false">[[PipYear]]</span>&nbsp;(estimated increase in value of pension benefits in <span contenteditable="false">[[PipYear]]</span> based on HMRC guidelines)</td>
            <td class="info"><img id="info_AaGrossThisYear" title="Click for more information" alt="info button" src="%(link10)" /></td>
            <td class="number"><span contenteditable="false">[[AaGrossThisYear]]</span></td>
            <td class="value number"><span contenteditable="false">[[AltAaGrossThisYear]]</span></td>
        </tr>
        <tr>
            <td class="label">BP estimate of 'carry forward' from last 3 years assumed to be used in&nbsp;<span contenteditable="false">[[PipYear]]</span>, where required&nbsp;and available (to view our estimate of your&nbsp;carry forward&nbsp;in more detail, please click on the information button)</td>
            <td class="info"><img id="info_AaCarryFwdUsed" title="Click for more information" alt="info button" src="%(link11)" /></td>
            <td class="number"><span contenteditable="false">[[AaCarryFwdUsed]]</span></td>
            <td class="value number"><span contenteditable="false">[[AltAaCarryFwdUsed]]</span></td>
        </tr>
        <tr>
            <td class="label">Estimated Pension Savings for&nbsp;<span contenteditable="false">[[PipYear]]</span>, after using any available BP estimate of carry forward&nbsp; from the last 3 years</td>
            <td class="info">&nbsp;</td>
            <td class="number"><span contenteditable="false">[[AaNetThisYear]]</span></td>
            <td class="value number"><span contenteditable="false">[[AltAaNetThisYear]]</span></td>
        </tr>
        <tr>
            <th class="empty" colspan="4">&nbsp;</th>
        </tr>
        <tr>
            <th style="text-align: left" class="empty" colspan="4"><b>Your estimated AA taxable amount details for&nbsp;2012-13 tax year (<span contenteditable="false">[[PipYear]]</span>&nbsp;PIP):</b></th>
        </tr>
        <tr>
            <th class="empty" colspan="2">&nbsp;</th>
            <th class="label">Current option</th>
            <th class="label">Alternative option</th>
        </tr>
        <tr>
            <td class="label">Estimated AA taxable amount for 2012-13 tax year</td>
            <td class="info"><img id="info_AaTaxableAmt" title="Click for more information" alt="info button" src="%(link12)" /></td>
            <td class="number"><span contenteditable="false">[[AaTaxableAmt]]</span></td>
            <td class="value number"><span contenteditable="false">[[AltAaTaxableAmt]]</span></td>
        </tr>
        <tr>
            <td class="label">Your anticipated <a id="info_AaMarginalRate" onclick="return false;" href="%(link13)">Marginal income tax rate</a> for&nbsp;2012-13 tax year</td>
            <td class="info">&nbsp;</td>
            <td class="number" name="AaMarginalRate"><span contenteditable="false">[[AaMarginalRate]]</span></td>
            <td class="value number" name="AaMarginalRate"><span contenteditable="false">[[AaMarginalRate]]</span></td>
        </tr>
        <tr>
            <td class="label">Estimated AA tax charge payable by you for 2012-13 tax year</td>
            <td class="info"><img id="info_AaTaxDue" title="Click for more information" alt="info button" src="%(link14)" /></td>
            <td class="number" name="AaTaxDue"><span contenteditable="false">[[AaTaxDue]]</span></td>
            <td class="value number" name="AltAaTaxDue"><span contenteditable="false">[[AltAaTaxDue]]</span></td>
        </tr>
        <tr>
            <td class="empty" colspan="4">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">Estimated AA tax charge status for&nbsp;2012-13&nbsp;tax year</td>
            <td class="info">&nbsp;</td>
            <td class="value status"><span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[AaTaxStatus]] = &quot;green&quot;|Checking...))</span>
            <div style="display: none"><img alt="red-indicator" src="%(link15)" /></div>
            <span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[AaTaxStatus]] = &quot;red&quot;|Checking...))</span>
            <div style="display: none"><img alt="red-indicator" src="%(link16)" /></div>
            </td>
            <td class="value status"><span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[AltAaTaxStatus]] = &quot;green&quot;|Checking...))</span>
            <div style="display: none"><img alt="red-indicator" src="%(link17)" /></div>
            <span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[AltAaTaxStatus]] = &quot;red&quot;|Checking...))</span>
            <div style="display: none"><img alt="red-indicator" src="%(link18)" /></div>
            </td>
        </tr>
    </tbody>
</table>
<!-- 
###### End of main page block - tables
-->
<div>&nbsp;</div>
<!-- 
###### Start of caveat for printing
-->
<div id="aa_taxmodeller_caveat_print">
<p class="no-print">IMPORTANT: Please read this statement and click on the button marked &lsquo;I Understand&rsquo; to proceed:</p>
<p>The Annual Allowance (AA) is set at &pound;50,000 from 6 April 2011. This AA Projection Tool will indicate your potential risk of incurring a tax charge for exceeding this AA limit for the 2012-13 tax year in relation to your benefits in the BP Pension Fund only. The increase in your pension (Pension Savings) during the 2012 Fund year will be assessed against the AA for the 2012-13 tax year.</p>
<p>This version of the AA Projection Tool produces an estimate for the period 1 January 2012 to 31 December 2012 (called the &lsquo;Pension Input Period&rsquo;). This projection is based on your benefits in the BP Pension Fund built up to 31 March 2012, allowing for your pension accrual rate at 1 February 2012 and your actual Pensionable Salary at 1 April 2012. For the avoidance of doubt, the projection outlined assumes that these factors will remain the same until 31 December 2012. You should also note that HM Revenue &amp; Customs (HMRC) will allow you to offset any excess Pension Savings above the AA in one tax year against any unused AA from the previous 3 years to reduce or remove the AA tax charge. The results of the AA Projection Tool assume that any carry forward we estimate is available from the previous year (2011) has been used in such a way as to minimise any AA tax charge. Your actual decision for the 2011/12 tax year may well be different. Please note that you will not have completed your Self Assessment for 2011/12 yet so may need to form a view on your situation for that tax year first. You may wish to take this into account if offered a choice to reduce your accrual rate.</p>
<p>Please note:</p>
<ul>
    <li>The information provided in this AA Projection Tool is for illustrative purposes only.</li>
    <li>This estimate is based on the AA calculation as defined by HMRC. The AA Projection Tool reflects the Company&rsquo;s and the Trustee&rsquo;s current understanding of the proposed legislation and tax practices in the UK. These could be subject to change, as could the AA limit.</li>
    <li>The estimated AA values have been calculated by the Company based upon information provided by the Trustee and information currently held by the Company. Despite our efforts, it may not be accurate or up to date. Where possible, we have stated the basis of the information provided.</li>
    <li>Neither the Company nor the Trustee can be held accountable for any decision you make as a result of using the AA Projection Tool, nor for any inaccuracies or omissions in the AA Projection Tool, nor if the tax figure shown (if any) does not accurately reflect your final position with regard to the AA tax charge.</li>
    <li>The AA Projection Tool results may not give a complete picture of your individual circumstances. For example, they do not include:
    <ul>
        <li>any benefits you may have which are payable from the Exxon Mobil pension fund which are linked to your current salary</li>
        <li>any contributions you may be currently making to and/or pensions accrual under external pension arrangements</li>
        <li>any changes to your accrual rate following a &lsquo;Life Event&rsquo; since 1 February 2012</li>
        <li>any future changes to your Pensionable Salary or accrual rate during the rest of 2012.</li>
    </ul>
    </li>
</ul>
<p>This is not a complete list of limitations.</p>
<ul>
    <li>Any tax figure indicated should not be relied upon, as any final tax payable will depend on your personal circumstances at the end of the 2012-13 tax year.</li>
    <li>In addition, the information contained in this illustration is not intended to be and can never be a comprehensive statement of your Pension Savings for the purpose of the AA calculations.</li>
</ul>
<p>All results shown here are for illustrative purposes only. You should contact a qualified Independent Financial Adviser before making any decisions regarding your pension arrangements.</p>
<p>If you are unsure whether the figures shown take into account all of your benefits in the BP Pension Fund, please phone the BP UK Pensions &amp; Benefits Helpline on 0845 602 1063 (or +44 1932 767730 if calling from overseas) to discuss this.</p>
<p>BP International Limited process all your personal data in accordance with their privacy policy. Please click on the Privacy Statement link at the bottom of this page to view the privacy policy.</p>
</div>
<!-- 
###### End of caveat for printing
--><!-- 
###### Start of AaCashAlternative info block
-->
<div style="display: none">(--Pop up AaCashAlternative--)</div>
<div id="popup_AaCashAlternative" class="aa_popup">
<h3>Alternative AA cash supplement</h3>
<p>If you choose the relevant option, you will receive an additional non-pensionable cash supplement of the percentage shown of your Pensionable Salary. This will be paid on a monthly basis and you will pay tax and National Insurance on the amount as employment income.</p>
</div>
<!-- 
###### End of AaCashAlternative info block
--><!-- 
###### Start of AaTaxableAmt info block
-->
<div style="display: none">(--Pop up AaTaxableAmt--)</div>
<div id="popup_AaTaxableAmt" class="aa_popup">
<h3>Estimated AA taxable amount</h3>
<p>If your estimated Pension Savings for <span contenteditable="false">[[PipYearM0]]</span> are less than or equal to the AA limit of &pound;50,000, this figure is zero.</p>
<p>If your estimated Pension Savings for <span contenteditable="false">[[PipYearM0]]</span> are greater than the AA limit of &pound;50,000, this figure has been calculated by deducting the AA limit (&pound;50,000 for the&nbsp;2012-13 tax year) from your estimated Pension Savings for <span contenteditable="false">[[PipYearM0]]</span>. This is the estimated amount by which you will exceed the AA limit in <span contenteditable="false">[[PipYearM0]]</span> and we estimate that you will incur a tax liability on this amount.</p>
<p>This estimate does not include any contributions you may be currently making to and/or pensions accrual under external pension arrangements.</p>
<div style="display: none">&nbsp;&nbsp;</div>
<div style="display: none">(--Pop up PipStartBenefit--)</div>
</div>
<div id="popup_PipStartBenefit" class="aa_popup">
<h3>Fund benefit built up to 31 December 2011</h3>
<p>This shows your accrued benefits under the BP Pension Fund built up to 31 December 2011. This takes into account your Pensionable Service, accrual rate(s) and your Pensionable Salary up to 31 December 2011 (i.e. any changes made on 1 January 2012 will not affect this).</p>
</div>
<!-- 
###### End of PipStartBenefit info block
--><!-- 
###### Start of PipEndSalary info block
-->
<div style="display: none">(--Pop up PipEndSalary--)</div>
<div id="popup_PipEndSalary" class="aa_popup">
<h3>Estimated Pensionable Salary</h3>
<p>This shows your Pensionable Salary at 1 April <span contenteditable="false">[[PipYearM0]]</span>. For the purposes of this projection, we have assumed that your Pensionable Salary will remain the same as this value until 31 December <span contenteditable="false">[[PipYearM0]]</span>.</p>
</div>
<!-- 
###### End of PipEndSalary info block
--><!-- 
###### Start of PipEndBenefit info block
-->
<div style="display: none">(--Pop up PipEndBenefit--)</div>
<div id="popup_PipEndBenefit" class="aa_popup">
<h3>Fund benefit built up to <span contenteditable="false">[[PipEndDate]]</span></h3>
<p>This shows a projection of your accrued benefits under the BP Pension Fund built up to 31 December <span contenteditable="false">[[PipYearM0]]</span>. This projection is based on your Pensionable Salary and your accrual rate remaining the same as they are currently until 31 December <span contenteditable="false">[[PipYearM0]]</span>.</p>
</div>
<!-- 
###### End of PipEndBenefit info block
--><!-- 
###### Start of AaGrossThisYear info block
-->
<div style="display: none">(--Pop up AaGrossThisYear--)</div>
<div id="popup_AaGrossThisYear" class="aa_popup">
<h3>Estimated increase in value of pension benefits</h3>
<p>This value has been calculated using our understanding of the calculation basis set out by HMRC for valuing your Pension Savings for <span contenteditable="false">[[PipYearM0]]</span>, using the estimated values of your pension benefits built up at the start and end of <span contenteditable="false">[[PipYearM0]]</span>. Your Fund benefit built up to&nbsp;31 December 2012&nbsp;is allowed to increase in line with CPI (5.2% for this year) without counting against the AA.</p>
</div>
<!-- 
###### End of AaGrossThisYear info block
--><!-- 
###### Start of AaCarryFwdUsed info block
-->
<div style="display: none">(--Pop up AaCarryFwdUsed--)</div>
<div id="popup_AaCarryFwdUsed" class="aa_popup">
<h3>Carry forward unused AA</h3>
<p>From 6th April 2011, HM Revenue &amp; Customs (HMRC) will allow you to offset any Annual Allowance (AA) excess in one tax year e.g. 2012-13 against any unused carry forward from the previous 3 tax years (e.g. 2011-12, 2010-11, 2009-10) to reduce or remove the AA tax charge.</p>
<p><i>For the rest of this note we describe the effect of this&nbsp;assuming you have BP Pension Fund benefits only and consequently we refer to the BP Pension Fund PIP throughout and that all decisions you make are in the interests of reducing your AA taxation charge in each tax year the AA applies from 6th April 2011 onwards. The relevant tax year for AA calculation purposes is the tax year in which the PIP year ends. The PIP for the BP Pension Fund runs from 1 January to 31 December each year. For example, the 2012 PIP year which ends on 31 December 2012 is relevant for the 2012-13 tax year.</i></p>
<h3>How is carry forward determined?</h3>
<p>If your Pension Savings under the BP Pension Fund in the 2012 PIP exceed the AA limit of &pound;50,000, the excess above &pound;50,000 is your AA taxable amount for the 2012-13 tax year. You will be liable to pay a tax charge on this. You may be able to use carry forward to reduce some or all of the amount liable to tax by making use of any unused available &lsquo;carry forward&rsquo; from the previous 3 PIPs (2011, 2010 and 2009) to reduce or eliminate the AA taxable amount for 2012.</p>
<p>To assess the carry forward available from previous PIPs to use in the 2012 PIP, your Pension Savings for 2009, 2010 and 2011 will be calculated. Each of these previous years&rsquo; actual Pension Savings are calculated using the same principles as those used in determining the Pension Savings for 2012.</p>
<ul>
    <li>If the Pension Savings for that PIP is above the &pound;50,000 limit, no carry forward is available for that year&rsquo;s PIP.</li>
    <li>If the Pension Savings for that PIP is below the &pound;50,000 limit, the difference is available as carry forward.</li>
</ul>
<p>To use any available carry forward you must consider the following rules:</p>
<ul>
    <li>Any carry forward amounts from each of the last 3 PIPs must be used in a particular order. Any carry forward available from the oldest PIP must be used first i.e. for the 2012 PIP year, any available unused carry forward from 2009 must be used first, then any unused carry forward from 2010, and finally any unused carry forward from 2011.</li>
    <li>Once carry forward has been used to offset a potential AA taxable amount in a given tax year it is no longer available in future tax years. So any carry forward used in 2011 from 2010 or 2009 to reduce the AA taxable amount in 2011 is not available to use in 2012.</li>
</ul>
<p>HMRC has introduced transitional arrangements for the carry forward available to use for the first two years since the reduction of the Annual Allowance on 6th April 2011, i.e. the 2011 and 2012 PIPs.</p>
<p><b>Full details are available on the <a href="%(link19)">HMRC website </a></b></p>
<h3>Your estimated available BP carry forward for the&nbsp;2012-13 tax year (<span contenteditable="false">[[PipYearM0]]</span> PIP):</h3>
<p>The table below shows our estimate of your BP carry forward available from the last 3 years that may be used to reduce or eliminate any AA taxable amount for the&nbsp;2012-13 tax year. <b>The figures relate only to your benefits accrued under the BP Pension Fund (BPPF). It does not include any contributions you may have made and/or pensions accrued under external pension arrangements over the last 3 years. If you have these, your carry forward figures will be reduced. It also assumes that the carry forward is not used for any other pension benefits you may have. </b><i><b>You may not have this carry forward available (for example, if you maximised your AA in a previous year by contributing to a SIPP), in which case you may still incur an AA tax charge for the&nbsp;2012-13 tax year. We will not offer you an alternative accrual rate.</b></i></p>
<table class="aa_taxmodeller_table" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label">PIP year</th>
            <th class="label">BPPF Pension Savings in PIP</th>
            <th class="label">BPPF carry forward available for <span contenteditable="false">[[PipYearM1]]</span></th>
            <th class="label">BPPF carry forward used in <span contenteditable="false">[[PipYearM1]]</span></th>
            <th class="label">BPPF remaining amount carried forward and available for 2012</th>
        </tr>
        <tr>
            <td><span contenteditable="false">[[PipYearM1]]</span></td>
            <td><span contenteditable="false">[[AaGrossM1]]</span></td>
            <td>&pound;0</td>
            <td>&pound;0</td>
            <td><span contenteditable="false">[[AaCarryFwdTotalM1]]</span></td>
        </tr>
        <tr>
            <td><span contenteditable="false">[[PipYearM2]]</span></td>
            <td><span contenteditable="false">[[AaGrossM2]]</span></td>
            <td><span contenteditable="false">[[AaCarryFwdBeforeUseM2]]</span></td>
            <td><span contenteditable="false">[[AaCarryFwdUsedM2]]</span></td>
            <td><span contenteditable="false">[[AaCarryFwdTotalM2]]</span></td>
        </tr>
        <tr>
            <td><span contenteditable="false">[[PipYearM3]]</span></td>
            <td><span contenteditable="false">[[AaGrossM3]]</span></td>
            <td><span contenteditable="false">[[AaCarryFwdBeforeUseM3]]</span></td>
            <td><span contenteditable="false">[[AaCarryFwdUsedM3]]</span></td>
            <td><span contenteditable="false">[[AaCarryFwdTotalM3]]</span></td>
        </tr>
        <tr>
            <td class="empty" colspan="3">&nbsp;</td>
            <td class="label"><strong>Total BPPF estimated carry forward available for <span contenteditable="false">[[PipYearM0]]</span></strong></td>
            <td class="value number"><span contenteditable="false"><strong><span contenteditable="false">[[AaCarryFwdTotal]]</span></strong></span>*</td>
        </tr>
    </tbody>
</table>
<p>If you joined the BP Pension Fund during any of the years in the table above, we have assumed that you do not have any available carry forward for the year that you joined the Fund and any previous years.</p>
<p>* The values shown for unused AA available from 2010 and 2009 are assumed to be after any amounts used to reduce the AA calculation for 2011. <i><b>If we estimate that any carry forward was available from 2010 or 2009 to use in 2011, we have assumed that you have maximised the use against any BP benefits at all times.</b></i></p>
<h3>Example of using prior year carry forward in 2012:</h3>
<p><i><b>This example is relevant for the transitional arrangements only (i.e. it does not apply for 2013). These figures are for illustration only:</b></i></p>
<p>This example shows a BP Pension Fund member who has a taxable amount for 2012 PIP and carry forward available from the previous years.</p>
<p><b>Step 1 &ndash; Determine Original Carry Forward Amounts from previous PIPs</b></p>
<p>The original carry forward available from the 2008 and 2010 PIPs are &pound;20,000 and &pound;15,000, respectively.</p>
<table class="aa_taxmodeller_table" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label">Pip year</th>
            <th class="label">BPPF Pension Savings in PIP</th>
            <th class="label">BPPF estimated carry forward available for 2011</th>
            <th class="label">Calculation Note</th>
        </tr>
        <tr>
            <td>2010</td>
            <td>&pound;35,000</td>
            <td>&pound;15,000</td>
            <td>(&pound;50,000 limit less &pound;35,000 <br />
            Pension Savings)</td>
        </tr>
        <tr>
            <td>2009</td>
            <td>&pound;70,000</td>
            <td>&pound;0</td>
            <td>((Pension Savings above <br />
            &pound;50,000)</td>
        </tr>
        <tr>
            <td>2008</td>
            <td>&pound;30,000</td>
            <td>&pound;20,000</td>
            <td>(&pound;50,000 limit less &pound;30,000 <br />
            Pension Savings)</td>
        </tr>
        <tr>
            <td class="empty">&nbsp;</td>
            <td class="label"><strong>Total BPPF estimated carry forward available for 2011 (for 2011-12 tax year)</strong></td>
            <td class="label"><strong>&pound;35,000</strong></td>
        </tr>
    </tbody>
</table>
<p><strong>Step 2 &ndash; Determine Remaining Carry Forward Amounts used up to the last PIP, 2011 (2011-12 tax year)</strong></p>
<p>For 2011 BPPF Pension Savings are &pound;75,000 resulting in an amount of &pound;25,000 above the AA limit of &pound;50,000</p>
<p>We therefore need to use &pound;25,000 from the 3 prior years carry forward (if available) as follows. The oldest available carry forward from the preceding 3 PIPs is used first (i.e. using the &pound;20,000 carry forward available from 2008). This leaves an AA taxable amount for 2011 of &pound;5,000, which is reduced to zero here using &pound;5,000 of the carry forward available from 2010.</p>
<table class="aa_taxmodeller_table" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label">Pip year</th>
            <th class="label">BPPF estimated carry forward available for 2011 (from Step 1)</th>
            <th class="label">Previous Year&rsquo;s estimated Carry Forward Used in 2011</th>
            <th class="label">BPPF estimated remaining amount carried forward and available for 2012</th>
            <th class="label">Calculation Note</th>
        </tr>
        <tr>
            <td>2010</td>
            <td>&pound;15,000</td>
            <td>&pound;5,000</td>
            <td>&pound;10,000</td>
            <td>(&pound;15,000 less &pound;5,000 carry <br />
            forward used in 2011)</td>
        </tr>
        <tr>
            <td>2009</td>
            <td>&pound;0</td>
            <td>&pound;0</td>
            <td>&pound;0</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>2008</td>
            <td>&pound;20,000</td>
            <td>&pound;20,000</td>
            <td>&pound;0</td>
            <td>(&pound;20,000 less &pound;20,000 carry <br />
            forward used in 2011)</td>
        </tr>
        <tr>
            <td><b>Totals</b></td>
            <td><b>&pound;35,000</b></td>
            <td><b>&pound;25,000</b></td>
            <td><b>&pound;10,000</b></td>
        </tr>
    </tbody>
</table>
<p><b>Step 3 &ndash; Determine Remaining Carry Forward Amounts from last 3 years available for current PIP, 2012 (2012-13 tax year)</b></p>
<p>We need to lose the oldest year (2008) and take the last year into account (2011).</p>
<p>This leaves remaining amounts of carry forward available from the 2009, 2010 and 2011 PIPs as shown below.</p>
<table class="aa_taxmodeller_table" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label">Pip year</th>
            <th class="label">BPPF estimated carried forward and available for 2012</th>
            <th class="label">Calculation Note</th>
        </tr>
        <tr>
            <td>2011</td>
            <td>&pound;0</td>
            <tdnone limit="" as="" available="" aa=""></tdnone>
        </tr>
        <tr>
            <td>2010</td>
            <td>&pound;10,000</td>
            <td>From table in step 2 above</td>
        </tr>
        <tr>
            <td>2009</td>
            <td>&pound;0</td>
            <td>From table in step 2 above</td>
        </tr>
        <tr>
            <td class="label"><strong>Total BPPF estimated carry forward available for 2012</strong></td>
            <td class="label"><strong>&pound;10,000</strong></td>
        </tr>
    </tbody>
</table>
<p><b>Step 4 &ndash; Using the Remaining Carry Forward Amounts from last 3 years in the current PIP, 2012 (2012-13 tax year)</b></p>
<p>If the individual has Pension Savings of more than &pound;50,000 up to &pound;10,000 is available to reduce the AA taxable amount.</p>
<div style="display: none">(--Pop up AaTaxStatus--)</div>
</div>
<div id="popup_AaTaxStatus" class="aa_popup">&nbsp; <!-- no text required --></div>
<!-- 
###### End of AaTaxStatus info block
--><!-- 
###### Start of AaMarginalRate info block
-->
<div style="display: none">(--Pop up AaMarginalRate--)</div>
<div id="popup_AaMarginalRate" class="aa_popup">
<h2>Marginal income tax rate</h2>
<p>Select your marginal income tax rate&nbsp; <select id="AaMarginalRateChoice">
<option value="20">20%</option>
<option value="40" selected="selected">40%</option>
<option value="50">50%</option>
</select> &nbsp; <input class="goButton" type="button" onclick="updateMarginalTaxRate(); return false;" value="Ok" /></p>
<p>This is the highest rate of income tax that is payable from your total income in the 2012-13 tax year. You should estimate this based on your likely earnings over this period. This rate is used to estimate the AA tax charge on any increase in your BP or Burmah Castrol Pension Fund benefits above the AA limit. The default figure shown here is 40%. You can amend this rate using the dropdown list to 20% or to 50%, to obtain a more accurate estimate. However, it may be that your AA taxable amount is split between more than one of these rates, depending on your level of income and the taxable amount. You will need to add the amount of your final AA value above <span contenteditable="false">[[AaLimit]]</span> to your income to arrive at the appropriate rate(s) of taxation.</p>
</div>
<!-- 
###### End of AaMarginalRate info block
--><!-- 
###### Start of AaTaxDue info block
-->
<div style="display: none">(--Pop up AaTaxDue--)</div>
<div id="popup_AaTaxDue" class="aa_popup">
<h3>Estimated AA tax charge</h3>
<p>This figure has been calculated by multiplying your estimated AA taxable amount for <span contenteditable="false">[[PipYear]]</span> by your anticipated marginal income tax rate. This is only an estimate. You can amend your anticipated marginal income tax rate using the dropdown list in the line above this.</p>
</div>
<!-- 
###### End of AaTaxDue info block
-->
<p>&nbsp;</p>
</div>
<p>&nbsp;</p>]]></content>
    </element>
  </page>
</pages>
