<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>my annual allowance</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/annual_allowance/additional_information.html]]></target>
          <uuid>3fbc98ba-458b-11e0-bf4b-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/annual_allowance/statement.html]]></target>
          <uuid>53b9df9a-5ed9-11e1-af41-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/annual_allowance/pensave.html]]></target>
          <uuid>a9265fff-5bb8-11e1-8684-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[]]></target>
          <anchor><![CDATA[]]></anchor>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/myservice/]]></target>
          <uuid>5919cbfb-f32f-11e0-9977-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>You can view details of your BP Pension Fund benefits, with respect to the Annual Allowance (AA), by clicking on the following links:</p>
<p><b><a href="%(link0)" onclick='return false;'>My AA Projection</a></b> &ndash; A projection of your estimated position at the end of&nbsp;2012 for your BP Pension Fund benefits only. This is based on your current accrual rate and Pensionable Salary as at 1 April 2012, including any choice being offered if you are estimated to exceed the AA limit (this page is only available from March each year until early April to coincide with the BP annual pay review process). It assumes you remain in service for the whole year. This page is only available around the 1 April pay reviews.</p>
<div><span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[SchemeId]] = &quot;BPF-0001&quot;|Loading...))</span></div>
<div style="display: none">
<p><b><a href="%(link1)">My Accrual Rate</a></b> &ndash; A modeller where you can input a change to your Pensionable Salary and / or accrual rate, to estimate your AA position for the year shown and your pension benefits at your chosen retirement age. The modeller always starts with a default of your current Pensionable Salary and accrual rate from the data we hold, but the outputs are different at different stages of the year.</p>
<p>For example, if you are using the modeller in:</p>
<ul>
    <li>January to March &ndash; You can model a change in your Pensionable Salary, to estimate your AA position for this year and your future pension benefits. Any changes to your accrual rate will be shown as effective from next January, so will not affect your modeled AA position for this year.</li>
    <li>November to December &ndash; To align with the <i>your benefits, your way </i>annual enrollment, you can model the impact of a change to your Pensionable Salary and / or accrual rate for next year. The modeller will estimate your AA position for next year and your future pension benefits, with any change to your accrual rate effective from the forthcoming January.</li>
</ul>
</div>
<p><b><a href="%(link2)">My AA Statement</a></b> &ndash; If you exceed the AA for the 2011/12 tax year, you will need to complete the AA section of your self assessment tax return. The information from the BP Pension Fund that you will need to assist you, including your final Pension Savings for the 2011 PIP year and the prior 3 years which may be needed if you have carry forward available to offset for any AA tax charge, can be found here.</p>
<p><b><a href="%(link3)">AA Pension Savings</a></b> &ndash; A breakdown of your BP Pension Fund final Pension Savings and AA Taxable Amount (if any) for the 2011/12 tax year. This provides the basis of information used in your My AA Statement.</p>
<p><b><a href="%(link4)">Additional Information</a></b> &ndash; Includes:</p>
<ul>
    <li>A presentation on how the AA works</li>
    <li>Questions &amp; Answers about the AA</li>
    <li>Details on Scheme Pays</li>
</ul>]]></content>
    </element>
  </page>
</pages>
