<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>My annual allowance&nbsp;projection conditions</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links/>
      <content><![CDATA[<p class="no-print">IMPORTANT: Please read this statement and click on the button marked &lsquo;I Understand&rsquo; to proceed:</p>
<p>The Annual Allowance (AA) is set at &pound;50,000 from 6 April 2011. This AA Projection Tool will indicate your potential risk of incurring a tax charge for exceeding this AA limit for the 2012-13 tax year in relation to your benefits in the BP Pension Fund only. The increase in your pension (Pension Savings) during the 2012 Fund year will be assessed against the AA for the 2012-13 tax year.</p>
<p>This version of the AA Projection Tool produces an estimate for the period 1 January 2012 to 31 December 2012 (called the &lsquo;Pension Input Period&rsquo;). This projection is based on your benefits in the BP Pension Fund built up to 31 March 2012, allowing for your pension accrual rate at 1 February 2012 and your actual Pensionable Salary at 1 April 2012. For the avoidance of doubt, the projection outlined assumes that these factors will remain the same until 31 December 2012. You should also note that HM Revenue &amp; Customs (HMRC) will allow you to offset any excess Pension Savings above the AA in one tax year against any unused AA from the previous 3 years to reduce or remove the AA tax charge. The results of the AA Projection Tool assume that any carry forward we estimate is available from the previous year (2011) has been used in such a way as to minimise any AA tax charge. Your actual decision for the 2011/12 tax year may well be different. Please note that you will not have completed your Self Assessment for 2011/12 yet so may need to form a view on your situation for that tax year first. You may wish to take this into account if offered a choice to reduce your accrual rate.</p>
<p>Please note:</p>
<ul>
    <li>The information provided in this AA Projection Tool is for illustrative purposes only.</li>
    <li>This estimate is based on the AA calculation as defined by HMRC. The AA Projection Tool reflects the Company&rsquo;s and the Trustee&rsquo;s current understanding of the proposed legislation and tax practices in the UK. These could be subject to change, as could the AA limit.</li>
    <li>The estimated AA values have been calculated by the Company based upon information provided by the Trustee and information currently held by the Company. Despite our efforts, it may not be accurate or up to date. Where possible, we have stated the basis of the information provided.</li>
    <li>Neither the Company nor the Trustee can be held accountable for any decision you make as a result of using the AA Projection Tool, nor for any inaccuracies or omissions in the AA Projection Tool, nor if the tax figure shown (if any) does not accurately reflect your final position with regard to the AA tax charge.</li>
    <li>The AA Projection Tool results may not give a complete picture of your individual circumstances. For example, they do not include:
    <ul>
        <li>any benefits you may have which are payable from the Exxon Mobil pension fund which are linked to your current salary</li>
        <li>any contributions you may be currently making to and/or pensions accrual under external pension arrangements</li>
        <li>any changes to your accrual rate following a &lsquo;Life Event&rsquo; since 1 February 2012</li>
        <li>any future changes to your Pensionable Salary or accrual rate during the rest of 2012.</li>
    </ul>
    </li>
</ul>
<p>This is not a complete list of limitations.</p>
<ul>
    <li>Any tax figure indicated should not be relied upon, as any final tax payable will depend on your personal circumstances at the end of the 2012-13 tax year.</li>
    <li>In addition, the information contained in this illustration is not intended to be and can never be a comprehensive statement of your Pension Savings for the purpose of the AA calculations.</li>
</ul>
<p>All results shown here are for illustrative purposes only. You should contact a qualified Independent Financial Adviser before making any decisions regarding your pension arrangements.</p>
<p>If you are unsure whether the figures shown take into account all of your benefits in the BP Pension Fund, please phone the BP UK Pensions &amp; Benefits Helpline on 0845 602 1063 (or +44 1932 767730 if calling from overseas) to discuss this.</p>
<p>BP International Limited process all your personal data in accordance with their privacy policy. Please click on the Privacy Statement link at the bottom of this page to view the privacy policy.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x180/hot_air_balloon_hr.jpg]]></target>
          <uuid>76ac42e7-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p><img height="180" alt="hot air balloon hr" width="180" border="0" src="%(link0)" /></p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>notes</p>]]></content>
    </element>
  </page>
</pages>
