<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>Annual allowance pension savings</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link6" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/myservice/index.html]]></target>
          <uuid>791c878e-f32f-11e0-9977-4d6e53b46e73</uuid>
        </link>
        <link name="link4" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/info32.png]]></target>
          <uuid>93747baa-1a82-11e0-b62b-4d6e53b46e73</uuid>
        </link>
        <link name="link5" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/info32.png]]></target>
          <uuid>93747baa-1a82-11e0-b62b-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/info32.png]]></target>
          <uuid>93747baa-1a82-11e0-b62b-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/annual_allowance/statement.html]]></target>
          <uuid>53b9df9a-5ed9-11e1-af41-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/info32.png]]></target>
          <uuid>93747baa-1a82-11e0-b62b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<table id="member_id" class="datatable">
    <tbody>
        <tr>
            <td class="member_name" colspan="2"><center><span contenteditable="false">[[Name]]</span></center></td>
        </tr>
        <tr>
            <td style="text-align: left; width: 50%" class="member_refno">Membership number: <span contenteditable="false">[[Refno]]</span></td>
            <td style="text-align: right; width: 50%" class="member_nino">NI number: <span contenteditable="false">[[Nino]]</span></td>
        </tr>
    </tbody>
</table>
<h1><span contenteditable="false">[[SPipYear]]</span>&nbsp;Annual Allowance Pension Savings</h1>
<p>This page provides more details on how your BP Pension Fund Pension Savings have been calculated for the relevant tax year (Pension Input Period (PIP)). It should be read together with your <a href="%(link0)">AA Statement</a> for the same period.</p>
<table class="datatable">
    <tbody>
        <tr>
            <td class="label">BP Pension Fund benefit built up to 1 January <span contenteditable="false">[[SPipYear]]</span></td>
            <td class="info"><img id="info_builtUpJan" title="Click for more information" alt="info button" src="%(link1)" /></td>
            <td class="value number"><span contenteditable="false"><span contenteditable="false">[[SPipStartBenefit]]</span> a year</span></td>
        </tr>
        <tr>
            <td class="label">Pensionable Salary at 31 December <span contenteditable="false">[[SPipYear]]</span></td>
            <td class="info"><img id="info_salary" title="Click for more information" alt="info button" src="%(link2)" /></td>
            <td class="value number"><span contenteditable="false"><span contenteditable="false">[[SPipEndSalary]]</span> a year</span></td>
        </tr>
        <tr>
            <td class="label">BP Pension Fund benefit built up to 31 December <span contenteditable="false">[[SPipYear]]</span></td>
            <td class="info"><img id="info_builtUpDec" title="Click for more information" alt="info button" src="%(link3)" /></td>
            <td class="value number"><span contenteditable="false"><span contenteditable="false">[[SPipEndBenefit]]</span> a year</span></td>
        </tr>
        <tr>
            <td class="label">Money Purchase AVCs paid into BP Pension Fund in&nbsp;<span contenteditable="false">[[SPipYear]]</span></td>
            <td class="info">&nbsp;</td>
            <td class="value number"><span contenteditable="false">[[SPipYearAvcs]]</span></td>
        </tr>
        <tr>
            <td class="label">Increase in value of pension benefits in <span contenteditable="false"><span contenteditable="false">[[SPipYear]]</span> based on HMRC guidelines</span></td>
            <td class="info"><img id="info_increase" title="Click for more information" alt="info button" src="%(link4)" /></td>
            <td class="value number"><span contenteditable="false">[[SAaSavings]]</span></td>
        </tr>
    </tbody>
</table>
<p>Notes</p>
<p>You could be liable for an Annual Allowance (AA) tax charge if the increase in the value of your pension over the year exceeds the AA.</p>
<p>Although every effort has been made to ensure the accuracy of the data, neither the Company nor the Trustee can be held accountable for any inaccuracies or omissions. If you believe the figures shown above are incorrect, please contact <a href="%(link5)">BP UK Pensions &amp; Benefits</a>.</p>
<p>If you wish to estimate your AA figures for the current tax year, please visit the <a href="%(link6)">My Accrual Rate Modeller</a>.</p>
<!--
###### Start of info_1 info block
-->
<div style="display: none">(--Pop up builtUpJan--)</div>
<div id="popup_builtUpJan" class="aa_popup">
<h3>Built up pension as at&nbsp;1 January 2011</h3>
<p>This shows your accrued benefits under the BP Pension Fund built up to 1 January <span contenteditable="false">[[SPipYear]]</span>. This takes into account your Pensionable Service, accrual rate(s) and your Pensionable Salary up to 1 January <span contenteditable="false">[[SPipYear]]</span> (i.e. not including any changes made on 1 January <span contenteditable="false">[[SPipYear]]</span>.</p>
</div>
<!-- 
###### End of info_1 info block
--><!--
###### Start of info_2 info block
-->
<div style="display: none">(--Pop up info_salary--)</div>
<div id="popup_salary" class="aa_popup">
<h3>Pensionable salary</h3>
<p>This shows your Pensionable Salary at 31 December <span contenteditable="false">[[SPipYear]]</span>, as defined in the Scheme Rules for your pension scheme. For the Burmah Castrol section of the BP Pension Fund, this includes any supplementary pension that HM Revenue &amp; Customs state must be included in this calculation.</p>
</div>
<!-- 
###### End of info_2 info block
--><!--
###### Start of info_3 info block
-->
<div style="display: none">(--Pop up info_builtUpDec--)</div>
<div id="popup_builtUpDec" class="aa_popup">
<h3>Built up pension as at 31 December 2011</h3>
<p>This shows your accrued benefits under the BP Pension Fund built up to 31 December <span contenteditable="false">[[SPipYear]]</span>. This takes into account your Pensionable Service, accrual rate(s) and your Pensionable Salary up to and including 31 December <span contenteditable="false">[[SPipYear]]</span>.</p>
</div>
<!-- 
###### End of info_3 info block
--><!--
###### Start of info_4 info block
-->
<div style="display: none">(--Pop up info_increase--)</div>
<div id="popup_increase" class="aa_popup">
<h3>Increased value of pension benefits in 2011</h3>
<p>This value has been calculated using our understanding of the calculation basis set out by HMRC for valuing the increase in the capital value of your pension benefits over <span contenteditable="false">[[SPipYear]]</span>, using the estimated values of your pension benefits built up at the start and end of <span contenteditable="false">[[SPipYear]]</span>. Your Fund benefit built up to 1 January <span contenteditable="false">[[SPipYear]]</span> is allowed to increase in line with CPI 3.10% for <span contenteditable="false">[[SPipYear]]</span> without counting against the AA.</p>
</div>
<!-- 
###### End of info_4 info block
-->]]></content>
    </element>
  </page>
</pages>
