<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>2011 Annual Allowance (AA) statement</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/annual_allowance/pensave.html]]></target>
          <uuid>a9265fff-5bb8-11e1-8684-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/annual_allowance/pensave.html]]></target>
          <uuid>a9265fff-5bb8-11e1-8684-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<table id="member_id" class="datatable">
    <tbody>
        <tr>
            <td class="member_name" colspan="2"><center><span contenteditable="false">[[Name]]</span></center></td>
        </tr>
        <tr>
            <td style="text-align: left; width: 50%" class="member_refno">Membership number: <span contenteditable="false">[[Refno]]</span></td>
            <td style="text-align: right; width: 50%" class="member_nino">NI number: <span contenteditable="false">[[Nino]]</span></td>
        </tr>
    </tbody>
</table>
<p><b>The figures shown here relate only to your benefits accrued under the BP Pension Fund (BPPF), including any money purchase Additional Voluntary Contributions (AVCs) paid into the Fund.</b></p>
<div style="display: none">&nbsp;</div>
<p>This statement of your BPPF savings will help you to complete the Annual Allowance (AA) section of your HM Revenue &amp; Customs (HMRC) self assessment tax return for the&nbsp;<span contenteditable="false">[[SPipTaxYear]]</span>&nbsp;tax year.</p>
<p>The Pension Input Period (PIP) for the BPPF runs from 1 January to 31 December each year. The relevant tax year for AA calculation purposes is the tax year in which the PIP year ends. For example, the PIP year ending 31 December <span contenteditable="false">[[SPipYear]]</span>&nbsp;is relevant for the <span contenteditable="false">[[SPipTaxYear]]</span>&nbsp;tax year.</p>
<p>Your BPPF Pension Savings for the PIP selected above is:</p>
<table style="width: 100%" class="datatable">
    <tbody>
        <tr>
            <th style="width: 25%" class="label">Tax Year</th>
            <th style="width: 25%" class="label">Relevant BPPF PIP year</th>
            <th style="width: 25%" class="label">BPPF Pension Savings in PIP</th>
            <th style="width: 25%" class="label">Annual Allowance limit for PIP</th>
        </tr>
        <tr>
            <td><span contenteditable="false"><span contenteditable="false">[[SPipTaxYear]]</span></span></td>
            <td><span contenteditable="false">[[SPipYear]]</span></td>
            <td><span contenteditable="false">[[SAaSavings]]</span>*</td>
            <td><span contenteditable="false">[[SAaLimit]]</span></td>
        </tr>
    </tbody>
</table>
<p>* click <a href="%(link0)">here</a> for further details on how this number is calculated and the data used to produce this - you are responsible for checking that the data shown for you is correct.</p>
<p>To calculate any &lsquo;carry forward&rsquo; available in the tax year selected above, the figures you may need are:</p>
<table style="width: 100%" class="datatable">
    <tbody>
        <tr>
            <th style="width: 25%" class="label">Tax Year</th>
            <th style="width: 25%" class="label">Relevant BPPF PIP year</th>
            <th style="width: 25%" class="label">BPPF Pension Savings in PIP</th>
            <th style="width: 25%" class="label">Annual Allowance limit for PIP</th>
        </tr>
        <tr>
            <td><span contenteditable="false"><span contenteditable="false">[[SPipTaxYear1]]</span></span></td>
            <td><span contenteditable="false">[[SPipYear1]]</span></td>
            <td><span contenteditable="false">[[SAaSavings1]]</span></td>
            <td><span contenteditable="false">[[SAaLimit1]]</span></td>
        </tr>
        <tr>
            <td><span contenteditable="false"><span contenteditable="false">[[SPipTaxYear2]]</span></span></td>
            <td><span contenteditable="false">[[SPipYear2]]</span></td>
            <td><span contenteditable="false">[[SAaSavings2]]</span></td>
            <td><span contenteditable="false">[[SAaLimit2]]</span></td>
        </tr>
        <tr>
            <td><span contenteditable="false"><span contenteditable="false">[[SPipTaxYear3]]</span></span></td>
            <td><span contenteditable="false">[[SPipYear3]]</span></td>
            <td><span contenteditable="false">[[SAaSavings3]]</span></td>
            <td><span contenteditable="false">[[SAaLimit3]]</span></td>
        </tr>
    </tbody>
</table>
<p>The data used to produce the figures above has been provided by the Company and the calculations are based on the Trustee&rsquo;s current understanding of the relevant legislation. Although every effort has been made to ensure the accuracy of the data, if you believe the figures shown or the data used to calculate these figures (on <a href="%(link1)">My Pension Savings page</a>) are incorrect, please contact <a href="%(link2)">BP UK Pensions &amp; Benefits</a>.</p>]]></content>
    </element>
  </page>
</pages>
