<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content/>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.template/resources/gfx/question.gif]]></target>
          <uuid>95647cdf-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.template/resources/gfx/add.gif]]></target>
          <uuid>929de36e-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<h1>Add report section</h1>
<p>Please input title, description and talbes for your report.</p>
<form action="" method="get">
<div class="report_component_holder">
<div class="report_label">
<label for="_report_title">Title</label>
</div>
<div class="report_value">
<input id="_report_title" size="50" name="_report_title" type="text" />
</div>
</div>
<div class="report_component_holder">
<div class="report_label">
<label for="_report_comment">Description</label>
</div>
<div class="report_value">
<textarea id="_report_comment" rows="5" cols="50"></textarea>
</div>
</div>
<br />
<div class="report_component_holder">
<h2>Query builder</h2>
</div>
<div class="rb_list_holder">
<h3>
<label for="rb_table_list">Table</label>
</h3>
<div class="rb_list_tbl" id="rb_table_list">
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>TABLE 1</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>TABLE 2</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>TABLE 3</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>TABLE 4</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>TABLE 5</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>TABLE 6</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>TABLE 7</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>TABLE 8</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>TABLE 9</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>TABLE 10</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>TABLE 11</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>TABLE 12</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>TABLE 13</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>TABLE 14</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>TABLE 15</label>
</div>
</div>
<label>&nbsp;</label> 
<h3>
<label for="rb_allias_list">Alias &amp; Attributes</label>
</h3>
<div class="rb_list_att" id="rb_allias_list">
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>Attribute 1</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>Attribute 2</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>Attribute 3</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>Attribute 4</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>Attribute 5</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>Attribute 6</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>Attribute 7</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>Attribute 8</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>Attribute 9</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>Attribute 10</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>Attribute 11</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>Attribute 12</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>Attribute 13</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>Attribute 14</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>Attribute 15</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>Attribute 16</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>Attribute 17</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>Attribute 18</label>
</div>
</div></div>
<div class="rb_query_holder">
<div class="rb_query_lable_holder">
<h3>Query</h3>
<a href="">
<img alt="Help"
src="%(link0)" />
</a>
</div>
<textarea class="rb_query" id="rb_query"></textarea>
</div>
<div class="rb_list_holder">
<div class="rb_list_lable_holder">
<h3>Parameters</h3>
<a href="">
<img alt="Add report parameters"
src="%(link1)" />
</a>
</div>
<div class="rb_list_tbl" id="rb_param_list">
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>PARAM_1</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>PARAM_2</label>
</div>
<div onclick="javascript:this.style.backgroundColor='#CCC';">
<label>PARAM_3</label>
</div>
</div>
</div>
<br />
<div class="report_component_holder">
<div class="login_label">
<label>&nbsp;</label>
</div>
<div class="login_value">
<input class="goButton" id="dd_save" type="button" name="dd_save" value="Preview" />&nbsp; 
<input class="goButton" id="dd_save" type="button" name="dd_save" value="Save" />&nbsp; 
<input class="goButton" id="dd_save" type="button" name="dd_save" value="Cancel" />&nbsp;</div>
</div>
</form>]]></content>
    </element>
  </page>
</pages>
