<%@page session="false" %>
<%@page pageEncoding="UTF-8"%>
<%@page import="java.util.*"%>
<%@page import="com.bp.pensionline.sqlreport.handler.ManageSQLReportHandler"%>
<%@page import="com.bp.pensionline.sqlreport.dto.db.*"%>
<%@page import="org.apache.commons.lang3.StringEscapeUtils"%>
<%@taglib prefix="cms" uri="http://www.opencms.org/taglib/cms" %>
<cms:include property="template" element="head" />
<%
	int fromChar = 0, toChar = 3;
	String selectedCharParam = request.getParameter("startwith");
	if (selectedCharParam != null && selectedCharParam.length() > 0)
	{
		// update fromChar and toChar based on char selected
		char selectedChar = selectedCharParam.toUpperCase().charAt(0);
		
		fromChar = ((selectedChar - 'A')/4) * 4;
		toChar = fromChar + 3;
		if (toChar >  25)
		{
			toChar =  25;
		}
		if (selectedCharParam.equals("All"))
		{
			fromChar = 0;
			toChar = 25;
		}
	}
	
%>
<cms:include page="./managereport_header.html" element="bptitle" />
<cms:include page="./managereport_header.html" element="bpblank" />
<a href="" onclick="displayReports(this); return false;">A</a>, <a href="" onclick="displayReports(this); return false;">B</a>, 
<a href="" onclick="displayReports(this); return false;">C</a>, <a href="" onclick="displayReports(this); return false;">D</a>, 
<a href="" onclick="displayReports(this); return false;">E</a>, <a href="" onclick="displayReports(this); return false;">F</a>, 
<a href="" onclick="displayReports(this); return false;">G</a>, <a href="" onclick="displayReports(this); return false;">H</a>, 
<a href="" onclick="displayReports(this); return false;">I</a>, <a href="" onclick="displayReports(this); return false;">J</a>, 
<a href="" onclick="displayReports(this); return false;">K</a>, <a href="" onclick="displayReports(this); return false;">L</a>, 
<a href="" onclick="displayReports(this); return false;">M</a>, <a href="" onclick="displayReports(this); return false;">N</a>, 
<a href="" onclick="displayReports(this); return false;">O</a>, <a href="" onclick="displayReports(this); return false;">P</a>, 
<a href="" onclick="displayReports(this); return false;">Q</a>, <a href="" onclick="displayReports(this); return false;">R</a>, 
<a href="" onclick="displayReports(this); return false;">S</a>, <a href="" onclick="displayReports(this); return false;">T</a>, 
<a href="" onclick="displayReports(this); return false;">U</a>, <a href="" onclick="displayReports(this); return false;">V</a>, 
<a href="" onclick="displayReports(this); return false;">W</a>, <a href="" onclick="displayReports(this); return false;">X</a>, 
<a href="" onclick="displayReports(this); return false;">Y</a>, <a href="" onclick="displayReports(this); return false;">Z</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="" onclick="displayReports(this); return false;">All</a>
<%
	int i = fromChar;
	for (; i<=toChar; i++)
	{		
%>
<div class="dd_details_holder"><%=(char)(i + 'A') %><br />
<%
		Vector reports = ManageSQLReportHandler.listAvailableReportsByChar((char)(i + 'A'));
%>
<%
		for (int j = 0; j < reports.size(); j++)
		{
			Report report = (Report)reports.elementAt(j);
			if (report != null)
			{
				String reportId = report.getReportId();
				String title = report.getReportTitle();
				String description = report.getReportDescription();
				if (title == null || title.trim().equals(""))
				{
					title = "Unknown";
				}
				else
				{
					title = StringEscapeUtils.escapeHtml4(title );
				}
				if (description == null)
				{
					description = "&nbsp;";
				}
				else
				{
					description = StringEscapeUtils.escapeHtml4(description);
				}
				
%>
<div class="ws_report">
<div class="ws_report_icon"><img alt="Edit this report" src="/content/pl/system/modules/com.bp.pensionline.template/resources/gfx/reportIcon.gif" /></div>
<div class="ws_report_text">
<a style='float:right;' href="update_group_of_report.jsp?reportId=<%=reportId%>">Add to groups</a>
<h2><a href="edit_report.jsp?id=<%=reportId%>"><%=title%> </a></h2>
<p><%=description%></p>
</div>
</div>
<%
			}		
		}
%>
</div>
<%
	}
%>
<br/>
<div class="report_component_holder">
<div style="TEXT-ALIGN: right"><input class="goButton" id="_add_report" type="button" onclick="addNewReport();" value="Add" />&nbsp;</div>
</div>
<script type='text/javascript'>
function selectUser()
{
    var selectWindow = window.open('/content/pl/sql_report/manage_report/select_user_ex.jsp',
'select_user','height=400,width=250,scrollbars=1');
    selectWindow.moveTo(380, 200);
}
function selectGroup()
{
    var selectWindow = window.open('/content/pl/sql_report/manage_report/select_group_ex.jsp',
'select_user','height=400,width=250,scrollbars=1');
    selectWindow.moveTo(380, 200);
}function addNewReport()
{
    window.location = '/content/pl/sql_report/manage_report/add_report.html'
}
function displayReports(this1)
{
	if (this1)
	{
		var selectedChar = this1.innerHTML;
		window.location.replace('/content/pl/sql_report/manage_report/index.html?startwith=' + selectedChar);
	}
}
</script>