<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>Manage report</h1>]]></content>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<p>Below find all the report sections sorted in alphabetic order.</p><span style="FONT-SIZE: 14pt; COLOR: #9acd00">•</span> Please select the 'Add' button at the bottom
of the page to create a new report. 
<br /><span style="FONT-SIZE: 14pt; COLOR: #9acd00">•</span> Select 'Add to groups' to group reports
sections together 
<br /><span style="FONT-SIZE: 14pt; COLOR: #9acd00">•</span> Select the report title to edit directly 
<br />
<br />]]></content>
    </element>
  </page>
</pages>
