<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[pre-retirement courses]]></title>
    <description name="description0">
      <links>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[https://www2.virtualtrainingassistant.com/BPGlobal/wc.dll]]></target>
          <query><![CDATA[learner~login]]></query>
        </link>
      </links>
      <content><![CDATA[<p>BP&rsquo;s pre-retirement course is designed for people who are about to retire. People retiring can now look forward to many years of active life. However, a happy and fulfilled retirement needs careful planning and preparation.</p>
<p>And it&rsquo;s not just financial planning that is important. The course also looks at the social and emotional changes that happen when a person retires. During the course, delegates gain valuable information on a range of topics relevant to their needs and they are encouraged, together with their partners, to make successful plans to help ease their transition into retirement.</p>
<p>The 2012 pre-retirement courses are now open for enrolment on the Virtual Training Assistant. Please click on the link to the VTA Learner below:</p>
<p><a href="%(link0)">https://www2.virtualtrainingassistant.com/BPGlobal/wc.dll?learner~login</a></p>
<p>Then:</p>
<p>&bull; Click in the Search tab<br />
&bull; Change the Site name to UK Access<br />
&bull; Enter Pre-Retirement into the search box</p>
<p>The full details are on the site but here&rsquo;s a quick run-down of the dates and locations for pre-retirement courses in 2012:</p>
<ul>
    <li>19 January - Holiday Inn, Shepperton</li>
    <li>9 February - Holiday Inn, Shepperton&nbsp;&nbsp;</li>
    <li>23 February - DoubleTree, Aberdeen</li>
    <li>22 March - Hull</li>
    <li>19 April - DoubleTree, Aberdeen</li>
    <li>10 May - Holiday Inn, Shepperton</li>
    <li>7 June - Holiday Inn, Shepperton</li>
    <li>19 July - Holiday Inn, Shepperton</li>
    <li>27 September - Hull</li>
    <li>18 October - DoubleTree, Aberdeen</li>
    <li>22 November - Holiday Inn, Shepperton</li>
</ul>]]></content>
    </description>
    <new_edited>false</new_edited>
  </ItemType>
</ChanelTypes>
