<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[lifetime allowance]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>This is set by HM Revenue &amp; Customs (HMRC) and is the maximum value of tax-advantaged
benefits you can receive from all registered pension schemes, including your past, present and
future benefits from occupational and private arrangements in the UK.
<br />
<br />The list below shows what the standard lifetime allowance will be from 2006 to 2011.
<br />
<br />2006-2007 tax year - £1.50 million
<br />2007-2008 tax year - £1.60 million
<br />2008-2009 tax year - £1.65 million
<br />2009-2010 tax year - £1.75 million
<br />2010-2011 tax year - £1.80 million
<br />
<br />In some circumstances, for example, if you applied for transitional protection of your
benefits at 5 April 2006, your personal lifetime allowance may be higher than the standard lifetime
allowance.
<br />
<br />State pension benefits are not included in the lifetime allowance.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
