<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[annual allowance]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>This is set by HM Revenue &amp; Customs (HMRC) and is the amount by which your pension benefits can increase in value during a calendar year (1 January to 31 December) without having to pay additional tax. The list below shows what the annual allowance will be from 2006 to 2011.</p>
<p>2006-2007 tax year - &pound;215,000 <br />
2007-2008 tax year - &pound;225,000 <br />
2008-2009 tax year - &pound;235,000 <br />
2009-2010 tax year - &pound;245,000 <br />
2010-2011 tax year - &pound;255,000</p>
<p>HMRC reduced the annual allowance limit to &pound;50,000 with effect from the 2011-2012 tax year. The increase in the value of your pension benefits is calculated using the basis set out by HMRC and relates to the total of all contributions to and/or pension accrual under all pension arrangements held by the member.<br />
&nbsp;</p>]]></content>
    </Definition>
    <new_edited>false</new_edited>
  </PhraseType>
</DictionaryPhraseTypes>
