<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[Company]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>BP p.l.c. is the sponsoring employer.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
