<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[final salary scheme]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>A pension scheme where the benefit is calculated according to your pensionable&nbsp;pay and
service at normal retirement&nbsp;date or leaving service.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
