<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[accrual rate]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>The fraction (or percentage - %) of&nbsp;&nbsp;final pensionable salary 
<strong>&nbsp;</strong>you receive for each year or part year of 
<strong>pensionable&nbsp;employment</strong> you complete. If you are in the Burmah
Castrol&nbsp;section of the&nbsp;fund, your accrual rate&nbsp;is 1/50th.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
