<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[State pension supplement]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<div>Burmah Castrol, Fosroc, Coatings and Sericol section members only.</div>
<div>This is an extra amount paid by the Fund between your <span>retirement date and 
<strong>State pension age</strong>.</span></div>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
