<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[spouse]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<div>This is the person to whom you are legally married, or surviving civil partner&nbsp;and, at
the date of your death, is either living with you or is financially dependent on you.</div>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
