<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[expression of wishes]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>The means by which a member can indicate to the Trustee a preference as to who should receive
any discretionary lump sum death benefit.</p>
<p>Whilst the Trustee will bear your wishes in mind when exercising its discretion, it is not
legally bound by them, and as a result, inheritance tax is normally avoided.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
