<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[child/children]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>Your child or adopted child who, at the date of your death, is financially dependent on you and
is under age 18 or 22 (23 for certain Foseco members) if in full-time education.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
