<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[average State basic pension]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<div>This is the amount of the single person's State basic pension during the 12 months before you
leave <span>pensionable employment. For working out benefits on death in pensionable employment, it is
the single person's State basic pension at the date of death.</span></div>]]></content>
    </Definition>
    <new_edited>true</new_edited>
  </PhraseType>
</DictionaryPhraseTypes>
