<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[final base pay]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>This is your 
<strong>base pay</strong> over the 12 months before you leave pensionable employment. For working
out benefits on death in pensionable employment, it is your 
<strong>base pay</strong> at the date of death.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
