<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[pensionable employment]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>This is the number of complete years and days you have been a full member of the Fund, plus any
employment credited to you following a transfer payment into the Fund from another pension
arrangement.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
