<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[BP Pensions & Benefits Team]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>The Team is based at Chertsey Road, Sunbury-on-Thames, Middlesex TW16 7LN, and can be contacted
should you need any further help after contacting your Human Resources unit. Call us on our UK
helpline 
<strong>0845 600&nbsp;0295</strong> or, if you are based overseas, on 
<strong>+44 1932 767730</strong>. If you have any queries about PensionLine, please contact the
PensionLine support team on 
<strong>0845 601 1142</strong>.
<br /></p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
