<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[Guaranteed Minimum Pension (GMP)]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>Your GMP is the benefit provided by the Fund in respect of membership before 6 April 1997 which
is in lieu of the State Earnings Related Pension Scheme&nbsp;pension given up. Note the following
points about the GMP:</p>
<ul>
<li>Your&nbsp;fund pension from GMP&nbsp;age&nbsp;must be at least equal to your GMP.</li>
<li>On your death before or after retirement, the pension for your spouse/civil partner&nbsp;must
be at least equal to half the GMP you earned for&nbsp;Fund membership before 6 April 1997. Female
members will not have a spouse's/civil partner's GMP for pre-6 April 1988 service.</li>
<li>The amount of tax-free cash you can take at retirement may have to be restricted to ensure that
the remaining pension is at least equal to your GMP.</li>
<li>You may not be able to retire and draw your pension as early as you wish if your early
retirement pension would be less than the GMP which the&nbsp;Fund must pay you from&nbsp; GMP
age.</li>
</ul>
<p>* GMP age is 60 for females, 65 for males.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
