<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[AVC plan]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>The additional voluntary contribution plan allows you to increase your&nbsp;benefits at
retirement. Your AVC benefits are secured on a money purchase basis. Your contributions are
invested with one of the Trustee's external investment managers.
<br /></p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
