<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[final pay]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>The annual rate of your 
<strong>base pay</strong> at the time of your death whilst in 
<strong>pensionable employment</strong>.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
