<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[base pay]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>This is your basic pay plus any other payments that the Company has told you are
pensionable.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
