<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[AVC fund]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>Your contributions together with any investment return&nbsp;under the AVC plan. On retirement,
you can take some or all of&nbsp;your AVC fund as a tax-free free cash sum (up to certain
limits)&nbsp;or use it to buy an annuity which will provide you with an additional annual
pension.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
