<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[contribution pay]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>This is your 
<strong>base pay</strong> less the single person’s State basic pension.</p>
<p>For members whose current period of 
<strong>pensionable employment</strong> in the section started before 1 January 1994, it is only
the increases to this figure from this date.</p>
<p>If you are contracted to work less than full-time hours, a proportion of this figure will be
used when working out your benefits.
<br /></p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
