<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[final pensionable pay]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>This is your 
<strong>final base pay</strong> (less the average State basic pension, if you are a member of the
Burmah and Castrol, Fosroc and Coatings or Sericol sections). If your 
<strong>final base pay</strong> from an earlier tax year within the last 10 years would give a
higher pension, the higher figure will be used.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
