<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[basic State pension]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>The basic State pension, sometimes referred to as the 'old age pension', is paid weekly by the
State from your 
<strong>State pension age</strong> in return for the National Insurance contributions made through
a working life. It is a flat-rate, taxable pension&nbsp;based on your contribution record and is
revised by the Government each year to reflect inflation; a higher rate is paid to married couples
and registered civil partners.
<br /></p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
