<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[State pension age]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<div>This is age 65 for men, and age 60 for women born before 6 April 1950. For women born after 5
April 1955, State pension age is age 65. For women born between 6 April 1950 and 5 April 1955,
State pension age will rise gradually from 60 to 65 depending on your date of birth.</div>
<div>&nbsp;</div>
<div>For more information see the 'useful links' page on this website.</div>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
