<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[part member]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>If you chose not to join the Fund when first eligible, you will be treated as a part member. You
will not be eligible for any of the Fund benefits described in this guide. However, you will be
covered for a cash sum death benefit of one and a half times your annual base pay while employed by
the Company.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
