<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[civil partner]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>This is the person with whom you have a registered civil partnership and, at the date of your
death, is either living with you or is financially dependent on you.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
