<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[independent financial adviser]]></Title>
    <Definition name="Definition0">
      <links>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[http://www.unbiased.co.uk]]></target>
        </link>
      </links>
      <content><![CDATA[<p>IFA Promotion Limited will be able to suggest independent financial advisers in your area, if
you do not already use one. They can be contacted on 0800 085 3250 or by going to 
<a href="%(link0)">www.unbiased.co.uk</a> .</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
