<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[money purchase scheme]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>A pension arrangement under which your benefits depend on your total contributions (usually
increased by an amount based on the investment return on those contributions), and the cost of
purchasing pension when you retire i.e. not directly related to salary and service.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
