<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="headerleft">
      <links/>
      <content><![CDATA[<h1>I have left BP</h1>]]></content>
    </element>
    <element name="headerleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x180/grass_on_blue_background.jpg]]></target>
          <uuid>75ce17c6-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="180" alt="grass on blue background" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="headerleft3">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/Resources/index.html]]></target>
          <uuid>1224ba4b-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/Resources/index.html]]></target>
          <uuid>1224ba4b-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>If you have left the Company, but not yet retired, you can use this site to:</p>
<ul class="noindent">
<li>find out more about your BP pension.</li>
<li>download your 
<a href="%(link0)">explanatory booklet</a> and other 
<a href="%(link1)">Fund documents</a>.</li>
</ul>
<p>Use the menu on the left to navigate your way around the site.</p>]]></content>
    </element>
    <element name="headerleft4">
      <links/>
      <content/>
    </element>
    <element name="headerleft5">
      <links/>
      <content/>
    </element>
    <element name="headerleft6">
      <links/>
      <content/>
    </element>
  </page>
</pages>
