<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>contacting us</h1>]]></content>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<p>Below are frequently asked questions relating to contacting BP UK&nbsp;Pensions
&amp;&nbsp;Benefits.</p>]]></content>
    </element>
  </page>
</pages>
