<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>divorce</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/Divorce_QxA_Guide.pdf]]></target>
        </link>
      </links>
      <content><![CDATA[<p>Below is a question and answer guide relating to your pension and divorce.</p>
<p><a title="Divorce QA guide _11 January 2008_" target="_self" href="%(link0)">Divorce guide</a></p>
<p><font color="#666666" size="2" face="Verdana">This guide does not constitute financial, legal or other professional advice. You should always consult your solicitor or other relevant adviser before making any decisions about your divorce or your pension benefits. You may want to share a copy of this guide with your solicitor or other relevant adviser.</font></p>]]></content>
    </element>
  </page>
</pages>
