<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>PensionLine survey</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[http://www.zoomerang.com/survey.zgi]]></target>
          <query><![CDATA[p=WEB226YQZRMWH3]]></query>
        </link>
        <link name="link1" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x180/laptop_on_grass.jpg]]></target>
          <uuid>772c9689-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<table cellspacing="1" cellpadding="1" width="100%" summary="" border="0">
<tbody>
<tr>
<td>
<p>
<font face="Verdana" color="#666666" size="2">As a PensionLine user, it would be very helpful if
you could give us your feedback on the website.</font>
</p>
<p>
<font face="Verdana" color="#666666" size="2">Please take a few minutes to complete our survey. All
you have to do is click on the link below and follow the simple&nbsp;online instructions.</font>
</p>
<p>Take the 
<a href="%(link0)">PensionLine survey</a>.</p>
</td>
<td>
<p>&nbsp;
<img height="180" alt="laptop on grass" width="180" border="0"
src="%(link1)" /></p>
</td>
</tr>
</tbody>
</table>
<br />
<br />]]></content>
    </element>
  </page>
</pages>
