<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>lifetime allowance</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/LTA_FAQs.pdf]]></target>
          <uuid>ed93b2c9-380f-11e1-b3a1-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>Below are frequently asked questions relating to the lifetime allowance aspects of the 'pensions simplification' legislation.</p>
<p>Click <a title="Lifetime Allowance FAQs" href="%(link0)" target="_self">here</a> to download the FAQ's in PDF format.</p>]]></content>
    </element>
  </page>
</pages>
