<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>Combined Oil Distributors Pension Scheme&nbsp;- BP Gas</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/hikers_with_map.jpg]]></target>
          <uuid>86e31c12-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="hikers with map" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<p>use these resources to manage your pension</p>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link8" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/TV-out_form.pdf]]></target>
          <uuid>1af12385-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link9" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/BP_Gas_Rules.pdf]]></target>
          <uuid>8d721c52-451c-11de-8ffc-4d6e53b46e73</uuid>
        </link>
        <link name="link6" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/Expression_of_Wish_for_BP_subsidiary_schemes.pdf]]></target>
          <uuid>1a923a9f-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link7" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/Change_of_address_and_bank_details_form_09.01.08.pdf]]></target>
          <uuid>1a3db1f9-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/AVC_Application_Form.pdf]]></target>
          <uuid>6b61e5f2-a46e-11df-8eef-4d6e53b46e73</uuid>
        </link>
        <link name="link10" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/Resources/Trust_Deed.html]]></target>
          <uuid>12930c88-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link5" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/AVC_Investment_Guide.pdf]]></target>
          <uuid>e815788d-a3c5-11df-a97c-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Subs_schemes_documents/BP_GAS_BOOKLET_ADDENDUM.pdf]]></target>
          <uuid>371c9790-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/BP_Gas_Application_Form_08_08.pdf]]></target>
          <uuid>17a3f42b-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Subs_schemes_documents/BP_Gas_Explanatory_Booklet.pdf]]></target>
          <uuid>37433262-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Subs_schemes_documents/CombinedOilBPGasExamples.pdf]]></target>
          <uuid>5181a454-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>These&nbsp;PDFs of the explanatory booklet&nbsp;and examples&nbsp;are the latest versions available. The addendum below should be read in conjunction with these booklets.</p>
<p><a title="BP Gas Explanatory Booklet" target="_self" href="%(link0)">Explanatory booklet</a> <br />
<a title="CombinedOilBPGasExamples" target="_self" href="%(link1)">Examples booklet</a> <br />
<a title="BP GAS BOOKLET ADDENDUM" target="_self" href="%(link2)">Addendum - 6 April 2006</a></p>
<p>You can download and print any of these forms if you want to:</p>
<ul>
    <li><a title="BP Gas Application Form_08_08" target="_self" href="%(link3)">join</a> the Scheme</li>
    <li>start, change or stop your <a title="AVC Application Form" href="%(link4)" target="_self">additional voluntary contributions (AVCs)</a></li>
    <li>change your <a title="AVC Investment Guide" target="_self" href="%(link5)">AVC investment choices</a>&nbsp;</li>
    <li>complete or change your <a title="Expression of Wish for BP subsidiary schemes" target="_self" href="%(link6)">expression of wishes form</a></li>
    <li>change <a title="Change of address and bank details form 09.01.08" target="_self" href="%(link7)">address/bank</a> details (only for pensioner or deferred members)</li>
</ul>
<p>If you have left BP and would like to transfer your BP Gas benefits to another pension arrangement, please download and complete <a title="TV-out form" target="_self" href="%(link8)">this form</a> to request a transfer value. Please note, we are only able to provide a transfer value once in any 12-month period.</p>
<p>To see the Rules that govern the BP Gas section of the Combined Oil Distributors&nbsp;Pension Scheme, click on the link below.</p>
<p><a title="BP Gas Rules" target="_self" href="%(link9)"><span class="fakelink">Rules</span> </a></p>
<p>The Scheme&nbsp;is set up and run in accordance with the <a href="%(link10)">Trust Deed</a> of the BP Pension Fund and Rules of the BP Gas section of the Combined Oil Distributors&nbsp;Pension Scheme, which contain the detailed provisions of the Scheme. No other point of reference can override the Trust Deed and Rules if there is an inconsistency.</p>
<p>&nbsp;</p>
<p><!-- EDIT BLOCK END (ENABLED) --></p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
