<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>BP Retailing Pension and Life Assurance Scheme</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/hikers_with_map.jpg]]></target>
          <uuid>86e31c12-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="hikers with map" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<p>
<font size="5">use these resources to manage your pension</font>
</p>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link8" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/Retail_TVin_Request_letter.pdf]]></target>
          <uuid>1ac4e363-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link9" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/Change_of_address_and_bank_details_form_09.01.08.pdf]]></target>
          <uuid>1a3db1f9-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link6" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/Retailing_AVC_Form.pdf]]></target>
          <uuid>87335ca0-2221-11e0-b7ae-4d6e53b46e73</uuid>
        </link>
        <link name="link7" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/BP_Retailing_Pension_x_Life_Assurance_Scheme_EoW_form.pdf]]></target>
          <uuid>68d23d02-a47d-11df-8eef-4d6e53b46e73</uuid>
        </link>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/BP_Retailing_Pension_x_Life_Assurance_Scheme_Application_Form.pdf]]></target>
          <uuid>d7bac430-a47e-11df-8eef-4d6e53b46e73</uuid>
        </link>
        <link name="link5" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/Retailing_Switch_Form.pdf]]></target>
          <uuid>1a07b278-221e-11e0-b7ae-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/BP_Retailing_Pension_x_Life_Assurance_Scheme_Jargon_Buster.pdf]]></target>
          <uuid>a2d37b47-a47d-11df-8eef-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/BP_Retailing_Pension_x_Life_Assurance_Scheme_Myth_Buster.pdf]]></target>
          <uuid>cc5fc5eb-a47d-11df-8eef-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/BP_Retailing_Pension_x_Life_Assurance_Scheme_Members_Guide.pdf]]></target>
          <uuid>b18ecd5e-a47c-11df-8eef-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/BP_Retailing_Pension_x_Life_Assurance_Scheme_Investment_Guide.pdf]]></target>
          <uuid>cbd26f62-a47c-11df-8eef-4d6e53b46e73</uuid>
        </link>
        <link name="link10" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/TV-out_form.pdf]]></target>
          <uuid>1af12385-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link11" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Subs_schemes_documents/Rules_of_BP_Retailing_Pension_and_Life_Assurance_Scheme_28_Jun_2007.pdf]]></target>
          <uuid>52395b98-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link12" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/Resources/Trust_Deed.html]]></target>
          <uuid>12930c88-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p class="ocms_de_norm">Please click on the links below to access&nbsp;details of the BP Retailing Scheme:</p>
<p class="ocms_de_norm"><a title="BP Retailing Pension &amp; Life Assurance Scheme Members Guide" target="_self" href="%(link0)">member guide </a><br />
<br />
<a title="BP Retailing Pension &amp; Life Assurance Scheme Investment Guide" target="_self" href="%(link1)">investment guide</a><br />
<br />
<a title="BP Retailing Pension &amp; Life Assurance Scheme Jargon Buster" target="_self" href="%(link2)">jargon buster</a><br />
<br />
<a title="BP Retailing Pension &amp; Life Assurance Scheme Myth Buster" target="_self" href="%(link3)">myth buster</a><br />
<br />
You can download and print any of these forms if you want to:</p>
<ul>
    <li><a title="BP Retailing Pension &amp; Life Assurance Scheme Application Form" target="_self" href="%(link4)">join</a> the Scheme</li>
    <li><a title="Retailing Switch Form" href="%(link5)" target="_self">change</a> your unit linked investment choices</li>
    <li>start, change or stop your <a title="Retailing AVC Form" href="%(link6)" target="_self">additional voluntary contributions (AVCs)</a></li>
    <li>complete or change your <a title="BP Retailing Pension &amp; Life Assurance Scheme EoW form" target="_self" href="%(link7)">expression of wishes form</a></li>
    <li><span class="fakelink"><a title="Retail TVin Request letter" target="_self" href="%(link8)">transfer in</a> </span>previous pension benefits to the BP Pension Fund</li>
    <li>change <a title="Change of address and bank details form 09.01.08" target="_self" href="%(link9)">address/bank</a>&nbsp;details (only for pensioner or deferred members)</li>
</ul>
<p>If you have left BP and would like to transfer your Retailing Pension benefits to another pension arrangement, please download and complete <a title="TV-out form" target="_self" href="%(link10)">this form</a> to request a transfer value. Please note, we are only able to provide a transfer value once in any 12-month period.</p>
<p>To see the Rules that govern the BP Retailing Pension and Life Assurance Scheme, click on the link below.</p>
<p><a title="Rules of BP Retailing Pension and Life Assurance Scheme 28 Jun 2007" target="_self" href="%(link11)">Rules</a></p>
<p>The Scheme&nbsp;is set up and run in accordance with the <a href="%(link12)">Trust Deed</a> of the BP Pension Fund and Rules of the BP Retailing Pension and Life Assurance Scheme, which contain the detailed provisions of the Scheme. No other point of reference can override the Trust Deed and Rules if there is an inconsistency.</p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
