<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>communication</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/hikers_with_map.jpg]]></target>
          <uuid>86e31c12-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="hikers with map" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<p>we want&nbsp;you to make informed decisions and choices</p>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link6" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/AVC_Investment_Guide.pdf]]></target>
          <uuid>e815788d-a3c5-11df-a97c-4d6e53b46e73</uuid>
        </link>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/BP_simpler_pensions_deferred_pensioner.pdf]]></target>
          <uuid>0a79be51-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link5" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/BP_simpler_pensions_update.pdf]]></target>
          <uuid>0b22f6a3-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/AD_examples.pdf]]></target>
          <uuid>03978167-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/BP_simpler_pensions.pdf]]></target>
          <uuid>09d78adf-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/AD_announcement.pdf]]></target>
          <uuid>037d69b5-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/frequently_asked_questions.pdf]]></target>
          <uuid>0c4c5b79-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>BP Pensions aims to ensure that members understand their pension benefits and are able to make informed choices about retirement.</p>
<p>BP Pensions is committed to providing member communication that is:</p>
<ul>
    <li>easy to understand;</li>
    <li>accessible to all members;</li>
    <li>regular;</li>
    <li>targeted and personalised, where possible; and</li>
    <li>two-way and participative.</li>
</ul>
<p>Our approach is to help members take responsibility for their own retirement choices. This means giving them the right tools for informed decision making. These tools include PensionLine, newsletters, personal information, fact sheets, and seminars.</p>
<h2>communication material</h2>
<ul>
    <li><a title="AD announcement" target="_self" href="%(link0)">age discrimination announcement</a> - for <font face="Univers45Light">all UK employees in pensionable employments</font></li>
    <li><a title="frequently asked questions" target="_self" href="%(link1)">age discrimination</a> - frequently asked questions</li>
    <li><a title="AD examples" target="_self" href="%(link2)">age discrimination</a> - examples</li>
    <li><a title="BP simpler pensions" target="_self" href="%(link3)">simpler pensions</a> - general announcement on the changes to UK pension legislation for employee members</li>
    <li><a title="BP simpler pensions deferred pensioner" target="_self" href="%(link4)">simpler pensions (deferred and pensioner members)</a> - a brief guide to upcoming pension changes for deferred and pensioner members</li>
    <li><a title="BP simpler pensions update" target="_self" href="%(link5)">simpler pensions update</a> - further information about the upcoming changes to UK pensions legislation</li>
</ul>
<h2>investment guide</h2>
<ul>
    <li><a title="AVC Investment Guide" target="_self" href="%(link6)">AVC investment guide</a> - guides you through issues you should consider, the funds available and how to keep track of your investments&nbsp;</li>
</ul>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
