<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="headerleft">
      <links/>
      <content><![CDATA[<h1>resources</h1>]]></content>
    </element>
    <element name="headerleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/hikers_with_map.jpg]]></target>
          <uuid>86e31c12-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="hikers with map" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="headerleft3">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>This section contains the&nbsp;explanatory booklet, various forms and Scheme Rules for most of
the other BP pension schemes within the BP Pension Fund. Use the menu on the&nbsp;left to
access&nbsp;resources relevant to your Scheme.</p>
<p>If you are a member of a scheme not shown in the menu and would like further information about
your pension, please contact 
<a href="%(link0)">BP UK Pensions &amp; Benefits</a>.</p>]]></content>
    </element>
    <element name="headerleft4">
      <links/>
      <content><![CDATA[<p>
<font size="5">
<font size="5">
<font size="3">
<font size="5">
<font size="5">use these resources to manage your pension</font>
</font>
</font>
</font>
</font>
</p>]]></content>
    </element>
    <element name="headerleft5">
      <links>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/Member_Fair_Processing_Statement.pdf]]></target>
          <uuid>98e1ac35-8bc8-11de-bd34-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/Resources/RxA.html]]></target>
          <uuid>12651eb3-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/Resources/Investment.html]]></target>
          <uuid>1240a6be-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/Resources/Trust_Deed.html]]></target>
          <uuid>12930c88-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/Deed_altering_Rules_of_BP_Gas_Scheme.pdf]]></target>
          <uuid>98fb54bd-5e99-11e0-a834-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>You can also find information about how the BP Pension Fund is operated and managed by accessing:</p>
<ul>
    <li>the <a href="%(link0)">Trust Deed</a>;</li>
    <li>the <a title="Deed altering Rules of BP Gas Scheme" href="%(link1)" target="_self">Deed altering Rules of BP Gas Scheme</a>;&nbsp;</li>
    <li>the latest <a href="%(link2)">Report &amp; Accounts</a>; and</li>
    <li>the <a href="%(link3)">funding and investment</a> approach; and</li>
    <li>the <a title="Member Fair Processing Statement" target="_self" href="%(link4)">member fair processing statement</a>&nbsp;</li>
</ul>]]></content>
    </element>
    <element name="headerleft6">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-100x100/lady_pruning.jpg]]></target>
          <uuid>6028b65a-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="100" alt="lady pruning" width="100" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
  </page>
</pages>
