<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1 align="left">Trustee's report and accounts</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/hikers_with_map.jpg]]></target>
          <uuid>86e31c12-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="hikers with map" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<p>view the full and summary version of the report and accounts online</p>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/Pension_Highlights_2008.pdf]]></target>
          <uuid>8864be33-d8fe-11de-a368-4d6e53b46e73</uuid>
        </link>
        <link name="link5" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/Pensions_Highlights_Extra_-_Dec_2010.pdf]]></target>
          <uuid>d1bb42b0-01df-11e0-9680-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/Pension_Highlights_2009.pdf]]></target>
          <uuid>276f69ff-b996-11df-86bd-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/BPPF_Trustee_RxA_2010.pdf]]></target>
          <uuid>bd606725-abca-11e0-8846-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/Pensions_Highlights_2010.pdf]]></target>
          <uuid>2b423f6f-d540-11e0-b05b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>Each year, the Trustee produces a formal report and accounts. This includes an investment report, audited accounts for the Fund and details of the Trustee and its professional advisers.</p>
<p><a title="BPPF Trustee R&amp;A 2010" target="_self" href="%(link0)">Trustee's report and accounts 2010</a></p>
<p>A summary version of the report and accounts, <em>Pensions Highlights</em>, is sent out to Fund members every year.</p>
<p><a title="Pensions Highlights 2010" href="%(link1)" target="_self">Pensions Highlights 2010</a></p>
<p><a title="Pensions Highlights Extra - Dec 2010" target="_self" href="%(link2)">Pensions Highlights Extra</a></p>
<p><a title="Pension Highlights 2009" target="_self" href="%(link3)">Pensions Highlights 2009</a></p>
<p><a title="Pension Highlights 2008" target="_self" href="%(link4)">Pensions Highlights 2008</a></p>
<p>An actuarial valuation is carried out at least once every three years. Its purpose is to review the financial health of the Fund. A copy of the latest valuation is available on request from <a href="%(link5)">BP UK&nbsp;Pensions&nbsp;&amp; Benefits</a>.</p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
