<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>trust deed</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/hikers_with_map.jpg]]></target>
          <uuid>86e31c12-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="90" alt="hikers with map" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<font size="5">use these resources to manage your pension</font>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/Company_Complaints_Procedure.pdf]]></target>
          <uuid>c40ffa95-67b0-11de-a394-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/Company_Complaints_Procedure_-_Flowchart.pdf]]></target>
          <uuid>54e85220-67b0-11de-a394-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/BPPF_Trust_Deed_2012.pdf]]></target>
          <uuid>e0337a0b-b462-11e1-9b5a-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/IDRP_PDF.pdf]]></target>
          <uuid>58e49b91-b46c-11e1-9b5a-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The formal documents which govern the running of the BP Pension Scheme are:</p>
<ul>
    <li><a title="BPPF Trust Deed 2012" target="_self" href="%(link0)">The BP Pension Fund Trust Deed</a></li>
    <li>the Rules of the various&nbsp;schemes within the BP Pension Fund&nbsp;</li>
</ul>
<p>The BP Pension Scheme is set up and run in accordance with the Trust Deed and Rules, which contain the detailed provisions of the Scheme. No other point of reference can override the Trust Deed and Rules if there is an inconsistency, the Trust Deed and Rules will always prevail.</p>
<p>If you have a complaint or dispute&nbsp;that cannot be resolved informally with BP UK Pensions&nbsp;&amp; Benefits, you may invoke the Fund's<a title="IDRP PDF" href="%(link1)" target="_self">internal dispute resolution procedure.</a> This procedure can only be used to resolve a dispute with the Trustee. It cannot be used to resolve any Company-related issues such as a complaint about the Supplementary Pension Plan.</p>
<p>For Company-related issues, you should refer to the Company Complaints Process covering pensions operations. To read the Procedure and for copy of the Company Complaint Form, click <font color="#009900"><a title="Company Complaints Procedure" target="_self" href="%(link2)">here</a></font>. For a general process flowchart of the Procedure, click <span style="color: #808000"><font color="#009900"><a title="Company Complaints Procedure - Flowchart" target="_self" href="%(link3)">here</a></font></span>. Matters unrelated to pensions are excluded from this procedure and should be handled via the Company&rsquo;s standard Grievance Procedure.</p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
