<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>change my password</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links/>
      <content><![CDATA[<p>
<font face="Verdana" color="#666666">Thank you. Your password has been changed.</font>
</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/limes.jpg]]></target>
          <uuid>879fb567-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="limes" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>you should
<br />change your password at least once&nbsp;every
<br />three months</p>]]></content>
    </element>
  </page>
</pages>
