<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>change my password</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.test/resources/spinning_image.gif]]></target>
          <uuid>b85fb07c-1915-11de-b6d2-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>Your password is the key to your information and you must keep it safe at all times. You can
change your password at any time using the form below. Please bear in mind that for your security,
your new password must meet certain criteria.</p>
<ul>
<li>Your password must be at least&nbsp;eight characters long.</li>
<li>Your password must contain at least&nbsp;three of the&nbsp;four character groups.</li>
<li>Your password must not contain your username.</li>
</ul>
<p>The&nbsp;four character groups are as follows:</p>
<ul>
<li>Upper case letters (A-Z)</li>
<li>Lower case letters (a-z)</li>
<li>Numbers (0-9)</li>
<li>Special characters (£$%&amp;*+-=~@#?)</li>
</ul>
<div class="login_holder">
<form action="" method="post">
<div id="error_text" style="COLOR: rgb(255,0,0)" name="error_text" align="center">&nbsp;</div>
<div class="component_holder">
<div class="component_label">
<label for="_current_password">Current password</label>
</div>
<div class="component_value">
<input id="_current_password" type="password" name="_current_password" />
</div>
</div>
<div class="component_holder">
<div class="component_label">
<label for="_new_password">New password</label>
</div>
<div class="component_value">
<input id="_new_password" type="password" name="_new_password" />
</div>
</div>
<div class="component_holder">
<div class="component_label">
<label for="_confirm_password">Confirm new&nbsp;password</label>
</div>
<div class="component_value">
<input id="_confirm_password" type="password" name="_confirm_password" />
</div>
</div>
<div class="component_holder">
<div class="component_label">&nbsp;</div>
<div class="component_value">
<input class="goButton" id="dochange"
onclick="javascript:ChangePassword(_current_password.value,_new_password.value,_confirm_password.value);"
 type="button" name="dochange" value="Go" /><span id="loading" style="display: none"><img alt="validating..." src="%(link0)" /></span>
</div>
</div>
</form>
</div>
<p>&nbsp;</p>
<p>
<strong>Note</strong>: BP&nbsp;recommends that you change your password at least
once&nbsp;every&nbsp;three months.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/limes.jpg]]></target>
          <uuid>879fb567-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="limes" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>you should
<br />change your password at least once&nbsp;every
<br />three months</p>]]></content>
    </element>
  </page>
</pages>
