<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>find something</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links/>
      <content><![CDATA[<p>Please enter&nbsp;the term that you would like to search for in the box provided below. For future reference, you can&nbsp;find&nbsp;the search box in the top right hand corner of&nbsp;each page on&nbsp;the&nbsp;site.</p>
<div class="login_holder">
<form method="get" action="/content/pl/result.jsp">
    <div class="login_component_holder">
    <div class="login_label"><label for="query">Search for</label></div>
    <div class="login_value"><input id="query" name="query" type="text" /></div>
    <!--
    </div>
    <div class="login_component_holder">
    <div class="login_label">&nbsp;</div>
-->
    <div class="login_value"><input id="doauth" class="goButton" type="submit" name="doauth" value="Go" /></div>
    </div>
    <input type="hidden" name="index" value="Online project EN (VFS)" />
</form>
</div>
<div class="login_holder">
<p>&nbsp;</p>
</div>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/lady_with_binoculars.jpg]]></target>
          <uuid>870486c5-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="lady with binoculars" width="178" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>you can search the whole of the site</p>]]></content>
    </element>
  </page>
</pages>
