<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>imail</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[mailto:pensionlineuk@bp.com]]></target>
        </link>
      </links>
      <content><![CDATA[<p>Unfortunately, this service is temporarily unavailable. Please email your query to the 
<a href="%(link0)">PensionLine Support Team</a>. Please note that if emailing
from outside of&nbsp;the BP network, your email will not be secure, so please do not include
personal information.</p>]]></content>
    </element>
  </page>
</pages>
