<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="headerright">
      <links/>
      <content><![CDATA[<h1>I want to...</h1>]]></content>
    </element>
    <element name="headerright2">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/I_want_to/update_something/index.html]]></target>
          <uuid>2abd6583-19af-11de-8a9b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/I_want_to/find_something.html]]></target>
          <uuid>29560cda-19af-11de-8a9b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>You can&nbsp;use this section to change your details&nbsp;and choices or to find more information.</p>
<p>Use the menu on the left if you <a href="%(link0)">want to&nbsp;update something</a> or if you <a href="%(link1)">want to find something</a>.</p>]]></content>
    </element>
    <element name="headerright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/limes.jpg]]></target>
          <uuid>879fb567-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="90" alt="limes" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="headerright4">
      <links/>
      <content/>
    </element>
    <element name="headerright5">
      <links/>
      <content/>
    </element>
    <element name="headerright6">
      <links/>
      <content/>
    </element>
  </page>
</pages>
