<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>transfer in pension benefits&nbsp;from another provider</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/BP_TVin_Request_Letter_18.09.07.doc]]></target>
          <uuid>183cffe5-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/I_am_an_employee/Transfer_in/index.html]]></target>
        </link>
      </links>
      <content><![CDATA[<p>If you would like to transfer in pension benefits from another pension provider to the BP
Pension Fund, you can download a transfer in request letter 
<a title="BP_TVin_Request_Letter_18.09.07"
href="%(link0)"
target="_self">here</a>.</p>
<p>For more information on transfers in, please click 
<a href="%(link1)">here</a>.</p>]]></content>
    </element>
  </page>
</pages>
