<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>transfer&nbsp;your BP pension benefits&nbsp;to another provider</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/TV-out_form.pdf]]></target>
          <uuid>1af12385-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/I_have_left_BP/Transfers_out.html]]></target>
        </link>
      </links>
      <content><![CDATA[<p>If you would like to transfer&nbsp;your BP&nbsp;pension benefits&nbsp;to another pension
provider, you can download a transfer&nbsp;out form 
<a title="TV-out form" href="%(link0)"
target="_self">here</a>.</p>
<p>For more information on transfers out, please click 
<a href="%(link1)">here</a>.</p>]]></content>
    </element>
  </page>
</pages>
