<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>redundancy explanatory notes</h1>]]></content>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<h2>accuracy of the data</h2>
<p>All the figures shown on the &lsquo;redundancy&rsquo; page are for illustration only. Although every effort has been made to ensure the accuracy of the data, the information provided does not give you any rights to the benefits shown.</p>
<h2>12-month modelling limit</h2>
<p>We have limited the modelling capability on redundancy to 12 months from today&rsquo;s date as no one should be planning on taking a redundancy package further ahead than this.&nbsp;</p>
<h2>if you are under age 50</h2>
<p>If you are under age 50, the pension element will not be shown in the redundancy modeller as&nbsp;you cannot&nbsp;draw&nbsp;your pension before age 50 (55 from April 2010).</p>
<p>Do not use the retirement modeller as this assumes that you&nbsp;are resigning from the&nbsp;Company with your employer's consent and therefore without any enhanced redundancy terms.&nbsp;</p>
<h2>overseas service</h2>
<p>If you have periods of BP overseas service, provided each period is longer than one tax year, you may qualify for additional tax-free allowances over and above the initial &pound;30,000.</p>
<h2>tax</h2>
<p>The first &pound;30,000 of your redundancy cash lump sum will be paid tax free. Any remaining balance of the Termination Payment will be subject to deduction of income tax at the appropriate rates as required by law.You will be responsible for paying any additional tax or reclaiming any overpaid tax arising as a result of this calculation.&nbsp;</p>
<h2>data protection</h2>
<p>Under the terms of the Data Protection Act 1998, the Company and the Trustee hold personal details about you for the purpose of administering your pension benefits. This information will be made available to third party organisations who are working for and on behalf of the Company or the Trustee for the purpose of pension administration.</p>]]></content>
    </element>
  </page>
</pages>
