<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>redundancy modeller</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/this_is_me.html]]></target>
          <uuid>f5dc1531-1aa9-11de-9548-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[]]></target>
          <anchor><![CDATA[]]></anchor>
        </link>
      </links>
      <content><![CDATA[<div id="modeller">
<p>Here you can see what your estimated benefits would be if you were to be made redundant. The figures shown below are based on your current choices and information&nbsp;in <a href="%(link0)">this is me</a>&nbsp;and assume that there will be no change to your current pensionable salary.</p>
<p>You can choose a potential redundancy date up to 12 months from today. To choose a redundancy date, click on the 'redundancy date' link in the table below.</p>
<div class="controlable_panel" id="date_panel">
<h3>redundancy date</h3>
<p>Please select a date from the options below and click <strong>Model</strong>.</p>
<form style="visibility: visible" action="#" method="get">
    <div class="slider_panel"><input class="slider_," id="input_co_nra" readonly="readonly" name="input_co_nra" type="text" /> &nbsp; <input class="goButton" type="button" onclick="submitRedundancyRequest(); return false;" value="Model" /></div>
</form>
<p>&nbsp;</p>
</div>
<table class="planner_table" id="redundancy_planner" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="blank">&nbsp;</th>
            <th class="current_option">Estimated benefits</th>
        </tr>
        <tr>
            <td class="option_name"><a onclick="javascript:modeller_popupControlPanel('date_panel', true); return false;" href="%(link1)">Redundancy date</a></td>
            <td class="modelled_option" id="rDate"><span contenteditable="false">[[RedundancyDate]]</span></td>
        </tr>
        <tr>
            <td class="option_name">Ex-Gratia payment amount</td>
            <td class="modelled_option" id="egpCash"><span contenteditable="false">[[EgpCash]]</span></td>
        </tr>
        <tr>
            <td class="option_name">Additional&nbsp;Statutory Redundancy Payment</td>
            <td class="modelled_option" id="srpCash"><span contenteditable="false">[[SrpCash]]</span></td>
        </tr>
        <tr>
            <td class="option_name">Taxable amount</td>
            <td class="modelled_option" id="taxableCash"><span contenteditable="false">[[TaxableCash]]</span></td>
        </tr>
    </tbody>
</table>
<div class="caveat" id="red_retire" style="visibility: hidden">
<p>As you are also of pensionable age, if you were to take an immediate retirement with your redundancy you could receive the following benefits.</p>
<table class="planner_table" id="redundancy_planner" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="blank">&nbsp;</th>
            <th class="current_option">Estimated benefits</th>
        </tr>
        <tr>
            <td class="option_name">Retirement&nbsp;pension</td>
            <td class="modelled_option" id="rPension"><span contenteditable="false">[[RrReducedPension]]</span></td>
        </tr>
        <tr>
            <td class="option_name">Spouse's/civil partner's pension</td>
            <td class="modelled_option" id="spousesPension"><span contenteditable="false">[[RrSpousesPension]]</span></td>
        </tr>
        <tr>
            <td class="option_name">Maximum cash lump sum</td>
            <td class="modelled_option" id="maxCashLumpSum"><span contenteditable="false">[[RrMaxLumpSum]]</span></td>
        </tr>
        <tr>
            <td class="option_name">Residual pension taking the maximum lump sum</td>
            <td class="modelled_option" id="residualPension"><span contenteditable="false">[[RrResidualPension]]</span></td>
        </tr>
    </tbody>
</table>
</div>
<script type="text/javascript">
    Calendar.setup({
        inputField     :    "input_co_nra",     
        ifFormat       :    "%e %B %Y",
        displayArea    :    "show_e",       
        daFormat       :    "%A, %B %d, %Y",
        button         :    "f_trigger_e",  
        align          :    "Br",           
        singleClick    :    true
    });

//window.document.body.onload = function()

window.onload = function()
{
     if (project == "Offline")
     {
        return false;
     }     
     ParseHtml();
     setTimeout('loadRedundancyRequest()', 300);
}

</script></div>]]></content>
    </element>
  </page>
</pages>
