<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content/>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<h1>Add report group</h1>
<p>Please input the name of the report group.</p>
<form action="" method="get">
<div class="report_component_holder">
<div class="report_label">
<label for="report_title">Name</label>
</div>
<div class="report_value">
<input id="report_group_name" size="50" name="report_group_name" type="text" />
</div>
</div>
<br /> 
<div class="report_component_holder">
<div class="report_label">
<label>&nbsp;</label>
</div>
<div class="report_value" style="TEXT-ALIGN: right">
<input class="goButton" id="_add_report" type="button" onclick="sendAddReportGroupRequest();"
name="_add_report" value="Save" />&nbsp; 
<input class="goButton" id="_cancel_report" type="button" onclick="cancelAddEditReportGroup();"
value="Cancel" /></div>
</div></form>]]></content>
    </element>
  </page>
</pages>
