<%@ page session="false" %>
<%@page import="java.util.*"%>
<%@page import="com.bp.pensionline.sqlreport.handler.*"%>
<%@page import="com.bp.pensionline.sqlreport.dto.db.*"%>
<%@ taglib prefix="cms" uri="http://www.opencms.org/taglib/cms" %>
<cms:include property="template" element="head" />
<%
	Vector reportGroups = ManageReportGroupHandler.listAllReportGroups();
%>
<h1>Manage Report Groups</h1>
<p>The list below contains the grouped reports that are created. To see the reports of this group, select the group name. To remove or edit existing top level groups, select 'Edit this Report Group'. To grant report runners to access this top level group, select 'Add users to this Report Group'. To add more top level groups, select the 'Add
Report Group' button.</p>
<div id="casework_search"  style="display:none;">
<div class="login_component_holder">
<div class="imail_label"><label for="_request_caseworkid">Name</label> </div>
<div class="login_value"><input id="_request_caseworkid" name="_request_caseworkid" type="text" /> </div>
<div class="login_value"><input class="goButton" type="button" value="Go" /> </div>
</div>
<div class="login_component_holder">
<div class="imail_label">&nbsp;</div>
<div class="login_value">or</div>
</div>
<div class="login_component_holder">
<div class="imail_label"><label for="_request_refno">Assigned to</label> </div>
<div class="login_value"><input id="_request_refno" name="select_usergroup_text" type="text" /> </div>
<div class="login_value"><a href=""><img alt="Select a user" onclick="selectUser(); return false;" src="/content/pl/system/modules/com.bp.pensionline.template/resources/gfx/addUser.gif" /> </a><a href=""><img alt="Select a group" onclick="selectGroup(); return false;" src="/content/pl/system/modules/com.bp.pensionline.template/resources/gfx/addGroup.gif" /> </a><input class="goButton" type="button" value="Go" /></div>
</div>
</div>
<div class="ws_report_list" style="BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 2em">
<%
	for (int i = 0; i < reportGroups.size(); i++)
	{
		ReportGroup report = (ReportGroup)reportGroups.elementAt(i);
		if (report != null)
		{
			String groupId = report.getId();
			String name = report.getName();
			if (name == null || name.trim().equals(""))
			{
				name = "Unknown";
			}
%>
<div class="ws_report" style="BORDER-TOP: #ccc 1px solid; PADDING-TOP: 10px">
<div class="ws_report_icon"><img alt="Edit this report group" src="/content/pl/system/modules/com.bp.pensionline.template/resources/gfx/reportGroupIcon.gif" /></div>
<div class="ws_report_text">
	<a style='float:right;' href="edit_report_group.jsp?id=<%=groupId%>">Edit this Report Group</a>
<h2><a href="update_report_of_group.jsp?groupId=<%=groupId%>"><%=name%> </a></h2>
</div>
<div class="ws_report_text">
	<a style='float:right;' href="update_user_of_group.jsp?groupId=<%=groupId%>">Add users to this Report Group</a>
</div>
</div>
<%
		}
	}
%>
</div>
<div class="report_component_holder">
<div style="TEXT-ALIGN: right">
	<input class="goButton" id="_add_report_group" type="button" onclick="addNewReportGroup();" value="Add Report Group" />
</div>
</div>
</div>
<script type='text/javascript'>
function selectUser()
{
    var selectWindow = window.open('/content/pl/sql_report/manage_report/select_user_ex.jsp',
'select_user','height=400,width=250,scrollbars=1');
    selectWindow.moveTo(380, 200);
}
function selectGroup()
{
    var selectWindow = window.open('/content/pl/sql_report/manage_report/select_group_ex.jsp',
'select_user','height=400,width=250,scrollbars=1');
    selectWindow.moveTo(380, 200);
}
function addNewReport()
{
    window.location = '/content/pl/sql_report/manage_report/add_report.html'
}
function addNewReportGroup()
{
    window.location = '/content/pl/sql_report/manage_report_group/add_report_group.html'
}
</script>
<cms:include property="template" element="foot" />