<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="headerright">
      <links/>
      <content><![CDATA[<h1>people</h1>]]></content>
    </element>
    <element name="headerright2">
      <links>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bc/People/Admin.html]]></target>
          <uuid>0eb66ea2-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bc/People/Trustee/]]></target>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bc/People/Consultation.html]]></target>
          <uuid>0ebcfe57-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The BP Pension Fund is managed and supported by a number of different bodies and people. In this section, you can find out more about the <a target="_self" href="%(link0)">Trustee</a>, the <a href="%(link1)">Consultation Forum</a> and the <a href="%(link2)">Pensions Team</a>.</p>]]></content>
    </element>
    <element name="headerright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/green_leaf.jpg]]></target>
          <uuid>866ab7b0-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="green leaf" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="headerright4">
      <links/>
      <content/>
    </element>
    <element name="headerright5">
      <links/>
      <content/>
    </element>
    <element name="headerright6">
      <links/>
      <content/>
    </element>
  </page>
</pages>
