<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="headerright">
      <links/>
      <content><![CDATA[<h1>BP Pension Trustees Limited</h1>]]></content>
    </element>
    <element name="headerright2">
      <links>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/People/Trustee/Operations.html]]></target>
          <uuid>10050ebe-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link5" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/People/Trustee/Pension_increases.html]]></target>
          <uuid>100a8d03-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/People/Trustee/CHIEF.html]]></target>
          <uuid>0ff493f1-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/People/Trustee/Trustee.html]]></target>
          <uuid>10164cdd-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/People/Trustee/Role/index.html]]></target>
          <uuid>1020d437-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/People/Trustee/Sub-committees.html]]></target>
          <uuid>10108078-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>BP Pension Trustees Limited is a trustee company that manages the Fund on behalf of all
members.</p>
<p>On this site&nbsp;you can find out more about:</p>
<ul>
<li>the 
<a href="%(link0)">role</a> of the Trustee;</li>
<li>the role of the Trustee 
<a href="%(link1)">Sub-commitees</a>&nbsp;and the
Trustee's advisers;</li>
<li>the role of the 
<a href="%(link2)">Chief Executive Officer
(CEO)</a>&nbsp;to BP Pension Trustees Limited and the Trustee office;</li>
<li><span class="fakelink">
<a title="Trustee Directors" href="%(link3)">who</a>
</span> the Trustee Directors are;</li>
<li>the 
<a href="%(link4)">day-to-day operations</a> of the
Fund; and&nbsp;</li>
<li>how the Trustee decides 
<a href="%(link5)">pension increases</a>.</li>
</ul>]]></content>
    </element>
    <element name="headerright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x180/green_leaf.jpg]]></target>
          <uuid>761c85f2-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="180" alt="green leaf" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="headerright4">
      <links/>
      <content/>
    </element>
    <element name="headerright5">
      <links/>
      <content/>
    </element>
    <element name="headerright6">
      <links/>
      <content/>
    </element>
  </page>
</pages>
