<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>becoming a Member-nominated Director</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/People/Trustee/Role/index.html]]></target>
          <uuid>1020d437-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/Statement_of_funding_and_investment_principals.pdf]]></target>
          <uuid>02b9f29e-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="false" type="A">
          <target><![CDATA[http://www.thepensionsregulator.gov.uk/trustees/index.aspx]]></target>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/People/Trustee/Role/index.html]]></target>
          <uuid>1020d437-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/Resources/TDxR.html]]></target>
          <uuid>104d89ac-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The Trustee Board comprises 11 Trustee Directors, four of who are Member Nominated Directors (MNDs). From time to time, MND vacancies arise.</p>
<p>The role of any Trustee Director carries a lot of responsibility. However, it is a challenging and rewarding experience.</p>
<p>If you are thinking about standing for selection as an MND in a future MND nomination, you should read this section carefully, before making up your mind.</p>
<h2>the role of the Trustee</h2>
<p>You can find out what being a Trustee involves in the <a title="Role of the Trustees" href="%(link0)">role of the Trustee</a> section.</p>
<h2>knowledge and understanding</h2>
<p>As a Trustee Director, you will need to have knowledge and understanding of the law relating to pensions and trusts, the funding of pension schemes, and the investment of assets, as well as a range of other issues. All BP Pension Fund Trustee Directors undergo trustee training and are encouraged to attend workshops and seminars.</p>
<p>You will also need to be familiar with certain fund documents including the <a title="trust deed and rules" href="%(link1)">trust deed and rules</a> and the <a title="Statement of funding and investment principals" target="_self" href="%(link2)">statement of funding and investment principles</a>.</p>
<h2>time and commitment</h2>
<p>The role of a Trustee Director requires a substantial commitment of time - served both on the Trustee Board and dealing with other trustee business. It is expected that this time will amount to at least 20 days (or part days) a year. If you are an employee member, the Company will allow you to take paid time off to carry out your duties. However, additional personal time preparing for meetings will often be necessary as well.</p>
<p>You can find additional information about the role and responsibilities of a Trustee Director at The Pensions Regulator's <a title="Pensions Regulator" href="%(link3)">website</a>.</p>
<h2>MND categories</h2>
<p>The four MNDs are drawn from the following categories of Fund membership:</p>
<ul>
    <li>Active -&nbsp;one MND</li>
    <li>Pensioner and deferred pensioner -&nbsp;one MND</li>
    <li>All member -&nbsp;two MNDs</li>
</ul>
<p>The 'active' category includes all employee members of the Fund.</p>
<p>The 'pensioner and deferred pensioner' category includes:</p>
<ul>
    <li>all those currently drawing a pension, including those in receipt of a survivor's pension or an incapacity pension but excluding those in receipt of a children's pension;</li>
    <li>all those who have left the company but have not yet started drawing their pension.</li>
</ul>
<p>The 'all member' category comprises all members of the Fund, except those in receipt of a children's pension.</p>
<h2>the selection process</h2>
<p>When an MND vacancy arises, the Trustee will invite applications from the Fund members in the relevant category (as listed above). To be eligible, you must have been a member of the Fund for at least two years at the date of your application and, for reasons of practicality, should normally be resident in the UK.</p>
<p>You will be required to obtain ten individual written sponsorships from your member category, supporting your application. However, if applying for re-selection, you will not be required to provide this information again.</p>
<p>You will also be asked to complete a questionnaire to allow the Trustee Board or a designated sub-committee (MND Selection Committee) to:</p>
<ul>
    <li>understand why you would like to become an MND;</li>
    <li>gauge your understanding of the <a href="%(link4)">role</a> and responsibilities of a Trustee Director; and</li>
    <li>assess your overall ability to contribute to the Trustee's business.</li>
</ul>
<p>The MND Selection Committee will then interview some or all of the applicants, before making its recommendation to the rest of the Trustee Board.</p>
<p>The MND Selection Committee attaches particular importance to any relevant experience or competencies that you may have (or can gain through education and training) which will enable you&nbsp;to fulfill your role as an MND successfully.</p>
<h2>term of office</h2>
<p>An MND's initial term of office is four years. After this time, an MND may apply for re-selection for up to two further terms, each of three years, i.e.&nbsp;ten years in total.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/green_leaf.jpg]]></target>
          <uuid>866ab7b0-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="90" alt="green leaf" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<font size="5">the role of an MND is challenging yet rewarding</font>]]></content>
    </element>
  </page>
</pages>
