<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[Internationallymobileandoverseasworkers]]></Anchor>
    <Title><![CDATA[Internationally mobile and overseas workers]]></Title>
    <Question><![CDATA[I am a Burmah Castrol Pension Fund member – what happens to my contributions? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>You will continue to pay the mandatory employee contribution required under your Fund
section.</p>
<p>You can also continue to pay AVCs. However, you will not receive any tax relief on these whilst
you are overseas.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
