<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[Internationallymobileandoverseasworkers]]></Anchor>
    <Title><![CDATA[Internationally mobile and overseas workers]]></Title>
    <Question><![CDATA[I am working overseas, but am still accruing benefits in one of BP's UK pension schemes – will my membership be affected? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Your membership of the BP or Burmah Castrol Pension Funds is unchanged. You will continue to
build up benefits in the same way as now.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
