<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[Internationallymobileandoverseasworkers]]></Anchor>
    <Title><![CDATA[Internationally mobile and overseas workers]]></Title>
    <Question><![CDATA[Does the lifetime allowance apply to me whilst I am overseas? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Yes, but HM Revenue &amp; Customs (HMRC) recognises that during your period of non-UK service,
you do not benefit from any UK tax relief on your pension growth and any contributions made.
Therefore, to 'compensate' you for this, HMRC may allow you to register a higher lifetime
allowance. This enhancement applies to your overseas service from 6 April 2006.</p>
<p>The enhancement is calculated by applying a 'lifetime allowance enhancement factor'. The factor
is based on how much your pension benefits have increased during your overseas service.</p>
<p>This will include the increase in value of your 'defined benefit' pension and also the face
value of any contributions you have paid into a 'defined contribution' pension arrangement (such as
AVCs). The enhancement factor is calculated by dividing the total increase in benefit value by the
standard lifetime allowance in place at the end of your period overseas. Your actual enhanced
lifetime allowance is calculated at the time you take your benefits.</p>
<p>
<strong>Example</strong>
</p>
<p>
<em>Vijay is a member of the BP Pension Scheme. During his five years of overseas service, his
Scheme pension has increased by £25,000 pa (which, for lifetime allowance purposes, is multiplied
by a factor of 20 to make £500,000). He also pays in AVCs of £50,000 during the period
overseas.</em>
</p>
<p>
<em>Standard lifetime allowance at the end of the period = £1.8m (for example)
<br /> Increase in value of Vijay’s pension over the period = £500,000 (£25,000 x 20) + £50,000
AVCs = £550,000
<br /> Enhancement factor = 0.31 (£550,000 / £1.8m)
<br /> Standard lifetime allowance at the time when Vijay retires = £2m (for example)
<br /> Enhanced lifetime allowance = £2.62m (£2m + (£2m x 0.31))</em>
</p>
<p>For higher earners, the effect of the enhancement is to enable more of your BP pension to be
paid from the BP or Burmah Castrol Pension Fund, rather than through the new Supplementary Pension
Plan.</p>
<p>Please note that even if you are entitled to enhance your lifetime allowance, you may not need
to do so. Enhancement will be beneficial where the total value of your UK pension benefits is
likely to exceed the standard lifetime allowance.</p>
<p>Please note that despite the similarity in name, the 'enhancement factor' above is unconnected
with 'enhanced protection' (one of the transitional arrangements available for protecting benefits
already built up at 5 April 2006).
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
