<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[Internationallymobileandoverseasworkers]]></Anchor>
    <Title><![CDATA[Internationally mobile and overseas workers]]></Title>
    <Question><![CDATA[Can I still make contributions to the BP Pension Fund and do I get tax relief on them?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>If you are a member of the BP Pension Scheme, you can continue to pay contributions under one of
the five 'contributory options'. You can also continue to pay AVCs.</p>
<p>However, you will not receive any tax relief on these whilst you are overseas. BP does not
'equalise' tax relief in such situations, as payment of contributory options or AVCs are a personal
investment decision.</p>
<p>If and when you return to the UK, you may be interested in some of the new opportunities for
tax-efficient pension saving.</p>
<ul>
<li>The Government will allow you to be an active member of as many pension arrangements as you
wish, at the same time.&nbsp;</li>
<li>&nbsp;You can make tax-free contributions representing up to 100% of salary (subject to the
annual allowance).</li>
</ul>
<p>Please note, however, that BP's pension schemes have a contribution limit (15% of pay each
year), so these new opportunities largely relate to the option of taking out personal pension
arrangements outside of BP.
<br /></p>]]></content>
    </Answer>
    <new_edited>false</new_edited>
  </PhraseType>
</FaqPhraseTypes>
