<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[Internationallymobileandoverseasworkers]]></Anchor>
    <Title><![CDATA[Internationally mobile and overseas workers]]></Title>
    <Question><![CDATA[I am currently/was previously localised overseas under the terms of BP's global pension transfer policy (GPTP). My UK service pension remains in the UK indexed to earnings, and I build up future pension benefits under BP's local pension plan. Are there any UK pensions tax simplification issues for me? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>The growth in the value of your UK deferred pension benefits will be assessed against the
lifetime allowance.</p>]]></content>
    </Answer>
    <new_edited>true</new_edited>
  </PhraseType>
</FaqPhraseTypes>
