<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[Internationallymobileandoverseasworkers]]></Anchor>
    <Title><![CDATA[Internationally mobile and overseas workers]]></Title>
    <Question><![CDATA[I am working in the US – are there any tax issues if part of my pension benefits build up in the new Supplementary Pension Plan? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>BP is still considering the impact of the UK pensions tax simplification changes on the existing
double tax treaty between the UK and the US.</p>
<p>Should any issue arise in relation to the Supplementary Pension Plan, BP will make good any tax
payable in the US (unless you have been specifically advised to the contrary) under existing tax
equalisation policies for assignments to the US.</p>
<p>This means that you can continue to build up tax effective benefits in the BP or Burmah Castrol
Pension Fund.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
