<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[Internationallymobileandoverseasworkers]]></Anchor>
    <Title><![CDATA[Internationally mobile and overseas workers]]></Title>
    <Question><![CDATA[How do I qualify for an enhanced lifetime allowance? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>To qualify for an enhancement, you must not be a UK resident, not in receipt of any UK taxable
earnings and not employed by a UK employer during the period overseas.</p>
<p>You will need to register with HMRC to receive an enhancement. HMRC will provide a certificate
confirming your enhanced lifetime allowance and supplying you with the enhancement factor, which
you should provide to BP UK Pensions &amp; Benefits.</p>
<p>To register, you should complete and submit form APSS 202 no later than five years after 31
January following the end of the tax year in which the overseas 'accrual period' ends. That happens
when the earliest of the following events occurs:</p>
<ul>
<li>you resume UK service and begin to receive tax relief on your pension growth and
contributions;</li>
<li>you stop building up benefits in the BP or Burmah Castrol Pension Fund ; or</li>
<li>you retire and begin to take your BP pension benefits.</li>
</ul>
<p>If you have more than one period of overseas service after 6 April 2006, you may need to submit
additional APSS 202 forms for each period.
<br /></p>
<p>
<strong>Example (courtesy of the HMRC website)</strong>
</p>
<p>
<em>Phillip returned from an overseas assignment on 1 June 2007. For tax purposes, his overseas
'accrual period' is considered to have ended on 5 April 2007. At that time, he was still building
up benefits under a UK pension arrangement and had not been paid benefits from it.</em>
</p>
<p>
<em>To claim an enhancement to the lifetime allowance, Phillip must submit a completed form APSS
202 to HMRC no later than five years after 31 January 2008, i.e. by 31 January 2013.</em>
</p>
<p>
<em>Phillip was then seconded to work overseas again on 1 January 2009. This overseas 'accrual
period' began on 6 April 2009 (the start of the following tax year). He returned to work in the UK
on 1 January 2011, which means that his overseas accrual period ended on 5 April 2010 (as he
resumed UK residency during the 2010-2011 tax year). On 5 April 2010, Philip was still building up
benefits under his UK pension arrangement and had not received benefits from it.</em>
</p>
<p>
<em>Phillip must submit another completed form to HMRC no later than five years after 31 January
2011, i.e. by 31 January 2016.
<br /></em>
</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
