<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[Internationallymobileandoverseasworkers]]></Anchor>
    <Title><![CDATA[Internationally mobile and overseas workers]]></Title>
    <Question><![CDATA[Does the annual allowance apply whilst I am overseas? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>If you are a member of a UK registered pension scheme (such as the BP Pension Scheme), the Annual Allowance (AA) Regulations will apply regardless of your UK tax residence status. However, where an AA tax charge is levied, depending on the level of other UK source taxable income you may have in the relevant tax year, it is likely that a non resident will pay a lower marginal rate of UK tax than someone who is impacted and is resident.</p>]]></content>
    </Answer>
    <new_edited>false</new_edited>
  </PhraseType>
</FaqPhraseTypes>
