<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>PensionLine Reporting Tool</h1>
<p>The PensionLine reporting tool is a centralised reporting engine which allows the creation and the management of reports.</p>]]></content>
    </element>
    <element name="bodyright2">
      <links/>
      <content><![CDATA[<p>The Reporting Tool offers the following advantages:</p>
<h2>Account management</h2>
<ul>
    <li>Different user roles having different access rights (runner, editor, scheduler).</li>
    <li>Ability to block and remove users at any time.</li>
</ul>
<h2>Security</h2>
<ul>
    <li>Security Filters (walling) at data source level.</li>
    <li>All user accounts follow BP's security model for Data Security.</li>
</ul>
<h2>Quality Assurance</h2>
<ul>
    <li>Ability to group reports into a Report Group for easy management.</li>
    <li>Consistency in the report production.</li>
</ul>
<h2>Automated run (scheduler)</h2>
<p>Run and send reports on a regular basis (Scheduler functionality).</p>
<h2>Query builder</h2>
<ul>A simple query builder has been created to assist in:
    <li>Variable discovery.</li>
    <li>Variable format selection.</li>
    <li>Format selection.</li>
</ul>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/sites/default/sql_report/images/report_composition.png]]></target>
          <uuid>52c4ff30-365f-11e0-8a68-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p><img border="0" alt="Composition of a Report Group" src="%(link0)" /></p>]]></content>
    </element>
  </page>
</pages>
