<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>Access denied</h1>
<script type="text/javascript">
	if(window.opener){
		var scheduleId = gup('scheduleId');
		var lastRun = gup('lastRun');
		window.opener.updateLastRun(scheduleId, lastRun); //Refresh parent window to get last run
	}
</script>]]></content>
    </element>
    <element name="bodyright2">
      <links/>
      <content><![CDATA[<p>Sorry! You do not have enough permissions to view this section. Please contact the PensionLine administrator for more information.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/laptop_on_grass.jpg]]></target>
          <uuid>873c118b-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="laptop on grass" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>access denied</p>]]></content>
    </element>
  </page>
</pages>
