<%@ page session="true" %>
<%@ page pageEncoding="UTF-8" %>
<%@ page import="java.text.SimpleDateFormat"%>
<%@ page import="java.util.Date"%>
<%@ page import="org.opencms.file.*"%>
<%@ page import="org.opencms.jsp.*"%>
<%@ page import="org.opencms.security.*"%>
<%@ page import="java.util.*"%>
<%@ page import="org.opencms.main.*"%>
<%@ page import="org.opencms.search.*"%>
<%@ page import="com.bp.pensionline.constants.*"%>
<%@ page import="com.bp.pensionline.util.*"%>
<%@ page import="com.bp.pensionline.test.*"%>
<%@ page import="com.bp.pensionline.dao.MemberDao"%>
<%@page import="com.bp.pensionline.webstats.producer.*"%>
<%@ taglib prefix="cms" uri="http://www.opencms.org/taglib/cms" %>
<%
    //response.setHeader("Cache-Control","no-cache"); //HTTP 1.1
    //response.setHeader("Pragma","no-cache"); //HTTP 1.0
    response.setDateHeader("Expires", -1);
%>
<%
	org.opencms.jsp.CmsJspActionElement cmsJspAction = new CmsJspActionElement(pageContext, request, response);
    
    // Get the search manager
    CmsSearchManager searchManager = OpenCms.getSearchManager(); 
    
	CmsJspLoginBean cmsLogin = new CmsJspLoginBean(pageContext, request, response);
	CmsJspBean bean=new CmsJspBean();
	bean.init(pageContext, request, response);
	CmsObject cms = bean.getCmsObject();
	// get the values from configuration file opencms.properties
	Map map=cms.getConfigurations();
   	CmsUser user = cms.getRequestContext().currentUser();
	//Call Webstat producer	
	WebstatsPageProducer.runStats(request);
	String referingPage = request.getPathInfo();
   	
   	
	
   String uri=cmsLogin.getRequestContext().getUri();
    
	boolean isView=false;
	try{
 		CmsObject obj=SystemAccount.getAdminCmsObject();
 		obj.readProject("Online");
 		CmsPermissionSet permissionSet=cms.getPermissions(uri,user.getName());
 		String permissions=permissionSet.toString();
 		String read="+r";
 		String view="+v";


 		if (permissions.indexOf(view)==-1){
 			isView=false;
 			
 		}else{
 			isView=true;
 		}
 		
 	}catch(Exception ex){
 		System.out.println(ex);
 	//	ex.printStackTrace();
 		isView=false;
 	}

	//logged in?
	
	if (!isView && user.isGuestUser()){

			response.sendRedirect(cmsJspAction.link("/_login_ask.html"));
	}

	if (user.isSystemUser(1)){
        }else if (user.isWebUser()){

			List recordList=(List)user.getAdditionalInfo(Environment.RECORD_LIST);
			if (recordList==null||recordList.size()==0  ){

				response.sendRedirect(cmsJspAction.link("/_login_posofservice.jsp") +"?referingPage='"+ referingPage +"'");

			}else {
				response.sendRedirect(cmsJspAction.link("/_login_handler.jsp") +"?referingPage='"+ referingPage +"'");
			}

	}else {
	}

	//cms get the current page 

	//Authenticated but no records

        //else logged in and also in a record	
%>

<jsp:useBean id="search" scope="request" class="org.opencms.search.CmsSearch">
<jsp:setProperty name = "search" property="*"/>
<% 
	search.init(cmsJspAction.getCmsObject());     
%>
</jsp:useBean>
<%
Iterator k = searchManager.getIndexNames().iterator(); 
String indexName2 = (String)k.next();
String dir_base = "";
String req_url = request.getPathTranslated() + "/";
req_url = req_url.replace("\\", "/");
String this_is_bp = "";
String this_is_bc = "";
String this_is_ss = "";

if(req_url.indexOf(dir_base + "/schemes_other/") >= 0) {
	this_is_ss = "selected";
} else if(req_url.indexOf(dir_base + "/schemes_bc/") >= 0) {
	this_is_bc = "selected";
} else if(req_url.indexOf(dir_base + "/schemes_bp/") >= 0) {
	this_is_bp = "selected";
}
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
	WWW SQL Designer, (C) 2005-2007 Ondra Zara, o.z.fw@seznam.cz
	Version: 2.1.1
	See gpl.txt for licencing information.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
	<title>PensionLine ERD</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="styles/style.css" media="all" />     
	<!--[if IE 6]><link rel="stylesheet" type="text/css" href="styles/ie6.css" /><![endif]-->
	<!--[if IE 7]><link rel="stylesheet" type="text/css" href="styles/ie7.css" /><![endif]-->
	<link rel="stylesheet" href="styles/print.css" type="text/css" media="print" />
	<script type="text/javascript" src="js/oz.js"></script>

	<script type="text/javascript" src="js/config.js"></script>
	<script type="text/javascript" src="js/wwwsqldesigner.js"></script>
	
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
	<script type="text/javascript" src="<cms:link>/system/modules/com.bp.pensionline.template/resources/scripts/browser.js</cms:link>"></script>
<script type="text/javascript" language="javascript">
	// IE7 is the development platform of choice
	if( BrowserDetect.browser == "Explorer" && BrowserDetect.version >= "6" ) {
		document.write("<link rel='stylesheet' href='<cms:link>/system/modules/com.bp.pensionline.template/resources/style.css</cms:link>' type='text/css' media='screen, projection, print' />");
                document.write("<link rel='stylesheet' href='<cms:link>/system/modules/com.bp.pensionline.template/resources/style.print.ie.css</cms:link>' type='text/css' media='print' />");

	}
	// check if IE6 is detected, and degrade some features
	if( BrowserDetect.browser == "Explorer" && BrowserDetect.version == "6" ) {
		document.write("<link rel='stylesheet' href='<cms:link>/system/modules/com.bp.pensionline.template/resources/style.ie6.css</cms:link>' type='text/css' media='screen, projection, print' />");
                document.write("<link rel='stylesheet' href='<cms:link>/system/modules/com.bp.pensionline.template/resources/style.print.ie6.css</cms:link>' type='text/css' media='print' />");
	
	}
	// check if Firefox is detected
	if( BrowserDetect.browser == "Firefox" ) {
		document.write("<link rel='stylesheet' href='<cms:link>/system/modules/com.bp.pensionline.template/resources/style.firefox.css</cms:link>' type='text/css' media='screen, projection, print' />");
                document.write("<link rel='stylesheet' href='<cms:link>/system/modules/com.bp.pensionline.template/resources/style.print.css</cms:link>' type='text/css' media='print' />");                
	        
	}	              

var ajaxurl="/content";
var bgroup = "XXX";
var crefno = "0000000";
</script>
<script language="javascript" type="text/javascript" src="<cms:link>/system/modules/com.bp.pensionline.test/resources/ajax/AjaxDataTagHandler.js</cms:link>" ></script>
<script language="javascript" type="text/javascript" src="<cms:link>/system/modules/com.bp.pensionline.test/resources/ajax/AjaxDataTagParser.js</cms:link>" ></script>
<script language="javascript" type="text/javascript" src="<cms:link>/system/modules/com.bp.pensionline.test/resources/ajax/BookmarkMember.js</cms:link>" ></script>
<script language="javascript" type="text/javascript" src="<cms:link>/system/modules/com.bp.pensionline.test/resources/ajax/xmldom.js</cms:link>" ></script>
<script language="javascript" type="text/javascript" src="<cms:link>/system/modules/com.bp.pensionline.test/resources/ajax/WallAjax.js</cms:link>" ></script>
<script language="javascript" type="text/javascript" src="<cms:link>/system/modules/com.bp.pensionline.test/resources/ajax/Registration.js</cms:link>" ></script>
<script language="javascript" type="text/javascript" src="<cms:link>/system/modules/com.bp.pensionline.test/resources/ajax/AjaxLetterHandler.js</cms:link>" ></script>
<script language="javascript" type="text/javascript" src="<cms:link>/system/modules/com.bp.pensionline.test/resources/ajax/AjaxPublishingHandler.js</cms:link>" ></script>
<script language="JavaScript1.2" type="text/javascript" src="<cms:link>/system/modules/com.bp.pensionline.template/resources/scripts/dialogs.js</cms:link>"></script>
<script language="javascript" type="text/javascript" src="<cms:link>/system/modules/com.bp.pensionline.template/resources/scripts/onload.js</cms:link>" ></script>
<script language="JavaScript1.2" type="text/javascript" src="<cms:link>/system/modules/com.bp.pensionline.template/resources/scripts/accessibility.js</cms:link>"></script>	
</head>

<%
	if (!cms.getRequestContext().currentProject().isOnlineProject())
	{	
%>
<body>
<%
	}
	else
	{
%>
<body onLoad="onLoadHandler();" onUnload="onUnloadHandler();">
<%
	}
%>
<div id='container'>
<div id='headernav' class='non-print'>
<%
	if (!cms.getRequestContext().currentProject().isOnlineProject())
	{	
		if (cms.userInGroup(user.getName(), Environment.PUBLISHING_EDITOR_GROUP) || 
			cms.userInGroup(user.getName(), Environment.PUBLISHING_EDITOR_REVIEWER_GROUP) ||
			cms.userInGroup(user.getName(), Environment.PUBLISHING_REVIEWER_GROUP) ||
			cms.userInGroup(user.getName(), Environment.PUBLISHING_AUTHORISER_GROUP) ||
			cms.userInGroup(user.getName(), Environment.PUBLISHING_DEPLOYER_GROUP)
		){
%>

	<a href="<cms:link>/publishing/recent_changes.jsp</cms:link>">Recent changes</a> &nbsp | &nbsp
<%	
		}
		if (cms.userInGroup(user.getName(),"Superusers")){
%>
	<a href="<cms:link>/_logout_publishing.jsp</cms:link>">Exit publishing</a> &nbsp | &nbsp 	
<%
		}	
		if (cms.userInGroup(user.getName(),"Authors") ||
			cms.userInGroup(user.getName(),"Publishers") ||
			cms.userInGroup(user.getName(),"Testers") ||		
			cms.userInGroup(user.getName(),"Administrators") ||
			cms.userInGroup(user.getName(), Environment.PUBLISHING_EDITOR_GROUP) ||
			cms.userInGroup(user.getName(), Environment.PUBLISHING_EDITOR_REVIEWER_GROUP)
			) {
%>
	<a href="" onclick="popupHelp('https://ukpensionsasp.bp.com:4430/support/wiki/index.php?title=Main_Page'); return false;">online help</a> &nbsp | &nbsp
<%
		}
		if (cms.userInGroup(user.getName(),"Authors") ||
				cms.userInGroup(user.getName(),"Publishers") ||
				cms.userInGroup(user.getName(),"Administrators") ||
				cms.userInGroup(user.getName(), Environment.PUBLISHING_EDITOR_GROUP) ||
				cms.userInGroup(user.getName(), Environment.PUBLISHING_EDITOR_REVIEWER_GROUP)
				)
		{
%>
	<a href="<cms:link>/system/workplace/views/workplace.jsp</cms:link>">Workplace</a> &nbsp | &nbsp
<%
		}		
	}
	else
	{
		if (cms.userInGroup(user.getName(),"Superusers")){
%>
	<a href="" onclick="popupHelp('https://ukpensionsasp.bp.com:4430/support/wiki/index.php?title=Main_Page'); return false;">online help</a> &nbsp | &nbsp
	<a href="<cms:link>/superuser/index.html</cms:link>">Change member</a> &nbsp | &nbsp
	<a class="fakelink" onclick="document.getElementById('bookmark_display').style.display='block';">Bookmark member</a> &nbsp; | &nbsp; 	
<%
		}
		if (cms.userInGroup(user.getName(), Environment.PUBLISHING_EDITOR_GROUP) || 
				cms.userInGroup(user.getName(), Environment.PUBLISHING_EDITOR_REVIEWER_GROUP) ||
				cms.userInGroup(user.getName(), Environment.PUBLISHING_REVIEWER_GROUP) ||
				cms.userInGroup(user.getName(), Environment.PUBLISHING_AUTHORISER_GROUP) ||
				cms.userInGroup(user.getName(), Environment.PUBLISHING_DEPLOYER_GROUP)
			){
%>	
	<a href="<cms:link>/_login_publishing.jsp</cms:link>">Enter publishing</a> &nbsp | &nbsp
<%
		}
		if (cms.userInGroup(user.getName(),"Testers")){
%>
<span id="Test_Member_PoS_" style="display:none;">Loading...</span>
<select id="Test_Member_PoS" name="Test_Member_PoS" onChange="TestLoaderAjax(document.getElementById('Test_Member_PoS').value);" >
</select> &nbsp | &nbsp
<script language="javascript">
TestLoaderAjax(document.getElementById('Test_Member_PoS').value);
</script>
<%
		}
	}
%>
  <a href="<cms:link>/contactus.html</cms:link>">contact us </a> &nbsp; | &nbsp;
  <a href="<cms:link>/index.html</cms:link>">home </a>
</div> <!-- headernav -->

<div id='header'>
 	<div class='logoholder'>
          <img src='<cms:link>/system/modules/com.bp.pensionline.template/resources/gfx/logo.gif</cms:link>' alt='BP logo'/>
        </div>
  	<div class='bannerholder'>
  	  <img src='<cms:link>/system/modules/com.bp.pensionline.template/resources/gfx/pensionline_banner.gif</cms:link>' alt='pensionline logo'/>
  	</div>
</div> <!-- header -->
 
<div id='bannernav' class='non-print'>
  <ul>
  <li class='<%=this_is_bp%>' onmouseover="this.className='over'" onmouseout="this.className='<%=this_is_bp%>'"><a href="<cms:link>/schemes_bp/index.html</cms:link>">BP Pension Scheme</a></li>
  <li class='<%=this_is_ss%>' onmouseover="this.className='over'" onmouseout="this.className='<%=this_is_ss%>'"><a href="<cms:link>/schemes_other/index.html</cms:link>">other BP schemes</a></li>
  <li class='<%=this_is_bc%>' onmouseover="this.className='over'" onmouseout="this.className='<%=this_is_bc%>'"><a href="<cms:link>/schemes_bc/index.html</cms:link>">Burmah Castrol Pension Fund</a></li>
  <li class='search'>
    <div id='search_box'>
    <form method="post" action="<cms:link>/result.jsp</cms:link>" name='frm'>
      <span class='label'><label for='sbox'>Search:</label> </span>
      <input type=text name='query' id='sbox' value='<%=(cmsJspAction.property("query") != null) ? cmsJspAction.property("query") : ""%>' /> 
      <a class='goButton' onclick='checkValidChar(document.frm.query.value);'>Go</a>
      <input type="hidden" name="index" value='<%=indexName2%>'>
    </form>
    </div>
  </li>
  
  </ul>
</div> <!-- banernav -->

<div id='outer'>
  <div id='crumbtrail'>
    <cms:include file="/system/modules/com.bp.pensionline.template/elements/breadcrumb.jsp"/>
  </div> <!-- crumbtrail -->

  <!-- left hand sidebar -->
  <div id='sidebar' class='lefty non-print'>
	<div id='menu' class='lefty'>
		<cms:include file="/system/modules/com.bp.pensionline.template/elements/sidebar.jsp"/>
	</div>
	<div id='rss'>
		<ul>     
			<li><img src='<cms:link>/system/modules/com.bp.pensionline.template/resources/gfx/rss.gif</cms:link>' alt='RSS icon' /> <a href="<cms:link>/RSS/newsRSS.xml</cms:link>">PensionLine news</a></li>
<!--
			<li><img src='<cms:link>/system/modules/com.bp.pensionline.template/resources/gfx/rss.gif</cms:link>' alt='RSS icon' /> <a href="<cms:link>/RSS/eventsRSS.xml</cms:link>">PensionLine events</a></li>
-->
		</ul>
	</div>
	<div id='rss_explanation'>
		<ul>
			<li><img src='<cms:link>/system/modules/com.bp.pensionline.template/resources/gfx/link_arrow.gif</cms:link>' alt='link arrow' /> <a href="<cms:link>/rss.html</cms:link>">what is RSS?</a></li>
		</ul>
	</div>
  </div>

  	<div id='content'>
  		<h1>PensionLine ERD</h1>
			<div id="area"></div>
			<div id="bar">
				<div class="shadow-left"></div>
				<div class="shadow-corner"></div>
				<div class="shadow-bottom"></div>
		
				<input type="button" id="saveload" />
		
				<hr/>
		
				<input type="button" id="addtable" />
				<input type="button" id="edittable" />
				<input type="button" id="tablekeys" />
				<input type="button" id="removetable" />
				<input type="button" id="aligntables" />
				<input type="button" id="cleartables" />
		
				<hr/>
		
				<input type="button" id="addrow" />
				<input type="button" id="editrow" />
				<input type="button" id="uprow" class="small" /><input type="button" id="downrow" class="small"/>
				<input type="button" id="foreigncreate" />
				<input type="button" id="removerow" />
		
				<hr/>
		
				<input type="button" id="options" />
				<a href="doc/" target="_blank"><input type="button" id="docs" value="" /></a>
			</div>
		
			<div id="minimap"></div>
		
			<div id="background"></div>
		
			<div id="window">
				<div id="windowtitle"><img id="throbber" src="images/throbber.gif" alt="" title=""/></div>
				<div id="windowcontent"></div>
				<input type="button" id="windowok" />
				<input type="button" id="windowcancel" />
			</div>
		
			<div id="opts">
				<table>
					<tbody>
						<tr>
							<td>
								* <label id="language" for="optionlocale"></label>
							</td>
							<td>
								<select id="optionlocale"></select>
							</td>
						</tr>
						<tr>
							<td>
								* <label id="db" for="optiondb"></label>
							</td>
							<td>
								<select id="optiondb"></select>
							</td>
						</tr>
						<tr>
							<td>
								<label id="snap" for="optionsnap"></label>
							</td>
							<td>
								<input type="text" size="4" id="optionsnap" />
								<span class="small" id="optionsnapnotice"></span>
							</td>
						</tr>
						<tr>
							<td>
								<label id="pattern" for="optionpattern"></label>
							</td>
							<td>
								<input type="text" size="6" id="optionpattern" />
								<span class="small" id="optionpatternnotice"></span>
							</td>
						</tr>
						<tr>
							<td>
								<label id="hide" for="optionhide"></label>
							</td>
							<td>
								<input type="checkbox" id="optionhide" />
							</td>
						</tr>
						<tr>
							<td>
								* <label id="vector" for="optionvector"></label>
							</td>
							<td>
								<input type="checkbox" id="optionvector" />
							</td>
						</tr>
					</tbody>
				</table>
		
				<hr />
		
				* <span class="small" id="optionsnotice"></span>
			</div>
		
			<div id="io">
				<table>
					<tbody>
						<tr>
							<td>
								<fieldset>
									<legend id="client"></legend>
									<input type="button" id="clientsave" />
									<input type="button" id="clientload" />
									<hr/>
									<input type="button" id="clientsql" />
								</fieldset>
							</td>
							<td>
								<fieldset>
									<legend id="server"></legend>
									<label for="backend" id="backendlabel"></label> <select id="backend"></select>
									<hr/>
									<input type="button" id="serversave" />
									<input type="button" id="serverload" />
									<input type="button" id="serverlist" />
									<input type="button" id="serverimport" />
								</fieldset>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<fieldset>
									<legend id="output"></legend>
									<textarea id="textarea"></textarea>
								</fieldset>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		
			<div id="keys">
				<fieldset>
					<legend id="keyslistlabel"></legend>
					<select id="keyslist"></select>
					<input type="button" id="keyadd" />
					<input type="button" id="keyremove" />
				</fieldset>
				<fieldset>
					<legend id="keyedit"></legend>
					<table>
						<tbody>
							<tr>
								<td>
									<label for="keytype" id="keytypelabel"></label>
									<select id="keytype"></select>
								</td>
								<td></td>
								<td>
									<label for="keyname" id="keynamelabel"></label>
									<input type="text" id="keyname" size="10" />
								</td>
							</tr>
							<tr>
								<td colspan="3"><hr/></td>
							</tr>
							<tr>
								<td>
									<label for="keyfields" id="keyfieldslabel"></label><br/>
									<select id="keyfields" size="5" multiple="multiple"></select>
								</td>
								<td>
									<input type="button" id="keyleft" value="&lt;&lt;" /><br/>
									<input type="button" id="keyright" value="&gt;&gt;" /><br/>
								</td>
								<td>
									<label for="keyavail" id="keyavaillabel"></label><br/>
									<select id="keyavail" size="5" multiple="multiple"></select>
								</td>
							</tr>
						</tbody>
					</table>
				</fieldset>
			</div>
		
			<div id="table">
				<table>
					<tbody>
						<tr>
							<td>
								<label id="tablenamelabel" for="tablename"></label>
							</td>
							<td>
								<input id="tablename" type="text" />
							</td>
						</tr>
						<tr>
							<td>
								<label id="tablecommentlabel" for="tablecomment"></label>
							</td>
							<td>
								<textarea rows="5" cols="40" id="tablecomment"></textarea>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		
			<script type="text/javascript">
				var d = new SQL.Designer();
			</script>
 		</div> <!-- content -->	
	</div> <!-- outer -->
	
	<div id='printfooter'>
	  <span class='fakelink'>&copy; 2006 BP p.l.c.</span>
	  </div> <!-- printfooter -->
	
	  <div id='footer' class='non-print'>
	
	    <div id='tomorrowtoday_tag'>
		<img src='<cms:link>/system/modules/com.bp.pensionline.template/resources/gfx/tomorrowtoday_small.gif</cms:link>' alt='tomorrow today logo' />
	    </div> <!-- owner -->
	
	    <div id='footernav'>
	<%
	SimpleDateFormat year_formatter = new SimpleDateFormat("yyyy");
	String this_year = year_formatter.format(new Date());
	%>
	   <span class='fakelink'>&copy; 2006-<%= this_year %> BP p.l.c.</span> &nbsp; | &nbsp;
	<a href="<cms:link>/legalnotice.html</cms:link>">legal notice </a>&nbsp; | &nbsp;
	<a href="<cms:link>/privacy.html</cms:link>">privacy statement </a>
	   </div> <!-- footernav -->

  </div> <!-- footer -->	
</div> <!-- container -->
</body>
</html>
