<%@ page pageEncoding="UTF-8" %><%@ page session="false" %>
<%@page import="java.util.*"%>
<%@page import="com.bp.pensionline.sqlreport.handler.*"%>
<%@page import="com.bp.pensionline.sqlreport.dto.db.*"%>
<%@ taglib prefix="cms" uri="http://www.opencms.org/taglib/cms" %>
<%@page import="com.bp.pensionline.util.SystemAccount"%>
<%@page import="org.opencms.file.CmsUser"%>
<%@page import="com.bp.pensionline.sqlreport.dao.ReportGroupDao"%>

<%@page import="com.bp.pensionline.sqlreport.app.daemons.ReportScheduler"%>
<%@page import="java.net.URLEncoder"%><cms:include property="template" element="head" />
<h1>Access reports</h1>
<p>The list contains all available reports assigned to your account.</p>
<p>Please select a group of reports to run.</p>
<%
	
	CmsUser currentUser = SystemAccount.getCurrentUser(request);
	if (currentUser != null)
	{
		String userName = currentUser.getName();
		Vector reportGroups = new Vector();
		String scheduleUrl = null, tooltip = null;
		if (ReportGroupDao.isUserInCmsGroup(userName, "PL_REPORT_EDITOR"))
		{
			reportGroups = ManageReportGroupHandler.listAllReportGroups();
			scheduleUrl = "/content/AccessSchedulesHandler";
			tooltip = "View schedules for this report group";
		}
		if (ReportGroupDao.isUserInCmsGroup(userName, "PL_REPORT_RUNNER"))
		{
			reportGroups = ManageReportGroupHandler.listReportGroupsOfUser(currentUser.getId().toString());
			scheduleUrl = "/content/AccessSchedulesHandler";
			tooltip = "View schedules for this report group";
		}
		if (ReportGroupDao.isUserInCmsGroup(userName, "PL_REPORT_SCHEDULER")){
			reportGroups = ManageReportGroupHandler.listAllReportGroups();
			scheduleUrl = "/content/ManageSchedulesHandler";
			tooltip = "Manage schedules for this report group";
		}
%>
<div class="ws_report_list" style="BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 2em;float:left">
<%
		for (int i = 0; i < reportGroups.size(); i++)
		{
			ReportGroup report = (ReportGroup)reportGroups.elementAt(i);
			if (report != null)
			{
				String groupId = report.getId();
				String name = report.getName();
				if (name == null || name.trim().equals(""))
				{
					name = "Unknown";
				}
				List<Schedule> schedules = null;
				try{
					ReportScheduler scheduler = ReportScheduler.getInstance();
					schedules = scheduler.getSchedulesOfReportGroup(groupId);
				} catch(Exception e){
					schedules = new ArrayList<Schedule>();
				}
%>
<div class="ws_report" style="BORDER-TOP: #ccc 1px solid; PADDING-TOP: 10px;float:left">
<div class="ws_report_icon" style="width: 70px;">
	<img alt="<%=name%>" src="/content/pl/system/modules/com.bp.pensionline.template/resources/gfx/reportGroupIcon.gif" />
<%				if(scheduleUrl != null ){ %>
	<a title="<%=tooltip %>" href="<%=scheduleUrl %>?reportGroupId=<%=groupId%>&reportGroupName=<%=URLEncoder.encode(name, "UTF-8")%>">
<%					if(schedules.size() > 0){ %>
		<img title="<%=tooltip %>" alt="S" src="/content/pl/system/modules/com.bp.pensionline.template/resources/gfx/alarm_32x30.jpg" />
<%					} else{ %>
		<img title="<%=tooltip %>" alt="S" src="/content/pl/system/modules/com.bp.pensionline.template/resources/gfx/alarm_noncolor_32x30.jpg" />
<%					} %>
	</a>
<%				} %>
</div>
<div class="ws_report_text" style="width: 490px;">
<!--<a style='float:right;' href="schedule_report_ingroup.jsp?groupId=<%=groupId%>">Schedule reports</a>-->
<h2><a href="access_report_ingroup.jsp?groupId=<%=groupId%>"><%=name%></a></h2>
</div>
<!--
<div class="ws_report_text">
<a style='float:right;' href="scheduled_reports_inbox.jsp?groupId=<%=groupId%>">Scheduled inbox</a>
</div>
-->
</div>
<%
			}
		}
%>
</div>
</div>
<%
	}
%>
<cms:include property="template" element="foot" />