<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>Report&nbsp;generation completed</h1>]]></content>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<p>The report is stored as a XLS document. Please press the button bellow to view its content.</p>
<form method="post" action="pensionline_report.xls">
    <div class="login_value"><input id="doauth" class="goButton" type="submit" name="doauth" value="View Report" /></div>
</form>]]></content>
    </element>
  </page>
</pages>
