<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content/>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<h1>Run report: Authentication attempts</h1>
<p>Please complete the form bellow which contains all input parameters to run the report you have
requested and click 'Go' to run the report</p>
<h2>Please fill in report parameters</h2>
<div class="report_panel_holder">
<div class="login_component_holder">
<div class="login_label">
<label>Report start date</label>
</div>
<div class="login_value">
<input id="report_start_date" readonly="readonly" size="25" value="1-May-2008" type="text" /> 
<input type="reset" onclick="return showCalendar('report_start_date', '%B %e, %Y');"
value=" ... " /></div>
</div>
<div class="login_component_holder">
<div class="login_label">
<label>Report end date</label>
</div>
<div class="login_value">
<input id="report_end_date" readonly="readonly" size="25" value="1-Aug-2008" type="text" /> 
<input type="reset" onclick="return showCalendar('report_end_date', '%B %e, %Y');"
value=" ... " /></div>
</div>
<div class="login_component_holder">
<div class="login_label">
<label for="output">Report output type</label>
</div>
<div class="login_value">
<select id="report_output_type">
<option value="BROWSER_TABLE" selected="selected">View in browser</option>
<option value="DOWNLOAD_PDF">Download as a PDF document</option>
<option value="DOWNLOAD_XSL">Download as a XSL document</option>
</select>
</div>
</div>
<div class="ws_report_list" style="BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 2em">
<h2>Please fill in section parameters</h2>
<div class="ws_report" style="PADDING-TOP: 10px">
<h3>Login attempts successful</h3>
<div class="login_label">
<label>BGroup</label>
</div>
<div class="login_value">
<input value="BPF" type="text" />
</div>
</div>
<div class="ws_report" style="PADDING-TOP: 10px">
<h3>Login attempts failed</h3>
<div class="login_label">
<label>BGroup</label>
</div>
<div class="login_value">
<input value="BPF" type="text" />
</div>
</div>
<div class="ws_report" style="PADDING-TOP: 10px">
<h3>Visitor browsers</h3>
<div class="login_label">
<label>BGroup</label>
</div>
<div class="login_value">
<input value="BPF" type="text" />
</div>
</div>
</div>
<div class="ws_report_list" style="BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 2em; PADDING-TOP: 10px">
<div class="report_component_holder">
<div style="TEXT-ALIGN: right">
<input class="goButton" id="_add_report" type="button" value="Go" />&nbsp;</div>
</div>
</div>
</div>]]></content>
    </element>
  </page>
</pages>
