<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="headerright">
      <links/>
      <content><![CDATA[<h1>BP Pension Scheme</h1>]]></content>
    </element>
    <element name="headerright2">
      <links/>
      <content><![CDATA[<p>The BP Pension Scheme is a valuable part of your retirement planning. If you are eligible, you will automatically become a member.</p>
<p>The Scheme provides you with a final salary pension. This means that the amount of pension you get when you retire is linked to your BP salary and length of service.</p>
<p>You do not have to make any contributions, as the Scheme automatically provides you with a pension based on 1/60th of your&nbsp;salary for each year you are an active member. Of course, you can save more for your retirement by joining one of the Scheme's contributory options.</p>]]></content>
    </element>
    <element name="headerright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x180/green_cactus.jpg]]></target>
          <uuid>75e37489-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="180" alt="green cactus" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="headerright4">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-100x100/limes.jpg]]></target>
          <uuid>60af4b8c-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="100" alt="limes" width="100" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="headerright5">
      <links/>
      <content><![CDATA[<p>This section of PensionLine is relevant to BP Pension Scheme members. If you are a member of another pension scheme within the BP Pension Fund, please use the menu on the&nbsp;left to view information relevant to you.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>]]></content>
    </element>
    <element name="headerright6">
      <links/>
      <content><![CDATA[<font size="3">the Scheme is a valuable part of your retirement planning</font>]]></content>
    </element>
  </page>
</pages>
