<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>who will receive benefits if I die?</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/Resources/scheme_booklet.html]]></target>
          <uuid>10480b67-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/Expression_of_Wish_form_for_BP_main_scheme.pdf]]></target>
          <uuid>1aab67f1-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/I_want_to/update_something/expression_of_wish.html]]></target>
          <uuid>2a9fcb57-19af-11de-8a9b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/I_want_to/update_something/expression_of_wish.html]]></target>
          <uuid>2a9fcb57-19af-11de-8a9b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>Financial protection for your family is an important part of the BP Pension Scheme's
benefits.</p>
<p>If you die after retirement and you leave a spouse or civil partner or dependant(s), a
survivor's pension and/or children's pension will usually be payable.</p>
<h2>survivor's pension</h2>
<p>Under the BP Pension Scheme, a wide class of 'pensionable dependants' can be considered for some
or all of the survivor's pension. The term <span>[[Dictionary(bp):pensionable dependants]]</span> always includes your spouse or civil partner
and, at the Trustee's discretion:</p>
<ul>
<li>a person in a relationship with you at the date of death which closely resembles marriage,
or</li>
<li>another financial dependant who does not qualify for a children's pension.</li>
</ul>
<p>If you are married at the date of your death or in a registered civil partnership (and have no
other pensionable dependants), your spouse or civil partner will receive the survivor's
pension.</p>
<h2>the five-year guarantee</h2>
<p>If you die within the five years after your pension starts, a lump sum equal to your outstanding
pension payments for that five-year period will be paid (known as the 'five-year guarantee').</p>
<h2>nominating your beneficiaries</h2>
<p>It is important that you nominate who you want to receive any lump sum death benefit on an 
<a title="expression of wishes" target="_self"
href="%(link0)">expression of
wishes</a>&nbsp;form, as the Trustee will refer to this when deciding who should receive this
benefit. In certain circumstances, you may also use the form to indicate who you want to receive
the survivor's pension.</p>
<p>This nomination is completely separate from any other nominations you may have made, for
example, next of kin or beneficiaries under your will.</p>
<p>You can&nbsp;complete an 
<a title="expression of wishes" target="_self"
href="%(link1)">expression of
wishes</a>&nbsp;form online in the 'I want to...' section. Alternatively, you can 
<a title="Expression of Wish form for BP main scheme" target="_self"
href="%(link2)">print</a>
a form and send it to the 
<a href="%(link3)">BP UK Pensions &amp; Benefits</a>.</p>
<h2>death grant</h2>
<p>When you die, the BP Pension Fund will normally pay a death grant equal to your monthly pension
amount to cover immediate expenses. The minimum grant is £1,475 and the maximum is £2,500. These
figures are reviewed regularly and may change at the Company's discretion.</p>
<p>Grants are only paid on the death of a BP Pension Scheme member, not widows or dependants.</p>
<p>For pensions starting on or after 6 April 2006, the death grant may be subject to tax if you are
over age 75 when you die. Should tax become payable, BP will deduct basic rate income tax at
source. However, the person receiving the payment is liable for any extra tax then payable through
their annual tax return.</p>
<p>Death grants are paid as quickly as possible following notification of death to the
[[Dictionary(BP):BP Pensions Administration]]&nbsp; team.</p>
<h2>further information</h2>
<p>You can find out&nbsp;more about&nbsp;financial protection for your family in the 
<a href="%(link4)">explanatory booklet</a>.&nbsp;</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/yellow_dandelion.jpg]]></target>
          <uuid>8a2e76f1-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="yellow dandelion" width="178" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>
<font size="5">financial protection for your family is an important part of the Scheme's
benefits</font>
</p>]]></content>
    </element>
  </page>
</pages>
