<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="headerright">
      <links/>
      <content><![CDATA[<h1>I am a pensioner</h1>]]></content>
    </element>
    <element name="headerright2">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/I_want_to/update_something/expression_of_wish.html]]></target>
          <uuid>2a9fcb57-19af-11de-8a9b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/_login_ask.html]]></target>
          <uuid>e574ce50-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>As a pensioner member of the BP Pension Scheme, you can use this site to:</p>
<ul>
<li>check your personal details in 'this is me'.</li>
<li>update your personal information, including your address and bank details in the &nbsp;'I want
to...'.</li>
<li>complete or change your 
<a title="expression of wishes" href="%(link0)"
target="_self">expression of wishes</a> form online.</li>
<li>view your pension payment forecast and details of previous payments in 'my statement'.</li>
<li>find out about the different benefits and services the BP Pension Scheme offers.</li>
</ul>
<p>You can access all these featues by using the menu on the left. However, you will need to be 
<a href="%(link1)">logged in</a> to access some of them.</p>]]></content>
    </element>
    <element name="headerright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x180/yellow_dandelion.jpg]]></target>
          <uuid>7abfa7cb-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="180" alt="yellow dandelion" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="headerright4">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-100x100/soft_red_fern.jpg]]></target>
          <uuid>6240c035-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="100" alt="soft red fern" width="100" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="headerright5">
      <links/>
      <content><![CDATA[<p>If you receive a survivor's or dependant's pension, you can access most of the above information
and features, including logging in to see personal details. Please note, however, that at certain
points the information is designed for BP retirees only and may not be relevant to you, such as
benefits payable on death.</p>]]></content>
    </element>
    <element name="headerright6">
      <links/>
      <content><![CDATA[<font size="3">don't forget to log in to access all the features available to you</font>]]></content>
    </element>
  </page>
</pages>
