<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>what pension benefits do I get?</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/Resources/scheme_booklet.html]]></target>
          <uuid>10480b67-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="false" type="A">
          <target><![CDATA[http://www.thepensionservice.gov.uk/]]></target>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/I_am_a_pensioner/Benefits_if_I_die.html]]></target>
          <uuid>0f0db6a8-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/People/Trustee/Pension_increases.html]]></target>
          <uuid>100a8d03-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The main benefit from the BP Pension Scheme is a pension for life.</p>
<p>Your BP pension is based on 1/60th of your Final Salary for each year you were an employee
member of the Scheme (known as [[Dictionary(BP):pensionable service]]). The formula used to
calculate your pension is:</p>
<p class="formula">
<strong>(Final Salary ÷ 60) x&nbsp;Pensionable Service (in years and days)&nbsp;&nbsp;</strong>
</p>
<p>When you were an employee member of the Scheme, you may have taken the opportunity to increase
your pension by:</p>
<ul>
<li>joining one of the Scheme's five 'contributory options' (increasing the annual 'build-up rate'
from 1/60 to 1/54, 1/51, 1/45, 1/40 or 1/35, depending on your own contributions); and/or</li>
<li>paying Additional Voluntary Contributions (AVCs).</li>
</ul>
<p>Any such additional contributions will be reflected in your pension now being paid, unless you
were able to take them as tax-free cash.</p>
<p>Your BP pension is payable monthly in advance, with income tax deducted in the same way as from
salary. You can check your monthly pension payments in 'My benefits'.</p>
<h2>what other benefits does the Scheme provide?</h2>
<p>The BP Pension Scheme provides other benefits, including financial protection for your family -
these are covered in the 
<a href="%(link0)">who will receive benefits
if I die?</a> section.</p>
<h2>pension increases</h2>
<p>Your pension is guaranteed to increase annually in line with inflation, up to a maximum of 5% a
year. Inflation is measured by the rise in the Retail Prices Index each December, and any increases
due are paid from the following May. If you were a member of the Fund before April 1997, your
pension will include a&nbsp;[[Dictionary(BP):Guaranteed Minimum Pension (GMP)]]&nbsp;increase.
Responsibility for this increase is shared between the Fund and the State.</p>
<p>BP Pensions &amp; Benefits will write to you in April each year to tell you how much the
increase will be and give you a forecast of your payments for the rest of the tax year. If your net
monthly pension payment changes by £10 or more, the Team will send you a new forecast.</p>
<p>Your online pension payment forecast&nbsp;will automatically reflect any increase.</p>
<p>Spouses', civil partners'&nbsp;and dependants' pensions increase in the same way.</p>
<p>Click 
<a href="%(link1)">here</a> if you would like
to find out how the Trustee decides what annual increase will be awarded.</p>
<h2>further information</h2>
<p class="actionpoint">You can find out more about pension increases in the 
<a href="%(link2)">explanatory&nbsp;booklet</a>.</p>
<p>If you are not already receiving your Basic State Pension, you can get a State retirement
pension forecast by completing Form BR19 (available by calling 
<strong>0845 3000 168</strong> or online at 
<a href="%(link3)">www.thepensionservice.gov.uk</a>).</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/yellow_dandelion.jpg]]></target>
          <uuid>8a2e76f1-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="yellow dandelion" width="178" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>the main benefit from the&nbsp;
<br />Scheme is a pension for life</p>]]></content>
    </element>
  </page>
</pages>
