<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>BP Society</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/BP_Society_application_form.pdf]]></target>
          <uuid>18224bf3-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="false" type="A">
          <target><![CDATA[mailto:BPSociety@uk.bp.com]]></target>
        </link>
      </links>
      <content><![CDATA[<p>The BP Society is a club for BP and Burmah Castrol Pension Fund members who are in receipt of
their Company pension. The Society aims to keep pensioners in touch with the Company and with
fellow members. Social events are organised to further these aims.</p>
<h2>how are you kept in touch?</h2>
<p>The main source of information about the Society and its activities is a quarterly newsletter - 
<em>Keeping You in Touch</em> - which contains reports of forthcoming events. It also contains news
from inside the Company, articles and photos of people and events from the archives, obituaries,
letters to the editor, features on notable interests and achievements of Society members, as well
as reviews of books written by, or relating to, present or retired Company staff.</p>
<h2>contacting other members</h2>
<p>By joining the BP&nbsp;Society, you agree to your address being released to other Society
members. A membership book gives these details, but not telephone numbers or email addresses.</p>
<h2>events</h2>
<p>The Society programme for the year lists nearly 200 events taking place around the country,
including Northern Ireland. These events include boat, train and coach trips; visits to numerous
places of interest, including stately homes and gardens, museums, breweries, concerts and theatres;
lunches; a wide range of walks usually ending with a pub lunch. Almost all of the events are
subsidised from Society funds. A number of celebratory events are planned for 2009, the Company's
centennial year.</p>
<p>Any member can attend any event in any region, and can take&nbsp;a guest at the subsidised
price. Sometimes there is room for members to bring extra guests but these guests must pay the full
price.</p>
<p>Full details of all events, including how to book, are published in 
<em>Keeping You in Touch</em>.</p>
<h2>membership</h2>
<p>The joining fee is currently waived. So to join the BP Society, you will need to pay the annual
subscription of £7.50. After the initial payment, the annual subscription is deducted from your
Company pension each May, until the year after your 80th birthday - the annual fee is waived
thereafter.</p>
<p>To find out more about the BP Society, contact the Society Administration Secretary, who will
answer your questions and send you a back issue of 
<em>Keeping You in Touch.</em> Alternatively, you can download an application form 
<a title="BP_Society_application_form"
href="%(link0)"
target="_self">here</a>.</p>
<p>Administration Secretary
<br />The BP Society
<br />Chertsey Road
<br />Sunbury-on-Thames
<br />Middlesex
<br />TW16 7LN</p>
<p>tel: 01932 762029
<br />email: 
<a href="%(link1)">BPSociety@uk.bp.com</a></p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/yellow_dandelion.jpg]]></target>
          <uuid>8a2e76f1-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="yellow dandelion" width="178" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>keep in touch with former colleagues and friends</p>]]></content>
    </element>
  </page>
</pages>
