<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[Subs]]></Anchor>
    <Title><![CDATA[Subs]]></Title>
    <Question><![CDATA[What happens if I go on maternity / paternity leave?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>In certain circumstances, you may be able to continue your membership of the Scheme while
temporarily absent from your employment with BP.</p>
<p>You can find out more about maternity leave and other types of temporary absence in your
explanatory booklet, in the 'resources' section.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
