<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[Subs]]></Anchor>
    <Title><![CDATA[Subs]]></Title>
    <Question><![CDATA[I have left BP, but not yet retired. How can I find out the value of my deferred BP pension? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>You can contact BP UK&nbsp;Pensions &amp; Benefits, who will provide you with the current value
of your pension.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
