<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[Subs]]></Anchor>
    <Title><![CDATA[Subs]]></Title>
    <Question><![CDATA[What happens if I have a small pension fund? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>The Government recognises that if you have relatively small pension benefits, you may prefer to
take the whole of those benefits as a cash lump sum, rather than as an annual pension.
<br />
<br />If you are aged 60 to 74 and the total value of your pension funds from all&nbsp;registered
pension schemes is £16,000 or less, you can take all of your benefits as a cash lump sum. This
£16,000 limit is 1% of the standard lifetime allowance for the 2007/2008 tax year and will increase
each year in line with the increase to the lifetime allowance.
<br />
<br />If you want to take a lump sum from a pension scheme in this way, you must take the whole of
the benefits held under that scheme as cash.
<br />
<br />25% of this lump sum will be tax free.
<br />
<br />If you have benefits under more than one scheme, you can choose whether to take all, some or
none of them as cash lump sums. For example, if you have £4,000 in one scheme and £10,000 in
another, you could choose to take the first as 100% cash (75% of which would be taxable) and the
other as an annual pension.
<br />
<br />If you decide to take one of your pension funds as a lump sum, this triggers a 12-month
decision period. Within this period, you must choose whether to take your other pension benefits as
lump sums. After the end of the 12 months, no other pension funds can be taken in this way (there
are exceptions, e.g. if the benefits arise on the death of another person).</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
