<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[Subs]]></Anchor>
    <Title><![CDATA[Subs]]></Title>
    <Question><![CDATA[Does my pension increase from year to year?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Your pension is guaranteed to increase each year in line with the Rules of your Scheme.
<br />
<br />You can find more information about pension increases in your Scheme’s Rules and explanatory
booklet. These documents can be found in the 'resources' section.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
