<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[Subs]]></Anchor>
    <Title><![CDATA[Subs]]></Title>
    <Question><![CDATA[What happens if I leave? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>If you leave the BP Pension Fund before normal retirement age, your pension options will depend
on how long you have been a member.
<br />
<br />
<strong>Less than three months</strong>
<br />
<br />You will receive a refund of any contributions you have made, less tax.
<br />
<br />
<strong>Between three months and two years</strong>
<br />
<br />You will be able to request a transfer payment to an external arrangement. The payment will
be equal to the value of the benefits that you have built up. If you do not make your request
within a defined decision period, the Trustee is entitled to simply refund any contributions you
have made, less tax.
<br />
<br />
<strong>Two or more years</strong>
<br />
<br />You will be able to keep your benefits, as a deferred pension, within the BP Pension Fund.
Alternatively, you will be able to request a transfer payment to an external pension
arrangement.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
