<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[Subs]]></Anchor>
    <Title><![CDATA[Subs]]></Title>
    <Question><![CDATA[How much does my pension cost me? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>This depends on which Scheme you belong to. To find out what contributions you pay, see your
explanatory booklet in the 'resources' section.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
