<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[Subs]]></Anchor>
    <Title><![CDATA[Subs]]></Title>
    <Question><![CDATA[What benefits are payable if I die? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>If you die in service or after leaving BP your dependants may be entitled to a pension.
<br />
<br />If you die in service, a lump sum may be payable to your beneficiaries.
<br />
<br />You can find more information about financial protection and death after retirement in your
explanatory booklet, available in the 'resources' section.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
