<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[Subs]]></Anchor>
    <Title><![CDATA[Subs]]></Title>
    <Question><![CDATA[What are the main features of my pension?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Each Scheme within the BP Pension Fund is different. To find out what the main features of your
Scheme are, see your explanatory booklet. You can find this in the 'resources' section.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
