<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[Subs]]></Anchor>
    <Title><![CDATA[Subs]]></Title>
    <Question><![CDATA[When can I retire? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Normal retirement age for all Schemes within the BP Pension Fund is now 65. However, you may be
able to retire early or later &ndash; see your explanatory booklet in the 'resources' section, for more
information.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
