<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[Subs]]></Anchor>
    <Title><![CDATA[Subs]]></Title>
    <Question><![CDATA[What is the internal dispute resolution procedure? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>To view the internal dispute resolution procedure, go to the 'Trust Deed' page in the
'resources' section.
<br /></p>]]></content>
    </Answer>
    <new_edited>true</new_edited>
  </PhraseType>
</FaqPhraseTypes>
