<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[Subs]]></Anchor>
    <Title><![CDATA[Subs]]></Title>
    <Question><![CDATA[How can I save more for my retirement?]]></Question>
    <Answer name="Answer0">
      <links>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[http://www.unbiased.co.uk]]></target>
        </link>
      </links>
      <content><![CDATA[<p>If you want to save more for your retirement, you can do so in two ways:</p>
<ul>
<li>
<strong>Paying additional voluntary contributions (AVCs)</strong>
<br />AVCs are a 'defined contribution' type of pension arrangement, which means that your pension
benefits are based on the contributions you make, investment performance and the price of buying a
pension at retirement.
<br />
<br />Please note that AVCs are a contract between you and the Trustee. The Company does not
promote AVCs over any other savings product.
<br />
<br />Using AVCs, you can build up a separate fund that will be used to buy benefits when you
retire.
<br />
<br />You can find more information about AVCs in the AVC guides. You can find application and
investment switching forms in the resources section.
<br />
<br /></li>
<li>
<strong>Paying into a private pension
<br /></strong> You can now pay into private pension arrangements at the same time as into your BP
pension. You can have as many pension plans as you like - you will get tax relief on your own
contributions up to 100% of your earnings (subject to the annual allowance).
<br /></li>
</ul>
<p>You may wish to take specialist independent financial advice. IFA Promotion Limited can suggest
independent financial advisers in your area, if you do not already use one. They can be contacted
on 
<strong>0800 085 3250</strong> or through their website at 
<a href="%(link0)">www.unbiased.co.uk</a>.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
