<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[Subs]]></Anchor>
    <Title><![CDATA[Subs]]></Title>
    <Question><![CDATA[If as a pensioner my benefits exceed the lifetime allowance is there any interaction with the Supplementary Pension Plan? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>If you were already drawing your BP pension at 6 April 2006, the Supplementary Pension Plan
(SPP) will not apply to you. Pensions in payment at 6 April 2006 were not tested against the
lifetime allowance (although increases to pensions in excess of inflation&nbsp;are tested). If,
subsequent to becoming a BP pensioner, you expect to exceed the lifetime allowance through building
up benefits in future employer or private schemes, we recommend that you&nbsp;consult a financial
adviser as you may find that the lifetime allowance charge applies to you.
<br />
<br />If you were an employee on or after 6 April 2006, and your benefits exceeded the lifetime
allowance, the Company may have invited you to join the SPP. If that is the case, some of your
pension may be paid from the SPP.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
