<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>additional voluntary contributions</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/BC_AVC_introductory_guide__04_06___2_.pdf]]></target>
          <uuid>1658132d-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/BC_AVC_application_form__04_06_.pdf]]></target>
          <uuid>15e972db-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<div style="MARGIN: 0cm 0cm 18pt; TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging">
<font size="1"><span style="FONT-SIZE: 9pt">Using additional voluntary contributions (AVCs), you can build up a
separate fund that will be used to buy benefits when you retire.</span>
</font>
</div>
<div style="MARGIN: 0cm 0cm 18pt; TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging">
<font size="1"><span style="FONT-SIZE: 9pt">AVCs are a 'defined contribution' type of pension arrangement, which
means that your pension benefits are based on the contributions you make, investment performance
and the cost of buying a pension at retirement.</span>
</font>
</div>
<div style="MARGIN: 0cm 0cm 18pt; TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging">
<font size="1"><span style="FONT-SIZE: 9pt">Please note that AVCs are managed by the&nbsp;Burmah
Castrol&nbsp;Pension Fund Trustee. They are a contract between you and the Trustee. BP does not
promote the payment of AVCs over any other private savings product.</span>
</font>
</div>
<div style="MARGIN: 0cm 0cm 18pt; TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging">
<font size="1"><span style="FONT-SIZE: 9pt">As a member of the Bumah Castrol Pension Fund, you can choose to
invest your AVCs&nbsp;with one or more of the Trustee's&nbsp;external investment managers.</span>
</font>
</div>
<div style="MARGIN: 0cm 0cm 18pt; TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging">
<font size="1"><span style="FONT-SIZE: 9pt">You can also make additional tax-effective contributions into personal
pension arrangements outside of BP. HM Revenue &amp; Customs allows you to pay in total pension
contributions of up to 100% of earnings each year, subject to the 
<font face="Verdana" color="#666666">[[Dictionary(BC):annual allowance]]</font>&nbsp;.</span>
</font>
</div>
<div style="MARGIN: 0cm 0cm 18pt; TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging">
<font size="1"><span style="FONT-SIZE: 9pt">If you are interested in AVCs, you can find more
information&nbsp;</span>
</font> 
<font size="1"><span style="FONT-SIZE: 9pt">in the 
<a title="BC AVC introductory guide _04 06_ _2_" target="_self"
href="%(link0)">AVC
introductory guide</a>.&nbsp;If you want to start paying AVCs, please complete an 
<a title="BC AVC application form _04 06_" target="_self"
href="%(link1)">application
form</a>.</span>
</font></div>]]></content>
    </element>
    <element name="bodyright3">
      <links/>
      <content/>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>your AVC fund will be used to buy additional pension when you retire</p>]]></content>
    </element>
  </page>
</pages>
