<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>who will receive benefits if I die?</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/BC_Expression_of_Wishes_05_07_07.pdf]]></target>
          <uuid>1680d0df-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bc/Resources/Fund_booklet.html]]></target>
          <uuid>0edeb743-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<h2>if you die in service</h2>
<p>If you are a member of the Burmah&nbsp;and Castrol Section of the Fund and you die in
service,&nbsp;a lump sum death benefit of three times your&nbsp;<span>[[Dictionary(BC):final pay]]</span>&nbsp;will be paid.&nbsp;Members of the Senior Staff
Section will receive a lump sum death benefit of four times <span>[[Dictionary(BC):final pay]]</span>.</p>
<p>If you have made additional voluntary contributions (AVCs), the value of your AVC fund will also
be paid.</p>
<p>In addition, your spouse or civil partner will receive a pension.&nbsp;If you do not have a
spouse or civil partner, the Trustee may award a dependant's pension. If you have
an&nbsp;eligible&nbsp;[[Dictionary(BC):child/children]], they may receive a pension. If no pension
can be paid, a refund of your contributions (excluding any additional voluntary contributions) will
be paid to person(s) as determined by the Trustee. Any AVC funds will also be payable.</p>
<h2>if you leave</h2>
<p>If you keep your pension in the Fund when you leave (a deferred pension) and are a Burmah
and&nbsp;Castrol section member,&nbsp;but die before you start to draw it, your spouse or civil
partner will receive a pension. If no spouse or civil partner's pension is payable, the Trustee may
award a dependant's pension. If no pension can be paid, a refund of your contributions (excluding
any additional voluntary contributions) will be paid to person(s) as determined by the Trustee. Any
AVC funds will also be payable.</p>
<h2>if you die&nbsp;after retirement</h2>
<p>If you are a Burmah and Castrol section member, and die after retiring, your spouse or civil
partner will receive a pension. If you do not have a spouse or civil partner, the Trustee may award
a dependant's pension. In addition, a pension may be paid to an&nbsp;eligible
[[Dictionary(BC):child/children]].</p>
<p>If you die within the five years after your pension starts and no spouse,&nbsp;civil partner,
dependant&nbsp;or&nbsp;children's pension is payable, a lump sum equal to your outstanding pension
payments for that five-year period will be paid (known as the 'five-year guarantee').</p>
<h2>nominating your beneficiaries</h2>
<p>It is vital that you nominate who you want to receive any lump sum benefit on an 
<em>expression of wishes form</em>, as the Trustee will refer to this when deciding who should
receive this benefit. You can download a copy of the form by clicking 
<a title="BC Expression of Wishes _01 07_ _2_" target="_self"
href="%(link0)">here</a>.</p>
<h2>further information</h2>
<p>You can find out more about financial protection for your family in the 
<a href="%(link1)">explanatory booklet</a>.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/leafy_green_leafs.jpg]]></target>
          <uuid>876bad11-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="leafy green leafs" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>financial protection for your family is an important part of the Fund's benefits</p>]]></content>
    </element>
  </page>
</pages>
