<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>how much money will I need?</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Application_images/BC_incomechart.PNG]]></target>
          <uuid>532dcdc2-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>Your expenses may be different in retirement than they are now and your outgoings then may bear
little relation to your current expenditure. Some big expenses may be gone, e.g. mortgage or travel
costs, whilst others may increase, e.g. utility bills, if you are spending more time at home.</p>
<p>Instead of thinking of a cash figure, it may help to plan on the basis that you want a pension
worth a certain percentage or fraction of your [[Dictionary(BC):final pensionable pay]]<span class="fakelink">&nbsp;</span>e.g. 50%, or two-thirds.</p>
<h2>am I on target?</h2>
<p>Having estimated how much money you think you will need, the obvious question is "am I on track
to achieve that income?"</p>
<p>A significant portion of your income in retirement is likely to be your Burmah Castrol pension.
The main benefit from the Burmah Castrol Pension Fund is a pension based on 1/50th of your final
pensionable pay for each year you are an active member of the&nbsp;Fund (known as 'pensionable
employment'). The formula used to calculate your pension is:</p>
<p class="formula">
<strong>final pensionable pay ÷ 50 x pensionable employment</strong>
</p>
<p class="formula">Plus, until <span class="fakelink">[[Dictionary(BC):State pension age]]</span>, you will receive a <span class="fakelink">[[Dictionary(BC):State pension supplement]]</span> worked out as:</p>
<p class="formula">
<strong>average basic State pension ÷ 50 x pensionable employment&nbsp;</strong>&nbsp;</p>
<table style="WIDTH: 369px; HEIGHT: 143px" cellspacing="1" cellpadding="1" width="369" summary=""
border="4">
<tbody>
<tr>
<td>
<h3 class="highlight">example</h3>
<p class="highlight">Mark retires in 2007, aged 60, with a final pensionable pay of £40,000 after
20 years' pensionable employment.</p>
<p class="highlight">Mark's annual pension is worked out as:</p>
<p class="highlight">£40,000 ÷ 50&nbsp;x 20 = 
<strong>£16,000</strong></p>
<p class="highlight">Plus, until he reaches State pension age, he will receive an annual&nbsp;State
pension supplement of:</p>
<p class="highlight">£4,460.30 ÷ 50&nbsp;x 20 = 
<strong>£1,784.12</strong></p>
<p class="highlight">Total annual pension up to State pension age = 
<strong>£17,784.12</strong></p>
<p class="highlight">Total annual pension after State pension age = 
<strong>£16,000</strong></p>
</td>
</tr>
</tbody>
</table>
<p>If you are a member of the Senior Staff Section of the Burmah Castrol Pension Fund, your
benefits are calculated differently. For further information, please contact 
<a href="%(link0)">BP UK&nbsp;Pensions &amp; Benefits</a>.</p>
<p>Several 'life events' could affect your pension planning. Some events will have a direct impact
on your&nbsp;final pensionable pay&nbsp;and your ability to make additional contributions - for
example, going part time (which would reduce the rate you earn pension for the future) or gaining a
salary increase or bonus.</p>
<p>Remember, too, that your retirement income&nbsp;may include more than just your&nbsp;Burmah
Castrol&nbsp;pension. Your income may come from several sources. (See example chart below).</p>
<p align="center">
<img height="218" alt="BC income chart" width="218" border="0"
src="%(link1)" />&nbsp;</p>
<p>In particular, you may have income from other occupational or private pension arrangements, so
you need to take this into account in working out whether you are saving enough.</p>
<h2>further information</h2>
<p>Draw up a list of your potential income and expenditure to work out how much money you will need
in retirement.&nbsp;To see&nbsp;whether you are on target, look at your&nbsp;combined pension
forecast&nbsp;to see your projected Burmah Castrol benefits at normal&nbsp;pension&nbsp;age and
your projected State pension at State pension age.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/leafy_green_leafs.jpg]]></target>
          <uuid>876bad11-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="leafy green leafs" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<font size="5">how much income will you need and are you on target?</font>]]></content>
    </element>
  </page>
</pages>
