<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>how can I increase my retirement income?</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bc/I_am_an_employee/AVCs.html]]></target>
          <uuid>0e39c531-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="false" type="A">
          <target><![CDATA[http://www.unbiased.co.uk/]]></target>
        </link>
      </links>
      <content><![CDATA[<p>If you feel that there is a gap between what you need and what you are forecast to receive,
there are two options open to you:</p>
<ul>
<li>increase your own contributions; and/or</li>
<li>if you wanted to retire early, consider postponing your retirement until closer to your
normal&nbsp;pension age.</li>
</ul>
<p>The Burmah Castrol Pension Fund allows you to pay 
<a href="%(link0)">additional voluntary contributions</a>
(AVCs). You can choose how much you pay, subject to the&nbsp;Fund&nbsp;limit of 15% of gross
earnings less normal&nbsp;Fund contributions.</p>
<p>A further option, introduced by HM Revenue &amp; Customs in April 2006, is for you to make
tax-efficient contributions into a personal pension arrangement at the same time as contributing to
the Burmah Castrol Pension Fund. You can have as many pension plans as you like and&nbsp;you will
get tax relief on your own contributions up to 100% of your earnings (subject to the <span class="fakelink">[[Dictionary(BC):annual allowance]]</span>). This provides you with much
greater flexibility and scope for tax-efficient pension savings.</p>
<h2>further information</h2>
<p>If you are unsure about which options are best for you, you should consider speaking to an
independent financial adviser (IFA). IFA Promotion Limited can suggest IFAs in your area, if you do
not already use one. They can be contacted on 0800 085 3250 or at 
<a href="%(link1)">www.unbiased.co.uk</a></p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/leafy_green_leafs.jpg]]></target>
          <uuid>876bad11-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="leafy green leafs" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<font size="5">most people are not saving enough to get the pension that they want</font>]]></content>
    </element>
  </page>
</pages>
