<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="headerright">
      <links/>
      <content><![CDATA[<h1>I am an employee</h1>]]></content>
    </element>
    <element name="headerright2">
      <links/>
      <content><![CDATA[<p>As an employee, you can use this site to find out:</p>
<ul>
<li>when you can retire.</li>
<li>how much income you will need.</li>
<li>how you can increase your retirement income.</li>
<li>how your benefits will be paid.</li>
<li>who will receive your benefits if you die.</li>
</ul>]]></content>
    </element>
    <element name="headerright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x180/leafy_green_leafs.jpg]]></target>
          <uuid>775aab6f-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="180" alt="leafy green leafs" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="headerright4">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-100x100/ladybird_on_grass.jpg]]></target>
          <uuid>60503b90-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="100" alt="ladybird on grass" width="99" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="headerright5">
      <links/>
      <content><![CDATA[<p>See the menu on the&nbsp;left for questions and decisions you should consider, to help you get
the most out of your Burmah Castrol pension.</p>
<p>These questions will help you to find out whether you are on track for a financially secure
retirement.</p>]]></content>
    </element>
    <element name="headerright6">
      <links/>
      <content><![CDATA[<font size="3">don't forget to log in to access all the features available to you</font>]]></content>
    </element>
  </page>
</pages>
