<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>when can I retire?</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bc/Resources/Fund_booklet.html]]></target>
          <uuid>0edeb743-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<h2>normal retirement</h2>
<p>Your normal pension age under the Burmah Castrol Pension Fund is 65. However, you can retire
early but your pension will be reduced unless you retire at age 60 or above.</p>
<h2>early retirement</h2>
<p>The earliest age at which you can currently retire is age 50. However, due to changes in
legislation, the minimum age you will be able to retire will increase to age 55 from 6 April
2010.</p>
<h2>late retirement</h2>
<p>If the Company agrees, you may work beyond your normal&nbsp;pension age and continue to build up
[[Dictionary(BC):pensionable employment]]
<font color="#009900">&nbsp;</font>until you actually stop working. This must be no later than age
75, subject to Fund limits.</p>
<h2>further information</h2>
<p>You can find further information on normal, early and late retirement in the 
<a href="%(link0)">explanatory booklet</a>.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/leafy_green_leafs.jpg]]></target>
          <uuid>876bad11-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="leafy green leafs" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<font size="5">having an idea of when you want to retire will help you&nbsp;plan your pension
saving</font>]]></content>
    </element>
  </page>
</pages>
