<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[contactingbppensions]]></Anchor>
    <Title><![CDATA[contacting BP Pensions]]></Title>
    <Question><![CDATA[Who do I inform if my personal details change?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>It is important that we hold up-to-date personal details for you. If you move house, change your
surname or (if you are a BP pensioner) change your bank details, we need to be informed.</p>
<p>If you are a current BP employee, please change your details through MyHR or inform your local
HR representative. HR will advise us of your new details.</p>
<p>If you have left BP or are a pensioner, you can change your details by logging into PensionLine
and updating them online. If you would prefer, you can write to us with your change of details. We
cannot accept changes to personal details by telephone or email.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
