<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[contactbppension]]></Anchor>
    <Title><![CDATA[contact BP pension]]></Title>
    <Question><![CDATA[Who do I contact for help or more information?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>All contact details are listed on the 'contact us' page.
<br /></p>]]></content>
    </Answer>
    <new_edited>true</new_edited>
  </PhraseType>
</FaqPhraseTypes>
