<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>BP UK&nbsp;Pensions &amp;&nbsp;Benefits</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link8" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-Admin/Mike_Whitfield.jpg]]></target>
          <uuid>8aca67e9-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link9" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-Admin/Colin.jpg]]></target>
          <uuid>8b463f37-fec6-11de-951e-4d6e53b46e73</uuid>
        </link>
        <link name="link6" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-Admin/Darrell_Hulls.jpg]]></target>
          <uuid>8a67d67a-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link7" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-Admin/Andy_Clifford.jpg]]></target>
          <uuid>90e674ca-6720-11de-aea0-4d6e53b46e73</uuid>
        </link>
        <link name="link4" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-Policy/Peter_Lay.jpg]]></target>
          <uuid>8fb36d56-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link10" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-Admin/Helen.JPG]]></target>
          <uuid>3fe7be61-fec8-11de-951e-4d6e53b46e73</uuid>
        </link>
        <link name="link5" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-Admin/Rikki_Carroll.jpg]]></target>
          <uuid>8b0722d2-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link11" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-Admin/Nigel_Johnson.jpg]]></target>
          <uuid>8addefec-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-Admin/Gail_Chorley.jpg]]></target>
          <uuid>8a8d10c0-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-Admin/susanx20150.jpg]]></target>
          <uuid>a1152a94-333b-11df-a9a1-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-Admin/ronnie.jpg]]></target>
          <uuid>c9ca5dc4-3335-11df-a9a1-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>BP UK&nbsp;Pensions&nbsp;&amp;&nbsp;Benefits&nbsp;is responsible for the day-to-day management of the BP and&nbsp;Burmah Castrol&nbsp;Pension Funds and also provides pensions advisory and support services to the Company.<br />
<br />
If you want to contact the Team, click here for <a href="%(link0)">details</a>.&nbsp;</p>
<div class="bio_panel">
<div class="bio_image"><img id="iimg_1875889211" height="150" alt="Ronnie Murray" width="100" border="0" src="%(link1)" /></div>
<div class="bio_text">
<h2>Ronnie Murray -&nbsp;Head of&nbsp;UK Pensions and Benefits</h2>
<p>Ronnie has worked in the pensions industry for over 25 years. She started her career with British Airways where she stayed for 20 years before moving to Siemens.<br />
<br />
Ronnie joined BP in October 2003 and was specifically recruited to play a key role in the in-sourcing project and, subsequently, lead the BP UK Pensions &amp; Benefits Team, which is responsible for the day-to-day running of&nbsp;BP's UK pension and benefit schemes.</p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image"><img height="150" alt="Gail Chorley" width="100" border="0" src="%(link2)" />&nbsp;</div>
<div class="bio_text">
<h2>Gail Chorley - Pensions Administration Manager</h2>
<p>Gail joined BP in January 2004, in the latter part of the in-sourcing project. She is now responsible for managing the&nbsp;pensions administration services provided to all our members.<br />
<br />
Gail has worked in the pensions industry for a number of years, initially in insurance, then in-house for a drinks company and latterly for an actuarial consultancy. Gail is a Fellow of the Pensions Management Institute.</p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image"><img id="iimg_461987819" height="150" alt="Sue Hughes" width="100" border="0" src="%(link3)" />&nbsp;</div>
<div class="bio_text">
<h2>Susan Hughes - Policy Manager</h2>
<p>Sue joined BP in 1998. She manages pension policy for both the BP and Burmah Castrol Pension Funds as well as benefit policy for BP's UK benefit schemes. Sue is responsible for defining policy and ensuring compliance with scheme documentation and promoting best practice.<br />
<br />
Sue has always worked in the pensions industry - some 20 years now. Prior to joining BP, Sue held various positions working for companies such as Abbey National and ITN. She is a Fellow of the Pensions Management Institute.</p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image">&nbsp; <img height="150" alt="Peter Lay" width="100" border="0" src="%(link4)" /></div>
<div class="bio_text">
<h2>Peter Lay &ndash; Communications Manager</h2>
<p>Peter joined BP in November 2005 to help develop the pension communication strategy and deliver tailored information to members.<br />
<br />
Peter has over 15 years' experience in the pension and benefit communication business, during which he has worked for a number of employee benefit companies as a copywriter and a consultant. Before joining BP, he was a senior consultant with Hewitt Associates. Peter is a Fellow of the Pensions Management Institute.</p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image"><img height="150" alt="Rikki Carroll" width="100" border="0" src="%(link5)" />&nbsp;</div>
<div class="bio_text">
<h2>Rikki Carroll - Finance and Payroll&nbsp;Manager</h2>
<p>Rikki joined BP in May 2004 and leads the payroll and finance team which is responsible for the payment of all benefits from the Pension Fund.<br />
<br />
Rikki has worked in pensions accounting for&nbsp;20 years and was a member of the team responsible for bringing BP pensions administration back in-house.</p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image"><img height="150" alt="Darrell Hulls" width="100" border="0" src="%(link6)" />&nbsp;</div>
<div class="bio_text">
<h2>Darrell Hulls&nbsp;- Systems and Scheme Events Manager</h2>
<p>Darrell joined BP in October 2005. He manages the Systems and Scheme Events Teams. These Teams carry out the development and day-to-day maintenance of the systems used by the pension administrators, as well as project management duties and data mining exercises.<br />
<br />
Darrell has worked in the IT industry for more years than he cares to admit. Prior to joining BP, he worked in a number of industry sectors including the public sector, pharmaceuticals, large US corporate, consumer electronics, and banking. Throughout his career, Darrell has worked to raise the profile of IT within business and assist in the development of new technology and ideas</p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image"><img height="150" alt="Andy Clifford" width="100" border="0" src="%(link7)" /></div>
<div class="bio_text">
<h2>Andy Clifford - Operations Manager</h2>
<p>Andy has worked in the pensions industry for over 20 years and joined BP in June 2008. Together with Gail Chorley, Pensions Administration Manager, Andy manages the day-to-day pension administration services to the 80,000 members of the BP and Burmah Castrol Pension Funds.<br />
<br />
Before joining BP, Andy worked in systems and administration roles both in-house and for third-party administrators. More recently, he has worked in project management and is a PRINCE2 certified Project Manager.</p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image"><img id="iimg_869930888" height="150" alt="Mark Quinton" width="100" border="0" src="%(link8)" />&nbsp;</div>
<div class="bio_text">
<h2>Mike Whitfield - PensionLine &amp; Benefits Team Leader</h2>
<p>Mike joined BP in November 2003 as part of the BP Pensions in-sourcing project. He currently leads the team which deals with queries relating to PensionLine and employee and pensioner benefits.<br />
<br />
Mike has worked in the pensions industry since February 1988. During this time, prior to joining BP, he has worked for life offices, third party pensions administrators (companies who administer pension schemes on behalf of other companies) and pensions consultancies.<br />
<br />
As part of his experience, Mike has been awarded the Pensions Management Institute, Qualification in Pensions Administration.</p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image"><img id="iimg_-328197112" height="150" alt="Mike Whitfield" width="100" border="0" src="%(link9)" />&nbsp;</div>
<div class="bio_text">
<h2>Colin Latimer -&nbsp;Pensions Team Leader</h2>
<p>Colin joined BP as a Team Leader in August 2009 managing the heritage pension schemes, including the Burmah Castrol Pension Fund.<br />
<br />
Colin has worked in the pensions industry for over 20 years with a number of third party administration providers and pension consultancies.&nbsp; During his career he has successfully passed a number of qualifications from the Pensions Management Institute.</p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image"><img id="iimg_1156228276" height="150" alt="Nigel Johnson" width="100" border="0" src="%(link10)" /></div>
<div class="bio_text">
<h2>Helen Scadding -&nbsp;Pensions Team Leader</h2>
<p>Helen joined BP in October 2009 and currently leads the team that looks after the benefits of BP Pension Scheme members.<br />
<br />
Helen has over 10 years of experience in the pensions industry.&nbsp; Before joining BP, Helen worked for House of Fraser and Legal &amp; General.<br />
&nbsp;</p>
</div>
</div>
<div class="bio_panel">
<div class="bio_image"><img id="iimg_869805000" height="150" alt="Mark Quinton" width="100" border="0" src="%(link11)" />&nbsp;</div>
<div class="bio_text">
<h2>Nigel Johnson - Systems Team&nbsp;Leader</h2>
<p>Nigel joined BP in 2003 as part of the design team that built the pension department's technical infrastructure and produced the award winning PensionLine website. Since then, Nigel has moved into a more managerial role, taking advantage of his technical leadership skills.<br />
<br />
Nigel started his career with the Ministry of Defence as a network and telecommunications developer. He then became an independent consultant working with large multinationals like Matra Marconi, Astrium, British Aerospace, and British Telecom.<br />
&nbsp;</p>
</div>
</div>
<p>&nbsp;</p>]]></content>
    </element>
  </page>
</pages>
