<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>consultation</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link39" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/02_March_2006.pdf]]></target>
          <uuid>0e617fee-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link44" internal="false" type="A">
          <target><![CDATA[mailto:ann.power@uk.bp.com]]></target>
        </link>
        <link name="link45" internal="false" type="A">
          <target><![CDATA[mailto:ann.power@uk.bp.com]]></target>
        </link>
        <link name="link42" internal="false" type="A">
          <target><![CDATA[mailto:peter.munro@bp.com]]></target>
        </link>
        <link name="link43" internal="false" type="A">
          <target><![CDATA[mailto:linda.needham@uk.bp.com]]></target>
        </link>
        <link name="link48" internal="false" type="A">
          <target><![CDATA[mailto:smithmw1@bp.com]]></target>
          <query><![CDATA[subject=UK%20Pensions%20Consultation%20Forum]]></query>
        </link>
        <link name="link49" internal="false" type="A">
          <target><![CDATA[mailto:david.evans@uk.bp.com]]></target>
          <query><![CDATA[subject=UK%20Pensions%20Consultation%20Forum]]></query>
        </link>
        <link name="link46" internal="false" type="A">
          <target><![CDATA[mailto:bickft@bp.com]]></target>
          <query><![CDATA[subject=UK%20Pensions%20Consultation%20Forum]]></query>
        </link>
        <link name="link47" internal="false" type="A">
          <target><![CDATA[mailto:david.budge@uk.bp.com]]></target>
          <query><![CDATA[subject=UK%20Pensions%20Consultation%20Forum]]></query>
        </link>
        <link name="link40" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/UK_PCF_Constitution.pdf]]></target>
          <uuid>4bdba7aa-5b3e-11de-8490-4d6e53b46e73</uuid>
        </link>
        <link name="link41" internal="false" type="A">
          <target><![CDATA[mailto:andrew.bunby@uk.bp.com]]></target>
        </link>
        <link name="link8" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/18_January_2011_-_Slide_Pack.pdf]]></target>
          <uuid>6cc3ef5d-27a2-11e0-8c24-4d6e53b46e73</uuid>
        </link>
        <link name="link9" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/16_Dec_2010.pdf]]></target>
          <uuid>f0d40b8b-279a-11e0-8c24-4d6e53b46e73</uuid>
        </link>
        <link name="link6" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/29_March_2011_Slide_Pack.pdf]]></target>
          <uuid>639f7765-5c32-11e0-9173-4d6e53b46e73</uuid>
        </link>
        <link name="link7" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/18_January_2011.pdf]]></target>
          <uuid>8436b76e-4585-11e0-bf4b-4d6e53b46e73</uuid>
        </link>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/19_July_2011_-_Slide_pack.pdf]]></target>
          <uuid>d9f8804b-e2be-11e0-a675-4d6e53b46e73</uuid>
        </link>
        <link name="link5" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/29_March_2011.pdf]]></target>
          <uuid>9581e79f-7fc8-11e0-9906-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/19_July_2011.pdf]]></target>
          <uuid>db8fc29f-b6c1-11e0-952c-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/19_July_2011.pdf]]></target>
          <uuid>db8fc29f-b6c1-11e0-952c-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/10_November_2011.pdf]]></target>
          <uuid>66b5ce6f-5701-11e1-8572-4d6e53b46e73</uuid>
        </link>
        <link name="link29" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/Minutes_-_Pensions_consultation_meeting_29_November_2007__final_.pdf]]></target>
          <uuid>1009ffe2-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/10_November_2011_-_Slide_pack.pdf]]></target>
          <uuid>cf4b474b-0f6b-11e1-8bf9-4d6e53b46e73</uuid>
        </link>
        <link name="link28" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/19_February_2008.pdf]]></target>
          <uuid>0f2719e6-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link31" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/Minutes_-_Pensions_consultation_meeting_8_May_2007.pdf]]></target>
          <uuid>104f1f36-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link32" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/Minutes_-_Pensions_consultation_meeting_6_March_2007.pdf]]></target>
          <uuid>1033cf04-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link33" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/Minutes_-_Pensions_consultation_meeting_20_November_2006.pdf]]></target>
          <uuid>0fc94d5e-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link34" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/31_October_2006.pdf]]></target>
          <uuid>0fa2646c-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link35" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/14_September_2006.pdf]]></target>
          <uuid>0ef868c4-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link36" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/03_August_2006.pdf]]></target>
          <uuid>0ec0de02-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link37" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/19_May_2006.pdf]]></target>
          <uuid>0f51ac58-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link38" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/03_April_2006.pdf]]></target>
          <uuid>0e8d71f0-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link30" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/Minutes_-_Pensions_consultation_meeting_20_September_2007__final_.pdf]]></target>
          <uuid>0fe95880-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link19" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/23_September_2009.pdf]]></target>
          <uuid>d36cffcb-e323-11de-859c-4d6e53b46e73</uuid>
        </link>
        <link name="link18" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/26_November_2009.pdf]]></target>
          <uuid>b84a382b-feb9-11de-951e-4d6e53b46e73</uuid>
        </link>
        <link name="link17" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/6_January_2010.pdf]]></target>
          <uuid>a73032d6-25e0-11df-94ba-4d6e53b46e73</uuid>
        </link>
        <link name="link26" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/Minutes_Pensions_Consultation_Meeting_25_sept_08.pdf]]></target>
          <uuid>10734908-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link27" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/Pensions_consultation__forum_minutes_June_08.pdf]]></target>
          <uuid>109528ea-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link24" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/2009-06-02.pdf]]></target>
          <uuid>25ba1e2f-572e-11de-902e-4d6e53b46e73</uuid>
        </link>
        <link name="link25" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/2009-02-17.pdf]]></target>
          <uuid>0c83f48c-572e-11de-902e-4d6e53b46e73</uuid>
        </link>
        <link name="link22" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/UKPCF_Key_points_2009-06-17.pdf]]></target>
          <uuid>0a45179a-6723-11de-aea0-4d6e53b46e73</uuid>
        </link>
        <link name="link23" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/UKPCF_Key_points_2009-06-08.pdf]]></target>
          <uuid>c2cd6d5c-5b44-11de-8490-4d6e53b46e73</uuid>
        </link>
        <link name="link20" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/16_July_2009.pdf]]></target>
          <uuid>30de92f5-80f1-11de-b516-4d6e53b46e73</uuid>
        </link>
        <link name="link21" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/UK_Pension_Consultation_Minutes_1_July_2009.pdf]]></target>
          <uuid>51e17b59-76a0-11de-b736-4d6e53b46e73</uuid>
        </link>
        <link name="link60" internal="false" type="A">
          <target><![CDATA[mailto:graham.delaney@uk.bp.com]]></target>
        </link>
        <link name="link53" internal="false" type="A">
          <target><![CDATA[mailto:thomas.davidson@uk.bp.com]]></target>
          <query><![CDATA[subject=UK%20Pensions%20Consultation%20Forum]]></query>
        </link>
        <link name="link13" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/UKPCF_slide_deck_17_Nov_2010.pdf]]></target>
          <uuid>7d0c0b2f-01e3-11e0-9680-4d6e53b46e73</uuid>
        </link>
        <link name="link54" internal="false" type="A">
          <target><![CDATA[mailto:alan.chapelhow@uk.bp.com]]></target>
          <query><![CDATA[subject=UK%20Pensions%20Consultation%20Forum]]></query>
        </link>
        <link name="link14" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/14_July_2010.pdf]]></target>
          <uuid>2ae84731-b04d-11df-9cfb-4d6e53b46e73</uuid>
        </link>
        <link name="link55" internal="false" type="A">
          <target><![CDATA[mailto:colin.ellis@uk.bp.com]]></target>
          <query><![CDATA[subject=UK%20Pensions%20Consultation%20Forum]]></query>
        </link>
        <link name="link15" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/Consultation_Slide_Pack_-_July_2010.ppt]]></target>
          <uuid>a31e765f-b9a1-11df-86bd-4d6e53b46e73</uuid>
        </link>
        <link name="link56" internal="false" type="A">
          <target><![CDATA[mailto:duncan.simcock@uk.bp.com]]></target>
          <query><![CDATA[subject=UK%20Pensions%20Consultation%20Forum]]></query>
        </link>
        <link name="link16" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/25_February_2010.pdf]]></target>
          <uuid>390f1ae1-900d-11df-8e0b-4d6e53b46e73</uuid>
        </link>
        <link name="link57" internal="false" type="A">
          <target><![CDATA[mailto:andrew.kenney@uk.bp.com]]></target>
          <query><![CDATA[subject=UK%20Pensions%20Consultation%20Forum]]></query>
        </link>
        <link name="link58" internal="false" type="A">
          <target><![CDATA[mailto:colin.levy@uk.bp.com]]></target>
          <query><![CDATA[subject=UK%20Pensions%20Consultation%20Forum]]></query>
        </link>
        <link name="link10" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/16_Dec_2010.pdf]]></target>
          <uuid>f0d40b8b-279a-11e0-8c24-4d6e53b46e73</uuid>
        </link>
        <link name="link59" internal="false" type="A">
          <target><![CDATA[mailto:david.tidman@uk.bp.com]]></target>
          <query><![CDATA[subject=UK%20Pensions%20Consultation%20Forum]]></query>
        </link>
        <link name="link11" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/16_Dec_2010_-_Slide_Pack.pdf]]></target>
          <uuid>97dd8a17-279a-11e0-8c24-4d6e53b46e73</uuid>
        </link>
        <link name="link12" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Consultation_minutes/17_November_2010.pdf]]></target>
          <uuid>c6c1b234-0f39-11e0-92d7-4d6e53b46e73</uuid>
        </link>
        <link name="link50" internal="false" type="A">
          <target><![CDATA[mailto:fosterm6@uk.bp.com]]></target>
          <query><![CDATA[subject=UK%20Pensions%20Consultation%20Forum]]></query>
        </link>
        <link name="link51" internal="false" type="A">
          <target><![CDATA[mailto:grahame.cook@uk.bp.com]]></target>
        </link>
        <link name="link52" internal="false" type="A">
          <target><![CDATA[mailto:Matthew.Hein@uk.bp.com]]></target>
        </link>
      </links>
      <content><![CDATA[<p>The UK Pensions Consultation Forum (UKPCF) covers all UK employees of BP group companies who are members of a BP-sponsored UK pension arrangement. The UKPCF usually meet three times a year to communicate and consult on pension issues of significance to UK employees.</p>
<p>The UKPCF also considers issues relating to pensioners and BP can invite up to five pensioner liaison officers (PLOs), at its discretion, to join UKPCF meetings.</p>
<p>You can download copies of the minutes from these meetings below.</p>
<ul>
    <li><a title="10 November 2011" href="%(link0)" target="_self">10 November&nbsp;2011</a></li>
    <li><a title="10 November 2011 - Slide pack" target="_self" href="%(link1)">10 November 2011 - Slide pack</a></li>
    <li><a title="19 July 2011" target="_self" href="%(link2)">19 July 2011</a><a title="19 July 2011" target="_self" href="%(link3)">&nbsp;</a></li>
    <li><a title="19 July 2011 - Slide pack" target="_self" href="%(link4)">19 July 2011 - Slide Pack</a></li>
    <li><a title="29 March 2011" target="_self" href="%(link5)">29 March 2011&nbsp;</a></li>
    <li><a title="29 March 2011 Slide Pack" target="_self" href="%(link6)">29 March 2011 - Slide Pack</a></li>
    <li><a title="18 January 2011" target="_self" href="%(link7)">18 January 2011&nbsp;</a>&nbsp;</li>
    <li><font color="#009900"><a title="18 January 2011 - Slide Pack" target="_self" href="%(link8)">18 January 2011 - Slide Pack</a></font></li>
    <li><font color="#009900"><a title="16 Dec 2010" target="_self" href="%(link9)">16 December 2010&nbsp;</a><a title="16 Dec 2010" target="_self" href="%(link10)">&nbsp;</a></font></li>
    <li><a title="16 Dec 2010 - Slide Pack" target="_self" href="%(link11)">16 December 2010 - Slide Pack</a></li>
    <li><a title="17 November 2010" target="_self" href="%(link12)">17 November 2010&nbsp;</a></li>
    <li><a title="UKPCF slide deck 17 Nov 2010" target="_self" href="%(link13)">17 November 2010 - Slide Pack</a></li>
    <li><font color="#009900"><a title="14 July 2010" target="_self" href="%(link14)">14 July 2010</a></font></li>
    <li><a title="Consultation Slide Pack - July 2010" target="_self" href="%(link15)">14 July 2010 - Slide Pack</a></li>
    <li><a title="25 February 2010" target="_self" href="%(link16)">25 February 2010</a></li>
    <li><a title="6 January 2010" target="_self" href="%(link17)">6 January 2010</a></li>
    <li><a title="26 November 2009" target="_self" href="%(link18)">26 November 2009</a></li>
    <li><a title="23 September 2009" target="_self" href="%(link19)">23 September 2009</a></li>
    <li><a title="16 July 2009" target="_self" href="%(link20)">16 July 2009</a>&nbsp;</li>
    <li><font color="#009900"><a title="UK Pension Consultation Minutes 1 July 2009" target="_self" href="%(link21)">1&nbsp;July 2009</a></font></li>
    <li><font color="#009900"><a title="UKPCF Key points 17 June 2009" target="_self" href="%(link22)">17 June 2009</a></font></li>
    <li><a title="UKPCF Key points 8 June 2009" target="_self" href="%(link23)">8 June 2009</a></li>
    <li><a title="Pensions consultation key points bulletin" target="_self" href="%(link24)">2 June 2009</a></li>
    <li><a title="UKPCF consultation minutes 17 February 2009" target="_self" href="%(link25)">17 February 2009</a></li>
    <li><a title="Minutes_Pensions_Consultation_Meeting_25_sept_08" target="_self" href="%(link26)">25 September 2008</a></li>
    <li><a title="Pensions_consultation _forum_minutes_June 08" target="_self" href="%(link27)">18 June 2008</a></li>
    <li><a title="Pensions Consultation Forum Meeting minutes - 19 February 2008" target="_self" href="%(link28)">19 February 2008</a></li>
    <li><a title="Minutes - Pensions consultation meeting 29 November 2007 _final_" target="_self" href="%(link29)">29 November 2007</a>&nbsp;</li>
    <li><a title="Minutes - Pensions consultation meeting 20 September 2007" target="_self" href="%(link30)">20 September 2007</a></li>
    <li><a title="Minutes - Pensions consultation meeting 8 May 2007" target="_self" href="%(link31)">8 May 2007</a></li>
    <li><a title="Minutes - Pensions consultation meeting 6 March 2007" target="_self" href="%(link32)">6 March 2007</a></li>
    <li><a title="Minutes - Pensions consultation meeting 20 November 2006" target="_self" href="%(link33)">20 November 2006</a></li>
    <li><a title="31 October 2006" target="_self" href="%(link34)">31 October 2006</a></li>
    <li><a title="14 September 2006" target="_self" href="%(link35)">14 September 2006</a></li>
    <li><a title="03 August 2006" target="_self" href="%(link36)">3 August 2006</a></li>
    <li><a title="19 May 2006" target="_self" href="%(link37)">19 May 2006</a></li>
    <li><a title="03 April 2006" target="_self" href="%(link38)">3 April 2006</a></li>
    <li><a title="02 March 2006" target="_self" href="%(link39)">2 March 2006</a></li>
</ul>
<p style="list-style-type: none">You can also download a copy of the UKPCF <a title="UK PCF Constitution" target="_self" href="%(link40)">constitution</a>.</p>
<p><font color="#666666" size="2" face="Verdana">The Chairman of the UKPCF is <strong>David Bickerton</strong>. The employee representatives on the UKPCF are:</font></p>
<table style="border-bottom: medium none; border-left: medium none; border-collapse: collapse; border-top: medium none; border-right: medium none" border="1" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; background: silver; border-top: gray 1pt solid; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#c0c0c0" valign="top" width="183">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><strong><font color="#ffffff" size="1"><span style="color: white; font-size: 9pt; font-weight: bold">Business/location</span> </font></strong></div>
            </td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: silver; border-top: gray 1pt solid; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#c0c0c0" valign="top" width="385">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><strong><font color="#ffffff" size="1"><span style="color: white; font-size: 9pt; font-weight: bold">Names</span> </font></strong></div>
            </td>
        </tr>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" valign="top" width="183">A&amp;A</td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: yellow; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#ffff00" valign="top" width="385"><a target="_self" href="%(link41)">Andrew Bunby</a></td>
        </tr>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" valign="top" width="183">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt">Alternative Energy</span></font></font></font></div>
            </div>
            </td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: yellow; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#ffff00" valign="top" width="385">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><a target="_self" href="%(link42)">Vacancy</a></span></font></font></font></font></div>
            </div>
            </div>
            </td>
        </tr>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" valign="top" width="183">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt">C&amp;F </span></font></div>
            </td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: yellow; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#ffff00" valign="top" width="385">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><a target="_self" href="%(link43)">Linda Needham&nbsp;</a></span></font></font></font></div>
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><span style="color: #666666; font-size: 9pt"><a target="_self" href="%(link44)">Ann Power</a></span></span></font></font></font></div>
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><span style="color: #666666; font-size: 9pt"><span style="color: #666666; font-size: 9pt"><span style="color: #666666; font-size: 9pt"><a target="_self" href="%(link45)">Vacancy</a></span></span></span></span></font></font></font></div>
            </div>
            </div>
            </td>
        </tr>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" valign="top" width="183">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt">E&amp;P Continental Shelf </span></font></div>
            </td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: yellow; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#ffff00" valign="top" width="385">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><a href="%(link46)"><font color="#009900"><span style="color: #009900; text-decoration: none; text-underline: none">Fiona Bick</span> </font></a></span></font></span></font></font></div>
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><a href="%(link47)">David Budge</a> </span></font></span></font></div>
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><a href="%(link48)"><font color="#009900"><span style="color: #009900; text-decoration: none; text-underline: none">Martin W Smith</span> </font></a></span></font></font></font></font></div>
            </div>
            </div>
            </td>
        </tr>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" valign="top" width="183">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt">E&amp;P Sunbury </span></font></div>
            </td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: yellow; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#ffff00" valign="top" width="385">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#666666" size="1"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><a href="%(link49)">David Evans</a> </span></font></font></font></div>
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><a href="%(link50)">Mark Foster</a> </span></font></font></div>
            </div>
            </div>
            </td>
        </tr>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" valign="top" width="183">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><font color="#009900"><span style="color: #009900; text-decoration: none; text-underline: none"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt">IST </span></font></span></font></span></font></div>
            </td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: yellow; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#ffff00" valign="top" width="385">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><font color="#009900"><span style="color: #009900; text-decoration: none; text-underline: none"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><a target="_self" href="%(link51)">Grahame Cook</a></span></font></span></font></span></font></font></div>
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><font color="#009900"><span style="color: #009900; text-decoration: none; text-underline: none"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><a target="_self" href="%(link52)">Vacancy</a></span></font></span></font></span></font></font></div>
            </div>
            </td>
        </tr>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" valign="top" width="183">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt">LPG UK </span></font></font></font></div>
            </div>
            </td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: yellow; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#ffff00" valign="top" width="385">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#666666" size="1"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><a href="%(link53)">Tom Davidson</a> </span></font></font></font></font></font></div>
            </div>
            </div>
            </td>
        </tr>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" valign="top" width="183">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt">Logistics </span></font></font></font></div>
            </div>
            </td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: yellow; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#ffff00" valign="top" width="385">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#666666" size="1"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><a href="%(link54)"><font color="#009900"><span style="color: #009900; text-decoration: none; text-underline: none">Alan Chapelhow</span> </font></a></span></font></font></font></font></font></font></div>
            </div>
            </div>
            </div>
            </td>
        </tr>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" valign="top" width="183">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><font color="#009900"><span style="color: #009900; text-decoration: none; text-underline: none"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt">Lubes</span> </font></span></font></span></font></div>
            </td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: yellow; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#ffff00" valign="top" width="385">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><a href="%(link55)">Colin Ellis</a> </span></font></font></font></font></font></font></font></font></div>
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><a href="%(link56)">Vacancy</a> </span></font></font></font></font></font></font></font></div>
            </div>
            </div>
            </td>
        </tr>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" valign="top" width="183">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt">Retail </span></font></font></font></div>
            </div>
            </td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: yellow; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#ffff00" valign="top" width="385">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><font color="#009900"><span style="color: #009900; text-decoration: none; text-underline: none"><a href="%(link57)">Andy Kenney</a>&nbsp;</span></font></span></font></font></font></font></div>
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><a href="%(link58)">Colin Levy</a> </span></font></font></font></font></font></font></font></div>
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><span style="color: #666666; font-size: 9pt"><a href="%(link59)">David Tidman</a></span></span></font></font></font></font></font></font></font></div>
            </div>
            </div>
            </td>
        </tr>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" valign="top" width="183">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt">Shipping </span></font></font></font></div>
            </div>
            </td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: yellow; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#ffff00" valign="top" width="385">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><font color="#009900"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt"><a href="%(link60)">Graham&nbsp;Delaney</a> </span>&nbsp;</font> </font></font></font></font></font></font></font></div>
            </div>
            </div>
            </td>
        </tr>
    </tbody>
</table>
<p><font color="#666666" size="2" face="Verdana">The five PLOs who can currently be invited by BP to attend UKPCF meetings are: <strong>Robin Charter</strong>, <strong>Trevor Cooper</strong>, <strong>Alan McKie</strong>, <strong>Langdon Nichols</strong> and <strong>Hamish Robertson</strong>.</font></p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/green_leaf.jpg]]></target>
          <uuid>866ab7b0-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="green leaf" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>the Forum raises and discusses pension issues on your behalf</p>]]></content>
    </element>
  </page>
</pages>
