<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[taxonyourpension]]></Anchor>
    <Title><![CDATA[tax on your pension]]></Title>
    <Question><![CDATA[What are the tax implications of making pension contributions?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Any contributions you make to the Scheme are deducted from your earnings before tax. This means that you pay less, as you receive tax and National Insurance relief on your contributions.</p>]]></content>
    </Answer>
    <new_edited>true</new_edited>
  </PhraseType>
</FaqPhraseTypes>
