<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[taxonyourpension]]></Anchor>
    <Title><![CDATA[tax on your pension]]></Title>
    <Question><![CDATA[What are the tax implications when drawing a pension?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>When you retire and start receiving your BP pension, income tax is deducted from your pension in the same way as from salary.</p>
<p>Each year, you will receive a P60 End of Year Certificate. This is the record of your pension income for the previous financial year. You will need the details on the P60 to complete your tax return.</p>
<p>If you believe you should have a different tax code from the one that is listed with BP Pensions, you will need to contact HM Revenue &amp; Customs directly. If they agree that your tax code should change, they will send us an updated tax code.</p>
<p>The tax office dealing with your <b>BP pension </b>will be:</p>
<p><b>HM Revenue &amp; Customs<br />
Pay As You Earn <br />
PO Box 1000 <br />
Newcastle upon Tyne<br />
NE98 1WY</b></p>
<p>Telephone: <b>0845 300 0627 </b>(UK) or <b>+44 (0)135 535 9022 </b>(overseas)</p>
<p>The tax reference number is <b>120/B50005.</b></p>
<p>The tax office dealing with your <b>Burmah Castrol pension </b>will be:</p>
<p><b>HM Revenue &amp; Customs <br />
Pay As You Earn <br />
PO Box 4000<br />
Cardiff<br />
CF14 8HR</b></p>
<p>Telephone: <b>0845 300 0627 </b>(UK) or <b>+44 (0)135 535 9022 </b>(overseas)</p>
<p>The tax reference number is <b>470/PB10B.</b></p>]]></content>
    </Answer>
    <new_edited>false</new_edited>
  </PhraseType>
</FaqPhraseTypes>
