.multipleSelectBoxControl span{	/* Labels above select boxes*/
	font-family:arial;
	font-size:11px;
	font-weight:bold;
}
.multipleSelectBoxControl div select{	/* Select box layout */
	font-family:arial;
	height:100%;
}
.multipleSelectBoxControl input{	/* Small butons */
	width:25px;	
}
.multipleSelectBoxControl div{
	float:left;
}
	
.multipleSelectBoxDiv

.dialog_layer {
	display: none; 
	position: absolute; 
	top: 0pt; 
	left: 0pt; 
	right: 0pt; 
	bottom: 0pt; 
	width: 100%; 
	height: 100%;
	text-align: center;
}

.dialog {
	background-color:#EEEEEE;
	border:1px solid #009900;
	display:none;
	left:210px;
	padding:0 0 10px;
	position:absolute;
	top:30px;
	width:370px;
	z-index: 999;
}


.dialog_title {
	background-color:#009900;
	border-bottom:1px solid #009900;
	color:#FFFF00;
	font-size:12pt;
	margin-bottom:10px;
	padding:5px;
	width:360px;
}

.component_holder {
	clear:both;
	width:100%;
}

.td_left{
	margin-top:5px;
	margin-bottom:5px; 
	margin-left: 5px;
	text-align:right;
}

.td_middle{
	margin-top:5px;
	margin-bottom:5px; 
	margin-left: 1px;
	text-align:right;
}

.td_right {
	margin-top:5px;
	margin-bottom:5px; 
	margin-left: 1px;
	margin-right: 5px;
	text-align:right;
	height: 25px;
}

input[type="text"],textarea {
	margin: 0px;
	border-width: 1px;
	padding: 1px;
}
input[type="button"],input[type="submit"],select :hover{
	cursor: pointer;
}
select {
	padding-right: 0px;
}
.btnHelp {
	cursor: help;
}

 