<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content/>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<div id="dd_mapper_form">
<form action="method=">
    <h2>Select DB and table</h2>
    <div class="login_component_holder">
    <div class="login_label"><label for="dd_dbname">Database</label></div>
    <div class="login_value"><select id="dd_dbname" onchange="getTablesOfDBRequest(document.getElementById('dd_dbname').value); return false;" name="dd_dbname">
    <option value="AQUILLA" selected="selected">Aquila</option>
    </select></div>
    </div>
    <div class="login_component_holder">
    <div class="login_label"><label for="dd_table">Table</label></div>
    <div class="login_value"><select id="dd_table" onchange="getDDRequest(document.getElementById('dd_dbname').value, document.getElementById('dd_table').value); return false;" name="dd_table"></select></div>
    </div>
    <br/><br/>
    <hr/>
    <h2>Data dictionary definer</h2>
    <div class="login_component_holder">
    <div class="login_label"><label for="dd_table_selected">Table</label></div>
    <div class="login_value"><input id="dd_table_selected" readonly="readonly" name="dd_table_selected" type="text" /></div>
    </div>
    <div class="login_component_holder">
    <div class="login_label"><label for="dd_attribute">Attributes</label></div>
    <div id="dd_list_att" class="dd_list_att">&nbsp;</div>
    </div>
    <br />
    <div class="login_component_holder">
    <div class="login_label"><label for="dd_alias">Alias</label></div>
    <div class="login_value"><input id="dd_alias" name="dd_alias" type="text" /></div>
    </div>
    <div class="login_component_holder">
    <div class="login_label"><label for="dd_description">Description</label></div>
    <div class="login_value"><input id="dd_description" size="60" name="dd_description" type="text" /></div>
    </div>
    <div class="login_component_holder">
    <div class="login_label"><label for="dd_alias">&nbsp;</label></div>
    <div class="login_value"><input class="goButton" type="button" onclick="updateSelectedMapping();" value="Update" /></div>
    </div>
    <br />
    <br />
    <div class="report_component_holder">
    <div class="login_label"><label>&nbsp;</label></div>
    <div class="login_value"><input id="dd_save" class="goButton" type="button" onclick="saveMappingsRequest();" value="Save" />&nbsp; <input id="dd_save" class="goButton" type="button" onclick="cancelMapper();" name="dd_save" value="Cancel" />&nbsp;</div>
    </div>
</form>
</div>
<div style="display: none" id="dd_spining_img">&nbsp;</div>
<script type="text/javascript">
    getTablesOfDBRequest('AQUILLA');
</script>]]></content>
    </element>
  </page>
</pages>
