<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>who will receive benefits if I die?</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/grass_on_blue_background.jpg]]></target>
          <uuid>861bd454-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="grass on blue background" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<font size="5">financial protection for your family is an important part of your benefits</font>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/BC_Expression_of_Wishes__01_07___2_.pdf]]></target>
        </link>
      </links>
      <content><![CDATA[<p>If you keep your pension in the Burmah Castrol Pension Fund when you leave (a deferred pension),
but die before you start to draw it, a pension will be paid to your spouse or civil partner. If you
do not have a&nbsp;spouse or civil partner, the Trustee may award a dependant's pension. If&nbsp;no
pension can be paid, a refund of your contributions (excluding any additional voluntary
contributions) will be paid to persons as determined by the Trustee.&nbsp;If you have made
additional voluntary contributions (AVCs), the value of your AVC fund will also be paid.</p>
<h2>for members of the Foseco Section</h2>
<p>If you die before you start drawing your deferred pension, a pension will be paid to your spouse
or civil partner. If no spouse's or civil partner's pension is payable, the Trustee may award a
dependant's pension otherwise an allowance will be paid to any
[[Dictionary(BC):child/children]].</p>
<p>In addition to the above, a lump sum equal to five times your annual pension will be paid. If
you have made additional voluntary contributions (AVCs), the value of your AVC fund will also be
paid.</p>
<h2>for members of the Foseco Executives and Midland Oil Refineries (MOR)&nbsp;Section</h2>
<p>If you die before you start drawing your deferred pension, a pension will be paid to your spouse
or civil partner. If your spouse or civil partner subsequently dies,&nbsp;a pension&nbsp;may be
paid to a [[Dictionary(BC):child/children]]. If you do not have a spouse or civil partner, the
Trustee may award a dependant's pension.</p>
<p>If you are a&nbsp;MOR member, you will also&nbsp;receive a cash lump sum equal to your
contributions. If you are a Foseco Executive member, you will receive a lump sum equal to five
times your annual pension.</p>
<p>In both cases, the value of&nbsp;your additional voluntary contribution fund (if
applicable)&nbsp;will also be paid.</p>
<h2>nominating beneficiaries</h2>
<p>It is&nbsp;important that you nominate who you want to receive any lump sum benefit on an 
<em>expression of wishes form</em>, as the Trustee will refer to this when deciding who should
receive this benefit. You can download and print a copy&nbsp;of the form 
<a title="BC Expression of Wishes _01 07_ _2_" target="_self"
href="%(link0)">here</a>.</p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
