<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>how much will I get?</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/grass_on_blue_background.jpg]]></target>
          <uuid>861bd454-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="grass on blue background" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<p>
<font size="5">your retirement income&nbsp;may include more than just your Burmah Castrol
pension</font>
</p>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Application_images/BC_incomechart.PNG]]></target>
          <uuid>532dcdc2-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The main benefit from the Burmah Castrol Pension Fund is a pension which is linked to your
accrual rate&nbsp;(the rate at which your pension builds up), your final pensionable pay and your
length of service, known as pensionable employment. Note that the accrual rate depends on which
section of the Burmah Castrol Fund you are a member of.</p>
<p>The formula used to calculate your pension is:</p>
<p class="formula"><span>([[Dictionary(BC):final pensionable pay]]</span>&nbsp;÷&nbsp;<span>[[Dictionary(BC):accrual rate]])</span>&nbsp;x&nbsp;<span>[[Dictionary(BC):pensionable employment]]</span></p>
<p class="formula">Members of the Burmah&nbsp;and Castrol , Fosroc &amp; Coatings and Sericol
Sections&nbsp;also receive a <span>[[Dictionary(BC):State pension supplement]]</span> until <span>[[Dictionary(BC):State pension age]]</span> this is worked out as:</p>
<p class="formula"><span>([[Dictionary(BC):average state basic pension]]</span>&nbsp;÷&nbsp;<span>[[Dictionary(BC):accrual rate]])</span>&nbsp;x&nbsp;<span>[[Dictionary(BC):pensionable employment]]</span></p>
<p class="highlight">Please note, that members of other Sections within the Burmah Castrol Pension
Fund do not&nbsp;receive a&nbsp;State pension supplement.</p>
<table style="WIDTH: 369px; HEIGHT: 143px" cellspacing="1" cellpadding="1" width="369" summary=""
border="4">
<tbody>
<tr>
<td>
<h3 class="highlight">example</h3>
<p class="highlight">Samantha is a member of the Burmah&nbsp;and Castrol Section which has an
accrual rate of 1/50th for each year of pensionable service. Samantha is&nbsp;45 and has worked for
Burmah Castrol and then BP for 20 years. Her final pensionable pay when she leaves is £40,000 and
the average&nbsp;basic state pension is £4,460.30. When she retires at age 60, Samantha receives a
pension of:</p>
<p class="highlight">£40,000 ÷ 50&nbsp;x 20 = 
<strong>£16,000</strong></p>
<p class="highlight">As Samantha is a member of the Burmah and Castrol Section she also receives,
until she reaches State pension age, a State pension supplement of:</p>
<p class="highlight">£4,460.30 ÷ 50&nbsp;x 20 = 
<strong>£1,784.12</strong></p>
<p class="highlight">Total pension up to State pension age = 
<strong>£17,784.12</strong></p>
<p class="highlight">Total pension after State pension age = 
<strong>£16,000</strong></p>
</td>
</tr>
</tbody>
</table>
<br />
<br />
<p class="formula">Remember, your&nbsp;Burmah Castrol&nbsp;Pension&nbsp;Fund benefits are only part
of the picture - your retirement income&nbsp;may include more than just your&nbsp;Burmah
Castrol&nbsp;pension. In particular, you may have income from other occupational or private pension
arrangements, so you need to take this into account in working out whether you are saving
enough.</p>
<p>Your income may come from several sources (see example&nbsp;chart below).</p>
<p>&nbsp;</p>
<p align="center">
<img height="218" alt="BC income chart" width="218" border="0"
src="%(link0)" />
</p>
<h2>lifetime allowance</h2>
<p>The 
<font color="#ff0000">[[Dictionary(BC):lifetime allowance]]</font> set by HM Revenue &amp; Customs
is the maximum value of tax-advantaged benefits you can receive from all registered pension
schemes, including your past, present and future benefits from occupational and private pension
arrangements in the UK. State pension benefits are not included in the lifetime allowance.</p>
<h2>pension increases</h2>
<p>Your deferred pension is guaranteed to increase annually in line with the cost of living, up to
a maximum of 5% a year. The cost of living is measured by the rise in the Retail Prices Index.</p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
