<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>can I transfer out my benefits?</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/grass_on_blue_background.jpg]]></target>
          <uuid>861bd454-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="grass on blue background" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<font size="5">you should seek independent financial advice before making any decisions that might
affect your retirement income</font>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/TV-out_form.pdf]]></target>
          <uuid>1af12385-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="false" type="A">
          <target><![CDATA[http://www.unbiased.co.uk/]]></target>
        </link>
      </links>
      <content><![CDATA[<p>You may decide that you want to transfer your Burmah Castrol Pension Fund benefits to another
pension arrangement, such as your new employer's pension scheme, a personal pension, a stakeholder
pension or an individual insurance buy-out contract (sometimes known as a&nbsp;'Section 32
Policy').</p>
<p>If you choose to transfer your benefits, the Burmah Castrol Pension Fund's actuary will
calculate the equivalent cash value. This value will be provided to the receiving scheme, which
will tell you the benefits you can buy within that scheme.</p>
<p>If you have an AVC (additional voluntary contributions)&nbsp;account, or waived part of any ex
gratia payment, these funds must be transferred to the same receiving scheme as your main benefits
and at the same time.</p>
<h2>further information</h2>
<p class="actionpoint">If you would like a current cash transfer value, please download and
complete 
<a title="TV-out form" target="_self"
href="%(link0)">this form</a>. You can ask for a
transfer value once in any 12-month period.</p>
<p>You may wish to take specialist independent financial advice. IFA Promotion Limited can suggest
independent financial advisers in your area, if you do not already use one. They can be contacted
on 0800 085 3250 or through their website at 
<a href="%(link1)">www.unbiased.co.uk</a>.</p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
