<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>when can I take my retirement benefits?</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/grass_on_blue_background.jpg]]></target>
          <uuid>861bd454-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="grass on blue background" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<font size="5">having an idea of when you want to retire will help you&nbsp;plan your pension
saving</font>]]></content>
    </element>
    <element name="bodyleft4">
      <links/>
      <content><![CDATA[<p>Under current Burmah Castrol Pension Fund and HM Revenue &amp; Customs rules, you have two
options.</p>
<p>You can:</p>
<ul>
<li>keep your 'deferred' pension in the Burmah Castrol Pension Fund until your <span class="fakelink">[[Dictionary(BC):normal pension age]]</span>; or</li>
<li>take your pension before your normal&nbsp;pension age (if the Trustee consents), although it
may be reduced as it will be paid to you for longer.</li>
</ul>
<p>You can take your pension at any point from age 50, as long as you reach age 50 and start
drawing your pension before 6 April 2010. Otherwise, you cannot take your pension until you reach
age 55.</p>
<p>&nbsp;</p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
