<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[Why is VERA only available to people with at least 15 years’ service at 1 December 2006? Why not just 'grandfather' for all past service? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>The Regulations required BP to change its VERA policy for service from 1 December 2006. BP was
left with a difficult choice as to what to do for service before that date. In particular, BP had
to consider the impact of the Regulations not just today but in the future.</p>
<p>Today, an employer may be comfortable to retain age discriminatory aspects of its benefits
package for past service, but we believe this will become more difficult to manage and justify with
time. For example, in say 20 years’ time, it will be very difficult to say that two employees
retiring early should be treated very differently because one has 29 years’ service (does not
qualify for VERA) and the other 30 (does qualify for VERA).
<br />
<br />BP’s view was that only making changes for service from 1 December did not make business
sense and that it would be better to redesign its arrangements by phasing out VERA over a
reasonable transition period.
<br />
<br />There was significant debate during the consultation period about what people felt to be a
'reasonable' transition period. As a result, BP has extended the proposed transition period to all
employees with 20 or more years’ relevant pensionable service at 1 December 2006 and, in part, to
employees with between 15 and 20 years’ relevant pensionable service.
<br />
<br />BP believes that the transition period will maintain the reasonable expectations for service
before 1 December 2006 of those longer serving employees who could go on to meet the VERA
eligibility criteria (age 55 with at least 30 years’ BP pensionable service) on retirement from
service with BP. This change extended the transitional terms to approximately 1,400 more employees.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
