<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[I am eligible for the VERA transition arrangements, and would reach the 'age 55 and 30 years’ pensionable service' criteria at age 55 after 1 December 2016. If I am made redundant at age 55, would I receive a higher pension if I went early under VERA instead? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>No. Redundancy is a matter of fact and the financial package, including the discretionary
enhanced redundancy payment for loss of office, reflects this.
<br />
<br />Early retirement, by contrast, is a voluntary decision, the timing of which is of your own
choosing.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
