<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[I have two periods of pensionable service. When will I know that they can be aggregated? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>BP Pensions Limited will confirm in writing if you have met the conditions of the policy.
However, this will only be provided at retirement from service as aggregation will be subject to
your employer’s consent. It is also subject to your employer meeting the cost of aggregation.
<br />
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
