<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[What happens if I leave BP through resignation and later elect to take my deferred pension before age 60? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p dir="ltr" style="MARGIN-RIGHT: 0px">For employees in service as at 30 November 2006, there are
no changes if you leave BP’s employment with entitlement to a deferred pension and subsequently
apply to the Trustee to draw your deferred pension early. Subject to the Trustee consenting to you
taking your pension early, if you draw your deferred pension between age 50 (55 from 6 April 2010)
and 60, the pension will be reduced by 5-6% for each year that the pension is taken early before
age 60. There is, however, no reduction if you retire after age 60.
<br />
<br />For new hires from 1 December 2006, the deferred pension may be taken between age 55 and 65
subject to a similar reduction for each year taken before age 65.
<br />
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
