<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[Why is there a 10-year transition period? Why not maintain the old redundancy terms for employees with e.g. 20 or more years’ service as at 1 December 2006? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>BP had to change its redundancy pension terms for service after 1 December 2006. This is because
they were based on age and service. BP has redesigned its redundancy terms for service from 1
December 2006 so that those terms are on a non-discriminatory basis &ndash; this is the same 3% a year
discount that applies on voluntary early retirement.
<br />
<br />Having introduced non-discriminatory terms for service from 1 December 2006, BP had to decide
whether to make changes for service before 1 December 2006. After reviewing the redundancy terms
provided by our competitors and following discussion with the pension consultation reps, BP decided
to maintain the previous redundancy pension terms for a 10-year period, then moving to a
non-discriminatory discount of 3% a year for each year retirement is below age 60.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
