<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[age discrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[Businesses used to operate special early retirement pension terms along the lines of those offered on redundancy. Are these no longer available? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Special early retirement pension terms are still available at the discretion of the business.
The terms are the same as those that apply on redundancy. However, benefits payable under special
early retirement may not share the same tax advantages as those for redundancies.
<br />
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
