<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[I am a Castrol heritage member. What would my pension be if I am made redundant at age 55? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Provided you were made redundant before 1 December 2016, your service built up before 30
November 2006 would be unreduced. Service built up after 1 December 2006 would have a 3% a year
reduction applied.
<br />
<br />For redundancies after 1 December 2016, a reduction of 3% a year would apply to your total
pension for each year that the date of retirement is below age 60. If you draw your pension from
age 60, it is unreduced in any event.
<br />
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
