<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[I feel that I am being made to work longer for the same benefit. How is this fair? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>We have to accept the fact that along with the positive news that people are tending to live
longer, comes the ‘negative’ consequence that we probably need to work longer to pay for pension
benefits.
<br />
<br />Much of the recent pensions legislation steers us in this direction. BP also has to consider
its business needs - in terms of retaining key technical personnel, managing final salary pension
costs and providing a more equitable basis for early retirement for all employees.
<br />
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
