<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[Is employer consent now required to leave on VERA terms? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Yes, you will need to have employer consent to enjoy any special early retirement terms (VERA
transition terms, the new standard early retirement terms or E&amp;P’s special offshore terms).
These special are more generous than the terms that apply to deferred pensioners taking their
deferred pensions early. Employer consent is required to ensure a smooth and effective handover of
key aspects of your work.
<br />
<br />However, if you joined before 1 December 2006, you may retire between 60 and 65, on an
unreduced pension without the need for employer consent.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
