<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[If I’m made redundant at age 50 in 2015, will my service benefit before 1 December 2006 still be considered unreduced when my pension comes to be paid in 2020 (when I reach 55)? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Yes, the transition period relates to the date you are actually made redundant and not the
subsequent date at which the benefit can then be taken. So, although you would have to wait until
age 55, which in the example you quote (2020) is outside the transition period, the benefit
calculation for the service before 1 December 2006 would be unreduced (assuming you have 10 years’
service at that date).
<br />
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
