<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[Is VERA now available to those of us with service with another heritage company? What about overseas service? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Yes. Before 1 December 2006, non-BP heritage pensionable service (that is, continuous
pensionable service with Arco, Amoco, Britoil or BP/Mobil joint venture*) did not count towards
eligibility for VERA. However, the service did count towards BP Pension Scheme membership (if you
elected to transfer your pension into the BP Pension Scheme) and it also counted in the event that
discretionary enhanced pensions terms on redundancy under the BP Pension Scheme were payable.</p>
<p>From 1 December 2006, all non-BP continuous heritage service in the BP Pension Scheme before 1
December 2006 will count towards eligibility for the VERA transition arrangements under the BP
Pension Scheme.
<br />
<br />In addition, there are BP heritage UK employees with previous Group service overseas -
overseas service did not count towards VERA eligibility before 1 December 2006. For example, an
employee could have 25 years’ service in the UK and previously 5 years in the US giving a total of
30 years’ Group service. However, as only 25 years were served in the BP Pension Scheme, the
employee would not be eligible for VERA under the current rules. From 1 December 2006, previous
Group continuous pensionable service overseas will count towards eligibility for the VERA
transition arrangements.
<br />
<br />* Under a special agreement arising from the Mobil European joint venture, subject to
employer consent, Mobil heritage employees could access a VERA comparable benefit based on total
(Mobil plus BP) service.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
