<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[What are the new standard pension terms for taking an early pension on voluntary retirement? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>If you voluntarily retire early (and are a member of the BP Pension Scheme or Burmah Castrol
Pension Fund), your pension will be reduced by 3% a year for each year your retirement is below age
60. This is a more generous reduction rate than under the terms that existed before 1 December
2006. Please note that this rate is not guaranteed and may change.
<br />
<br />To benefit from this 3% reduction rate, you must:</p>
<ul>
<li>be at least age 55 (if you retire at age 50-54*, a 5-6% a year reduction will apply); and</li>
<li>have employer consent to your retirement (you can retire without consent, but the 5-6% a year
reduction will apply).</li>
</ul>
<p>* NB this will only be possible if (a) you do so before 6 April 2010&nbsp;or (b) you were
employed at 5 April 2006.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
