<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[I am a Castrol heritage member under the age of 50. What benefits would I receive if I was made redundant? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>As well as the discretionary enhanced redundancy payment, if you elect to draw your pension
early in the future, it would be reduced by 3% a year for each year that you retire below age 60
(earliest age is 55 from 6 April 2010). For example, at age 55 this would be a 15% reduction (5 x
3%). Under the previous terms, the reduction at age 55&nbsp;would have been 25% (that is, 5 x 5%).
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
