<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[What is the earliest age at which I can retire and take my pension? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p dir="ltr" style="MARGIN-RIGHT: 0px">This depends on the date you joined the BP Pension Scheme or
the Burmah Castrol Pension Fund, and your age on 6 April 2010.
<br />
<br />
<strong>You joined before 6 April 2006
<br />
<br /></strong> You can still retire before age 55 through a separate piece of legislation (the ‘
Finance Act underpin’). This applies even after 6 April 2010. Your pension would be reduced by 5-6%
for each year your retirement is below age 60.</p>
<p dir="ltr" style="MARGIN-RIGHT: 0px">
<strong>You joined between 6 April 2006 and 30 November 2006</strong>
<br />
<br />From 6 April 2010 your earliest retirement age becomes age 55.</p>
<p dir="ltr" style="MARGIN-RIGHT: 0px">
<strong>You joined before 1 December 2006 and will reach age 50 before 6 April 2010</strong>
<br />
<br />You can retire and take your pension between age 50 and 55. The early retirement reduction
would be 5-6% for each year your retirement is below age 60.
<br />
<br />
<strong>You joined after 1 December 2006</strong>
<br />
<br />The earliest age at which you will be able to take your pension will be 55 (whether before or
after 6 April 2010).
<br />
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
