<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[Why are the early retirement rules different for new joiners? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p dir="ltr" style="MARGIN-RIGHT: 0px">There are two key reasons for this:</p>
<ul dir="ltr">
<li>
<div dir="ltr" style="MARGIN-RIGHT: 0px">The age discrimination Regulations allow employers to
retain certain benefits or policies for existing employees (i.e. those who joined before 1
December&nbsp;2006), but not for new joiners. For example, contractual retirement age moved to 65
on 1 October 2006 and it is normal practice for the normal retirement age for pension purposes to
coincide. However, BP is able to offer an unreduced pension to employees in service before 1
December 2006 between age 60 and 65, even though the normal retirement age is now
65.&nbsp;&nbsp;</div>
</li>
<li>
<div dir="ltr" style="MARGIN-RIGHT: 0px">New joiners do not have any existing expectations of being
able to take early retirement between age 50 and 60 (and, in any event, would have no right under
the Scheme rules to retire before age 55). We will, therefore, offer terms based on a 'retirement
zone' of 55-65 (with a reduction applying for retirement before age 65), which is better aligned
with the legislation and market practice.
<br /></div>
</li>
</ul>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
