<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[How does the phase down work? Are the reductions incremental or fixed? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>The reductions for those of you with between 15 and 20 years’ relevant pensionable service at 1
December 2006 are fixed. For example, if you have 17.5 years’ pensionable service, the reduction is
1.5% a year &ndash; the same as it would be if you had 17 years and one day’s pensionable service, or 17
years and 364 days’ pensionable service.
<br />
<br />If you then retired early at, say, age 56 and 6 months, the reduction on your pension for
service before 1 December 2006 would be pro rated for each year (and part year) your retirement is
before age 60. That is 5.25% (3.5 years at 1.5% a year).
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
