<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[age discrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[Can you give me some more details about how phased retirement will work in practice? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Phased retirement is the ability to start taking all or part of your pension while continuing to
work with the same employer. BP is considering offering a phased retirement facility, as it
believes that the increased flexibility could both support business needs and benefit employees.
Unfortunately we have received no additional information from the Government on this matter as part
of the final amending Regulations, so BP is not in a position to put forward a phased retirement
option at this time.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
