<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[Does the 3% reduction also apply to any contributory options I have made? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p dir="ltr" style="MARGIN-RIGHT: 0px">Yes, the new standard early retirement terms apply to this
as well.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
