<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[age discrimination]]></Anchor>
    <Title><![CDATA[age discrimination]]></Title>
    <Question><![CDATA[I have been given notice of redundancy that takes effect before 6 April 2010 – can I still get my pension under age 55 after that date? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>If you reach age 50 before 6 April 2010, you will be able to draw your redundancy pension at that time. However, on 6 April 2010, the minimum pension age becomes 55 by law. As a result, if you were eligible to take your pension before 6 April 2010 but elected not to do so, you would have to wait till you reach age 55.</p>]]></content>
    </Answer>
    <new_edited>true</new_edited>
  </PhraseType>
</FaqPhraseTypes>
