<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[What changes did BP make to its original proposals as a result of employee consultation? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>The main changes to BP’s original proposals are to extend the scope of the VERA transition
arrangements and the similar practice for E&amp;P offshore workers. BP has also extended VERA
eligibility to non-BP heritage service and to BP service overseas, so as to put all UK employees on
a similar footing regarding early retirement terms.</p>
<p>In addition, BP has clarified the interaction between early retirement discounts and the
two-thirds pension cap in the BP Pension Scheme.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
