<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[What is the impact on life insurance cover if I stop using the contributory options because I have reached the 40/60ths cap? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>If you are not paying into the contributory options at the date of your death, the lump sum life
assurance cover will be three times your pensionable salary. It is only four times your pensionable
salary if you are paying into the contributory options. The issue of what happens to life cover
after reaching the 40/60ths pension cap is not, therefore, a new one and is not directly connected
to the early retirement changes arising from age discrimination. For example, the changes to VERA
should not, in themselves, cause anyone to stop paying into the contributory options. The current
terms for contributory options remain highly attractive.
<br />
<br />If there is sufficient interest, BP may consider whether to establish a new contributory
option to increase life insurance to four times pensionable salary without securing additional
pension accrual.
<br />
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
