<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[If, in the future, someone is made redundant at 67, will they get redundancy pay? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>If it is a genuine redundancy, and not planned retirement or resignation (i.e. if their job no
longer exists), then it is the Company’s understanding that the employee would get redundancy pay.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
