<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[What will happen to my pension if I am made redundant? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Before 1 December 2006, if you were made redundant aged at least 50 (55 from 6 April 2010) with
at least 10 years’ pensionable service, you could take an immediate unreduced pension. If you were
made redundant before age 50, you could take a pension from age 50 on favourable terms. Subject to
the earliest retirement age becoming 55 from 6 April 2010, BP has retained these pension terms for
a transitional period of 10 years as follows:</p>
<ul>
<li>
<strong>If you are made redundant before 1 December 2016</strong>
<br />Your pension earned for service to 1 December 2006 will be treated as it was up to that
date.</li>
</ul>
<blockquote dir="ltr" style="MARGIN-RIGHT: 0px">
<p>Your pension earned for service from 1 December 2006 will be reduced by the new standard terms,
that is, by 3% for each year that you retire early before age 60. (The earliest retirement age is
50 if you take your pension before 6 April 2010, and 55 if you take your pension on or after 6
April 2010.)</p>
</blockquote>
<ul dir="ltr">
<li>
<strong>If you are made redundant on or after 1 December 2016
<br /></strong> All of your pension will be reduced for early payment by the new standard terms,
that is, by 3% for each year that you retire early before age 60. (The earliest retirement age is
55.)
<br /></li>
</ul>
<p>In addition, on being made redundant you do not need to draw your benefits from the earliest
age. For example, if you are made redundant at age 55, instead of drawing your pension immediately
with a 15% reduction, you can elect to draw your pension at, say, age 57 with a 9% reduction.
Having this option may help your financial planning at the time.
<br />
<br />Please note that you will still need to complete at least two years’ qualifying service to be
entitled to a pension (rather than a transfer value or a refund of any contributions you have
paid).
<br />
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
