<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[Why don’t the new standard 3% early retirement terms apply before age 55? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>BP decided not to extend the new 3% terms below age 55. There was little feedback during the
consultation period on voluntary retirement before age 55, and earliest retirement age becomes 55
on 6 April 2010 so such terms would have only been available for retirements before then. For sound
business reasons, BP is not looking to encourage retirements before age 55 in any event.
<br />
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
