<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscriminationregulations]]></Anchor>
    <Title><![CDATA[age discrimination regulations]]></Title>
    <Question><![CDATA[Did the pensions aspects of the Regulations go live on 1 December 2006, as planned? Does this mean that BP changed its pensions policies with effect from the same day?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>The main body of the Employment Equality (Age) Regulations 2006 (sometimes referred to as the
'age discrimination Regulations') came into effect on 1 October 2006. The Government postponed the
pensions aspects until 1 December and these did go live on 1 December, as planned.
<br />
<br />BP therefore changed its pensions policies in line with the Regulations, with effect from 1
December 2006.
<br />
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
