<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[I’m a member of another BP scheme. What happens if I’m made redundant? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Your redundancy benefits will depend on which Scheme you belong to. Please see the explanatory
booklet for your Scheme for further information. The explanatory booklets are available in the
resources section or by contacting&nbsp;BP UK&nbsp;Pensions &amp; Benefits.
<br />
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
