<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[I worked for BP previously but I am not sure if my first period of pensionable service would count under the terms of the aggregation policy. How can I find out? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>You should write to Gail Chorley, Customer Services Manager, BP Pensions Limited. You will need
to provide your full name and membership details, together with your date of birth and National
Insurance number. Gail will then confirm whether or not you have a relevant deferred pensionable
service that could be considered, at retirement, for aggregation.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
