<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[What is the confirmed position regarding aggregation of broken service? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Aggregation will continue for employees who joined BP before 1 December 2006 only and who
already have two or more periods of BP pensionable service.
<br />
<br />The policy has been revised to make it clear that aggregation will only apply at the point of
retirement and at the discretion of your employer at that time. The cost of aggregating your
pension benefits must also be met by your employer.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
