<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[What is the status of pension value transferred in from a previous employer – does it rank equally with BP pensionable service in all respects? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>The changes do not in themselves affect BP's policies on transferred-in benefits.
<br />
<br />The current policy for transferred-in service benefits for the BP Pension Scheme is that if
you retire early (for whatever reason), the benefits are usually reduced by an appropriate
rate&nbsp;for early payment. This is because at the time of transfer, the transferred-in value is
calculated on the basis of taking your pension at age 60.
<br />
<br />Transferred-in service does not count towards eligibility for VERA &ndash; only actual pensionable
service with BP or a heritage BP Group company is included.
<br />
<br />If you have a ‘fixed pension’ benefit rather than the standard transferred-in service, this
is treated as a deferred pension held within the Pension Fund. If you retire early, the deferred
pension reduction factor will apply. This is currently 5-6% a year for each&nbsp;year&nbsp;that
your retirement date is below age 60.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
