<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[Can I still achieve a maximum 40/60ths pension at 55, taking into account contributions I could make and the discount that will now be applied? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Yes, this will still be possible, as you could effectively ‘over-contribute’ above the 40/60ths
cap so that the early retirement reduction brings you back to within the cap if you retire at age
55. You should consider this option very carefully because if you do ‘over-contribute’, any excess
contributions that may arise due to your changed retirement plans cannot be refunded to you.
<br />
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
