<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[How does the transitional VERA arrangement work? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>This is set out in the December 2006 pensions newsletter for employees.
<br />
<br />In brief, if you have at least 20 years’ relevant pensionable service at 1 December 2006, you
can receive an unreduced pension in relation to your past service if you later retire early by
meeting the VERA criteria (30 years’ pensionable service and age 55 or over) and with employer
consent.
<br />
<br />If you have between 15 and 20 years’ relevant pensionable service at 1 December 2006, a
reduction of between 0.5% and 2.5% a year will be applied to your past service benefit if you later
retire early by meeting the VERA criteria and with employer consent.
<br />
<br />If you have less than 15 years’ relevant pensionable service, the new standard early
retirement terms will apply.
<br />
<br />For service completed after 30 November 2006, the new standard early retirement terms apply.
<br />
<br />Note: Relevant pensionable service excludes any individual transferred-in service credits
from non-BP pension schemes. In addition, previous periods of aggregated broken service do not
count towards VERA eligibility.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
