<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[age discrimination]]></Anchor>
    <Title><![CDATA[the age discrimintaion]]></Title>
    <Question><![CDATA[Why is there a phase down of the VERA benefit for those of us with between 15 and 20 years’ service at 1 December 2006? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>A phase down enables BP to extend the VERA transitional arrangement to more people and for a
longer period while, at the same time, gradually decreasing the benefit. This avoids a ‘cliff edge’
of either being eligible in full or not being eligible at all &ndash; something many of you considered
was important from the consultation feedback.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
