<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[I am a Burmah Castrol Pension Fund member. If I take early retirement, am I right in understanding that the new 3% standard early retirement terms apply to me also? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p dir="ltr" style="MARGIN-RIGHT: 0px">Yes, you could take early retirement at, say, age 55 with a
discount of 15% (five years early at a discount of 3% a year).
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
