<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[Is the standard early retirement reduction factor of 3% a year guaranteed? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p dir="ltr" style="MARGIN-RIGHT: 0px">No. The 3% figure could change depending on actuarial
calculations, based on future interest rates, inflation, projections regarding obligations on the
Fund, etc. It is already required practice to have regular actuarial reviews.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
