<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[Why has BP introduced the concept of 'employer consent' for early retirement? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p dir="ltr" style="MARGIN-RIGHT: 0px">Subject to employer consent, the new standard voluntary
early retirement terms of 3% a year for each year your retirement is below age 60 apply to
employees retiring from service, and are more generous than the terms that apply to deferred
pensioners taking their deferred pensions early.
<br />
<br />Employer consent is therefore required to ensure a smooth and effective handover of key
aspects of your work.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
