<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[agediscrimination]]></Anchor>
    <Title><![CDATA[the age discrimination]]></Title>
    <Question><![CDATA[I have been using the contributory options on the basis of retiring at 55 on VERA terms. If I continue to work past 55, I will reach the 40/60ths cap and be over-funded. If I then retire before age 60, would my pension be reduced under the age discrimination changes? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>We are aware that some employees could build up a pension of 40/60ths before age 60 because they
will have long service by then or have been making contributions via one of the contributory
options for some time. The BP Pension Scheme has always capped the pension at 40/60ths to protect
BP’s financial risk in providing a final salary pension arrangement. This is a core element of the
BP Pension Scheme design and it will remain in place after 1 December 2006.
<br />
<br />However, in future, the cap will be applied to your pension after the application of any
early retirement reduction, so this reduces the likelihood of ‘over-funding’.</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
