<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>my benefits</h1>]]></content>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<p>This section shows a statement of your BP pension payments for the <span id="1stTaskYear">[[Payslip:CurrentTaxYear]]</span>tax year, to enable you to easily check your pension payments. This information does not replace your annual notification of pension increases and payment forecast, together with your P60, which you will continue to receive by post.</p>
<p>You can also look back at previous years' pension payments, by using the buttons below.</p>
<p>The values shown below are estimates and may vary slightly when your actual payments are calculated. When looking at previous years' pension payments, the values may&nbsp;vary slightly from your actual payments, due to rounding of figures.</p>
<table id="member_id" class="datatable" style="margin-bottom:1em;">
        <tr>
            <td class="member_name" colspan="2"><center><strong><span contenteditable="false">[[Name]]</span></strong></center></td>
	</tr>
	<tr>
            <td class="member_refno" style="text-align:left;width:50%;">Membership number: <strong><span contenteditable="false">[[Refno]]</span></strong></td>
            <td class="member_nino" style="text-align:right;width:50%;">NI number: <strong><span contenteditable="false">[[Nino]]</span></strong></td>
        </tr>
</table>
<div id="TaxYearNav">
<div id="NextYearHolder"><input style="visibility: hidden" id="NextTaxYear" class="goButton" type="button" onclick="loadNextTaxTear();" value="Next" /></div>
<div id="ThisYearHolder">Tax year [[Payslip:CurrentTaxYear]]</div>
<div id="PreviousYearHolder"><input style="visibility: hidden" id="PreviousTaxYear" class="goButton" type="button" onclick="loadPreviousTaxTear();" value="Previous" /></div>
</div>
<table id="tblFiscalyears" class="datatable" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label_left">date</th>
            <th class="label_left">status</th>
            <th class="label_left">gross</th>
            <th class="label_left adjustments">adjustments</th>
            <th class="label_left">tax</th>
            <th class="label_left">nett</th>
        </tr>
        <tr>
            <td class="pvalue date">[[Payslip:MayDate]]</td>
            <td class="pvalue status">[[Payslip:MayStatus]]</td>
            <td class="pvalue number">[[Payslip:MayGross]]</td>
            <td class="pvalue number">[[Payslip:MayAdjust]]</td>
            <td class="pvalue number tax">[[Payslip:MayTax]]</td>
            <td class="value number total">[[Payslip:MayNett]]</td>
        </tr>
        <tr>
            <td class="pvalue date">[[Payslip:JunDate]]</td>
            <td class="pvalue stauts">[[Payslip:JunStatus]]</td>
            <td class="pvalue number">[[Payslip:JunGross]]</td>
            <td class="pvalue number">[[Payslip:JunAdjust]]</td>
            <td class="pvalue number tax">[[Payslip:JunTax]]</td>
            <td class="value number total">[[Payslip:JunNett]]</td>
        </tr>
        <tr>
            <td class="pvalue date">[[Payslip:JulDate]]</td>
            <td class="pvalue status">[[Payslip:JulStatus]]</td>
            <td class="pvalue number">[[Payslip:JulGross]]</td>
            <td class="pvalue number">[[Payslip:JulAdjust]]</td>
            <td class="pvalue number tax">[[Payslip:JulTax]]</td>
            <td class="value number total">[[Payslip:JulNett]]</td>
        </tr>
        <tr>
            <td class="pvalue date">[[Payslip:AugDate]]</td>
            <td class="pvalue status">[[Payslip:AugStatus]]</td>
            <td class="pvalue number">[[Payslip:AugGross]]</td>
            <td class="pvalue number">[[Payslip:AugAdjust]]</td>
            <td class="pvalue number tax">[[Payslip:AugTax]]</td>
            <td class="value number total">[[Payslip:AugNett]]</td>
        </tr>
        <tr>
            <td class="pvalue date">[[Payslip:SepDate]]</td>
            <td class="pvalue status">[[Payslip:SepStatus]]</td>
            <td class="pvalue number">[[Payslip:SepGross]]</td>
            <td class="pvalue number">[[Payslip:SepAdjust]]</td>
            <td class="pvalue number tax">[[Payslip:SepTax]]</td>
            <td class="value number total">[[Payslip:SepNett]]</td>
        </tr>
        <tr>
            <td class="pvalue date">[[Payslip:OctDate]]</td>
            <td class="pvalue status">[[Payslip:OctStatus]]</td>
            <td class="pvalue number">[[Payslip:OctGross]]</td>
            <td class="pvalue number">[[Payslip:OctAdjust]]</td>
            <td class="pvalue number tax">[[Payslip:OctTax]]</td>
            <td class="value number total">[[Payslip:OctNett]]</td>
        </tr>
        <tr>
            <td class="pvalue date">[[Payslip:NovDate]]</td>
            <td class="pvalue status">[[Payslip:NovStatus]]</td>
            <td class="pvalue number">[[Payslip:NovGross]]</td>
            <td class="pvalue number">[[Payslip:NovAdjust]]</td>
            <td class="pvalue number tax">[[Payslip:NovTax]]</td>
            <td class="value number total">[[Payslip:NovNett]]</td>
        </tr>
        <tr>
            <td class="pvalue date">[[Payslip:DecDate]]</td>
            <td class="pvalue status">[[Payslip:DecStatus]]</td>
            <td class="pvalue number">[[Payslip:DecGross]]</td>
            <td class="pvalue number">[[Payslip:DecAdjust]]</td>
            <td class="pvalue number tax">[[Payslip:DecTax]]</td>
            <td class="value number total">[[Payslip:DecNett]]</td>
        </tr>
        <tr>
            <td class="pvalue date">[[Payslip:JanDate]]</td>
            <td class="pvalue status">[[Payslip:JanStatus]]</td>
            <td class="pvalue number">[[Payslip:JanGross]]</td>
            <td class="pvalue number">[[Payslip:JanAdjust]]</td>
            <td class="pvalue number tax">[[Payslip:JanTax]]</td>
            <td class="value number total">[[Payslip:JanNett]]</td>
        </tr>
        <tr>
            <td class="pvalue date">[[Payslip:FebDate]]</td>
            <td class="pvalue status">[[Payslip:FebStatus]]</td>
            <td class="pvalue number">[[Payslip:FebGross]]</td>
            <td class="pvalue number">[[Payslip:FebAdjust]]</td>
            <td class="pvalue number tax">[[Payslip:FebTax]]</td>
            <td class="value number total">[[Payslip:FebNett]]</td>
        </tr>
        <tr>
            <td class="pvalue date">[[Payslip:MarDate]]</td>
            <td class="pvalue status">[[Payslip:MarStatus]]</td>
            <td class="pvalue number">[[Payslip:MarGross]]</td>
            <td class="pvalue number">[[Payslip:MarAdjust]]</td>
            <td class="pvalue number tax">[[Payslip:MarTax]]</td>
            <td class="value number total">[[Payslip:MarNett]]</td>
        </tr>
        <tr>
            <td class="pvalue date">[[Payslip:AprDate]]</td>
            <td class="pvalue status">[[Payslip:AprStatus]]</td>
            <td class="pvalue number">[[Payslip:AprGross]]</td>
            <td class="pvalue number">[[Payslip:AprAdjust]]</td>
            <td class="pvalue number tax">[[Payslip:AprTax]]</td>
            <td class="value number total">[[Payslip:AprNett]]</td>
        </tr>
        <tr>
            <td class="blank date">&nbsp;</td>
            <td class="blank">&nbsp;</td>
            <td class="value number total">[[Payslip:TotGross]]</td>
            <td class="value number total">[[Payslip:TotAdjust]]</td>
            <td class="value number tax total">[[Payslip:TotTax]]</td>
            <td class="value number total">[[Payslip:TotNett]]</td>
        </tr>
    </tbody>
</table>
<form method="post" action="">
    <input id="usingYear" type="hidden" name="usingYear" />
</form>
<script type="text/javascript" language="javascript">
//if (project == "Online")
{
        var date = new Date();
        var currYear=date.getFullYear();
        GetYears(currYear);
}
</script>]]></content>
    </element>
  </page>
</pages>
