<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>my details</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/contactus.html]]></target>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<h2><a id="part_time_workers" name="part_time_workers"></a>part time workers&nbsp;</h2>
<p>If you currently work or have ever worked part-time, you will not be able to access the redundancy modeller. If you are made redundant, your redundancy benefits will be calculated manually and therefore PensionLine cannot calculate these for you. If you would like to discuss your pension benefits in relation to redundancy, please contact&nbsp; <a href="%(link0)">BP&nbsp;UK&nbsp;Pensions &amp; Benefits</a>.</p>
<h2><a id="members_peak_salary" name="members_peak_salary"></a>members with peak salary</h2>
<p>If&nbsp;your benefits are calculated by reference to your 'peak salary', rather than your actual current salary, you will not be able to access the redundancy modeller. If you are made redundant, your redundancy benefits will be calculated manually and therefore PensionLine cannot calculate these for you. If you would like to discuss your pension benefits in relation to redundancy, please contact <a href="%(link1)">BP&nbsp;UK&nbsp;Pensions &amp; Benefits</a>.</p>
<h2><a id="mobil_employees" name="mobil_employees"></a>Mobil employees</h2>
<p>If you are a Mobil employee, you will not be able to access 'my retirement planner'. PensionLine cannot calculate your Mobil benefits. Therefore, the pension figures quoted in the retirement planner will not include your Mobil benefits. If your combined BP and Mobil benefits exceed the 2/3rds scheme limit, your total benefits will be capped to the 2/3rds limit. If you would like to discuss your options at retirement, please contact <a href="%(link2)">BP&nbsp;UK&nbsp;Pensions &amp; Benefits</a>.</p>
<h2><a id="members_eastern_service" name="members_eastern_service"></a>members with Eastern Service Benefit</h2>
<p>If you have Eastern Service Benefit, you will not be able to access 'my retirement planner'. PensionLine cannot take account of the tax free cash sum you have already received. Therefore, the pension figures quoted in the retirement planner may not be accurate. If you would like to discuss your options at retirement, please contact <a href="%(link3)">BP UK&nbsp;Pensions &amp; Benefits</a>.</p>
<h2>new hires on or after 1 October 2009</h2>
<p><font face="Verdana" color="#666666" size="2"><span style="font-size: 10pt; color: #666666; font-family: Verdana">If&nbsp;you joined the Company on or after 1 October 2009, you will not be able to access the redundancy modeller. If you are made redundant, your redundancy benefits will be calculated manually. If you would like to discuss your pension benefits in relation to redundancy, please contact <a href="%(link4)"><font color="#009900"><span style="color: #009900; text-decoration: none; text-underline: none">BP&nbsp;UK&nbsp;Pensions &amp; Benefits</span></font></a>.</span></font></p>
<h2><a id="divorced_earmarking" name="divorced_earmarking"></a>divorced members with earmarking orders</h2>
<p>In cases of divorce, the courts can direct the Trustee to pay some or all of your benefits to your ex-spouse when they become payable to you.</p>
<p>If you have an earmarking order attached to your benefits, this order has not been taken into account when calculating the benefits shown on this site. You should take this into consideration when planning your financial future.</p>
<p>&nbsp;</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x180/lady_pruning.jpg]]></target>
          <uuid>76e72910-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="180" alt="lady pruning" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>all figures are for illustration purpuses
<br />only</p>]]></content>
    </element>
  </page>
</pages>
