<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>my details</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link8" internal="true" type="A">
          <target><![CDATA[/contactus.html]]></target>
        </link>
        <link name="link9" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x180/lady_pruning.jpg]]></target>
          <uuid>76e72910-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link6" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x180/lady_pruning.jpg]]></target>
          <uuid>76e72910-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link7" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Application_images/padlock_100px.gif]]></target>
          <uuid>5490921d-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/caveats.html]]></target>
          <uuid>f4f05593-1aa9-11de-9548-4d6e53b46e73</uuid>
          <anchor><![CDATA[members_eastern_service]]></anchor>
        </link>
        <link name="link10" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x180/lady_pruning.jpg]]></target>
          <uuid>76e72910-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link5" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/caveats.html]]></target>
          <uuid>f4f05593-1aa9-11de-9548-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/caveats.html]]></target>
          <uuid>f4f05593-1aa9-11de-9548-4d6e53b46e73</uuid>
          <anchor><![CDATA[mobil_employees]]></anchor>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/caveats.html]]></target>
          <uuid>f4f05593-1aa9-11de-9548-4d6e53b46e73</uuid>
          <anchor><![CDATA[members_eastern_service]]></anchor>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/caveats.html]]></target>
          <uuid>f4f05593-1aa9-11de-9548-4d6e53b46e73</uuid>
          <anchor><![CDATA[part_time_workers]]></anchor>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/caveats.html]]></target>
          <uuid>f4f05593-1aa9-11de-9548-4d6e53b46e73</uuid>
          <anchor><![CDATA[members_peak_salary]]></anchor>
        </link>
      </links>
      <content><![CDATA[<div><span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[MembershipStatusRaw]] = &quot;AC&quot;|Employee))</span></div>
<div style="float: left" width="100%"><!--AC Start -->
<table cellspacing="0" cellpadding="0" width="100%" align="left" summary="Active Employee details" border="0">
    <tbody>
        <tr>
            <td valign="top" align="left" width="80%" colspan="2">
            <p>This section of the site allows you to access personal details and information, using the menu on the left. Unfortunately, some members are&nbsp;unable to view all personal sections of the site. Please click on the links below to see if you're affected.</p>
            <p><a href="%(link0)">Part-time workers</a> <br />
            <a href="%(link1)">Members with 'peak salary'</a> <br />
            <a href="%(link2)">Mobil employees</a> <br />
            <a href="%(link3)">Members with Eastern Service Benefit </a><br />
            <a href="%(link4)">new hires on or after 1 October 2009</a><br />
            <br />
            <br />
            If you are divorced and have an earmarking order attached to your benefits, please click <a href="%(link5)">here</a> before accessing your personal details.</p>
            </td>
            <td valign="top" align="right">
            <p>&nbsp; <img height="180" alt="lady pruning" width="180" border="0" src="%(link6)" /></p>
            <p>&nbsp;&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td colspan="3">
            <h2>please read this</h2>
            </td>
        </tr>
        <tr>
            <td valign="top" align="left" width="10%">
            <p>&nbsp; <img height="96" alt="padlock" width="100" border="0" src="%(link7)" />&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            </td>
            <td valign="top" width="75%">
            <p>All the figures shown are for illustration purposes only. While every effort has been made to ensure the accuracy of the data, any figures shown are intended as a guide and are not guaranteed. Any information provided should not be taken as investment or any other advice.&nbsp;You are recommended to verify the information with <a href="%(link8)">BP UK Pensions&nbsp;&amp; Benefits</a> before taking any action which relies on the information provided. The information contained in this section&nbsp;does not confer any rights to benefits, which are subject to the detailed provisions of the Trust Deed and Rules of your pension scheme and, if you have benefits under the Supplementary Pension Plan, the Deed governing the SPP.</p>
            </td>
            <td valign="top" align="left" width="15%">
            <h1>&nbsp; All figures are for&nbsp;</h1>
            <h1>&nbsp; illustration&nbsp;</h1>
            <h1>&nbsp; purposes only</h1>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            </td>
        </tr>
    </tbody>
</table>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
&nbsp;</div>
<!--AC END -->
<p><span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[MembershipStatusRaw]] = &quot;PP&quot;|Deferred))</span></p>
<div style="float: left" width="100%"><!--PP Start -->
<table cellspacing="0" cellpadding="0" width="100%" align="left" summary="Deferred employee details" border="0">
    <tbody>
        <tr>
            <td valign="top" align="left">
            <p><font color="#666666">This section of the site allows you to access personal details under &lsquo;this is me&rsquo;. However, you are unable to view your retirement benefits at the moment. <br />
            <br />
            If you need details of your deferred benefits, please contact the BP UK Pensions &amp; Benefits team on 0845 602 1063</font></p>
            <p>&nbsp;</p>
            <p><br />
            &nbsp;</p>
            </td>
            <td valign="top" align="right">&nbsp; <img height="180" alt="lady pruning" width="180" border="0" src="%(link9)" /></td>
        </tr>
    </tbody>
</table>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
&nbsp;</div>
<!--PP END -->
<p><span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[MembershipStatusRaw]] = &quot;PN&quot;|Pensioner))</span></p>
<div style="float: left" width="100%"><!--PN Start -->
<table cellspacing="0" cellpadding="0" width="100%" align="left" summary="Pensioner details" border="0">
    <tbody>
        <tr>
            <td valign="top" align="left" width="80%">
            <p><font color="#666666" size="2">This section of the site allows you to access personal details and information, using the menu on the left.</font></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p><br />
            &nbsp;</p>
            </td>
            <td valign="top" align="right">&nbsp; <img height="180" alt="lady pruning" width="180" border="0" src="%(link10)" /></td>
        </tr>
    </tbody>
</table>
<br />
<br />
<br />
<br />
<br />
&nbsp;</div>
<!--PN END -->
<div id="PosForm" style="float: left" width="100%"><script language="javascript" type="text/javascript">
     loadPeriodOfservice();
</script></div>
<p><br />
<br />
&nbsp;</p>]]></content>
    </element>
  </page>
</pages>
