<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>Important - The Lifetime Allowance (LTA) is reducing to &pound;1.5 million (from &pound;1.8 million) from 6 April 2012.</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/LTA_Proforma.pdf]]></target>
          <uuid>c8452927-4e19-11e1-b796-4d6e53b46e73</uuid>
        </link>
        <link name="link5" internal="false" type="A">
          <target><![CDATA[http://www.hmrc.gov.uk/pensionschemes/lifetime-allowance/index.htm]]></target>
        </link>
        <link name="link2" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/info32.png]]></target>
          <uuid>93747baa-1a82-11e0-b62b-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/info32.png]]></target>
          <uuid>93747baa-1a82-11e0-b62b-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/LTA_Proforma.pdf]]></target>
          <uuid>c8452927-4e19-11e1-b796-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="IMG">
          <target><![CDATA[/system/modules/com.bp.pensionline.aataxmodeller/resources/gfx/info32.png]]></target>
          <uuid>93747baa-1a82-11e0-b62b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<div id="modeller">
<p>The LTA involves a test of your total pensions benefits built up against the LTA of &pound;1.5 million which applies from 6 April 2012. Your benefits include not just those from BP but any pension benefits from other employers and private arrangements. You can use the information below to help determine your estimated LTA amount. If you have other benefits, click <a title="LTA Proforma" target="_self" href="%(link0)">here</a> to get help on how to determine the value of those benefits to add to the BP figures shown here.</p>
<p>The LTA is not a limit on the amount of benefits you can have. If your benefits exceed the LTA, there is likely to be an additional tax liability on the amount in excess of the LTA. It is important to note that the LTA test is&nbsp;usually applied when you start to receive a pension and the calculation depends on the actual benefits paid. To find out more about the LTA and how it works, view the&nbsp;FAQs on the left-hand side of this page.</p>
<h2>Model your estimated LTA position at 5 April 2012 based on a new salary level</h2>
<p><b>This page provides you with an estimated BP LTA amount based on your current salary and assumes that your calculation took place at 5 April 2012 based on your estimated BP pension at that date.</b></p>
<p>If you are expecting a salary increase before 6 April 2012, which is not shown below, you can use the 'Modelled Salary' column below to input the salary level that you estimate will apply as at 5 April 2012. It is important to establish your situation as at 5 April 2012 if you wish to consider the opportunity to elect for Fixed Protection.</p>
<p><b>If you are shown to have an estimated BP LTA amount that is close to or exceeds the new &pound;1.5 million LTA, you will be contacted during February by the UK Pensions &amp; Benefits team. If you are not close to &pound;1.5 million but have additional benefits that, together with the BP figures below, mean that you will be close to or&nbsp;exceed &pound;1.5 million at 5 April 2012, please contact the UK Pensions &amp; Benefits team.</b></p>
<table class="planner_table" id="retirement_planner" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="blank" colspan="2">&nbsp;</th>
            <th class="current_option">Current options</th>
            <th class="modelled_option">Modelled options</th>
        </tr>
        <tr>
            <td class="label" width="400">Salary</td>
            <td class="info"><img id="info_CurrentSalary" title="Click for more information" alt="info button" src="%(link1)" /></td>
            <td class="current_option" id="current_salary">&nbsp;</td>
            <td class="modelled_option" id="modelled_salary">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">Estimated BP pension at 5 April 2012 (excluding AVCs)</td>
            <td class="info"><img id="info_PensionAmount" title="Click for more information" alt="info button" src="%(link2)" /></td>
            <td class="current_option" id="current_pension">&nbsp;</td>
            <td class="modelled_option" id="modelled_pension">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">Estimated BP&nbsp;Lifetime Allowance Amount at 5 April 2012 (excluding AVCs)</td>
            <td class="info"><img id="info_LtaAmount" title="Click for more information" alt="info button" src="%(link3)" /></td>
            <td class="current_option" id="current_lta">&nbsp;</td>
            <td class="modelled_option" id="modelled_lta">&nbsp;</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p><strong>If you have other benefits, including AVCs, please click <a title="LTA Proforma" target="_self" href="%(link4)">here</a> to see how to include them in your LTA calculations. If you have experienced a &lsquo;peak salary&rsquo; situation within BP, the details shown above may understate your estimated BP pension and BP LTA amount.</strong></p>
<p><strong>It is your responsibility to make sure of your overall position. If you wish to apply for Fixed Protection, HM Revenue &amp; Customs must receive your completed form by 5 April 2012. You will also need to inform UK Pensions &amp; Benefits of your election. More information on Fixed Protection is provided on the LTA Q&amp;A page. </strong></p>
<h2>Health Warning</h2>
<p>Depending on your circumstances, determining the amount of LTA you have or expect to use up could be complicated. For example, if you have enhanced protection, primary protection, have or are applying for fixed protection; have a divorce pension sharing order, have transferred pension benefits to or from overseas, or have worked overseas while in a UK pension scheme, you should consider taking specialist advice.</p>
<p>The rules concerning the LTA are complex and you may wish to seek Independent Financial Advice to help determine your own circumstances. HMRC has published guidance to help you which is available on their <a href="%(link5)">website</a>.</p>
<div style="display: none">(--Pop up CurrentSalary--)</div>
<div class="aa_popup" id="popup_CurrentSalary">
<h3>Current Salary</h3>
<p>This is your current salary as held in our system or, in the case of modelled salary, a figure that you have entered.</p>
<table class="no-print" style="margin-bottom: 20px" cellspacing="5" cellpadding="5" width="520" border="0">
    <tbody>
        <tr>
            <td width="530">Estimate your salary at 5th April 2012&nbsp;</td>
        </tr>
        <tr>
            <td>
            <div style="float: left">
            <div id="salary_slider" style="float: left">&nbsp;</div>
            <input class="slider_value" id="input_salary" style="float: left; margin-left: 10px; width: 80px; text-align: right" readonly="readonly" name="input_salary" type="text" />&nbsp;<input class="goButton" type="button" onclick="modelMemberLTA(); return false;" value="Model" /></div>
            </td>
        </tr>
    </tbody>
</table>
</div>
<!-- 
###### Start of PensionAmount info block
-->
<div style="display: none">(--Pop up PensionAmount--)</div>
<div class="aa_popup" id="popup_PensionAmount">
<h3>Pension as at 5 April 2012</h3>
<p>This value is your estimated pension at 5 April 2012. The value is based on your current salary shown above, your current accrual rate and pensionable service including any transfer-in service to 5 April 2012. It excludes any AVCs or deferred pension from any previous BP service.</p>
</div>
<!-- 
###### Start of LtaAmount info block
-->
<div style="display: none">(--Pop up LtaAmount--)</div>
<div class="aa_popup" id="popup_LtaAmount">
<h3>Estimated LTA amount</h3>
<p>This is an estimate of the LTA amount you will use up based on your estimated BP pension as at 5 April 2012. It excludes any AVCs or deferred pension from any previous BP service.</p>
</div>
<!-- 
###### Start of ActionRequired info block
-->
<div style="display: none">(--Pop up ActionRequired--)</div>
<div class="aa_popup" id="popup_ActionRequired">
<h3>Required action</h3>
<p>If you are over the LTA, you will need to register for fixed protection. To do this you must fill in a form.</p>
</div>
</div>
<p>&nbsp;</p>]]></content>
    </element>
  </page>
</pages>
