<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content/>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/caveats.html]]></target>
          <uuid>f4f05593-1aa9-11de-9548-4d6e53b46e73</uuid>
          <anchor><![CDATA[part_time]]></anchor>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/caveats.html]]></target>
          <uuid>f4f05593-1aa9-11de-9548-4d6e53b46e73</uuid>
          <anchor><![CDATA[peak_salary]]></anchor>
        </link>
      </links>
      <content><![CDATA[<p>Blah blah</p>
<ul>
    <li><a href="%(link0)">part time mebers</a></li>
    <li><a href="%(link1)">peak salry</a></li>
</ul>
<p>&nbsp;</p>
<p>Bgroup:<span contenteditable="false">[[Bgroup]]</span></p>
<p>Refno:<span contenteditable="false">[[Refno]]</span></p>
<p>Company:<span contenteditable="false">[[Company]]</span></p>
<p>MembershipStatusRaw:<span contenteditable="false">[[MembershipStatusRaw]]</span></p>
<p>HasCapitaAvcs:[[HasCapitaAvcs]]</p>
<p>&nbsp;</p>]]></content>
    </element>
  </page>
</pages>
