<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>Scheme pays</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/Scheme_Pays_-_QxS.pdf]]></target>
          <uuid>1d09e8df-6762-11e1-96c6-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>You will be liable for an Annual Allowance (AA) tax charge if your Pension Savings are more than the total of the AA for the Pension Input Period (PIP).</p>
<p>You will have to report any excess pension savings over the AA through HMRC self assessment and the amount of the AA tax charge will need to be included in your tax calculation.</p>
<p>HMRC have made available an alternative called &lsquo;Scheme Pays&rsquo;.</p>
<p>Using Scheme Pays you can make an election to HMRC that the BP Pension Fund will pay some or all of your AA tax charge (relating to your BP Pension Fund Pension Savings only) on your behalf. In return your pension benefits will be reduced by an equivalent value.</p>
<p>Further information about the Scheme Pays option, including information on the conditions that need to be met, can be found <a title="Scheme Pays - Q&amp;S" target="_self" href="%(link0)">here</a>.</p>]]></content>
    </element>
  </page>
</pages>
