<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>this is me</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/I_want_to/]]></target>
          <uuid>290ca8b9-19af-11de-8a9b-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/index.html]]></target>
          <uuid>f4ffbee6-1aa9-11de-9548-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>It is important that the personal details we hold for you are correct. If you have any concerns about the details shown, please contact <a href="%(link0)">BP UK Pensions &amp; Benefits</a>.</p>
<table id="tim" class="datatable" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">personal details</th>
        </tr>
        <tr>
            <td class="label">Name</td>
            <td class="value"><span contenteditable="false">[[Name]]</span></td>
        </tr>
        <tr>
            <td class="label">Address</td>
            <td class="value"><span contenteditable="false">[[Address]]</span></td>
        </tr>
        <tr>
            <td class="label">E-mail</td>
            <td class="value"><span contenteditable="false">[[EmailAddress]]</span></td>
        </tr>
        <tr>
            <td class="label">Telephone</td>
            <td class="value"><span contenteditable="false">[[TelephoneNumber]]</span></td>
        </tr>
        <tr>
            <td class="label">Mobile</td>
            <td class="value"><span contenteditable="false">[[MobileNumber]]</span></td>
        </tr>
        <tr>
            <td class="label">Fax</td>
            <td class="value"><span contenteditable="false">[[FaxNumber]]</span></td>
        </tr>
        <tr>
            <td class="label">Membership reference number</td>
            <td class="value"><span contenteditable="false">[[Refno]]</span></td>
        </tr>
        <tr>
            <td class="label">National Insurance number</td>
            <td class="value"><span contenteditable="false">[[Nino]]</span></td>
        </tr>
        <tr>
            <td class="label">Date of birth</td>
            <td class="value"><span contenteditable="false">[[Dob]]</span></td>
        </tr>
        <tr>
            <td class="label">Normal retirement age</td>
            <td class="value"><span contenteditable="false">[[Nra]]</span></td>
        </tr>
        <tr>
            <td class="label">Normal pensionable age</td>
            <td class="value"><span contenteditable="false">[[Npa]]</span></td>
        </tr>
        <tr>
            <td class="label">Normal retirement date</td>
            <td class="value"><span contenteditable="false">[[Nrd]]</span></td>
        </tr>
    </tbody>
</table>
<p><span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[MultiplePeriodsOfService]] = true|Checking...))</span></p>
<div style="display: none" id="DivMultiplePeriods">
<h2>multiple periods of service</h2>
<p>You have more than one period of service. You can access the details for each of these by selecting the relevant period of service on the <a href="%(link1)">my details page</a>.</p>
</div>
<p><span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[CurrentlyContributing]] = true|Checking...))</span></p>
<div id="ContributionHeadTitle">
<h2>contributory options</h2>
<p>The following information outlines your current <span style="background-color: #eeeeee">[[Dictionary(BP):contributory option]]</span>. The table below&nbsp;shows&nbsp;your current contributory option and your normal retirement age. For example, 60:60 would mean that you have a normal retirement age of 60 and you are in the non-contributory 0:60 section.</p>
<p>Due to the 'age discrimination' legislation and subsequent updates to our administration systems, the 'contributory option effective date' is shown as at 1 December 2006, unless you have updated your contributory option since that date.</p>
<table id="contrib" class="datatable" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">current contributory option</th>
        </tr>
        <tr>
            <td class="label">Current option</td>
            <td class="value"><span contenteditable="false">[[CurrentContribOption]]</span></td>
        </tr>
        <!--
        <tr>
            <td class="label">Current monthly deduction</td>
            <td class="value">[[CurrentContribCost]] </td>
        </tr>
        -->
        <tr>
            <td class="label">Current option effective date</td>
            <td class="value"><span contenteditable="false">[[CurrentContribStartDate]]</span></td>
        </tr>
    </tbody>
</table>
<span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[ContributionHistoryCount]] &gt; 0|Checking...))</span>
<div id="ContributionHisCount">
<p>The table below outlines the contributions you have made in the past.</p>
<div style="background-color: #eeeeee" contenteditable="false">((Table(ContributionHistory):please wait...))</div>
</div>
</div>
<h2>other pensionable components</h2>
<p>The following section outlines the details that are used in calculating your pension.</p>
<p><span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[MembershipStatusRaw]] = &quot;AC&quot;|Checking...))</span></p>
<div id="ACStatus" class="conditiontag"><span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[BenefitStatementType]]= 0|Checking...))</span>
<div style="display: none" id="SiPanel0">
<table class="datatable" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">service&nbsp;information</th>
        </tr>
        <tr>
            <td class="label">Employee reference number</td>
            <td class="value"><span contenteditable="false">[[EmployeeNumber]]</span></td>
        </tr>
        <tr>
            <td class="label">Date this period of service started</td>
            <td class="value"><span contenteditable="false">[[DateJoinedScheme]]</span></td>
        </tr>
        <tr>
            <td class="label">Total basic salary</td>
            <td class="value"><span contenteditable="false">[[BasicSalary.Pound]]</span></td>
        </tr>
        <tr>
            <td class="label"><span contenteditable="false">[[FinalSalaryOrPayCaps]]</span></td>
            <td class="value"><span contenteditable="false">[[PensionableSalary.Pound]]</span></td>
        </tr>
    </tbody>
</table>
</div>
<span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[BenefitStatementType]] != 0|Checking...))</span>
<div style="display: none" id="SiPanelN0">
<table class="datatable" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">service&nbsp;information</th>
        </tr>
        <tr>
            <td class="label">Employee reference number</td>
            <td class="value"><span contenteditable="false">[[EmployeeNumber]]</span></td>
        </tr>
        <tr>
            <td class="label">Date this period of service started</td>
            <td class="value"><span contenteditable="false">[[DateJoinedScheme]]</span></td>
        </tr>
        <tr>
            <td class="label"><span contenteditable="false">[[FinalSalaryOrPayCaps]]</span></td>
            <td class="value"><span contenteditable="false">[[PensionableSalary.Pound]]</span></td>
        </tr>
    </tbody>
</table>
</div>
</div>
<p><span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[MembershipStatusRaw]] = &quot;PP&quot;|Checking...))</span></p>
<div id="PPStatus" class="conditiontag">
<table class="datatable" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">service&nbsp;information</th>
        </tr>
        <tr>
            <td class="label">Date this period of service started</td>
            <td class="value"><span contenteditable="false">[[DateJoinedScheme]]</span></td>
        </tr>
        <tr>
            <td class="label">Date of leaving</td>
            <td class="value"><span contenteditable="false">[[DateOfLeaving]]</span></td>
        </tr>
        <tr>
            <td class="label">Pensionable salary on leaving</td>
            <td class="value"><span contenteditable="false">[[PensionableSalary.Pound]]</span></td>
        </tr>
    </tbody>
</table>
</div>
<p><span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[MembershipStatusRaw]] = &quot;PN&quot;|Checking...))</span></p>
<div id="PNStatus" class="conditiontag">
<table class="datatable" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">pension&nbsp;information</th>
        </tr>
        <tr>
            <td class="label">Date pension started</td>
            <td class="value"><span contenteditable="false">[[PensionStartDate]]</span></td>
        </tr>
    </tbody>
</table>
</div>
<p><span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[BenefitStatementType]] = 0|Checking...))</span></p>
<div style="display: none" id="OcPanel0">
<table id="other_components" class="datatable" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">other components</th>
        </tr>
        <tr>
            <td class="label">Additional service credit from transfers in</td>
            <td class="value"><span contenteditable="false">[[TvinBenefit]]</span></td>
        </tr>
        <tr>
            <td class="label">Other BP pensionable service</td>
            <td class="value"><span contenteditable="false">[[HeritageBenefit]]</span></td>
        </tr>
        <tr>
            <td class="label">Special qualifying service</td>
            <td class="value"><span contenteditable="false">[[AugmentedBenefit]]</span></td>
        </tr>
        <tr>
            <td class="label">Eastern service benefit</td>
            <td class="value"><span contenteditable="false">[[EasternServiceBenefit]]</span></td>
        </tr>
    </tbody>
</table>
</div>
<p><span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[BenefitStatementType]] != 0|Checking...))</span></p>
<div style="display: none" id="OcPanelN0">
<table id="other_components" class="datatable" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">other components</th>
        </tr>
        <tr>
            <td class="label">Additional service credit from transfers in</td>
            <td class="value"><span contenteditable="false">[[TvinBenefit]]</span></td>
        </tr>
    </tbody>
</table>
</div>
<p><span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[PloDetailsAvailable]] = true|Checking...))</span></p>
<div style="display: none" id="PloDetails">
<h2 id="Plofficer">Pension Liaison Officer</h2>
<table class="datatable" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">your Pension Liaison Officer</th>
        </tr>
        <tr>
            <td class="label">Area</td>
            <td class="value"><span contenteditable="false">[[PloArea]]</span></td>
        </tr>
        <tr>
            <td class="label">Name</td>
            <td class="value"><span contenteditable="false">[[PloName]]</span></td>
        </tr>
        <tr>
            <td class="label">Address</td>
            <td class="value"><span contenteditable="false">[[PloAddress]]</span></td>
        </tr>
        <tr>
            <td class="label">Telephone number</td>
            <td class="value"><span contenteditable="false">[[PloTelephone]]</span></td>
        </tr>
    </tbody>
</table>
</div>
<p><span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[BenefitStatementType]] = 0|Checking...))</span></p>
<div style="display: none" id="EowPanel0">
<h2>expression of wishes</h2>
<span style="background-color: #eeeeee" contenteditable="false">((Conditional:[[EowLastChangeDate]] != NULL|Checking...))</span>
<div style="display: none" id="ewoewo">
<p>You last updated your <em>expression of wishes form</em> online on <strong><span contenteditable="false">[[EowLastChangeDate]]</span> </strong>.</p>
</div>
<div style="display: none" id="alertEwo">
<p>You have not completed an <em>expression of wishes form</em> online.</p>
</div>
<p>You can review or amend your <em>expression of wishes form</em> in the <a href="%(link2)">I want to...</a> section.</p>
</div>
<p>&nbsp;</p>]]></content>
    </element>
  </page>
</pages>
