#aa_taxmodeller_caveat_print {	
	display: block;
}

.aa_taxmodeller_table {
	width:560px;
	margin-bottom:20px;
	word-wrap: break-word;
}

.aa_taxmodeller_table th.label {
	font-weight:bold;
	text-align:left;
	background-color:#ddd;
	color:#333;
	padding:5px;
}

.aa_taxmodeller_table td {
	vertical-align:middle;
	border:solid #ddd 1px;
	padding:5px;
}


.aa_taxmodeller_table td.label, .aa_taxmodeller_table td.value {
	padding:5px;
	vertical-align: middle;
}

.aa_taxmodeller_table td.label
{
	border-right: none;
}

.aa_taxmodeller_table td.number {		
	text-align:right;
}

.aa_taxmodeller_table td.value 
{
	background-color:#ff0;
	color:#000;
}

.aa_taxmodeller_table td.empty {
	vertical-align:middle;
	border:none;
	padding:5px;	
}

.aa_taxmodeller_table td.status {
	vertical-align:middle;
	background-color:#fff;
	text-align: center;
}

.aa_taxmodeller_table td.info {
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align:middle;	
	border-left: none;
	padding:0px;	
	cursor: pointer;
}

.aa_headroom_table {
	width:560px;
	margin-bottom:20px;
	word-wrap: break-word;
}

.aa_headroom_table th.longlabel {
	font-weight:bold;
	text-align:center;
	background-color:#090;
	color:#fff;
	padding:5px;
	font-size: 9pt;
}

.aa_headroom_table th {
	font-weight:bold;
	text-align:center;
	background-color:#ddd;
	color:#333;
	padding:5px;
	border: solid #ccc 1px;
	font-size: 8pt;
}

.aa_headroom_table td {
	vertical-align:middle;
	border:solid #ddd 1px;
	padding:5px;
	text-align:right;
	font-size: 9pt;
}

.aa_headroom_table td.empty {
	vertical-align:middle;
	border:none;
	padding:5px;
	text-align:right;
}

.aa_headroom_table td.total {
	vertical-align:middle;
	border:solid #ddd 1px;
	padding:5px;
	text-align:right;
	font-size: 8pt;
	font-weight: bold;
	color: #000;
	background-color: #ff0;
}

.aa_popup {
	display: block;
}

.aa_popup_show {
	display: none;
}

.no-print{
	display: none;
}

a img {
	border: none;
}


/********************************************
Annual enrolment
*********************************************/
#journey_container,
#pension_info_balloon,
#cash_info_balloon,
#tax_info_balloon,
#info2,
#accrual_flag,
#accrual_flag_pole,
#modelled_accrual_flag,
#salary_flag,
#salary_flag_pole,
#modelled_salary_flag,
#accrual_plus,
#salary_plus,
#popup3, popup3Close,
#accrual_modelling_balloon,
#salary_modelling_balloon {
	display: none;
}

#journey_container_print {	
	display: block;	
}