#running_div, #result_div {
	float: left;
	width: 100%;
	padding: 0px;
	display: none;
}

.member_detail_table {
	width:795px;
	margin-bottom:20px;
	word-wrap: break-word;
}

.member_detail_table th.longlabel {
	font-weight:bold;
	text-align:center;
	background-color:#090;
	color:#fff;
	padding:5px;
}

.member_detail_table th.label {
	font-weight:bold;
	text-align:left;
	background-color:#ddd;
	color:#333;
	padding:5px;
}

.member_detail_table td {
	vertical-align:middle;
	border:solid #ddd 1px;
	padding:5px;
}


.member_detail_table td.label, .member_detail_table td.value {
	padding:5px;
	vertical-align: middle;
}

.member_detail_table td.number {
	text-align:right;
}

.member_detail_table td.total {
	font-weight:bold;
}

.member_detail_table td.value 
{
	background-color:#ff0;
	color:#000;
}

.scheme_absence_table {
	width:795px;
	margin-bottom:20px;
	word-wrap: break-word;
}

.scheme_absence_table th.longlabel {
	font-weight:bold;
	text-align:center;
	background-color:#090;
	color:#fff;
	padding:5px;
}

.scheme_absence_table th {
	font-weight:bold;
	text-align:center;
	background-color:#ddd;
	color:#333;
	padding:5px;
	border: solid #ccc 1px;
}

.scheme_absence_table td {
	vertical-align:middle;
	border:solid #ddd 1px;
	padding:5px;
	text-align:right;
}

.headroom_table {
	width:810px;
	margin-bottom:20px;
	word-wrap: break-word;
}

.headroom_table th.longlabel {
	font-weight:bold;
	text-align:center;
	background-color:#090;
	color:#fff;
	padding:5px;
	font-size: 9pt;
}

.headroom_table th {
	font-weight:bold;
	text-align:center;
	background-color:#ddd;
	color:#333;
	padding:5px;
	border: solid #ccc 1px;
}

.headroom_table td {
	vertical-align:middle;
	border:solid #ddd 1px;
	padding:5px;
	text-align:right;
}

.headroom_table td.empty {
	vertical-align:middle;
	border:none;
	padding:5px;
	text-align:right;
}

.headroom_table td.total {
	vertical-align:middle;
	border:solid #ddd 1px;
	padding:5px;
	text-align:right;
	font-size: 8pt;
	font-weight: bold;
	color: #000;
	background-color: #ff0;
}

.total_years {
	cursor: pointer;
}

.taxmodeller_table {
	width:795px;
	margin-bottom:20px;
	word-wrap: break-word;
}

.taxmodeller_table th.label {
	font-weight:bold;
	text-align:left;
	background-color:#ddd;
	color:#333;
	padding:5px;
}

.taxmodeller_table td {
	vertical-align:middle;
	border:solid #ddd 1px;
	padding:5px;
}


.taxmodeller_table td.label, .taxmodeller_table td.value {
	padding:5px;
	vertical-align: middle;
}

.taxmodeller_table td.number {	
	text-align:right;
}

.taxmodeller_table td.value 
{
	background-color:#ff0;
	color:#000;
}

.taxmodeller_table td.empty {
	vertical-align:middle;
	border:none;
	padding:5px;	
}

.taxmodeller_table td.status {	
	text-align: center;
	background-color: #fff;
	text-align: center;
}

#TipHolder{
	padding:0px;
	margin:0px;
	FONT-SIZE: 9pt;
	font-weight: normal;
	FONT-STYLE: normal;	
	margin-bottom:0px;
	border: solid #ccc 1px;
}

#TipTitle, #TipText {
	padding:0px;
	margin:0px;
	FONT-SIZE: 9pt;
	font-weight: normal;
	FONT-STYLE: normal;	
	margin-bottom:0px;
	border: none;
	margin-bottom: 0px;
}

#TipTitle {
	padding:0px;
	margin:0px;
	FONT-SIZE: 9pt;
	font-weight: normal;
	FONT-STYLE: normal;	
	margin-bottom:0px;
	border: none;
	margin-bottom: 0px;
}

#TipHolder td {
	vertical-align:top;
	padding: 0px;
}

#TipTitle td, #TipText td{
	vertical-align:top;
	padding: 5px;
}
#aa_taxmodeller_data {
	float: left;
	display: none;
}

#aa_taxmodeller_caveat_print {	
	display: none;
}

.aa_taxmodeller_table {
	width:560px;
	margin-bottom:20px;
	word-wrap: break-word;
}

.aa_taxmodeller_table th.label {
	font-weight:bold;
	text-align:left;
	background-color:#ddd;
	color:#333;
	padding:5px;
}

.aa_taxmodeller_table td {
	vertical-align:middle;
	border:solid #ddd 1px;
	padding:5px;
}


.aa_taxmodeller_table td.label, .aa_taxmodeller_table td.value {
	padding:5px;
	vertical-align: middle;
}

.aa_taxmodeller_table td.label
{
	border-right: none;
}

.aa_taxmodeller_table td.number {		
	text-align:right;
}

.aa_taxmodeller_table td.value 
{
	background-color:#ff0;
	color:#000;
}

.aa_taxmodeller_table td.empty {
	vertical-align:middle;
	border:none;
	padding:5px;	
}

.aa_taxmodeller_table td.status {
	vertical-align:middle;
	background-color:#fff;
	text-align: center;
}

.aa_taxmodeller_table td.info {
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align:middle;	
	border-left: none;
	padding:0px;	
}

.aa_taxmodeller_table td.info img{
	cursor: pointer;
}

.aa_headroom_table {
	width:540px;
	margin-bottom:20px;
	word-wrap: break-word;
}

.aa_headroom_table th.longlabel {
	font-weight:bold;
	text-align:center;
	background-color:#090;
	color:#fff;
	padding:5px;
	font-size: 9pt;
}

.aa_headroom_table th {
	font-weight:bold;
	text-align:center;
	background-color:#ddd;
	color:#333;
	padding:5px;
	border: solid #ccc 1px;
	font-size: 8pt;
}

.aa_headroom_table td {
	vertical-align:middle;
	border:solid #ddd 1px;
	padding:5px;
	text-align:right;
	font-size: 9pt;
}

.aa_headroom_table td.empty {
	vertical-align:middle;
	border:none;
	padding:5px;
	text-align:right;
}

.aa_headroom_table td.total {
	vertical-align:middle;
	border:solid #ddd 1px;
	padding:5px;
	text-align:right;
	font-size: 8pt;
	font-weight: bold;
	color: #000;
	background-color: #ff0;
}

.aa_popup {
	display: none;
}

.aa_popup_show {
	z-index: 99;
	display: block;
}

.aa_popup_hide {
	z-index: 99;
	display: none;
}

.model_dialog {
	position:absolute;
	display:none;
	width:330px;
	height: 170px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 40px;
	padding-bottom: 30px;
	background: url("gfx/balloon-small-1.png") no-repeat;
	border: none;
	z-index: 999;	
}

.model_dialog_inner{
	float: left;
	width: 320px;
	padding-left: 10px;
	padding-right: px;
	height: 170px;
	background-color: #ffffcc;
}
.model_dialog_title {
	float: left;
	padding: 0px;
	width: 100%;
	padding-bottom: 20px;
	font-size: 16px;
	font-weight: bold;
	font-family: Arial;
	color: #090;
}

.model_dialog_content {
	float: left;
	padding: 0px;
	width: 100%;
	font-family: Arial;
	color: #666;
}

a img {
	border: none;
}

/********************************************
Annual enrolment
*********************************************/
#journey_container {
	display: block;
}

#journey_container_print {
	display: none;
}