<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content/>
    </element>
    <element name="bpblank">
      <links>
        <link name="link2" internal="false" type="A">
          <target><![CDATA[mailto:pensionlineuk@bp.com]]></target>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/]]></target>
          <uuid>fb5314ca-185b-11de-96d9-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/]]></target>
          <uuid>fb5314ca-185b-11de-96d9-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p><span contenteditable="false" style="background-color: #eeeeee">((--LetterHeader--))</span></p>
<p>Dear <span contenteditable="false">[[Title]]</span>&nbsp;<span contenteditable="false">[[Surname]]</span></p>
<p><b>Your PensionLine password reset </b></p>
<p>You recently requested a password reset to log in to your personal information and the other secure areas on PensionLine. I am pleased to provide you with the following information.</p>
<p><b>If you are currently employed by BP and have a BP email account</b>, you can log in using the same username and password you use for accessing your BP emails. Just go to <a href="%(link0)">https://pensionline.bp.com</a>&nbsp; and click on &lsquo;login&rsquo; at the top left-hand menu bar.<br />
&nbsp;<br />
<b>If you have left BP, or as an alternative to using your BP email accounts details</b>, you can follow these simple steps to log in using your own username and password:</p>
<p>&bull;&nbsp;Go to PensionLine at <a href="%(link1)">https://pensionline.bp.com</a><br />
&bull;&nbsp;Click on 'login' at the top of the left-hand menu bar<br />
&bull;&nbsp;Enter your username, which will be your National Insurance number (if you have not previously set up a personal username). Your National Insurance number must be entered in lower case with no gaps, e.g. ab123456c<br />
&bull;&nbsp;Enter your initial password, which is<br />
<font size="5"><strong><span contenteditable="false">[[Password]]</span>&nbsp;</strong></font>&nbsp;</p>
<p>Once you have logged in successfully, you are prompted to change your password. BP recommends that you change your password at least once every three months. This can be done by using the 'I want to...' section on the website.</p>
<p>Please note that you must use your initial password within 28 days of the date of this letter, otherwise it will become invalid.</p>
<p><b>Personal usernames </b>must be between eight and thirty characters long, and not in the format of a National Insurance number. They must also not already exist in PensionLine or match an existing BP1 ID. They can only contain alpha numeric characters, hyphens, underscores and full stops.</p>
<p><b>Passwords</b> must be at least eight characters long and contain characters from at least three of the following four groups: lower case letters, upper case letters, numbers and special characters, e.g. exAmpLe29&pound;.</p>
<p>If you experience any problems using the site or you have any questions, please contact the UK Pensions &amp; Benefits Team. The Team can also issue new passwords if you forget yours.</p>
<p>You can contact the Team by telephone on 0845 602 1063 (Monday to Friday, 9am to 5pm) or by email at:<a href="%(link2)">pensions@uk.bp.com</a>.</p>
<p>Don't forget to visit PensionLine regularly - it's your gateway to managing your BP pension.</p>
<p>Yours sincerely</p>
<p><span contenteditable="false" style="background-color: #eeeeee">((--Signature:Default--))</span></p>]]></content>
    </element>
  </page>
</pages>
