<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content/>
    </element>
    <element name="bpblank">
      <links>
        <link name="link2" internal="false" type="A">
          <target><![CDATA[mailto:pensionlineuk@bp.com]]></target>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/]]></target>
          <uuid>fb5314ca-185b-11de-96d9-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/]]></target>
          <uuid>fb5314ca-185b-11de-96d9-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p><span contenteditable="false" style="background-color: #eeeeee">((--LetterHeader--))</span></p>
<p>Dear <span contenteditable="false">[[Title]]</span> <span contenteditable="false">[[Surname]]</span>,</p>
<p><strong>Welcome to PensionLine</strong></p>
<p>I am pleased to welcome you to PensionLine, BP's pension website.</p>
<p>PensionLine gives you access to information about your pension and some of your personal data. It will also include details of your State pension entitlement unless you tell us otherwise. For more information about this, please read the other letter in this welcome pack headed 'your combined pension forecast'.</p>
<p>You can look at many of PensionLine's features without logging in. However, to access your personal information and other secure areas, you will need to log in using one of two methods.</p>
<p>If you have a BP email account, you can log in using the same username and password you use for accessing your BP emails by going to <a href="%(link0)">https://pensionline.bp.com</a>&nbsp; and clicking on &lsquo;login&rsquo; at the top left-hand menu bar.</p>
<p>Alternatively, you can follow the few simple steps to create a more memorable username and password:</p>
<ul>
    <li>Go to pensionLine at <a href="%(link1)">https://pensionline.bp.com</a></li>
    <li>Click on 'login' at the top of the left-hand menu bar</li>
    <li>Enter your temporary username, which is your National Insurance number.&nbsp;This must be entered in lower case with no gaps, e.g. ab123456c</li>
    <li>Enter your initial password, which is<br />
    <font size="5"><strong><span contenteditable="false">[[Password]]</span> </strong></font></li>
</ul>
<p>Once you have logged in successfully, you will be taken to the username self-service screen to create your personal username.</p>
<p>Please note that you must use your initial password within 28 days of the date of this letter, otherwise it will become invalid.</p>
<p><b>Personal usernames</b> must be between eight and thirty characters long, and not in the format of a National Insurance Number. They must also not already exist in PensionLine or match an existing BP1 ID. They can only contain alpha numeric characters, hyphens, underscores and full stops.</p>
<p>You will then be prompted to change your password. BP recommends that you change your password at least once every three months. This can be done by using the 'I want to...' section on the website.</p>
<p><b>Passwords</b> must be at least eight characters long and contain characters from at least three of the following four groups: lower case letters, upper case letters, numbers and special characters, e.g. exAmpLe29&pound;.$</p>
<p>If you experience any problems using the site or you have any questions, please contact the UK Pensions &amp; Benefits Team. The Team can also issue new passwords if you forget yours.</p>
<p>You can contact the Team by telephone on 0845 602 1063 (Monday to Friday, 9am to 5pm) or by email at:<a href="%(link2)"><font size="2">pensions@uk.bp.com</font></a>
</p><p>Don't forget to visit PensionLine regularly - it's your gateway to managing your BP pension.</p>
<p>Yours sincerely</p>
<p><span contenteditable="false" style="background-color: #eeeeee">((--Signature:Default--))</span></p>
<p contenteditable="false" style="background-color: #eeeeee">((--PageBreak--))</p>
<h2>your combined pension forecast</h2>
<p><span contenteditable="false" style="background-color: #eeeeee">((--LetterHeader--))</span></p>
<p>Dear <span contenteditable="false">[[Title]]</span> <span contenteditable="false">[[Surname]]</span>,</p>
<p>We are working with the Department for Work and Pensions (DWP) to provide our members with a combined pension forecast.</p>
<p>The forecast will be included with your BP Pension Scheme benefit statement under &lsquo;my details&rsquo; on PensionLine at:</p>
<p>https://pensionline.bp.com/content/pl/mydetails/benefit_statement_ac/state_pension.html</p>
<p>The forecast will provide details of your State pension at the date of the forecast and your projected State pension up to State pension age.</p>
<p>Your combined pension forecast will help you to make better informed choices when planning for your future by outlining what you can expect from the BP Pension Scheme and the State.</p>
<p>To be able to provide you with a combined pension forecast, we need your agreement to give some information to the DWP and for the DWP to give us some information in return. We will provide the DWP with your full name, sex, date of birth, National Insurance number and employee number. The DWP will then provide us with details of the amount of State pension you have earned so far, the earliest age at which you can receive your State pension and what the amount of your State pension is likely to be when you reach State pension age.</p>
<p>We will only use the information we get from the DWP to provide you with a combined pension forecast of your BP Pension Scheme and State pension benefits.</p>
<p><b>If you are happy for us to give the DWP the details shown above, you do not need to do anything</b>. We will send the DWP your information and will continue to receive and hold the information sent to us by the DWP, for as long as you remain a member of BP Pension Scheme. We will include this information in your next and future annual benefit statements.</p>
<p>If you do not want us to give the DWP the details shown over the page, please complete, sign and return the enclosed notice of intention form within 30 days of the date at the top of this letter. If you do this, your benefit statement on PensionLine will not include any information about your State pension.</p>
<p>If you agree to us giving information about you to the DWP and later change your mind, you can contact us at any time to stop us sending this information. Please write to BP UK Pensions &amp; Benefits at the address at the top of this letter, or call them on 0845 602 1063.</p>
<p>Yours sincerely</p>
<p><span contenteditable="false" style="background-color: #eeeeee">((--Signature:Gail--))</span></p>
<p contenteditable="false" style="background-color: #eeeeee">((--PageBreak--))</p>
<h3>BP Pension Fund</h3>
<h2><strong>notice of intention form</strong></h2>
<p>Please complete and sign this form if you do not want BP Pensions &amp; Benefits to send your information to the Department for Work and Pensions (DWP), in order to provide you with a combined pension forecast.</p>
<p>Remember, if you are happy for BP Pensions &amp; Benefits to send your details to the DWP, <b>you do not need to do anything</b>.</p>
<p><span contenteditable="false" style="background-color: #eeeeee">((--LetterTable--))</span></p>
<p>If <b>you do not</b> want BP Pensions &amp; Benefits to send your information to the DWP, please send this completed and signed form to:</p>
<p>BP UK Pensions &amp; Benefits<br />
Chertsey Road<br />
Sunbury-on-Thames<br />
Middlesex<br />
TW16 7LN</p>
<p contenteditable="false" style="background-color: #eeeeee">((--PageBreak--))</p>
</p>]]></content>
    </element>
  </page>
</pages>
