<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[theSupplementaryPensionPlan]]></Anchor>
    <Title><![CDATA[the Supplementary Pension Plan]]></Title>
    <Question><![CDATA[If part of my pension comes from the SPP, this relies on the solvency/ profitability of the Company rather than the Pension Fund. Is this a good idea? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>BP's approach minimises additional tax charges. The SPP will only apply if your benefits are
over the lifetime allowance and only for that part of your benefit above the allowance.</p>
<p>In any event, a pension fund is ultimately as secure as the company supporting it, so there may
not be any major difference in the security of the benefit. At retirement, you can elect to take
your SPP benefits as a lump sum or, if you prefer income, you could either take a pension direct
from the SPP, or consider taking the benefits as a lump sum and, after your retirement, reinvest it
into an annuity by contacting an insurance company.
<br /></p>]]></content>
    </Answer>
    <new_edited>true</new_edited>
  </PhraseType>
</FaqPhraseTypes>
