<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[theSupplementaryPensionPlan]]></Anchor>
    <Title><![CDATA[the Supplementary Pension Plan]]></Title>
    <Question><![CDATA[Can I invest in a SIPP at the same time as being in the SPP? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Yes, but the SPP only covers BP pension benefits, so payment into a SIPP would probably not be tax efficient (you would get an income tax deduction now, but pay tax in retirement on the benefit at a rate of at least 55%).</p>
<p>Please note also that if you register for enhanced protection, you would lose that protection if you contribute into a SIPP from 6 April 2006. You should obtain independent financial advice. <br />
&nbsp;</p>]]></content>
    </Answer>
    <new_edited>false</new_edited>
  </PhraseType>
</FaqPhraseTypes>
