<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[theSupplementaryPensionPlan]]></Anchor>
    <Title><![CDATA[the Supplementary Pension Plan]]></Title>
    <Question><![CDATA[Is there any benefit of still paying AVCs if I am in the SPP? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>There may be no tax benefit in paying AVCs if your benefits from all registered pension schemes
are projected to exceed the lifetime allowance. In fact, as the SPP does not cover AVC benefits, if
you pay AVCs you may become liable for additional tax.</p>
<p>You should obtain independent financial advice.</p>
<p>Please note that if you have elected for enhanced protection, you cannot make AVCs from 6 April
2006 without losing enhanced protection.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
