<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[theSupplementaryPensionPlan]]></Anchor>
    <Title><![CDATA[the Supplementary Pension Plan]]></Title>
    <Question><![CDATA[How do I join the SPP? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>The SPP is a discretionary arrangement, which the Company will operate by invitation only.</p>
<p>For most people, the SPP will not be appropriate as your pension benefits will be under the
lifetime allowance.</p>
<p>Those with pension benefits of £1.5 million or above at 6 April 2006 were automatically invited
to join the SPP.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
