<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[theSupplementaryPensionPlan]]></Anchor>
    <Title><![CDATA[the Supplementary Pension Plan]]></Title>
    <Question><![CDATA[If I have a large defined contribution pot and the value fluctuates, will I dip in and out of the SPP if the value ever drops below the lifetime allowance? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>The SPP does not operate in this way. Membership of the SPP is 'notional' until the point at which you take your benefits. At that time, your total benefits (if you have applied for primary or no protection) or your total benefits based on service to/contributions made before 6 April 2006 (if you have applied for enhanced protection) will be measured against the lifetime allowance. Payments from the SPP will only be required if, when you take your pension benefits, the overall value of your benefits (from all sources) is above the then current lifetime allowance.</p>
<p>This means that, although you may have been invited to join the SPP, it may prove possible to pay all of your benefits through the BP Pension Fund.</p>
<p>Any fluctuations in value that occur before you take your benefits will not directly affect your membership of the SPP or the final outcome. <br />
&nbsp;</p>]]></content>
    </Answer>
    <new_edited>false</new_edited>
  </PhraseType>
</FaqPhraseTypes>
