<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[theSupplementaryPensionPlan]]></Anchor>
    <Title><![CDATA[the Supplementary Pension Plan]]></Title>
    <Question><![CDATA[What is the Supplementary Pension Plan? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>For executives and higher earners, BP's key response to the &lsquo;pensions simplification&rsquo; legislation and tax regime was to introduce a new Supplementary Pension Plan (SPP). The SPP is an additional pension plan operated by the Company, rather than by the BP Pension Fund.</p>
<p>The SPP is intended to minimise for employees the impact of higher taxes on benefits above the lifetime allowance.</p>
<p>The effect of the SPP is to maintain your gross pension promise by:</p>
<ul>
    <li>maximising the amount of pension that may be delivered through the BP Pension Fund; and&nbsp;</li>
    <li>paying the balance through the SPP.</li>
</ul>
<p>Benefits from the SPP will be paid to you by the Company direct and SPP benefits will mirror those in the&nbsp;BP Pension Fund. <br />
&nbsp;</p>]]></content>
    </Answer>
    <new_edited>false</new_edited>
  </PhraseType>
</FaqPhraseTypes>
