<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[theSupplementaryPensionPlan]]></Anchor>
    <Title><![CDATA[the Supplementary Pension Plan]]></Title>
    <Question><![CDATA[If I pay into a Self-Invested Personal Pension (SIPP) after April 2006 and this takes me over the lifetime allowance, can I then join the SPP? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Yes, as membership of the SPP is determined by whether your total benefits (including those from
schemes outside of BP) exceed the lifetime allowance.</p>
<p>Please note, however, that if you register for enhanced protection, you would lose that
protection if you contribute into a SIPP from 6 April 2006.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
