<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[theSupplementaryPensionPlan]]></Anchor>
    <Title><![CDATA[the Supplementary Pension Plan]]></Title>
    <Question><![CDATA[How does the SPP work if I have registered for enhanced protection (or both enhanced and primary protection) for my benefits at 5 April 2006? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>The SPP has a built-in assumption that, if your benefits exceeded the lifetime allowance at 5
April 2006, you will have registered for both enhanced protection and primary protection.</p>
<p>If your benefits exceeded the lifetime allowance at 6 April 2006, but you did not register for
one or both of the protections (or you subsequently lose enhanced protection), there is a
significant risk that some of your pension paid through the Pension Fund will exceed the lifetime
allowance and you will therefore incur an additional tax charge.
<br /></p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
