<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>my retirement planner</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link6" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Employee_newsletter/UK_employees_pension_changes_November_2009.pdf]]></target>
          <uuid>bcf55ab1-d8e5-11de-a368-4d6e53b46e73</uuid>
        </link>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[]]></target>
          <anchor><![CDATA[]]></anchor>
        </link>
        <link name="link5" internal="true" type="A">
          <target><![CDATA[]]></target>
          <anchor><![CDATA[]]></anchor>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Employee_newsletter/UK_employees_pension_changes_November_2009.pdf]]></target>
          <uuid>bcf55ab1-d8e5-11de-a368-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[]]></target>
          <anchor><![CDATA[]]></anchor>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/this_is_me.html]]></target>
          <uuid>f5dc1531-1aa9-11de-9548-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<div id="modeller">
<p>Shown here are your estimated pension benefits at normal retirement age based on your current choices and information&nbsp;in <a href="%(link0)">this is me</a>. The figures shown assume that there will be no change to your current pensionable salary.</p>
<p>The Scheme Rules limit your maximum annual pension (excluding any additional voluntary contributions) to two-thirds (40/60ths)&nbsp;of your final pensionable salary.</p>
<p>Please click on the links below in order to model changes in retirement age, contributory options or cash lump sum.</p>
<div id="age_panel" class="controlable_panel">
<h3>retirement age</h3>
<p>The default retirement age is set at 65 - the normal retirement age under the Scheme.</p>
<p>You can model retiring at a different age. Use the slider to choose a retirement age between ages 50 and 65 and click on the <strong>model</strong> button to see the effect on your pension benefits. From 6 April 2010, the minimum retirement age will increase from age 50 to age 55.</p>
<p>If you joined the Scheme between 6 April 2006 and 1 December 2006 and will reach age 50 before 6 April 2010 and would like a quotation, please contact the <a href="%(link1)">BP Pensions Administration Team</a>.</p>
<form method="get">
    <p>The results shown assume that the Company has agreed to you retiring early.</p>
    <div class="slider_panel"><input id="input_co_nra" class="slider_value" readonly="readonly" name="input_co_nra" type="text" /><span class="goButton" onclick='submitModellerValue()'>Model</span><br />
    <div id="slider_co_nra">&nbsp;</div>
    </div>
</form>
</div>
<div id="contrib_option_panel" class="controlable_panel">
<h3>contributory options</h3>
<p>You can change the rate at which your pension builds up in the future by choosing a different contributory option from the next annual enrolment process, please refer to the attached link <a title="UK employees pension changes November 2009" target="_self" href="%(link2)">here</a> for further information. Your current level of contribution is shown under 'current options and benefits'. Your&nbsp;contributory option is paid as a percentage of your gross pensionable salary.</p>
<p>Choose a new contributory option, by clicking on the drop down menu.</p>
<p>If you are happy with your option choice, click on the <strong>model</strong> button below.</p>
<p>Your Scheme pension is restricted to two-thirds (40/60ths) of your final salary. If your preferred choice exceeds this limit, a warning message is displayed.</p>
<div class="slider_panel"><select id="input_co_option" class="textbox" size="1">
<option value="60" selected="selected">0:60</option>
<option value="54">2:54</option>
<option value="51">3:51</option>
<option value="45">5:45</option>
<option value="40">10:40</option>
<option value="35">15:35</option>
</select> <input class="goButton" type="button" onclick="submitModellerValue()" value="Model" /></div>
<p>&nbsp;</p>
</div>
<div id="cash_panel" class="controlable_panel">
<h3>cash lump sum</h3>
<p>You can swap part of your pension for a cash lump sum. The total pension you can receive at your chosen retirement age is <span contenteditable="false">[[NpaReducedPension]]</span>a year. The maximum cash sum that you can take is <span contenteditable="false">[[NpaMaximumCashLumpSumExact]]</span>which would leave you with a pension of <span contenteditable="false">[[NpaPensionWithMaximumCash]]</span>a year.</p>
<p>Use the slider below to select the amount of cash you would like to take (this figure is rounded down to the nearest thousand) and click on the model button to see the effect of the choice on your annual pension.</p>
<p>You can take part of your pension as a tax free lump sum and have a lower residual pension. Use the slider below to select an amount of cash you would like to take and click on <strong>Model</strong> to make the changes.</p>
<div class="slider_panel"><input id="input_co_cash" class="slider_value" readonly="readonly" name="input_co_cash" type="text" /> <input class="goButton" type="button" onclick="submitModellerValue()" value="Model" /><br />
<div id="slider_co_cash">&nbsp;</div>
</div>
<p>&nbsp;</p>
</div>
<table id="retirement_planner" class="planner_table" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td class="blank" colspan="3" style="padding:0px;">
<table id="member_id" style="width:100%;margin-bottom:1em;">
        <tr>
            <td class="member_name" colspan="2"><center><strong><span contenteditable="false">[[Name]]</span></strong></center></td>
	</tr>
	<tr>
            <td class="member_refno" style="text-align:left;width:50%;">Membership number: <strong><span contenteditable="false">[[Refno]]</span></strong></td>
            <td class="member_nino" style="text-align:right;width:50%;">NI number: <strong><span contenteditable="false">[[Nino]]</span></strong></td>
        </tr>
</table>
	</td>
	</tr>
        <tr>
            <th class="blank">&nbsp;</th>
            <th class="current_option">Current options and estimated benefits</th>
            <th class="modelled_option">Modelled options</th>
        </tr>
        <tr>
            <td class="option_name">Pensionable salary</td>
            <td id="pSalary" class="current_option"><span contenteditable="false">[[PensionableSalary.Pound]]</span></td>
            <td id="modelled_pSalary" class="modelled_option"><span contenteditable="false">[[PensionableSalary.Pound]]</span></td>
        </tr>
        <tr>
            <td class="option_name"><a onclick="javascript:modeller_popupControlPanel('age_panel', true); return false;" href="%(link3)">Retirement age</a></td>
            <td id="current_nra" class="current_option"><span contenteditable="false">[[Nra]]</span></td>
            <td id="modelled_nra" class="modelled_option"><span contenteditable="false">[[Npa]]</span></td>
        </tr>
        <tr id="cont_opt">
            <td class="option_name"><a onclick="javascript:modeller_popupControlPanel('contrib_option_panel', true); return false;" href="%(link4)">Contributory options</a></td>
            <td id="current_cont_opt" class="current_option"><span contenteditable="false">[[CINN91]]</span></td>
            <td id="modelled_cont_opt" class="modelled_option"><span contenteditable="false">[[CINN91]]</span></td>
        </tr>
        <tr id="cash">
            <td class="option_name"><a onclick="javascript:modeller_popupControlPanel('cash_panel', true); return false;" href="%(link5)">Cash lump sum</a></td>
            <td id="current_cash" class="current_option"><span contenteditable="false">[[NraCashLumpSumCurrency]]</span></td>
            <td id="modelled_cash" class="modelled_option"><span contenteditable="false">[[NpaCashLumpSumCurrency]]</span></td>
        </tr>
        <tr id="pension">
            <td class="option_name">Retirement pension</td>
            <td id="current_pension" class="current_option"><span contenteditable="false">[[NraPensionWithChosenCash]]</span></td>
            <td id="modelled_pension" class="modelled_option"><span contenteditable="false">[[NpaPensionWithChosenCash]]</span></td>
        </tr>
        <tr id="spouses_pension">
            <td class="option_name">Spouse's/civil partner's pension</td>
            <td id="current_spouses_pension" class="current_option"><span contenteditable="false">[[NraSpousesPension]]</span></td>
            <td id="modelled_spouses_pension" class="modelled_option"><span contenteditable="false">[[NpaSpousesPension]]</span></td>
        </tr>
    </tbody>
</table>

<div id="ar_pensal" class="caveat">
<p>&nbsp;</p>
<p>All calculations are based on your current pensionable salary and assume that, from age 55, you are retire with Company consent and related preferential early retirement discounts.</p>
<p>All the figures shown are for illustration only. Although every effort has been made to ensure the accuracy of the data, the information provided does not give you any rights to the benefits shown. Your benefits are subject to the provisions of the BP Pension Fund Trust Deed, the Rules of the BP Pension Scheme and, if you have any benefits under the Supplementary Pension Plan (SPP), the Deed governing the SPP.&nbsp;You can change your contributory options to model your benefits, however actual changes can only take place during the annual enrolment process, please refer to the attached link <a title="UK employees pension changes November 2009" target="_self" href="%(link6)">here</a>&nbsp;for further information.</p>
<p>If you have made AVCs, please note that these are not included in the figures shown above.</p>
</div>
<div id="ar_spp" class="caveat">
<p>If you are a member of the SPP, some of the benefits shown above may come from the SPP.</p>
</div>
<div id="ar_tvin" class="caveat">
<div style="visibility: hidden" id="ar_vera" class="caveat">Your pension figure includes service that qualifies under VERA.</div>
<div style="visibility: hidden" id="ar_overfund" class="caveat"><!--
<p>Your pension is capped to the Scheme pension limit (two-thirds of your salary). Please contact a member of the <a href="/content/pl/contactus.html">BP Pensions Administration Team</a> if you wish to discuss this.</p>
--></div>
<!--
<div class="caveat" id="ar_ltaoverfund">
<p>The value of your capped Scheme pension is greater than the standard lifetime allowance. If you are in the Supplementary Pension Plan (SPP), any pension benefit above your allowance is paid through the SPP. If you opted for standard and/or enhanced protection, your lifetime allowance may be higher than the standard lifetime allowance.</p>
</div>
--></div>
</div>
<div id="perma_overfund" class="caveat">
<p>You cannot receive a pension from the BP Pension Scheme of more than two-thirds of your final salary. If necessary, the figures above will be capped to reflect this limit.</p>
</div>]]></content>
    </element>
  </page>
</pages>
