<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>update&nbsp;my address details</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/privacy.html]]></target>
          <uuid>e6a670c7-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>If you have moved, you&nbsp;can update your address details&nbsp;here. Please answer the questions below.</p>
<!--
<div id="address_country_holder">
<p>If you live in the UK, we can find your address&nbsp;based on your post code. Please indicate whether you live in the UK or are based overseas.</p>
<div class="component_holder">
<div class="component_label"><label for="ukbased">I live in the UK</label> <input class="noborder" id="ukbased" type="radio" checked="checked" name="overseas_indicator" value="no" /></div>
<div class="component_value">&nbsp;</div>
</div>
<div class="component_holder">
<div class="component_label"><label for="overseas">I live overseas</label> <input class="noborder" id="overseas" type="radio" name="overseas_indicator" value="yes" /></div>
<div class="component_value">&nbsp;</div>
</div>
<div class="component_holder">
<div class="component_label">&nbsp;</div>
<div class="component_value"><input class="goButton" id="check_overseas" type="button" onclick="checkCountry();return false;" name="check_overseas" value="Go" /> </div>
</div>
</div>
<div id="address_postcode_holder">
<h2>what is your post code?</h2>
<p>Please enter your post code details in the boxes below. If you live in a house with a name instead of a number, please enter this information in the&nbsp;'house number' box.</p>
<div class="component_holder">
<div class="component_label"><label for="house">House name/number</label> </div>
<div class="component_value"><input id="house" name="house" type="text" /> </div>
</div>
<div class="component_holder">
<div class="component_label"><label for="street">Street name</label> </div>
<div class="component_value"><input id="street" name="street" type="text" /> </div>
</div>
<div class="component_holder">
<div class="component_label"><label for="postcode">Post code</label> </div>
<div class="component_value"><input id="postcode" name="postcode" type="text" /> </div>
</div>
<div class="component_holder">
<div class="component_label"><label for="country">Country</label> </div>
<div class="component_value"><input id="country" name="country" type="text" /> </div>
</div>
<div class="component_holder">
<div class="component_label">&nbsp;</div>
<div class="component_value"><input class="goButton" id="check_postcode" type="button" onclick="checkPostcode();return false;" name="check_postcode" value="Go" /> </div>
</div>
</div>
<div id="full_address_waiter">
<p>&nbsp; <img height="15" alt="loading" width="214" border="0" src="/content/pl/system/galleries/pics/Application_images/loading.gif" /></p>
</div>
<div id="address_not_found">
<h2>address not found</h2>
<p>Unfortunately, we can't find your address. Please select from one of the following options.</p>
<div class="address_component_holder">
<div class="address_value"><input class="noborder" id="repeat" type="radio" checked="checked" name="cstep" value="no" /> </div>
<div><label for="ukbased">retype the house number and postcode</label> </div>
</div>
<div class="address_component_holder">
<div class="address_value"><input class="noborder" id="next" type="radio" name="cstep" value="yes" /> </div>
<div><label for="overseas">manually submit the address</label> </div>
</div>
<div class="address_component_holder">
<div class="address_label">&nbsp;</div>
<div class="address_value"><input class="goButton" type="button" onclick="checkstep();return false;" value="Go" /> </div>
</div>
</div>--><!-- these replace the ones below 
<div class="component_holder">
<div class="component_label"><label for="address_line_1">House name/number</label> </div>
<div class="component_value"><input id="address_line_1" name="address_line_1" type="text" /> </div>
</div>
<div class="component_holder">
<div class="component_label"><label for="address_line_2">Street</label> </div>
<div class="component_value"><input id="address_line_2" name="address_line_2" type="text" /> </div>
</div>
-->
<div id="full_address_holder">
<h2>review your details</h2>
<p>Please enter your address details below and&nbsp;amend them if neccessary. To submit your details, click on the 'Go' button.</p>
<div class="component_holder">
<div class="component_label"><label for="address_line_1">Address line 1</label></div>
<div class="component_value"><input id="address_line_1" name="address_line_1" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><label for="address_line_2">Address line 2</label></div>
<div class="component_value"><input id="address_line_2" name="address_line_2" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><label for="address_line_3">Postal town</label></div>
<div class="component_value"><input id="address_line_3" name="address_line_3" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><label for="address_line_4">City</label></div>
<div class="component_value"><input id="address_line_4" name="address_line_4" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><label for="address_line_5">County</label></div>
<div class="component_value"><input id="address_line_5" name="address_line_5" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><label for="address_postcode">Post code</label></div>
<div class="component_value"><input id="address_postcode" name="address_postcode" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><label for="address_country">Country</label></div>
<div class="component_value"><input id="address_country" name="address_country" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label">&nbsp;</div>
<div class="component_value"><input id="check_address" class="goButton" type="button" onclick="checkAddress();return false;" name="check_address" value="Go" /></div>
</div>
</div>
<div id="address_thanks_holder">
<h2>thank you</h2>
<p>Your details have been updated successfully.</p>
</div>
<div id="address_error_holder">
<h2>oops...</h2>
<p>An error has occured while processing your details.</p>
</div>
<p><br />
<br />
&nbsp;</p>
<p>By submitting this form, you agree to us using the details that you have supplied to update your records. Please <a href="%(link0)">click here</a> for more&nbsp;information about our privacy policy.<br />
&nbsp;</p>]]></content>
    </element>
  </page>
</pages>
