<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>update&nbsp;my bank details</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/privacy.html]]></target>
          <uuid>e6a670c7-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>You can use&nbsp;this page to advise BP UK&nbsp;Pensions &amp; Benefits if you have changed the account to which your pension payments&nbsp;are&nbsp;made.</p>
<p>This option is only available for pensions being paid into UK bank/building society accounts. If your pension is paid into an overseas account, you can update your bank details by writing to:</p>
<p><strong>BP UK Pensions&nbsp;&amp; Benefits&nbsp; <br />
Chertsey Road <br />
Sunbury-on-Thames <br />
Middlesex <br />
TW16 7LN</strong></p>
<p>Alternatively, you can <strong>fax</strong> your new details to&nbsp; <strong>+44 (0)1932 763 630</strong>.</p>
<p>Unfortunately, for security reasons, we cannot accept changes to&nbsp;bank details by email or telephone.</p>
<p>Other than in special cases, your pension can only be paid into an account in your name.</p>
<p>Please note that changes submitted after the 16th of the month may not take effect until the following month. For example, a change of details received on 25 April will not take effect until 1 June's pension payment.</p>
<p>If you have any questions, please contact&nbsp; <a href="%(link0)">BP UK&nbsp;Pensions &amp;&nbsp;Benefits</a>.</p>
<table id="current_bank_details" class="bank_details" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">Current details</th>
        </tr>
        <tr>
            <td class="label">Name of financial institution</td>
            <td class="value"><span contenteditable="false">[[BankName]]</span></td>
        </tr>
        <tr>
            <td class="label">Sort code</td>
            <td class="value"><span contenteditable="false">[[SortCode]]</span></td>
        </tr>
        <tr>
            <td class="label">Account number</td>
            <td class="value"><span contenteditable="false">[[BankAccountNumber]]</span></td>
        </tr>
        <tr>
            <td class="label">Building society roll number</td>
            <td class="value"><span contenteditable="false">[[RollNumber]]</span></td>
        </tr>
        <tr>
            <td class="label">Name on account</td>
            <td class="value"><span contenteditable="false">[[BankAccountName]]</span></td>
        </tr>
    </tbody>
</table>
<p><br />
&nbsp;</p>
<form method="post" action="" name="Form1">
    <div id="Divbank_details">
    <table id="bank_details" class="bank_details" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <th class="label" colspan="2">New payment details</th>
            </tr>
            <tr>
                <td class="label">Name of financial institution, e.g. HSBC</td>
                <td class="value"><input id="institution" class="bankinput" maxlength="27" size="18" name="institution" type="text" /></td>
            </tr>
            <tr>
                <td class="label">Bank or building society?</td>
                <td class="value"><input id="Bank" class="noborder" checked="checked" type="radio" onclick="hidesomething('true')" name="institution_type" value="Bank" />Bank <br />
                <input id="Building" class="noborder" type="radio" onclick="hidesomething('false')" name="institution_type" value="Building" />Building Society <br />
                &nbsp;</td>
            </tr>
            <tr>
                <td class="label">Sort code</td>
                <td class="value"><input id="sortcode1" class="sortcode" maxlength="2" size="2" name="sortcode1" type="text" />&nbsp;-&nbsp; <input id="sortcode2" class="sortcode" maxlength="2" size="2" name="sortcode2" type="text" />&nbsp;-&nbsp; <input id="sortcode3" class="sortcode" maxlength="2" size="2" name="sortcode3" type="text" /></td>
            </tr>
            <tr>
                <td class="label">Account number</td>
                <td class="value"><input id="account_number" class="bankinput" maxlength="8" size="18" name="account_number" type="text" /></td>
            </tr>
            <tr>
                <td class="label">Building society roll number (if applicable)</td>
                <td class="value"><input id="roll_number" class="bankinput" disabled="disabled" maxlength="27" size="18" name="roll_number" type="text" /></td>
            </tr>
            <tr>
                <td class="label">Name on account, e.g. Mr J Smith</td>
                <td class="value"><input id="account_name" class="bankinput" maxlength="27" size="18" name="account_name" type="text" /></td>
            </tr>
            <tr>
                <td class="blank">&nbsp;</td>
                <td class="blank"><input id="submit_bankDetails" class="goButton" type="button" onclick="submitChange()" name="submit_bankDetails" value="Go" /></td>
            </tr>
        </tbody>
    </table>
    </div>
</form>
<p>By submitting this form, you agree to us using the details that you have supplied to update your records. Please <a href="%(link1)">click here</a> for more information about our privacy policy.</p>
<p>&nbsp;</p>
<div id="SUCCESS" class="cobank_success">Thank you. Your query will be processed by&nbsp;a member of the Team shortly.</div>
<div id="ERROR" class="cobank_error">Sorry, we&nbsp;are unable to process your request at this time. Please contact BP UK&nbsp;Pensions &amp;&nbsp;Benefits.</div>
<p>&nbsp;</p>
<script type="text/javascript" language="javascript">
function hidesomething(isBank)
{
if(isBank=='true')
{
    document.getElementById('sortcode1').disabled=false;
    document.getElementById('sortcode2').disabled=false;
    document.getElementById('sortcode3').disabled=false;
    document.getElementById('account_number').disabled=false;
    document.getElementById('roll_number').disabled=true;
}
else
{

	document.getElementById('sortcode1').disabled=true;
    document.getElementById('sortcode2').disabled=true;
    document.getElementById('sortcode3').disabled=true;
    document.getElementById('account_number').disabled=true;
    document.getElementById('roll_number').disabled=false;
}
}

function isNumber (aStr)
{
	aStr = aStr.trim();
   	var ValidChars = "0123456789";
   	var IsNumber=true;
   	var Char;
   	for (i = 0; i < aStr.length && IsNumber == true; i++) 
    { 
      	Char = aStr.charAt(i); 
      	if (ValidChars.indexOf(Char) == -1) 
        {
         	IsNumber = false;
        }
    }
    
  	return IsNumber;
}

function submitChange()
{
  //Check data
  var accNumber =document.getElementById('account_number').value;
  var rollNumber =document.getElementById('roll_number').value;
  if(document.getElementById('Bank').checked&&!isNumber(accNumber))
  {
	alert('Account number must be a number');
	return;
  }
   if(document.getElementById('Building').checked&&!isNumber(rollNumber))
  {
	alert('Building society roll number must be a number');
	return;
  }
  var acc_name=document.getElementById('account_name').value;
  if(acc_name.trim()=="")
  {
	alert('Please enter an account name');
	return;
  }

  submitChangeBank();
	
}
</script>]]></content>
    </element>
  </page>
</pages>
