<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>update my phone numbers</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/privacy.html]]></target>
          <uuid>e6a670c7-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The following&nbsp;details are stored in our system:</p>
<div class="component_holder">
<div class="component_label">Telephone</div>
<div class="component_value"><span contenteditable="false">[[TelephoneNumber]]</span></div>
</div>
<div class="component_holder">
<div class="component_label">Mobile</div>
<div class="component_value"><span contenteditable="false">[[MobileNumber]]</span></div>
</div>
<div class="component_holder">
<div class="component_label">Fax</div>
<div class="component_value"><span contenteditable="false">[[FaxNumber]]</span></div>
</div>
<p>&nbsp;</p>
<p>Please enter your new details in the boxes provided below. You only need to enter the details that have changed.</p>
<div id="SUCCESS" class="phone_success">Thank you. Your request will be processed shortly.</div>
<div id="ERROR" class="phone_error">Sorry, we&nbsp;are unable to process your request at this time. Please contact the BP&nbsp;UK&nbsp;Pensions &amp; Benefits Team.</div>
<div id="phone">
<form>
    <div class="component_holder">
    <div class="component_label">Telephone</div>
    <div class="component_value"><input style="background-color: #ffffa0" title="Your Google Toolbar can fill this in for you. Select AutoFill" id="tbPhone" type="text" /></div>
    </div>
    <div class="component_holder">
    <div class="component_label">Mobile</div>
    <div class="component_value"><input id="tbMobile" type="text" /></div>
    </div>
    <div class="component_holder">
    <div class="component_label">Fax</div>
    <div class="component_value"><input id="tbFax" type="text" /></div>
    </div>
    <div class="component_holder">
    <div class="component_label">&nbsp;</div>
    <div class="component_value"><input id="doauth" class="goButton" type="button" onclick="ChangePhoneHandle();" name="doauth" value="Go" /></div>
    </div>
</form>
</div>
<p>&nbsp;</p>
<p>By submitting this form, you agree to us using the details that you have supplied to update your records. Please <a href="%(link0)">click here</a> for more information about our privacy policy.&nbsp;</p>
<p>Please note that any changes you have made during this visit&nbsp;will not be shown&nbsp;until you next log in.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>]]></content>
    </element>
  </page>
</pages>
