<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>update my email address</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/privacy.html]]></target>
          <uuid>e6a670c7-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The following&nbsp;details are stored in our system:</p>
<div class="component_holder">
<div class="component_label">Email</div>
<div class="component_value"><span contenteditable="false">[[EmailAddress]]</span></div>
</div>
<p>&nbsp;</p>
<p>Please enter your new email address in the box provided below.</p>
<div id="SUCCESS" class="email_success">Thank you. Your request will be processed shortly.</div>
<div id="ERROR" class="email_error">Sorry, we&nbsp;are unable to process your request at this time. Please contact&nbsp;BP UK Pensions &amp; Benefits.</div>
<div id="email">
<form>
    <div class="component_holder">
    <div class="component_label">Email</div>
    <div class="component_value"><input style="background-color: #ffffa0" id="tbEmail" title="Your Google Toolbar can fill this in for you. Select AutoFill" name="tbEmail" type="text" /></div>
    </div>
    <div class="component_holder">
    <div class="component_label">&nbsp;</div>
    <div class="component_value"><input id="doauth" class="goButton" type="button" onclick="ChangeEmailHandle()" name="doauth" value="Go" /></div>
    </div>
</form>
</div>
<p>&nbsp;</p>
<p>By submitting this form, you agree to us using the details that you have supplied to update your records. Please <a href="%(link0)">click here</a> for more information about our privacy policy.</p>
<p>Please note&nbsp;that any changes you have made during this visit will not be shown until you next log in.</p>]]></content>
    </element>
  </page>
</pages>
