<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>update&nbsp;my contributory option</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Employee_newsletter/UK_employees_pension_changes_November_2009.pdf]]></target>
          <uuid>bcf55ab1-d8e5-11de-a368-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p><span style="color: #808080">As an active member of the BP Pension Scheme, you can change the rate at which your pension accrues.</span></p>
<p><span style="color: #808080">Your current contributory option is <span contenteditable="false">[[CurrentContribOption]]</span>.</span></p>
<p><span style="color: #808080"><font size="2">Changes to your contributory options can only take place during the annual enrolment process.&nbsp;Please refer to the attached link </font></span><span style="color: #808080"><font size="2"><span style="color: #808080"><a title="UK employees pension changes November 2009" href="%(link0)" target="_self">here</a></span></font><span style="color: #808080"><font size="2">&nbsp;for further information. However, if you are an employee of one of the following Joint Venture companies: British Pipeline Agency, Aviation Fuel Services or Gatwick Refueling Services, please contact us on 0845 6011142 and we will provide you with a contributory options form.&nbsp;</font></span></span></p>
<p><span style="color: #808080">&nbsp;</span></p>]]></content>
    </element>
  </page>
</pages>
