<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>update my expression of wishes form</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/privacy.html]]></target>
          <uuid>e6a670c7-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>Under the Scheme Rules, only the BP Pension Fund Trustee can decide who should receive a discretionary lump sum benefit which becomes payable on the death of a Scheme member. You can help the Trustee in making its decision by completing Part A of this <em>expression of wishes form</em>, indicating the person(s) you would like to receive the benefit.<br />
<br />
Please note that, whilst the Trustee will bear your wishes in mind when exercising its discretion, it is not legally bound by them.&nbsp;<br />
<br />
<span style="color: #666666"><font size="2" face="Verdana">If you have not previously notified the Trustee on-line of your wishes click on &lsquo;ADD&rsquo; below to update any beneficiaries. Alternatively, if you wish to remove or edit your existing wishes please click on [R] or [E] below respectively. </font></span><span style="color: #c0c0c0"><br />
</span><br />
<span style="background-color: #ffcc00"><font style="background-color: #ffffff">In addition to any lump sum benefits, a survivor's pension may also be payable. It is not necessary to complete Part B if:</font></span></p>
<ul>
    <li><span style="background-color: #ffcc00"><font style="background-color: #ffffff">you are married; or <br />
    </font></span></li>
    <li><span style="background-color: #ffcc00"><font style="background-color: #ffffff">you are in a civil partnership; and <br />
    </font></span></li>
    <li><span style="background-color: #ffcc00"><font style="background-color: #ffffff">there is no other person who is financially dependent on you. <br />
    </font></span></li>
</ul>
<p>However, if your personal circumstances are more complicated and you wish the Trustee to consider someone other than your spouse/civil partner who is financially dependent on you, please complete Part B, indicating the other dependant(s) to whom you wish payment to be made. Again, whilst the Trustee will bear your wishes in mind, it is not legally bound by them.<br />
<br />
By submitting the details below, you agree to us using the details that you have supplied to update your records. Please <a href="%(link0)">click here</a> for more information about our privacy policy.</p>
<div id="ExpressionOfWish">
<div id="title">
<p>To: The Directors of BP Pension Trustees Limited</p>
</div>
<h2>Part A - lump sum death benefit</h2>
<p>Although I understand that the beneficiary of any lump sum benefit payable on my death is at the sole discretion of the Trustee, I would like it to consider the person(s) named below:</p>
<div id="part_a_table">
<div>Beneficiary table goes here</div>
</div>
<p><a class="fakelink" onclick="eow_popupLumpSumBeneficiary(); return false;">Add a beneficiary</a></p>
<h2>Part B - survivor's pension</h2>
<p>Although I understand that a recipient(s), other than my spouse/civil partner (if any), of the survivor's pension is at the sole discretion of the Trustee, I would like it to consider the person(s) named below. (Please note that pensions paid to a pensionable child are automatic and their names do not need to be listed.)</p>
<div id="part_b_table">
<div>Beneficiary table goes here</div>
</div>
<p><a class="fakelink" onclick="eow_popupPensionBeneficiary(); return false;">Add a beneficiary</a></p>
<h2>Part C - additional information</h2>
<p>If you wish to provide additional information for the Trustee to consider, for example if your requests are too complex to be described in Parts A and B, please write to the Trustee at the usual BP UK Pension & Benefits address. Any previous requests supplied via 
Pensionline are stored on file.</p>
<div id="part_c_table">
<div>Additional information goes here</div>
</div>
<p><!--<a class="fakelink" onclick="eow_popupAdditionalInformation(); return false;">Update information</a>--></p>
<div id="eow_submit_form">
<div class="component_holder">
<div class="component_label">Submit this form</div>
<div class="component_value"><input class="goButton" type="button" onclick="eow_submitForm(); return false;" value="Go" /></div>
</div>
</div>
<div id="ls_beneficiary_display" class="dialog">
<div class="dialog_title">Beneficiary details</div>
<div class="component_holder">
<p>Items marked with <span class="required_field">#</span> are required fields.</p>
</div>
<div class="component_holder">
<div class="component_label"><span class="required_field">#</span> <label for="ls_ben_title">Title</label></div>
<div class="component_value"><select id="ls_ben_title" name="ls_ben_title">
<option value="Brig" selected="selected">Brigadier</option>
<option value="Capt">Captain</option>
<option value="Cdr">Commander</option>
<option value="Cmdr">Commodore</option>
<option value="Col">Colonel</option>
<option value="Count">Count</option>
<option value="Dame">Dame</option>
<option value="Dati">Datin</option>
<option value="Dato">Dato</option>
<option value="Dhr">De heer</option>
<option value="Dr">Dr.</option>
<option value="Frau">Frau</option>
<option value="Herr">Herr</option>
<option value="Hon">Honourable</option>
<option value="Lady">Lady</option>
<option value="Lord">Lord</option>
<option value="Ltc">Lieutenant Colonel</option>
<option value="M">Monsieur</option>
<option value="Major">Major</option>
<option value="Marq">Marquess</option>
<option value="Master">Master</option>
<option value="Mevr">Mevrouw</option>
<option value="Miss">Miss</option>
<option value="Mle">Mademoiselle</option>
<option value="Mme">Madame</option>
<option value="Mr">Mr.</option>
<option value="Mrs">Mrs.</option>
<option value="Ms">Ms.</option>
<option value="Other">Other</option>
<option value="Pan">Pan</option>
<option value="Pani">Pani</option>
<option value="Prof">Professor</option>
<option value="Rev">Reverend</option>
<option value="Shkh">Sheikh</option>
<option value="Sir">Sir</option>
<option value="Sr">Senor</option>
<option value="Sra">Senora</option>
<option value="Srta">Senorita</option>
<option value="Str">Sister</option>
<option value="Visc">Viscount</option>
</select></div>
</div>
<div class="component_holder">
<div class="component_label"><span class="required_field">#</span> <label for="ls_forenames">Forenames</label></div>
<div class="component_value"><input id="ls_forenames" class="dialog_text" maxlength="32" name="ls_forenames" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><label for="ls_initials">Initials</label></div>
<div class="component_value"><input id="ls_initials" class="dialog_text" maxlength="4" name="ls_initials" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><span class="required_field">#</span> <label for="ls_surname">Surname</label></div>
<div class="component_value"><input id="ls_surname" class="dialog_text" maxlength="20" name="ls_surname" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><label for="ls_address_line_1">Street</label></div>
<div class="component_value"><input id="ls_address_line_1" class="dialog_text" maxlength="25" name="ls_address_line_1" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><label for="ls_address_line_2">Postal town</label></div>
<div class="component_value"><input id="ls_address_line_2" class="dialog_text" maxlength="25" name="ls_address_line_2" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><label for="ls_address_line_4">District</label></div>
<div class="component_value"><input id="ls_address_line_3" class="dialog_text" maxlength="25" name="ls_address_line_3" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><label for="ls_address_line_4">County</label></div>
<div class="component_value"><input id="ls_address_line_4" class="dialog_text" maxlength="25" name="ls_address_line_4" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><label for="ls_address_postcode">Postcode</label></div>
<div class="component_value"><input id="ls_address_postcode" class="dialog_text" maxlength="25" name="ls_address_postcode" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><label for="ls_address_country">Country</label></div>
<div class="component_value"><input id="ls_address_country" class="dialog_text" maxlength="25" name="ls_address_country" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><span class="required_field">#</span> <label for="ls_relationship">Relationship</label></div>
<div class="component_value"><select id="ls_relationship" name="ls_relationship">
<option value="NORELATION" selected="selected">No relation</option>
<option value="AUNT">Aunt</option>
<option value="BROTHER">Brother</option>
<option value="CHILD">Child</option>
<option value="COUSIN">Cousin</option>
<option value="DAUGHTER">Daughter</option>
<option value="FATHER">Father</option>
<option value="GRANDDAUGHTER">Granddaughter</option>
<option value="GRANDSON">Grandson</option>
<option value="HUSBAND">Husband</option>
<option value="MOTHER">Mother</option>
<option value="NEPHEW">Nephew</option>
<option value="NIECE">Niece</option>
<option value="PARTNER">Partner</option>
<option value="SISTER">Sister</option>
<option value="SON">Son</option>
<option value="SPOUSE/CIVIL PARTNER">Spouse/Civil Partner</option>
<option value="UNCLE">Uncle</option>
<option value="WIFE">Wife</option>
</select></div>
</div>
<div class="component_holder">
<div class="component_label"><span class="required_field">#</span> <label for="ls_percentage">Percentage</label></div>
<div class="component_value"><input id="ls_percentage" class="dialog_text" maxlength="22" name="ls_percentage" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label">&nbsp;</div>
<div class="component_value"><input class="goButton" type="button" onclick="eow_addLumpSumBeneficiary(); return false;" value="Go" /> &nbsp; <input class="goButton" type="button" onclick="eow_popdownLumpSumBeneficiary(); return false;" value="Cancel" /></div>
</div>
</div>
<div id="pen_beneficiary_display" class="dialog">
<div class="dialog_title">Beneficiary details</div>
<div class="component_holder">
<p>Items marked with <span class="required_field">#</span> are required fields.</p>
</div>
<div class="component_holder">
<div class="component_label"><span class="required_field">#</span> <label for="pen_ben_title">Title</label></div>
<div class="component_value"><select id="pen_ben_title" name="pen_ben_title">
<option value="Brig" selected="selected">Brigadier</option>
<option value="Capt">Captain</option>
<option value="Cdr">Commander</option>
<option value="Cmdr">Commodore</option>
<option value="Col">Colonel</option>
<option value="Count">Count</option>
<option value="Dame">Dame</option>
<option value="Dati">Datin</option>
<option value="Dato">Dato</option>
<option value="Dhr">De heer</option>
<option value="Dr">Dr.</option>
<option value="Frau">Frau</option>
<option value="Herr">Herr</option>
<option value="Hon">Honourable</option>
<option value="Lady">Lady</option>
<option value="Lord">Lord</option>
<option value="Ltc">Lieutenant Colonel</option>
<option value="M">Monsieur</option>
<option value="Major">Major</option>
<option value="Marq">Marquess</option>
<option value="Master">Master</option>
<option value="Mevr">Mevrouw</option>
<option value="Miss">Miss</option>
<option value="Mle">Mademoiselle</option>
<option value="Mme">Madame</option>
<option value="Mr">Mr.</option>
<option value="Mrs">Mrs.</option>
<option value="Ms">Ms.</option>
<option value="Other">Other</option>
<option value="Pan">Pan</option>
<option value="Pani">Pani</option>
<option value="Prof">Professor</option>
<option value="Rev">Reverend</option>
<option value="Shkh">Sheikh</option>
<option value="Sir">Sir</option>
<option value="Sr">Senor</option>
<option value="Sra">Senora</option>
<option value="Srta">Senorita</option>
<option value="Str">Sister</option>
<option value="Visc">Viscount</option>
</select></div>
</div>
<div class="component_holder">
<div class="component_label"><span class="required_field">#</span> <label for="pen_forenames">Forenames</label></div>
<div class="component_value"><input id="pen_forenames" class="dialog_text" maxlength="32" name="pen_forenames" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><label for="pen_initials">Initials</label></div>
<div class="component_value"><input id="pen_initials" class="dialog_text" maxlength="4" name="pen_initials" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><span class="required_field">#</span> <label for="pen_surname">Surname</label></div>
<div class="component_value"><input id="pen_surname" class="dialog_text" maxlength="20" name="pen_surname" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><label for="pen_address_line_1">Street</label></div>
<div class="component_value"><input id="pen_address_line_1" class="dialog_text" maxlength="25" name="pen_address_line_1" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><label for="pen_address_line_2">Postal town</label></div>
<div class="component_value"><input id="pen_address_line_2" class="dialog_text" maxlength="25" name="pen_address_line_2" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><label for="pen_address_line_4">District</label></div>
<div class="component_value"><input id="pen_address_line_3" class="dialog_text" maxlength="25" name="pen_address_line_3" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><label for="pen_address_line_4">County</label></div>
<div class="component_value"><input id="pen_address_line_4" class="dialog_text" maxlength="25" name="pen_address_line_4" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><label for="pen_address_postcode">Post code</label></div>
<div class="component_value"><input id="pen_address_postcode" class="dialog_text" maxlength="25" name="pen_address_postcode" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><label for="pen_address_country">Country</label></div>
<div class="component_value"><input id="pen_address_country" class="dialog_text" maxlength="25" name="pen_address_country" type="text" /></div>
</div>
<div class="component_holder">
<div class="component_label"><span class="required_field">#</span> <label for="pen_relationship">Relationship</label></div>
<div class="component_value"><select id="pen_relationship" name="pen_relationship">
<option value="NORELATION" selected="selected">No relation</option>
<option value="AUNT">Aunt</option>
<option value="BROTHER">Brother</option>
<option value="CHILD">Child</option>
<option value="COUSIN">Cousin</option>
<option value="DAUGHTER">Daughter</option>
<option value="FATHER">Father</option>
<option value="GRANDDAUGHTER">Granddaughter</option>
<option value="GRANDSON">Grandson</option>
<option value="HUSBAND">Husband</option>
<option value="MOTHER">Mother</option>
<option value="NEPHEW">Nephew</option>
<option value="NIECE">Niece</option>
<option value="PARTNER">Partner</option>
<option value="SISTER">Sister</option>
<option value="SON">Son</option>
<option value="SPOUSE/CIVIL PARTNER">Spouse/Civil Partner</option>
<option value="UNCLE">Uncle</option>
<option value="WIFE">Wife</option>
</select></div>
</div>
<div class="component_holder">
<div class="component_label">&nbsp;</div>
<div class="component_value"><input class="goButton" type="button" onclick="eow_addPensionBeneficiary(); return false;" value="Go" /> &nbsp; <input class="goButton" type="button" onclick="eow_popdownPensionBeneficiary(); return false;" value="Cancel" /></div>
</div>
</div>
<div id="additional_info_display" class="dialog">
<div class="dialog_title">additional information</div>
<div class="component_holder">
<div class="component_label"><label for="eow_info">Information</label></div>
<div class="component_value"><textarea id="eow_info" class="dialog_textarea" name="eow_info"></textarea></div>
</div>
<div class="component_holder">
<div class="component_label">&nbsp;</div>
<div class="component_value"><input class="goButton" type="button" onclick="eow_updateAdditionalInformation(); return false;" value="Go" /> &nbsp; <input class="goButton" type="button" onclick="eow_popdownAdditionalInformation(); return false;" value="Cancel" /></div>
</div>
</div>
</div>
<!-- ExpressionOfWish -->]]></content>
    </element>
  </page>
</pages>
