<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>I&nbsp;want to update something</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links/>
      <content><![CDATA[<p>The following section allows you to update some of the information we hold about you.</p>
<p>If you are an employee, and would like to update your address, please contact HR.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/grass_in_glass_pots.jpg]]></target>
          <uuid>86034341-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="90" alt="grass in glass pots" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>keep your information up to date</p>]]></content>
    </element>
  </page>
</pages>
