<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>update the way I receive my newsletter</h1>]]></content>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<p>Please make your choice below.</p>
<div class="newsletter_success" id="SUCCESS">Thank you. Your request will be processed
shortly.</div>
<div class="newsletter_error" id="ERROR">Sorry, we are&nbsp;not&nbsp;able to process your request
at this time. Please contact BP UK Pensions &amp; Benefits.</div>
<div id="NewsLetterHolder">
<form>
<div class="component_holder">
<div class="component_label">Delivery method</div>
<div class="component_value"><span contenteditable="false">[[Newsletter.Text]]</span>
</div>
</div>
<div class="component_holder">
<div class="component_label">Current email</div>
<div class="component_value"><span contenteditable="false">[[EmailAddress]]</span>
</div>
</div>
<div class="component_holder">
<div class="component_label">Current Address</div>
<div class="component_value"><span contenteditable="false">[[Address]]</span>
</div>
</div>
<div class="component_holder">
<div class="component_label">New delivery choice</div>
<div class="component_value">
<select name="SubscribeOption">
<option value="A" selected="selected">Audio tape (A)</option>
<option value="E">Electronically by e-mail (E)</option>
<option value="N">None (N)</option>
<option value="P">Paper (P) (default)</option>
</select>
</div>
</div>
<div class="component_holder">
<div class="component_label">&nbsp;</div>
<div class="component_value">
<input class="goButton" type="button" onclick="javascript:subscribe(SubscribeOption.value);"
value="Go" />
</div>
</div>
</form>
</div>
<p>&nbsp;</p>
<p>Please note&nbsp;that any changes you have made during this visit will not be shown until you
next log in.</p>
<!--
<div id="NewsLetterHolder">
<div>your current email address is [[EmailAddress]] <br />
</div>
<div>your current subscribe option is [[Newsletter]]</div>
<br />
<br />
<div>
<form>
    How would you like to subscribe: <select name="SubscribeOption">
    <option value="T" selected="selected">Taped</option>
    <option value="E">Email</option>
    <option value="P">Paper</option>
    </select> <input class="goButton" type="button" onclick="javascript:subscribe(SubscribeOption.value);" value="Go" />
</form>
</div>
</div>
-->]]></content>
    </element>
  </page>
</pages>
