<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>additional voluntary contributions</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/AVC_Investment_Guide.pdf]]></target>
          <uuid>e815788d-a3c5-11df-a97c-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/AVC_Application_Form.pdf]]></target>
          <uuid>6b61e5f2-a46e-11df-8eef-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<div style="margin: 0cm 0cm 18pt; text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font size="1"><span style="font-size: 9pt">Using Additional Voluntary Contributions (AVCs), you can build up a separate fund that will be used to buy benefits when you retire.</span> </font></div>
<div style="margin: 0cm 0cm 18pt; text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font size="1"><span style="font-size: 9pt">AVCs are a 'defined contribution' type of pension arrangement, which means that your pension benefits are based on the contributions you make, investment performance and the cost of buying a pension at retirement.</span> </font></div>
<div style="margin: 0cm 0cm 18pt; text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font size="1"><span style="font-size: 9pt">Please note that AVCs are managed by the BP Pension Fund Trustee. They are a contract between you and the Trustee. BP does not promote the payment of AVCs over any other private savings product.</span> </font></div>
<div style="margin: 0cm 0cm 18pt; text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font size="1"><span style="font-size: 9pt">As a member of the BP Pension Scheme, you can choose to invest your AVCs in one or more of&nbsp;11 funds operated by external investment managers.</span> </font></div>
<p style="margin: 0cm 0cm 18pt; text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font size="1"><span style="font-size: 9pt">You can also make additional tax-effective contributions into personal pension arrangements outside of BP. HM Revenue &amp; Customs allows you to pay&nbsp;pension contributions of up to 100% of earnings each year, subject to the <font color="#ff0000"><span style="color: red">[[Dictionary(BP):annual allowance]] <font color="#808080">.</font></span> </font></span></font></p>
<div style="margin: 0cm 0cm 18pt; text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font size="1"><span style="font-size: 9pt">If you are interested in AVCs, you can find more information in the <a title="AVC Investment Guide" target="_self" href="%(link0)">AVC&nbsp;investment guide</a>.&nbsp;</span> </font><font size="1"><span style="font-size: 9pt">If you want to start paying AVCs, please complete an <a title="AVC Application Form" target="_self" href="%(link1)">AVC application form</a>.</span> </font></div>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/leafy_green_leafs.jpg]]></target>
          <uuid>876bad11-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="90" alt="leafy green leafs" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<font size="5">AVCs give you a separate fund to buy benefits with at retirement</font>]]></content>
    </element>
  </page>
</pages>
