<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>contributory options versus AVCs</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links/>
      <content><![CDATA[<p>The table below highlights some of the key differences between contributory options and
AVCs.</p>
<table class="MsoNormalTable"
style="BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BORDER-COLLAPSE: collapse; mso-yfti-tbllook: 480; mso-padding-alt: 0cm 5.4pt 0cm 5.4pt; mso-border-alt: solid gray .5pt; mso-border-insideh: .5pt solid gray; mso-border-insidev: .5pt solid gray"
 cellspacing="0" cellpadding="0" border="1">
<tbody>
<tr style="mso-yfti-irow: 0; mso-yfti-firstrow: yes">
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: gray 1pt solid; PADDING-LEFT: 5.4pt; BACKGROUND: silver; PADDING-BOTTOM: 0cm; BORDER-LEFT: gray 1pt solid; WIDTH: 101.2pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt"
 valign="top" width="135" bgcolor="#c0c0c0">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">
<strong style="mso-bidi-font-weight: normal">
<font face="Arial" color="#ffffff" size="1"><span
style="FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: white; FONT-FAMILY: Arial; mso-ansi-language: EN-US; mso-bidi-font-weight: normal; mso-bidi-font-size: 10.0pt">Feature</span>
</font>
</strong>
</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: gray 1pt solid; PADDING-LEFT: 5.4pt; BACKGROUND: silver; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 162.7pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt"
 valign="top" width="217" bgcolor="#c0c0c0">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">
<strong style="mso-bidi-font-weight: normal">
<font face="Arial" color="#ffffff" size="1"><span
style="FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: white; FONT-FAMILY: Arial; mso-ansi-language: EN-US; mso-bidi-font-weight: normal; mso-bidi-font-size: 10.0pt">Contributory
options</span>
</font>
</strong>
</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: gray 1pt solid; PADDING-LEFT: 5.4pt; BACKGROUND: silver; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 162.5pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt"
 valign="top" width="217" bgcolor="#c0c0c0">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">
<strong style="mso-bidi-font-weight: normal">
<font face="Arial" color="#ffffff" size="1"><span
style="FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: white; FONT-FAMILY: Arial; mso-ansi-language: EN-US; mso-bidi-font-weight: normal; mso-bidi-font-size: 10.0pt">AVCs</span>
</font>
</strong>
</p>
</td>
</tr>
<tr style="mso-yfti-irow: 1">
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: gray 1pt solid; WIDTH: 101.2pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="135">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">Contributions
<br /></p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 162.7pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="217" bgcolor="#ffff00">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">Choice
of 5 fixed levels
<br /></p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 162.5pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="217" bgcolor="#ffff00">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">Amounts
are flexible</p>
</td>
</tr>
<tr style="HEIGHT: 53.75pt; mso-yfti-irow: 2" height="72">
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: gray 1pt solid; WIDTH: 101.2pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; HEIGHT: 53.75pt; mso-border-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="135" height="72">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">Payment
method</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 162.7pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; HEIGHT: 53.75pt; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="217" bgcolor="#ffff00" height="72">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">Deduction
from monthly salary</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 162.5pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; HEIGHT: 53.75pt; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="217" bgcolor="#ffff00" height="72">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">Deduction
from monthly salary. Can also pay in lump sums.</p>
</td>
</tr>
<tr style="mso-yfti-irow: 3">
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: gray 1pt solid; WIDTH: 101.2pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="135">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">Maximum
annual contributions
<br /></p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 162.7pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="217" bgcolor="#ffff00">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">15%*
of pensionable salary (basic salary and any permanent shift allowance)</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 162.5pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="217" bgcolor="#ffff00">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">15%*
of pensionable salary (basic salary and any permanent shift allowance)</p>
</td>
</tr>
<tr style="mso-yfti-irow: 4">
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: gray 1pt solid; WIDTH: 101.2pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="135">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">Tax
on contributions</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 162.7pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="217" bgcolor="#ffff00">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">From
pre-tax earnings, so you save tax at your highest rate</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 162.5pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="217" bgcolor="#ffff00">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">From
pre-tax earnings, so you save tax at your highest rate</p>
</td>
</tr>
<tr style="mso-yfti-irow: 5">
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: gray 1pt solid; WIDTH: 101.2pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="135">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">Life
cover</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 162.7pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="217" bgcolor="#ffff00">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">Increases
from 3 times to 4 times final salary</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 162.5pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="217" bgcolor="#ffff00">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">No
additional cover</p>
</td>
</tr>
<tr style="mso-yfti-irow: 6">
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: gray 1pt solid; WIDTH: 101.2pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="135">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">Investment
decisions
<br /></p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 162.7pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="217" bgcolor="#ffff00">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">Automatically
invested in the BP Pension Scheme</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 162.5pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="217" bgcolor="#ffff00">
<p class="MsoNormal"
style="TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-layout-grid-align: auto">Choose
from 22 funds, or the lifestyle option</p>
</td>
</tr>
<tr style="mso-yfti-irow: 7">
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: gray 1pt solid; WIDTH: 101.2pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="135">
<p>Benefits based on</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 162.7pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="217" bgcolor="#ffff00">
<p><span style="mso-list: Ignore">Final salary</span>
</p>
<p><span style="mso-list: Ignore">Length of pensionable service</span>
</p>
<p><span style="mso-list: Ignore">Your chosen accrual rate (e.g. 1/54ths, 1/45ths)</span>
</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 162.7pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="217" bgcolor="#ffff00">
<p><span style="mso-list: Ignore">Contributions you make</span>
</p>
<p><span style="mso-list: Ignore">Investment performance</span>
</p>
<p><span style="mso-list: Ignore">Price of buying a pension at retirement</span>
</p>
</td>
</tr>
<tr style="mso-yfti-irow: 8; mso-yfti-lastrow: yes">
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: gray 1pt solid; WIDTH: 101.2pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="135">
<p>Choices at retirement
<br /></p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 162.7pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="217" bgcolor="#ffff00">
<p><span style="mso-list: Ignore">Pension benefits defined by Scheme Rules</span>
</p>
<p><span style="mso-list: Ignore">Can swap part of pension for cash lump sum</span>
</p>
</td>
<td
style="BORDER-RIGHT: gray 1pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: medium none; PADDING-LEFT: 5.4pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: medium none; WIDTH: 162.5pt; PADDING-TOP: 0cm; BORDER-BOTTOM: gray 1pt solid; mso-border-alt: solid gray .5pt; mso-border-left-alt: solid gray .5pt; mso-border-top-alt: solid gray .5pt"
 valign="top" width="217" bgcolor="#ffff00">
<p><span style="mso-list: Ignore">Buy an annuity to provide additional annual pension</span>
</p>
<p><span style="mso-list: Ignore">May be able to take all or part as&nbsp;tax-free lump sum</span>
</p>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal"
style="MARGIN: 7.5pt 7.5pt 7.5pt 15pt; TEXT-AUTOSPACE: ideograph-numeric; punctuation-wrap: hanging; mso-layout-grid-align: auto">*
Under BP Pension Scheme Rules, your total contributions cannot exceed 15% of pensionable salary
each tax year. You may, however, be able to make additional tax-efficient pension contributions
into personal pension arrangements outside of BP.
<br /></p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/leafy_green_leafs2.jpg]]></target>
          <uuid>8786fd44-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="90" alt="leafy green leafs2" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<font size="5">you need to decide which option is best for you</font>]]></content>
    </element>
  </page>
</pages>
