<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>contributory options</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/Resources/scheme_booklet.html]]></target>
          <uuid>10480b67-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>If you pay into one of the Scheme&rsquo;s contributory options, your benefits will build up at a faster rate, as shown in the table below.</p>
<p><font face="Verdana" color="#666666" size="2"><span lang="EN" style="font-size: 10pt; color: #666666; font-family: Verdana; mso-ansi-language: EN">You are responsible for your own financial planning and for monitoring the level of your contributions. The point at which you reach the maximum pension possible under the Rules will depend on a number of factors. These include the date of your retirement, and the applicable early retirement factor at the time. In the event that you exceed the maximum pension, a refund of contributions is not permitted.</span> </font></p>
<table style="border-right: medium none; border-top: medium none; border-left: medium none; border-bottom: medium none; border-collapse: collapse" cellspacing="0" cellpadding="0" border="1">
    <tbody>
        <tr>
            <td style="border-right: gray 1pt solid; padding-right: 5.4pt; border-top: gray 1pt solid; padding-left: 5.4pt; background: silver; padding-bottom: 0cm; border-left: gray 1pt solid; width: 101.2pt; padding-top: 0cm; border-bottom: gray 1pt solid" valign="top" width="135" bgcolor="#c0c0c0">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><strong><font color="#ffffff" size="1"><span style="font-weight: bold; font-size: 9pt; color: white">Contributory option</span> </font></strong></div>
            </td>
            <td style="border-right: gray 1pt solid; padding-right: 5.4pt; border-top: gray 1pt solid; padding-left: 5.4pt; background: silver; padding-bottom: 0cm; border-left: #ece9d8; width: 162.7pt; padding-top: 0cm; border-bottom: gray 1pt solid" valign="top" width="217" bgcolor="#c0c0c0">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><strong><font color="#ffffff" size="1"><span style="font-weight: bold; font-size: 9pt; color: white">You pay</span> </font></strong></div>
            </td>
            <td style="border-right: gray 1pt solid; padding-right: 5.4pt; border-top: gray 1pt solid; padding-left: 5.4pt; background: silver; padding-bottom: 0cm; border-left: #ece9d8; width: 162.5pt; padding-top: 0cm; border-bottom: gray 1pt solid" valign="top" width="217" bgcolor="#c0c0c0">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><strong><font color="#ffffff" size="1"><span style="font-weight: bold; font-size: 9pt; color: white">You receive</span> </font></strong></div>
            </td>
        </tr>
        <tr>
            <td style="border-right: gray 1pt solid; padding-right: 5.4pt; border-top: #ece9d8; padding-left: 5.4pt; padding-bottom: 0cm; border-left: gray 1pt solid; width: 101.2pt; padding-top: 0cm; border-bottom: gray 1pt solid; background-color: transparent" valign="top" width="135">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="font-size: 9pt; color: #666666">2:54</span> </font></div>
            </td>
            <td style="border-right: gray 1pt solid; padding-right: 5.4pt; border-top: #ece9d8; padding-left: 5.4pt; background: yellow; padding-bottom: 0cm; border-left: #ece9d8; width: 162.7pt; padding-top: 0cm; border-bottom: gray 1pt solid" valign="top" width="217" bgcolor="#ffff00">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="font-size: 9pt; color: #666666">2% of your pensionable salary before tax deductions</span> </font></div>
            </td>
            <td style="border-right: gray 1pt solid; padding-right: 5.4pt; border-top: #ece9d8; padding-left: 5.4pt; background: yellow; padding-bottom: 0cm; border-left: #ece9d8; width: 162.5pt; padding-top: 0cm; border-bottom: gray 1pt solid" valign="top" width="217" bgcolor="#ffff00">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="font-size: 9pt; color: #666666">An annual pension of 1/54(1.85%) of your final salary for each year of contributory membership</span> </font></div>
            </td>
        </tr>
        <tr style="height: 53.75pt" height="72">
            <td style="border-right: gray 1pt solid; padding-right: 5.4pt; border-top: #ece9d8; padding-left: 5.4pt; padding-bottom: 0cm; border-left: gray 1pt solid; width: 101.2pt; padding-top: 0cm; border-bottom: gray 1pt solid; height: 53.75pt; background-color: transparent" valign="top" width="135" height="72">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="font-size: 9pt; color: #666666">3:51</span> </font></div>
            </td>
            <td style="border-right: gray 1pt solid; padding-right: 5.4pt; border-top: #ece9d8; padding-left: 5.4pt; background: yellow; padding-bottom: 0cm; border-left: #ece9d8; width: 162.7pt; padding-top: 0cm; border-bottom: gray 1pt solid; height: 53.75pt" valign="top" width="217" bgcolor="#ffff00" height="72">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="font-size: 9pt; color: #666666">3% of your pensionable salary before tax deductions</span> </font></div>
            </td>
            <td style="border-right: gray 1pt solid; padding-right: 5.4pt; border-top: #ece9d8; padding-left: 5.4pt; background: yellow; padding-bottom: 0cm; border-left: #ece9d8; width: 162.5pt; padding-top: 0cm; border-bottom: gray 1pt solid; height: 53.75pt" valign="top" width="217" bgcolor="#ffff00" height="72">An annual pension of 1/51 (1.96%) of your final salary for each year of contributory membership</td>
        </tr>
        <tr>
            <td style="border-right: gray 1pt solid; padding-right: 5.4pt; border-top: #ece9d8; padding-left: 5.4pt; padding-bottom: 0cm; border-left: gray 1pt solid; width: 101.2pt; padding-top: 0cm; border-bottom: gray 1pt solid; background-color: transparent" valign="top" width="135">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="font-size: 9pt; color: #666666">5:45</span> </font></div>
            </td>
            <td style="border-right: gray 1pt solid; padding-right: 5.4pt; border-top: #ece9d8; padding-left: 5.4pt; background: yellow; padding-bottom: 0cm; border-left: #ece9d8; width: 162.7pt; padding-top: 0cm; border-bottom: gray 1pt solid" valign="top" width="217" bgcolor="#ffff00">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="font-size: 9pt; color: #666666">5% of your pensionable salary before tax deductions</span> </font></div>
            </td>
            <td style="border-right: gray 1pt solid; padding-right: 5.4pt; border-top: #ece9d8; padding-left: 5.4pt; background: yellow; padding-bottom: 0cm; border-left: #ece9d8; width: 162.5pt; padding-top: 0cm; border-bottom: gray 1pt solid" valign="top" width="217" bgcolor="#ffff00">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="font-size: 9pt; color: #666666">An annual pension of 1/45 (2.22%) of your final salary for each year of contributory membership</span> </font></div>
            </td>
        </tr>
        <tr>
            <td style="border-right: gray 1pt solid; padding-right: 5.4pt; border-top: #ece9d8; padding-left: 5.4pt; padding-bottom: 0cm; border-left: gray 1pt solid; width: 101.2pt; padding-top: 0cm; border-bottom: gray 1pt solid; background-color: transparent" valign="top" width="135">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="font-size: 9pt; color: #666666">10:40</span> </font></div>
            </td>
            <td style="border-right: gray 1pt solid; padding-right: 5.4pt; border-top: #ece9d8; padding-left: 5.4pt; background: yellow; padding-bottom: 0cm; border-left: #ece9d8; width: 162.7pt; padding-top: 0cm; border-bottom: gray 1pt solid" valign="top" width="217" bgcolor="#ffff00">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="font-size: 9pt; color: #666666">10% of your pensionable salary before tax deductions</span> </font></div>
            </td>
            <td style="border-right: gray 1pt solid; padding-right: 5.4pt; border-top: #ece9d8; padding-left: 5.4pt; background: yellow; padding-bottom: 0cm; border-left: #ece9d8; width: 162.5pt; padding-top: 0cm; border-bottom: gray 1pt solid" valign="top" width="217" bgcolor="#ffff00">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="font-size: 9pt; color: #666666">An annual pension of 1/40 (2.5%) of your final salary for each year of contributory membership</span> </font></div>
            </td>
        </tr>
        <tr>
            <td style="border-right: gray 1pt solid; padding-right: 5.4pt; border-top: #ece9d8; padding-left: 5.4pt; padding-bottom: 0cm; border-left: gray 1pt solid; width: 101.2pt; padding-top: 0cm; border-bottom: gray 1pt solid; background-color: transparent" valign="top" width="135">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="font-size: 9pt; color: #666666">15:35</span> </font></div>
            </td>
            <td style="border-right: gray 1pt solid; padding-right: 5.4pt; border-top: #ece9d8; padding-left: 5.4pt; background: yellow; padding-bottom: 0cm; border-left: #ece9d8; width: 162.7pt; padding-top: 0cm; border-bottom: gray 1pt solid" valign="top" width="217" bgcolor="#ffff00">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="font-size: 9pt; color: #666666">15% of your pensionable salary before tax deductions</span> </font></div>
            </td>
            <td style="border-right: gray 1pt solid; padding-right: 5.4pt; border-top: #ece9d8; padding-left: 5.4pt; background: yellow; padding-bottom: 0cm; border-left: #ece9d8; width: 162.5pt; padding-top: 0cm; border-bottom: gray 1pt solid" valign="top" width="217" bgcolor="#ffff00">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="font-size: 9pt; color: #666666">An annual pension of 1/35 (2.85%) of your final salary for each year of contributory membership</span> </font></div>
            </td>
        </tr>
    </tbody>
</table>
<p><font size="1"><span style="font-size: 9pt">All the contributory options give life cover of four times final salary.</span> </font></p>
<p><font size="1"><span style="font-size: 9pt">If you are interested in contributory options, you can find more information in the <a href="%(link0)">explanatory booklet</a>.&nbsp;</span></font><font size="1">&nbsp;</font></p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/leafy_green_leafs.jpg]]></target>
          <uuid>876bad11-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="90" alt="leafy green leafs" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<font size="5">if you pay into a contributory option, your benefits will build up faster</font>]]></content>
    </element>
  </page>
</pages>
