<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>how can I increase my retirement income?</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link2" internal="false" type="A">
          <target><![CDATA[http://www.unbiased.co.uk/]]></target>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/I_am_an_employee/Increase_income/Contributions.html]]></target>
          <uuid>0f71cff4-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/I_am_an_employee/Increase_income/AVCs.html]]></target>
          <uuid>0f6c038f-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>If you feel that there is a gap between what you need and what you are forecast to receive, there are two options open to you:</p>
<ul>
    <li>start or increase your own pension contributions; and/or</li>
    <li>if you wanted to retire early, consider postponing your retirement until closer to <span class="fakelink">[[Dictionary(BP):normal retirement age]]</span>.</li>
</ul>
<p>The BP Pension Scheme allows you to make your own contributions in two ways:</p>
<ul>
    <li>Choose one of the Scheme's five <a href="%(link0)">contributory options</a>; or</li>
    <li>Pay <a href="%(link1)">additional voluntary contributions</a> (AVCs).</li>
</ul>
<p>You can choose either or both options subject to Scheme limits.</p>
<p>A further option, introduced by HM Revenue &amp; Customs in April 2006, is for you to make tax-efficient contributions into a personal pension arrangement at the same time as contributing into the BP Pension Scheme. You can have as many pension plans as you like&nbsp;and you&nbsp;will get tax relief on your own contributions up to 100% of your earnings (subject to the <span class="fakelink">[[Dictionary(BP):annual allowance]]</span>). This provides you with much greater flexibility and scope for tax-efficient pension savings.</p>
<h2>further information</h2>
<p class="actionpoint">Use the&nbsp;'personal planner'&nbsp;to see what would happen if you start or increase your own contributions and/or change your retirement age. The&nbsp;planner lets you experiment with the contributory options to see how you may be able to reach, or get closer to, your target.</p>
<p>If you are unsure about which options are best for you, you should consider speaking to an Independent Financial Adviser (IFA). IFA Promotion Limited can suggest IFAs in your area, if you do not already use one. They can be contacted on 0800 085 3250 or at <a href="%(link2)">www.unbiased.co.uk</a></p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/leafy_green_leafs.jpg]]></target>
          <uuid>876bad11-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="90" alt="leafy green leafs" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<font size="5">most people are not saving enough to get the pension that they want</font>]]></content>
    </element>
  </page>
</pages>
