<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>BP Benevolent Fund</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links/>
      <content><![CDATA[<p>The BP Benevolent Fund was established by the Company in 1990. Its purpose is to help former employees, or their dependants, who might be suffering extreme financial hardship.</p>
<p>The Fund is a charitable trust. It has assisted many families in severe need, for example, in adapting a home to cope better with disability or providing short-term help with unexpected financial problems.</p>
<p>Assistance is usually given in the form of a loan or grant. The applicant's circumstances are normally discussed with the local Pensioner Liaison Officer before the case is considered by the Fund's Directors.</p>
<p>If you know of anyone in extreme need, please contact your Pensioner Liaison Officer or the Fund Administrator, <b>Peter Darnell</b>, on <b>01403 710437 </b>or in writing to:</p>
<p>BP Benevolent Fund Trustees Limited<br />
The Firs<br />
4 Woodside Close<br />
Shermanbury<br />
West Sussex RH13 8HH</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/yellow_dandelion.jpg]]></target>
          <uuid>8a2e76f1-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="yellow dandelion" width="178" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>the Benevolent Fund has assisted many people</p>]]></content>
    </element>
  </page>
</pages>
