<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>State benefits helpline</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[mailto:info@angelamaxwell.com]]></target>
          <query><![CDATA[subject=State%20benefits%20helpline%20query%20-%20BP/Burmah%20Castrol]]></query>
        </link>
      </links>
      <content><![CDATA[<div class="ocms_de_norm" id="ocms_327776">
<p>
<font face="Verdana" color="#666666">The State benefits helpline is run by Angela Maxwell, a
specialist State benefits consultant, who provides the helpline to many companies across the UK.
Angela has a vast knowledge of State benefits, having previously worked for the Department of
Social Security before becoming an independent consultant.</font>
</p>
<p>
<font face="Verdana" color="#666666">The helpline provides information on State benefit, tax and
National Insurance contribution queries for BP and Burmah Castrol pensioners and their immediate
families. Areas covered are:</font>
</p>
<ul>
<li>
<font face="Verdana" color="#666666">State pension</font>
</li>
<li>
<font face="Verdana" color="#666666">Pension Credit</font>
</li>
<li>
<font face="Verdana" color="#666666">Bereavement benefits</font>
</li>
<li>
<font face="Verdana" color="#666666">Carers' benefits</font>
</li>
<li>
<font face="Verdana" color="#666666">Sickness and disability benefits</font>
</li>
<li>
<font face="Verdana" color="#666666">Attendance Allowance</font>
</li>
<li>
<font face="Verdana" color="#666666">Unemployment benefit (Jobseekers' Allowance)</font>
</li>
<li>
<font face="Verdana" color="#666666">Income Support for those on low incomes</font>
</li>
<li>
<font face="Verdana" color="#666666">Council Tax Benefit</font>
</li>
<li>
<font face="Verdana" color="#666666">Housing Benefit</font>
</li>
<li>
<font face="Verdana" color="#666666">Residential and nursing care homes funding</font>
</li>
<li>
<font face="Verdana" color="#666666">Tax codes</font>
</li>
<li>
<font face="Verdana" color="#666666">National Insurance contributions</font>
</li>
</ul>
<p>
<font face="Verdana" color="#666666">If you call the helpline, you will receive free professional
advice about State benefits and allowances. For legal reasons, individual investment advice cannot
be given. Additionally, claims cannot be made on your behalf and forms cannot be filled out for
you. However, the helpline will provide information on how to make a claim, where to get a form and
how to complete it.</font>
</p>
<p>
<font face="Verdana" color="#666666">If you would like help or advice on any of the subjects listed
above, you can call the State benefits helpline on 
<strong>01635 250929</strong> (standard rate). Alternatively, you can 
<a
href="%(link0)">email</a>,
send a fax to 
<strong>01635 250928,</strong> or write to:</font>
</p>
<p>
<font face="Verdana" color="#666666">
<strong>Angela Maxwell
<br /> Tysties, Tile Barn
<br /> Woolton Hill, nr Newbury
<br /> Berkshire
<br /> RG20 9UY</strong>
</font>
</p>
<p>
<font face="Verdana" color="#666666">The helpline is open from 9am to 5pm, Monday to Friday.</font>
</p>
<p>
<font face="Verdana" color="#666666">If you contact the helpline, please include a contact
telephone number and say that you are a BP or a Burmah Castrol pensioner or a member of their
immediate family.</font>
</p>
</div>
<!-- EDIT BLOCK END (ENABLED) -->]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/yellow_dandelion.jpg]]></target>
          <uuid>8a2e76f1-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="90" alt="yellow dandelion" width="178" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>
<font size="5">have you got a query about your State benefits?</font>
</p>]]></content>
    </element>
  </page>
</pages>
