<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="headerright">
      <links/>
      <content><![CDATA[<h1>I am a pensioner</h1>]]></content>
    </element>
    <element name="headerright2">
      <links>
        <link name="link6" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/I_am_a_pensioner/Signpost.html]]></target>
          <uuid>10838df1-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/I_am_a_pensioner/Benevolent_Fund.html]]></target>
          <uuid>10736144-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link5" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/I_am_a_pensioner/Benefits_helpline.html]]></target>
          <uuid>106b990f-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/I_am_a_pensioner/PLO_Service.html]]></target>
          <uuid>107dc18c-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/I_am_a_pensioner/Society.html]]></target>
          <uuid>1088e526-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/Resources/index.html]]></target>
          <uuid>1224ba4b-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/Resources/index.html]]></target>
          <uuid>1224ba4b-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>As a pensioner member of the Fund, you can use this site to:</p>
<ul>
<li>find out more about your BP pension.</li>
<li>read and download your 
<a href="%(link0)">explanatory booklet</a> and other 
<a href="%(link1)">Fund documents</a>.</li>
<li>find out more about the 
<a href="%(link2)">Pensioner Liaison Officer
service</a>, who the PLOs are and&nbsp;what they do.</li>
<li>read an introduction to the 
<a href="%(link3)">BP Society</a>.</li>
<li>learn about the 
<a href="%(link4)">BP Benevolent Fund</a>
and its aims.</li>
<li>find out about the 
<a href="%(link5)">State benefits
helpline</a>.</li>
<li>go to 
<a href="%(link6)"><span class="fakelink">s</span>ignpost</a> for useful information and links and contact details for
external organisations.</li>
</ul>
<p>&nbsp;</p>]]></content>
    </element>
    <element name="headerright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x180/yellow_dandelion.jpg]]></target>
          <uuid>7abfa7cb-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="180" alt="yellow dandelion" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="headerright4">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-100x100/soft_red_fern.jpg]]></target>
          <uuid>6240c035-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="100" alt="soft red fern" width="100" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="headerright5">
      <links/>
      <content><![CDATA[<p>If you receive a survivor's or dependant's pension, you too can access&nbsp;the above
information and features.</p>]]></content>
    </element>
    <element name="headerright6">
      <links/>
      <content><![CDATA[<div class="quote_box_green">
<p>
<font size="3">
<font size="3">don't forget to log in to access all the features available to you</font>
</font>
</p>
</div>]]></content>
    </element>
  </page>
</pages>
