<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>signpost</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link8" internal="false" type="A">
          <target><![CDATA[http://www.helptheaged.org.uk/]]></target>
        </link>
        <link name="link9" internal="false" type="A">
          <target><![CDATA[http://www.the-bereavement-register.org.uk/]]></target>
        </link>
        <link name="link6" internal="false" type="A">
          <target><![CDATA[http://www.over50.gov.uk/]]></target>
        </link>
        <link name="link7" internal="false" type="A">
          <target><![CDATA[http://www.thepensionservice.gov.uk/]]></target>
        </link>
        <link name="link4" internal="false" type="A">
          <target><![CDATA[http://www.thepensionservice.gov.uk/]]></target>
        </link>
        <link name="link5" internal="false" type="A">
          <target><![CDATA[http://www.pensions.gov.uk/]]></target>
        </link>
        <link name="link2" internal="false" type="A">
          <target><![CDATA[http://www.dwp.gov.uk/]]></target>
        </link>
        <link name="link3" internal="false" type="A">
          <target><![CDATA[http://www.thepensionservice.gov.uk/resourcecentre/home.asp]]></target>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bc/I_am_a_pensioner/Benevolent_Fund.html]]></target>
          <uuid>0e096640-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_other/I_am_a_pensioner/Benefits_helpline.html]]></target>
          <uuid>106b990f-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<h2>BP Benevolent Fund</h2>
<p>The BP Benevolent Fund was established by the Company in 1990. Its purpose is to help former
employees, or their dependants, who might be suffering extreme financial hardship.</p>
<p>If you would like more information, please visit the 
<a href="%(link0)">BP Benevolent Fund
page.</a></p>
<h2>State benefits and Government information</h2>
<h3>State benefits helpline</h3>
<p>The helpline is run by Angela Maxwell, a specialist State benefits consultant, who provides the
helpline for many companies across the UK. The helpline will provide information on State benefit,
tax and National Insurance contribution queries for you and your immediate family. For more
information, please visit the 
<a href="%(link1)">State benefits helpline
page</a>.</p>
<h3>Department for Work and Pensions</h3>
<p>The Department for Work and Pensions (DWP) 
<a href="%(link2)">website</a>&nbsp;contains information on a long list of benefits
and services, including pensions. A particularly helpful item on this website is 
<em>the pensioners' guide</em>, which covers topics such as money and tax, health and social
services, home (heating and improvements), and sets out a seven-page list of helpful contacts. 
<em>The pensioners' guide</em> is available on-line at 
<a href="%(link3)">The Pension Service</a>.</p>
<h3>Your rights</h3>
<p>
<em>Your rights</em> is a benefits guide produced yearly by Age Concern, covering, for example,
State pensions, widows' benefits, income-related benefits and benefits for disabled people and
their carers. It is normally available from Age Concern shops. If not, you can ring 
<strong>0870 4422120</strong> to request a copy.</p>
<h3>Form BR19</h3>
<p>
<em>Form BR19</em> enables you to obtain a State pension forecast. It is available from 
<a href="%(link4)">The Pension Service</a>. Forecasts will be provided
to anyone who is more than four months away from State pension age when their application is
processed.</p>
<h3>Pension Credit</h3>
<p>The Pension Service has produced several helpful guides offering information about Pension
Credit. 
<em>Pension Credit - at a glance</em> is a simple two-page guide explaining what Pension Credit is,
who may be eligible for it and how they can apply. 
<em>Pension Credit - pick it up, it's yours</em> is a detailed leaflet for people who
are&nbsp;approaching, or are over, age 60. For information on applying for Pension Credit, please
call 
<strong>0800 99 1234</strong> or visit The Pension Service's 
<a href="%(link5)">website</a>.</p>
<h3>Are you over 50?</h3>
<p>This is a free guide from the Department for Work and Pensions. It points people in the right
direction for help and advice available through government and voluntary organisations;
opportunities to get the most out of working in later life; stimulating and rewarding leisure
activities; keeping fit and healthy; and information on planning for the future. 
<em>Are you over 50?</em> is available online from&nbsp; 
<a href="%(link6)">www.over50.gov.uk</a> and 
<a href="%(link7)">www.thepensionservice.gov.uk</a>, or by calling 
<strong>08457 31 32 33</strong>.</p>
<h2>keeping warm in winter</h2>
<h3>Here to help</h3>
<p>This is a British Gas scheme for customers who are in receipt of selected government benefits.
Those eligible will be offered a series of energy efficiency measures, sent a free 'benefits health
check' and will make bill savings. Please call 
<strong>0845 605 2535</strong>&nbsp;for further information.</p>
<h3>Keep out the cold</h3>
<p>Help the Aged has published a free leaflet called 
<em>Keep out the cold</em> which suggests practical ways of keeping warm, using energy efficiently,
saving money, and applying for various grants. Call 
<strong>020 7278 1114</strong> or go to their 
<a href="%(link8)">website</a>.</p>
<h3>Scottish Gas</h3>
<p>Scottish Gas&nbsp;currently has a heating programme for people resident in Scotland. They are
offering free central heating, insulation and energy advice to applicants aged over 60 without a
current working central heating system. Please call 
<strong>0800 316 1653</strong> for more information.</p>
<h2>miscellaneous&nbsp;</h2>
<h3>The Bereavement Register</h3>
<p>The Bereavement Register allows people to submit the name of a deceased partner/loved one/friend
in order to stop the delivery of their mail. Contact them on 
<strong>0870 600 7222</strong> or&nbsp;visit their 
<a href="%(link9)">website</a>.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/yellow_dandelion.jpg]]></target>
          <uuid>8a2e76f1-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="yellow dandelion" width="178" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>signpost - pointing you in the right direction</p>]]></content>
    </element>
  </page>
</pages>
