<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>dictionary</h1>]]></content>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<p>Here you can find explanations of defined terms used within the website.</p>
<p>Please use the menu on the left to select the dictionary relevant to your scheme. If your scheme
does not appear in the menu, no defined terms in relation to your scheme have been used in this
website.</p>]]></content>
    </element>
  </page>
</pages>
