<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content/>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[mailto:nigel.j@bp.com]]></target>
          <query><![CDATA[subject=Subject&body=Body]]></query>
        </link>
      </links>
      <content><![CDATA[<h1>This is a test for BP dictionary.</h1>
<p>&nbsp;</p>
<p>[[Dictionary(BP):BP test]]</p>
<p>[[Dictionary(BP):accrual rate]]</p>
<p>
<a href="%(link0)">fred</a>
</p>]]></content>
    </element>
  </page>
</pages>
