<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="headerright">
      <links/>
      <content><![CDATA[<h1>my benefits</h1>]]></content>
    </element>
    <element name="headerright2">
      <links/>
      <content><![CDATA[<p>This section shows:</p>
<ul>
<li>the pension benefits you have built up so far;</li>
<li>an estimate of your future retirement benefits at age 60 and/or 65;</li>
<li>the value of the State pension benefits you have already built up; and</li>
<li>an estimate of your State pension benefits at State pension age.</li>
</ul>]]></content>
    </element>
    <element name="headerright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x180/lady_pruning.jpg]]></target>
          <uuid>76e72910-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="180" alt="lady pruning" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="headerright4">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-100x100/green_fern.jpg]]></target>
          <uuid>5f484146-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="100" alt="green fern" width="100" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="headerright5">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/this_is_me.html]]></target>
          <uuid>f5dc1531-1aa9-11de-9548-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The information in the section uses the details contained in 
<a href="%(link0)">this is me</a>. Please tell 
<a href="%(link1)">BP UK&nbsp;Pensions &amp; Benefits&nbsp;</a>if any of these
details are incorrect.</p>
<p>Use the menu on the left to view your benefit statement and State pension forecast.</p>]]></content>
    </element>
    <element name="headerright6">
      <links/>
      <content><![CDATA[<p>how much will your pension be worth at retirement?</p>]]></content>
    </element>
  </page>
</pages>
