<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>my State pension forecast</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[http://www.direct.gov.uk]]></target>
        </link>
        <link name="link1" internal="false" type="A">
          <target><![CDATA[http://www.direct.gov.uk/en/Diol1/DoItOnline/DG_182356]]></target>
        </link>
      </links>
      <content><![CDATA[<p><span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[StateBenefitsAvailable]] = false|Checking...))</span></p>
<div id="StateBenefitsAvailableFalse" style="display: none">
<p>Sorry, we are unable to provide a State Benefit forecast for you. This may be because you have opted not to receive a State Benefit forecast or the Department for Work &amp; Pensions is unable to provide us with your data.</p>
<p>If you wish to receive a State Benefit forecast, please telephone the Retirement Pension Forecast Team at the Department for Work &amp; Pensions on 0845 3000 168.</p>
</div>
<p><span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[StateBenefitsAvailable]] = true|Checking...))</span></p>
<div style="display: none">
<p><span style="font-weight: bold; color: red">Your State Pension forecast - the figures quoted are estimates and are not guaranteed</span></p>
<h2>Current State Pension</h2>
<p>On the basis of your National Insurance contribution record to date, you may get:</p>
<div>
<table class="historytable" id="currentstatepension" cellspacing="0" cellpadding="0">
    <tbody>
        <!--
        <tr>
            <th class="label" colspan="3">On the basis of your National Insurance contribution record to date</th>
        </tr>-->
        <tr>
            <td class="label" colspan="2">Basic State Pension</td>
            <td class="value number"><span contenteditable="false">[[CurrentBasicStatePension]]</span></td>
        </tr>
        <tr>
            <td class="label" colspan="2">Additional State Pension</td>
            <td class="value number"><span contenteditable="false">[[CurrentAdditionalStatePension]]</span></td>
        </tr>
        <tr>
            <td class="label" colspan="2"><strong>Total State Pension</strong></td>
            <td class="value number"><strong><span contenteditable="false">[[CurrentTotalStatePension]]</span> </strong></td>
        </tr>
    </tbody>
</table>
</div>
<h2>Future State pension</h2>
<p>By the time you reach State pension age you may get:</p>
<div>
<table class="historytable" id="futurestatepension" cellspacing="0" cellpadding="0">
    <tbody>
        <!--
        <tr>
            <th class="label" colspan="3">By the time you reach State Pension age</th>
        </tr>-->
        <tr>
            <td class="label" colspan="2">Basic State Pension</td>
            <td class="value number"><span contenteditable="false">[[FutureBasicStatePension]]</span></td>
        </tr>
        <tr>
            <td class="label" colspan="2">Additional State Pension</td>
            <td class="value number"><span contenteditable="false">[[FutureAdditionalStatePension]]</span></td>
        </tr>
        <tr>
            <td class="label" colspan="2"><strong>Total State Pension</strong></td>
            <td class="value number"><strong><span contenteditable="false">[[FutureTotalStatePension]]</span> </strong></td>
        </tr>
    </tbody>
</table>
</div>
<div>
<div>The earliest you can get your State Pension is when you reach the age of<span contenteditable="false">[[StatePensionAge]]</span>. You need to claim it.</div>
<div>&nbsp;</div>
</div>
<h2>Important information</h2>
<p>It is important that you read the notes below.<br />
<br />
&bull;&nbsp;The &ldquo;Current State Pension&rdquo; estimate is based on your National Insurance record at the date of the forecast. <br />
<br />
&bull;&nbsp;The &ldquo;Future State Pension&rdquo; estimate is based on the assumption that you will pay, be treated as paying or be credited with full-rate National Insurance contributions from the date of the forecast until you reach State Pension age. If, for any reason this assumption is wrong, the estimated amount above could be too high.<br />
<br />
&bull;&nbsp;If you are a married woman who has chosen to pay the reduced-rate of National Insurance &ndash; sometimes called &ldquo;the small stamp&rdquo; - your &ldquo;Future State Pension&rdquo; amounts are based on the assumption that you will continue to pay reduced-rate contributions.<br />
<br />
&bull;&nbsp;The amounts shown are based on the current State Pension rules and the rates in payment at the time of the forecast. They do not take into account any future changes to State Pension rates or to the law relating to State Pensions that may occur before you reach State Pension age.<br />
<br />
&bull;&nbsp;The Government has announced new proposals for increasing the State Pension age from 65 to 66. These will speed up the rate at which rises in State Pension age will occur. Your State Pension age will be affected if you are a woman born between 6 April 1953 and 5 April 1960, or a man born between 6 December 1953 and 5 April 1960. These changes require the approval of Parliament. The Government is also considering the timetable for future increases in the State Pension age from 66 to 68. For further information refer to <a href="%(link0)">www.Direct.gov.uk<br />
</a><br />
&bull;&nbsp;You may be able to pay voluntary National Insurance contributions for certain years. See &lsquo;Your pension statement explained&rsquo; leaflet for further details.<br />
<br />
&bull;&nbsp;Your basic State Pension may be more than the amount shown. This is because the Government have announced a &ldquo;triple guarantee&rdquo; about how it will increase the basic State Pension in the future.&nbsp; From April 2011, basic State Pension will be increased every year by the higher of the growth in average earnings, prices, or 2.5%. This only applies to the basic State Pension. This does not apply to the additions to State Pension. <br />
<br />
&bull;&nbsp;From 6 April 2012, if you are a member of a contracted-out defined contribution pension scheme (also called a money-purchase scheme), you will cease to be contracted out and may start to build up additional State Pension instead. This change does not affect the estimated &ldquo;Current State Pension&rdquo; amount shown above. However, if you are currently in a contracted-out defined contribution pension scheme, the amount of additional State Pension included in the &ldquo;Future State Pension&rdquo; does not include any further additional State Pension you may build up from 6 April 2012 because you are no longer contracted out.&nbsp; Pension forecasts will reflect this change when National Insurance records have been updated.<br />
<br />
&bull;&nbsp;The amount of additional State Pension you actually receive at State Pension age may be different from that shown in your forecast, especially if you have been or remain a member of a contracted-out pension scheme.<br />
<br />
&bull;&nbsp;There are plans to change the additional State Pension to a simple, flat-rate weekly top-up to the basic State Pension. <br />
<br />
&bull;&nbsp;If you receive more than one State Pension forecast, do not add the amounts together. Always use the more recent forecast you have received.<br />
<br />
&bull;&nbsp;The amounts do not include any other income your household may get from income-related benefits such as Pension Credit.<br />
<br />
&bull;&nbsp;If you think any of the information in this forecast is wrong, tell the DWP by telephoning 0845 3000 168<br />
<br />
The leaflet &lsquo;Your pension statement explained&rsquo; (CPF5) gives more information about your State Pension. For a copy of this leaflet, please visit: <a href="%(link1)">www.direct.gov.uk/en/Diol1/DoItOnline/DG_182356</a> or telephone 08457 31 32 33 (Textphone 0845 604 0210) to ask for a copy. <br />
&nbsp;</p>
</div>
<p>&nbsp;</p>]]></content>
    </element>
  </page>
</pages>
