<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>Casework forms</h1>]]></content>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<p>The following forms have been generated for the specified casework.</p>
<table class="datatable">
<tbody>
<tr>
<th class="blank">&nbsp;</th>
<th class="label">Subject</th>
<th class="label">Submitted</th>
<th class="label">Casework</th>
<th class="label">Member</th>
</tr>
<tr>
<td class="blank">&nbsp;</td>
<td colspan="4">there are no forms for that casework</td>
</tr>
<!--
        <tr>
            <td><img height="20" alt="download as a PDF file" width="20" src="/content/pl/My_forms/pdf.gif" /> </td>
            <td>Change of address</td>
            <td>3 Mar 2007</td>
            <td>001234567</td>
            <td>BPF/0000001</td>
        </tr>
-->
</tbody>
</table>]]></content>
    </element>
  </page>
</pages>
