<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>Casework search</h1>]]></content>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<p>To view documents submitted by members that have created a casework enter the casework details
below.</p>
<div class="login_holder">
<form action="_casework_forms.html" method="post">
<div class="login_component_holder">
<div class="login_label">
<label for="bgroup">Bgroup</label>
</div>
<div class="login_value">
<select id="bgroup" name="bgroup">
<option value="BPF" selected="selected">BPF</option>
<option value="BCF">BCF</option>
</select>
</div>
</div>
<div class="login_component_holder">
<div class="login_label">
<label for="caseno">Casework ID</label>
</div>
<div class="login_value">
<input id="caseno" name="caseno" type="text" />
</div>
</div>
<div class="login_component_holder">
<div class="login_label">&nbsp;</div>
<div class="login_value">
<input class="goButton" type="submit" value="Go" />
</div>
</div>
</form>
</div>]]></content>
    </element>
  </page>
</pages>
