<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>Member iMails</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/superuser/_iMail_archived.html]]></target>
          <uuid>c126047a-19b6-11de-bca0-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The following iMails are currently outstanding and require attention.</p>
<table class="datatable">
<tbody>
<tr>
<th class="blank">&nbsp;</th>
<th class="label">Subject</th>
<th class="label">Submitted</th>
<th class="label">Member</th>
</tr>
<tr>
<td class="blank">&nbsp;</td>
<td colspan="3">there are no iMails pending</td>
</tr>
<!--
        <tr>
            <td><img height="20" alt="download as a PDF file" width="20" src="/content/pl/superuser/pdf.gif" /> </td>
            <td>A letter to my M.P.</td>
            <td>3 Mar 2007</td>
            <td>BPF/0000001</td>
        </tr>
        <tr>
            <td><img height="20" alt="download as a PDF file" width="20" src="/content/pl/superuser/pdf.gif" /> </td>
            <td>Employment contacts</td>
            <td>5 Mar 2007</td>
            <td>BPF/0000001</td>
        </tr>
        <tr>
            <td><img height="20" alt="download as a PDF file" width="20" src="/content/pl/superuser/pdf.gif" /> </td>
            <td>New regime</td>
            <td>5 Mar 2007</td>
            <td>BPF/0000001</td>
        </tr>
-->
</tbody>
</table>
<p>
<a href="%(link0)">Click here</a> for the archived iMail
list.</p>]]></content>
    </element>
  </page>
</pages>
