<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>Archived iMails</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/superuser/_iMail_outstanding.html]]></target>
          <uuid>c13a01ad-19b6-11de-bca0-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The following iMails have been archived.</p>
<div id="TaxYearNav">
<div id="NextYearHolder">
<input class="disabledButton" type="button" value="Next" />
</div>
<div id="ThisYearHolder">Showing 0 to 0 of 0</div>
<div id="PreviousYearHolder">
<input class="disabledButton" type="button" value="Previous" />
</div>
</div>
<table class="datatable">
<tbody>
<tr>
<th class="blank">&nbsp;</th>
<th class="label">Subject</th>
<th class="label">Submitted</th>
<th class="label">Archived</th>
<th class="label">Member</th>
</tr>
<tr>
<td class="blank">&nbsp;</td>
<td colspan="4">there are no archived iMails</td>
</tr>
<!--
        <tr>
            <td><img height="20" alt="download as a PDF file" width="20" src="/content/pl/My_forms/pdf.gif" /> </td>
            <td>A telling tale</td>
            <td>6&nbsp;Mar&nbsp;2006</td>
            <td>7&nbsp;Mar&nbsp;2006</td>
            <td>BPF/0000001</td>
        </tr>
        <tr>
            <td><img height="20" alt="download as a PDF file" width="20" src="/content/pl/My_forms/pdf.gif" /> </td>
            <td>A tale of 2 cities</td>
            <td>5&nbsp;Mar 2006</td>
            <td>6&nbsp;Mar 2006</td>
            <td>BPF/0000001</td>
        </tr>
        <tr>
            <td><img height="20" alt="download as a PDF file" width="20" src="/content/pl/My_forms/pdf.gif" /> </td>
            <td>A mouses tail</td>
            <td>4&nbsp;Mar 2006</td>
            <td>5&nbsp;Mar 2006</td>
            <td>BPF/0000001</td>
        </tr>
-->
</tbody>
</table>
<p>
<a href="%(link0)">Click here</a> for the outstanding iMail
list.</p>]]></content>
    </element>
  </page>
</pages>
