<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content/>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<p>This page allow you to test the CR calculation of an active member with or without using adjustment so you can decide to enable or disable this flag</p>
<div class="login_holder">
<form action="" method="post">
    <div class="login_component_holder">
    <div class="login_label"><label for="calc_adjust_flag">Adjustment flag</label> </div>
    <div class="login_value"><label id="calc_adjust_flag"></label></div>
    </div>
    <div class="login_component_holder">
    <div class="login_label"><label for="bgroup">Bgroup</label> </div>
    <div class="login_value"><select id="bgroup" name="bgroup">
    <option value="BPF" selected="selected">BPF</option>
    <option value="BCF">BCF</option>
    </select> </div>
    </div>
    <div class="login_component_holder">
    <div class="login_label"><label for="refno">Refno</label> </div>
    <div class="login_value"><input id="refno" name="refno" type="text" /> </div>
    </div>
    <br />
    <br />
    <div class="login_component_holder">
    <div class="login_label"><label for="refno">Retirement age</label> </div>
    <div class="login_value"><input class="slider_value" id="input_co_nra" readonly="readonly" name="input_co_nra" type="text" /> <script type="text/javascript">
         var age = new slider(A_INIT, A_TPL);
    
</script></div>
    </div>
    <div class="login_component_holder">
    <div class="login_label"><label for="refno">Contribution Option</label> </div>
    <div class="login_value"><select class="textbox" id="input_co_option" size="1">
    <option value="60" selected="selected">0:60</option>
    <option value="54">2:54</option>
    <option value="51">3:51</option>
    <option value="45">5:45</option>
    <option value="40">10:40</option>
    <option value="35">15:35</option>
    </select> </div>
    </div>
    <div class="login_component_holder">
    <div class="login_label"><label for="refno">Cash lump sum</label> </div>
    <div class="login_value"><input class="slider_value" id="input_co_cash" readonly="readonly" name="input_co_cash" type="text" /> <script type="text/javascript">
         var age = new slider(A_INIT2, A_TPL);
    
</script></div>
    </div>
    <div class="login_component_holder">
    <div class="login_label"><label for="use_calc_adjust">Use adjustment</label> </div>
    <div class="login_value"><input id="use_calc_adjust" type="checkbox" name="use_calc_adjust" value="on" /> </div>
    </div>
    <br />
    <div class="login_component_holder">
    <div class="login_label">&nbsp;</div>
    <div class="login_value"><input class="goButton" id="doauth" type="button" onclick="submitUnitTestCalcAdjustRequest();" name="doauth" value="Test" /> </div>
    </div>
</form>
</div>
<p>&nbsp;</p>
<p>This section shows the results from original calculations and the results after adjustment take place.</p>
<table id="system_input_date" cellspacing="0" cellpadding="0" class="datatable">
    <tbody>
        <tr>
            <th class="label" colspan="2">System input date</th>
        </tr>
        <tr>
            <td class="label">Calculation date</td>
            <td class="value number" id="calc_date">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table id="origin_calc_output" cellspacing="0" cellpadding="0" class="datatable">
    <tbody>
        <tr>
            <th class="label" colspan="2">Original calculation results</th>
        </tr>
        <tr>
            <td class="label">Unreduced Pension (COUN91)</td>
            <td class="value number" id="Orginal_UnreducedPension">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">Reduced pension (COUN42)</td>
            <td class="value number" id="Orginal_Pension">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">Pre-cap post reduction pension (COUN34)</td>
            <td class="value number" id="Orginal_ReducedPension">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">DOR</td>
            <td class="value number" id="DoR">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">FPS</td>
            <td class="value number" id="FPS">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">Current Accrual</td>
            <td class="value number" id="CINN91">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">ERF</td>
            <td class="value number" id="ERF">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">Commutation factor</td>
            <td class="value number" id="ComFactor">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">Cash taken</td>
            <td class="value number" id="cash">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table id="system_input_accural" cellspacing="0" cellpadding="0" class="datatable">
    <tbody>
        <tr>
            <th class="label" colspan="2">System input accrual</th>
        </tr>
        <tr>
            <td class="label">Accrual date override</td>
            <td class="value number" id="acc_date">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">Accrual rate override</td>
            <td class="value number" id="acc_rate">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table id="member" cellspacing="0" cellpadding="0" class="datatable">
    <tbody>
        <tr>
            <th class="label" colspan="2">Member</th>
        </tr>
        <tr>
            <td class="label">LTA</td>
            <td class="value number" id="lta">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">FTE</td>
            <td class="value number" id="FTE">&nbsp;</td>
        </tr>
    </tbody>
</table>
<div id="adjustment_details">
<table id="internal_steps_1" cellspacing="0" cellpadding="0" class="datatable">
    <tbody>
        <tr>
            <th class="label" colspan="2">Internal steps</th>
        </tr>
        <tr>
            <td class="label">Additional service</td>
            <td class="value number" id="addService">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">Part time adjusted service</td>
            <td class="value number" id="addPTService">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">Unreduced Uplift</td>
            <td class="value number" id="unreducedUplift">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">Uplift</td>
            <td class="value number" id="uplift">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">New reduced pension</td>
            <td class="value number" id="newReducedPension">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">2/3rds limit</td>
            <td class="value number" id="_2rdsLimit">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table id="new_output_1" cellspacing="0" cellpadding="0" class="datatable">
    <tbody>
        <tr>
            <th class="label" colspan="2">New output</th>
        </tr>
        <tr>
            <td class="label">Adjusted unreduced pension (Divisible by 12)</td>
            <td class="value number" id="Adjusted_UnreducedPension">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">Adjusted pension (Divisible by 12)</td>
            <td class="value number" id="Adjusted_ReducedPension">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">Spouses pension (Divisible by 12)</td>
            <td class="value number" id="Adjusted_SpousesPension">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table id="internal_steps_2" cellspacing="0" cellpadding="0" class="datatable">
    <tbody>
        <tr>
            <th class="label" colspan="2">Internal step</th>
        </tr>
        <tr>
            <td class="label">Scheme cash</td>
            <td class="value number" id="schemeCash">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table id="new_output_2" cellspacing="0" cellpadding="0" class="datatable">
    <tbody>
        <tr>
            <th class="label" colspan="2">New output</th>
        </tr>
        <tr>
            <td class="label">Max scheme cash</td>
            <td class="value number" id="Adjusted_MaximumCashLumpSum">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table id="internal_steps_3" cellspacing="0" cellpadding="0" class="datatable">
    <tbody>
        <tr>
            <th class="label" colspan="2">Internal step</th>
        </tr>
        <tr>
            <td class="label">Residual at max cash</td>
            <td class="value number" id="residualMaxCash">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table id="new_output_3" cellspacing="0" cellpadding="0" class="datatable">
    <tbody>
        <tr>
            <th class="label" colspan="2">New output</th>
        </tr>
        <tr>
            <td class="label">Residual pension (Divisible by 12)</td>
            <td class="value number" id="Adjusted_PensionWithChosenCash">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">Residual pension at max cash (Divisible by 12)</td>
            <td class="value number" id="Adjusted_PensionWithMaximumCash">&nbsp;</td>
        </tr>
    </tbody>
</table>
</div>
<br />
<br />
<script type="text/javascript">
    getGlobalCalcAdjustFlag();
</script>]]></content>
    </element>
  </page>
</pages>
