<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>Superuser access</h1>]]></content>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<p>To gain access to a members personal information and other secure areas of the site you need to
enter their details below and click on the 
<strong>Go</strong> button.</p>
<div class="login_holder">
<form method="post" action="">
<div class="login_component_holder">
<div class="login_label">
<label for="bgroup">Bgroup</label>
</div>
<div class="login_value">
<select id="bgroup" name="bgroup">
<option value="BPF" selected="selected">BPF</option>
<option value="BCF">BCF</option>
</select>
</div>
</div>
<div class="login_component_holder">
<div class="login_label">
<label for="crefno">Refno</label>
</div>
<div class="login_value">
<input id="crefno" name="crefno" type="text" />
</div>
</div>
<div class="login_component_holder">
<div class="login_label">&nbsp;</div>
<div class="login_value">
<input class="goButton" id="doauth" type="button" onclick="CheckTestMember(); return false;"
name="doauth" value="Go" />
</div>
</div>
</form>
</div>]]></content>
    </element>
  </page>
</pages>
