<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>forms</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/hikers_with_map.jpg]]></target>
          <uuid>86e31c12-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="hikers with map" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<p>
<font size="5">don't forget to keep your 
<em>expression of wishes</em> 
<em>form</em> up to date</font>
</p>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/Change_of_address_and_bank_details_form_09.01.08.pdf]]></target>
          <uuid>1a3db1f9-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/BC_AVC_SWITCH_form.pdf]]></target>
          <uuid>86a6c55a-4c01-11e1-a27e-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BC_scheme_documents/EoW_Burmah_Castrol_Pension_Fund.pdf]]></target>
          <uuid>b2637827-abbc-11e1-a923-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[http://www.adobe.com/products/acrobat/readstep.html]]></target>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/BC_AVC_application_form__04_06_.pdf]]></target>
          <uuid>15e972db-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>You can download and print copies of various forms for the Burmah Castrol Pension Fund. Please note you will require <a target="_blank" href="%(link0)">Adobe Acrobat Reader</a> in order to print one of these forms.</p>
<p>Click below if you would like to:</p>
<ul>
    <li>start, change or stop your <span class="fakelink"><a title="BC AVC application form _04 06_" target="_self" href="%(link1)">additional voluntary contributions</a> </span></li>
    <li><a title="BC_AVC_SWITCH_form" target="_self" href="%(link2)">switch your additional voluntary contributions</a></li>
    <li>complete or change your <span class="fakelink"><a title="EoW Burmah Castrol Pension Fund" href="%(link3)" target="_self">expression of wishes form</a> </span></li>
    <li>change&nbsp; <a title="Change of address and bank details form 09.01.08" target="_self" href="%(link4)">address/bank</a>&nbsp;details (only for pensioner or deferred members)</li>
</ul>
<p>&nbsp;</p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
