<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>explanatory&nbsp;booklet</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/hikers_with_map.jpg]]></target>
          <uuid>86e31c12-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="hikers with map" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<font size="5">view your&nbsp;
<br />explanatory booklet online</font>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BC_scheme_documents/Burmah_Castrol_Booklet.pdf]]></target>
          <uuid>eb839172-1828-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<font face="Verdana" color="#666666" size="2">You can view and print a copy of the booklet for the
Burmah and Castrol Section of the Burmah Castrol Pension Fund, by clicking the link below.</font>
<br />
<br />
<a title="Burmah Castrol Booklet" target="_self"
href="%(link0)">Explanatory
booklet</a>
</p>
<p>If you are a member of another Section within the Burmah Castrol Pension Fund,&nbsp;please
contact 
<a href="%(link1)">BP UK Pensions &amp;&nbsp;Benefits</a> if you have any queries
about your benefits.</p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
