<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="headerleft">
      <links/>
      <content><![CDATA[<h1>resources</h1>]]></content>
    </element>
    <element name="headerleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/hikers_with_map.jpg]]></target>
          <uuid>86e31c12-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="hikers with map" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="headerleft3">
      <links>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bc/Resources/Communication.html]]></target>
          <uuid>0ed3e1c9-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bc/Resources/Fund_booklet.html]]></target>
          <uuid>0edeb743-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bc/Resources/Forms.html]]></target>
          <uuid>0ed911ee-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[This section includes resources such as the Burmah&nbsp;and Castrol Section 
<a href="%(link0)">explanatory booklet</a>, various <span class="fakelink">
<a href="%(link1)">forms</a>
</span> and recent 
<a href="%(link2)">communications</a>, to help you
manage your pension.]]></content>
    </element>
    <element name="headerleft4">
      <links/>
      <content><![CDATA[<p>
<font size="5">
<font size="3">
<font size="5">
<font size="5">use these resources to manage your pension</font>
</font>
</font>
</font>
</p>]]></content>
    </element>
    <element name="headerleft5">
      <links>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bc/Resources/Investment.html]]></target>
          <uuid>0ee93e9b-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bc/Resources/TDxR.html]]></target>
          <uuid>0ef65e05-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bc/Resources/RxA.html]]></target>
          <uuid>0eef0b00-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>You can&nbsp;also find information about how the Burmah Castrol Pension Fund is operated and
managed by accessing:</p>
<ul>
<li>the 
<a href="%(link0)">Trust Deed and Rules</a>;</li>
<li>the latest 
<a href="%(link1)">Report and Accounts</a>; and</li>
<li>the 
<a href="%(link2)">funding and investment</a>
approach.</li>
</ul>]]></content>
    </element>
    <element name="headerleft6">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-100x100/lady_pruning.jpg]]></target>
          <uuid>6028b65a-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="100" alt="lady pruning" width="100" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
  </page>
</pages>
