<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>investment</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/hikers_with_map.jpg]]></target>
          <uuid>86e31c12-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="hikers with map" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<p>the Trustee uses three investment managers to manage the Fund's assets</p>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BC_scheme_documents/Summary_Funding_Statement_2010.pdf]]></target>
          <uuid>b55e8347-8a9e-11df-8235-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BC_scheme_documents/Part_1_BCPF_SFP.pdf]]></target>
          <uuid>efca4c53-4b85-11df-9af9-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BC_scheme_documents/Part_2_BCPF_SIP.pdf]]></target>
          <uuid>feb5eb67-4b86-11df-9af9-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The Burmah Castrol Pension Fund Trustee is responsible for making sure the assets of the Fund are invested wisely and in the best interests of the Fund and its beneficiaries.<br />
<br />
The Trustee's overall investment objective is to invest the Fund's assets in order to achieve good investment returns over the long term, while minimising risk, with the aim of ensuring that there are sufficient assets to meet the benefits promised by the Fund, both now and in the future.<br />
<br />
The Fund's statement of funding and investment principles (SFIP) is in two parts. Click <a title="Part 1 BCPF SFP" target="_self" href="%(link0)">here</a> to read part 1, the statement of funding principles, and <a title="Part 2 BCPF SIP" target="_self" href="%(link1)">here</a> to read part 2, the statement of investment principles.<br />
<br />
The Trustee has appointed three external investment managers to manage the Fund's assets:</p>
<ul>
    <li>Barclays Global Investors</li>
    <li>UBS Global Asset Management</li>
    <li>Newton Investment Management</li>
</ul>
<p>Click <a title="Summary Funding Statement 2010" target="_self" href="%(link2)">here</a> to read the summary funding statement 2010.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
