<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>Trustee's report and accounts</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/hikers_with_map.jpg]]></target>
          <uuid>86e31c12-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="hikers with map" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<p>read the full or summary version of the report and accounts online</p>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BC_scheme_documents/BCPF_RxA_15_months_to_31-03-11.pdf]]></target>
          <uuid>7396f8b3-b924-11e0-935b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The Trustee has produced a formal report and accounts for the 15-month accounting period ended 31 March 2011. This is the final report for the Burmah Castrol Pension Fund up to the date of the merger with the BP Pension Fund. It includes an investment report, audited accounts for the Fund and details of the Trustee and its professional advisers.<br />
<br />
<a title="BCPF R&amp;A 15 months to 31-03-11" href="%(link0)" target="_self">Burmah Castrol Trustee's Report and Accounts </a></p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
