<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>trust deed and rules</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/hikers_with_map.jpg]]></target>
          <uuid>86e31c12-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="hikers with map" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<p>view the Fund's governing documents online</p>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link8" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/Company_Complaints_Procedure.pdf]]></target>
          <uuid>c40ffa95-67b0-11de-a394-4d6e53b46e73</uuid>
        </link>
        <link name="link9" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/Company_Complaints_Procedure_-_Flowchart.pdf]]></target>
          <uuid>54e85220-67b0-11de-a394-4d6e53b46e73</uuid>
        </link>
        <link name="link6" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BC_scheme_documents/Burmah_Castrol_Rules.pdf]]></target>
          <uuid>f8659a58-1828-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link7" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BC_scheme_documents/IDRP.pdf]]></target>
          <uuid>faa0bd4c-1828-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BC_scheme_documents/BC_Cross_Border_Deed_Altering_Rules_-_10_April_2006.pdf]]></target>
          <uuid>e8cc128a-1828-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link5" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BC_scheme_documents/BC_Simplification_Deed_and_Resolution_-_Altering_Rules_6_April_2006.pdf]]></target>
          <uuid>ea975cae-1828-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BC_scheme_documents/BC_AD_Alteration_3_Dec_2008.pdf]]></target>
          <uuid>e5f46178-1828-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BC_scheme_documents/BC_-_AD_Deed_Altering_Rules_1_Dec_2006.pdf]]></target>
          <uuid>e566ee86-1828-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BC_scheme_documents/Burmah_Castrol_Trust_Deed.pdf]]></target>
          <uuid>f9c5516a-1828-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BC_scheme_documents/Amending_Deed.pdf]]></target>
          <uuid>b3e2f485-0990-11df-ba34-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The formal documents that govern the running of the Burmah Castrol Pension Fund are the Burmah Castrol Pension Fund&nbsp;Trust Deed and Rules. You can download copies of these documents below.</p>
<ul>
    <li><a title="Burmah Castrol Trust Deed" target="_self" href="%(link0)">Trust Deed</a></li>
    <li><a title="Amending Deed" href="%(link1)" target="_self">Amending deed</a> as at 18 December 2009 - salary sacrifice</li>
    <li><font face="Verdana" color="#666666" size="2"><a title="BC_AD_Alteration_3_Dec_2008" target="_self" href="%(link2)">Amending deed</a> as at 3 December 2008 - late retirement, ill-health retirement from active service and lump sum death benefits</font></li>
    <li><span class="fakelink"><a title="BC - AD Deed Altering Rules 1 Dec 2006" target="_self" href="%(link3)">Amending Deed</a> </span>as at 1 December 2006 - age discrimination</li>
    <li><span class="fakelink"><a title="BC Cross Border Deed Altering Rules - 10 April 2006" target="_self" href="%(link4)">Amending Deed</a> </span>as at 10 April 2006 - cross-border schemes</li>
    <li><span class="fakelink"><a title="BC Simplification Deed and Resolution - Altering Rules 6 April 2006" target="_self" href="%(link5)">Amending Deed</a> </span>as at 6 April 2006 - pensions simplification</li>
    <li><span class="fakelink"><a title="Burmah Castrol Rules" target="_self" href="%(link6)">Rules</a> </span></li>
</ul>
<p>The Burmah Castrol Pension Fund is set up and run under these Trust Deed and Rules, which contain the detailed provisions of the Fund and its sections. No other point of reference can override the Trust Deed and Rules. If there is an inconsistency, the Trust Deed and Rules will always prevail.<br />
<br />
There are other documents that set out Fund procedures:<br />
<br />
<a title="IDRP" target="_self" href="%(link7)">Internal Dispute Resolution&nbsp;Procedure</a>&nbsp;<br />
<br />
The Internal Dispute Resolution Procedure can only be used to resolve a dispute with the Trustee. For Company-related issues, you should refer to the Company Complaints Process covering pensions operations. To read the Procedure and for copy of the Company Complaint Form, click <font color="#009900"><a title="Company Complaints Procedure" target="_self" href="%(link8)">here</a></font>. For a general process flowchart of the Procedure, click <font color="#009900"><a title="Company Complaints Procedure - Flowchart" target="_self" href="%(link9)">here</a></font>. Matters unrelated to pensions are excluded from this procedure and should be handled via the Company&rsquo;s standard Grievance Procedure.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
