<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>communication</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/hikers_with_map.jpg]]></target>
          <uuid>86e31c12-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="hikers with map" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<p>we want&nbsp;to help you to make informed decisions and choices</p>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link8" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/BP_simpler_pensions_update.pdf]]></target>
          <uuid>0b22f6a3-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link9" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/BP_simpler_pensions_deferred_pensioner.pdf]]></target>
          <uuid>0a79be51-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link6" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/AD_examples.pdf]]></target>
          <uuid>03978167-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link7" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/BP_simpler_pensions.pdf]]></target>
          <uuid>09d78adf-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/AD_announcement.pdf]]></target>
          <uuid>037d69b5-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link10" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/AVC_Investment_Guide.pdf]]></target>
          <uuid>e815788d-a3c5-11df-a97c-4d6e53b46e73</uuid>
        </link>
        <link name="link5" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/frequently_asked_questions.pdf]]></target>
          <uuid>0c4c5b79-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/BP_PensionLine_Quick_Guide_July_07.pdf]]></target>
          <uuid>07a393d9-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/Aggregation_Policy_-_18.04.07.pdf]]></target>
          <uuid>fbc28004-1828-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/BP_Quick_Guide_Feb_07.pdf]]></target>
          <uuid>08b9becb-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/BP_Retirement_Guide_Feb_07.pdf]]></target>
          <uuid>094b506d-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>BP Pensions aims to ensure that members understand their pension benefits and are able to make informed choices about retirement.</p>
<p>BP Pensions is committed to providing member communication that is:</p>
<ul>
    <li>easy to understand;</li>
    <li>accessible to all members;</li>
    <li>regular;</li>
    <li>targeted and personalised, where possible; and</li>
    <li>two-way and participative.</li>
</ul>
<p>Our approach is to help you take responsibility for&nbsp;your own retirement choices. This means giving&nbsp;you the right tools for informed decision making. These tools include PensionLine, newsletters,&nbsp;fact sheets, and education seminars.</p>
<h2>communication material</h2>
<h3>general communications</h3>
<ul>
    <li><a title="BP Quick Guide Feb 07" target="_self" href="%(link0)">BP Pension Scheme fact sheet</a> - a quick guide to your benefits and choices</li>
    <li><a title="BP Retirement Guide Feb 07" target="_self" href="%(link1)">Pre-retirement fact sheet</a> - a brief guide to retirement decisions</li>
    <li><a title="BP PensionLine Quick Guide July 07" target="_self" href="%(link2)">PensionLine&nbsp;user guide</a> - a quick guide to what's on PensionLine&nbsp;</li>
</ul>
<h3>company policy</h3>
<ul>
    <li><a title="Revised Aggregation Policy - 18.04.07" target="_self" href="%(link3)">Aggregation of broken service</a> - the Company's policy on dealing with multiple periods of service</li>
</ul>
<h3>legislation</h3>
<ul>
    <li><a title="AD announcement" target="_self" href="%(link4)">age discrimination announcement</a> -&nbsp;&nbsp;for <font face="Univers45Light">all UK employees in pensionable employments</font></li>
    <li><a title="frequently asked questions" target="_self" href="%(link5)">age discrimination</a> - frequently asked questions</li>
    <li><a title="AD examples" target="_self" href="%(link6)">age discrimination</a> - examples</li>
    <li><a title="BP simpler pensions" target="_self" href="%(link7)">simpler pensions</a> &ndash; general announcement on the changes to UK pension legislation for employee members</li>
    <li><a title="simpler pensions 2" target="_self" href="%(link8)">simpler pensions 2</a>&nbsp;&ndash; further information about the changes to UK pension legislation for employee members</li>
    <li><a title="BP simpler pensions deferred pensioner" target="_self" href="%(link9)">simpler pensions</a> &ndash; a brief guide to the changes in pension legislation for deferred pensioner members</li>
</ul>
<h3>investment guides</h3>
<ul>
    <li><a title="AVC Investment Guide" href="%(link10)" target="_self">AVC investment guide</a> - guides you through issues you should consider, the funds available and how to keep track of your investments&nbsp;</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
