<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>forms</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/hikers_with_map.jpg]]></target>
          <uuid>86e31c12-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="hikers with map" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<font size="5">you can complete some of these forms online - log in to find out more</font>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link6" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/Change_of_address_and_bank_details_form_09.01.08.pdf]]></target>
          <uuid>1a3db1f9-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link7" internal="false" type="A">
          <target><![CDATA[http://www.adobe.com/products/acrobat/readstep.html]]></target>
        </link>
        <link name="link4" internal="false" type="A">
          <target><![CDATA[https://www.hartlinkonline.co.uk/bp]]></target>
        </link>
        <link name="link5" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/EOW_Form.pdf]]></target>
          <uuid>feaff3d3-6d8b-11df-bdef-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/AVC_Investment_Guide.pdf]]></target>
          <uuid>e815788d-a3c5-11df-a97c-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/AVC_investment_switching_form.pdf]]></target>
          <uuid>606eecde-a477-11df-8eef-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Employee_newsletter/UK_employees_pension_changes_November_2009.pdf]]></target>
          <uuid>bcf55ab1-d8e5-11de-a368-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/AVC_Application_Form.pdf]]></target>
          <uuid>6b61e5f2-a46e-11df-8eef-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>Click below if you would like to:</p>
<ul>
    <li>start, change or stop your contributory options.&nbsp;Changes to your contributory options can only take place during the annual enrolment process.&nbsp; Please refer to the attached link <a title="UK employees pension changes November 2009" target="_self" href="%(link0)">here</a> for further information.&nbsp; However, if you are an employee of one of the following Joint Venture companies: British Pipeline Agency, Aviation Fuel Services or Gatwick Refueling Services, please contact us on 0845 6011142 and we will provide you with a contributory options form.&nbsp;&nbsp;</li>
    <li>start, change or stop your <a title="AVC Application Form" target="_self" href="%(link1)">additional voluntary contributions (AVCs)</a></li>
    <li>change your <a title="AVC Investment Guide" target="_self" href="%(link2)">AVC investment choices</a></li>
    <li>change your <a title="AVC investment switching form" target="_self" href="%(link3)">AVC with-profits investment choices</a></li>
    <li>change your AVC unit linked investment choices by visiting Capita&rsquo;s website Hartlink Online at: <a href="%(link4)">https://www.hartlinkonline.co.uk/bp</a></li>
    <li>complete or change your <a title="EOW Form" href="%(link5)" target="_self">expression of wishes form</a></li>
    <li>change your <a title="Change of address and bank details form 09.01.08" target="_self" href="%(link6)">address/bank</a> details (for pensioner&nbsp;or deferred members only)</li>
</ul>
<p>Please note you will require <a target="_blank" href="%(link7)">Adobe Acrobat Reader</a> in order to print one of these forms.</p>
<p>&nbsp;</p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
