<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="headerleft">
      <links/>
      <content><![CDATA[<h1>resources</h1>]]></content>
    </element>
    <element name="headerleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/hikers_with_map.jpg]]></target>
          <uuid>86e31c12-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="hikers with map" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="headerleft3">
      <links>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/Resources/Communication.html]]></target>
          <uuid>102b829f-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/Resources/scheme_booklet.html]]></target>
          <uuid>10480b67-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/Resources/Forms.html]]></target>
          <uuid>1031c434-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>This section includes resources such as the 
<a href="%(link0)">explanatory booklet</a>, various 
<a href="%(link1)">forms</a> and recent 
<a href="%(link2)">communications</a>, to help you
manage your pension.&nbsp;</p>]]></content>
    </element>
    <element name="headerleft4">
      <links/>
      <content><![CDATA[<p>
<font size="5">
<font size="5">use these resources to manage your pension</font>
</font>
</p>]]></content>
    </element>
    <element name="headerleft5">
      <links>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/Member_Fair_Processing_Statement.pdf]]></target>
          <uuid>98e1ac35-8bc8-11de-bd34-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/Resources/RxA.html]]></target>
          <uuid>10423f02-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/Resources/Investment.html]]></target>
          <uuid>103c4b8c-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/BPPF_Trust_Deed_2012.pdf]]></target>
          <uuid>e0337a0b-b462-11e1-9b5a-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/Resources/TDxR.html]]></target>
          <uuid>104d89ac-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>You can also find information about how the BP Pension Fund is operated and managed by accessing:</p>
<ul>
    <li>the <a title="BPPF Trust Deed 2012" href="%(link0)" target="_self">Trust Deed; </a></li>
    <li>the <a title="Rules of BP Pension Scheme" target="_self" href="%(link1)">Scheme Rules; </a></li>
    <li>the latest <a href="%(link2)">Report&nbsp;&amp; Accounts</a>;</li>
    <li>the <a href="%(link3)">funding and investment</a> approach; and</li>
    <li>the <a title="Member Fair Processing Statement" target="_self" href="%(link4)">member fair processing statement</a></li>
</ul>]]></content>
    </element>
    <element name="headerleft6">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-100x100/lady_pruning.jpg]]></target>
          <uuid>6028b65a-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="100" alt="lady pruning" width="100" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
  </page>
</pages>
