<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>investment</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/hikers_with_map.jpg]]></target>
          <uuid>86e31c12-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="hikers with map" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<p>see the basis for the Trustee's investment decisions</p>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/BPPF_-_Statement_of_Funding_and_Investment_Principles.pdf]]></target>
          <uuid>8c0095dd-a394-11df-a97c-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The Trustee is responsible for making sure the assets of the Fund are invested wisely and in the best interests of the Fund and its beneficiaries.</p>
<p>The <em>statement of funding and investment principles</em> sets out the statement of funding principles, the statement of investment principles and the relationship between these two documents.</p>
<ul>
    <li>The statement of funding principles explains how the Trustee plans to make sure enough money is paid into the Fund to provide the benefits that members have built up.</li>
    <li>The statement of investment principles explains how the Trustee invests the money paid into the Fund.</li>
</ul>
<p>Click <a title="BPPF - Statement of Funding and Investment Principles. Feb 2011" target="_self" href="%(link0)">here</a> to view the Fund's <em>statement of funding and investment principles</em>.</p>
<p>The Trustee has appointed BP Investment Management Limited to manage the Fund's assets.</p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
