<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>explanatory&nbsp;booklet</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/hikers_with_map.jpg]]></target>
          <uuid>86e31c12-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="hikers with map" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<p>the explanatory booklet is a detailed guide to your pension benefits</p>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/Pre_1_Dec_06_joiner_booklet_updated_May_2012.pdf]]></target>
          <uuid>6395b3c7-9ff3-11e1-a113-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/Post_1_Dec_06_joiner_booklet_updated_May_2012.pdf]]></target>
          <uuid>753e1e5b-9ff3-11e1-a113-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>There are two explanatory booklets for the BP Pension Scheme. The explanatory booklet relevant to you will depend on when you joined the Scheme.</p>
<p>If you were a member of the Scheme before 1 December 2006, please look at the following booklet.</p>
<p><a title="Pre 1 Dec 06 joiner booklet updated May 2012" href="%(link0)" target="_self">Explanatory booklet for pre-1 December 2006 members</a></p>
<p>If you joined the Scheme on or after 1 December 2006, please look at the following booklet.</p>
<p><a title="Post 1 Dec 06 joiner booklet updated May 2012" href="%(link1)" target="_self">Explanatory booklet for post-1 December 2006 members</a></p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
