<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>employee newsletter</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/acorn.jpg]]></target>
          <uuid>845ac328-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="acorn" width="178" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<p>
<font size="4">
<em>UK Pensions &amp; Benefits helps you see the bigger reward picture</em>
</font>
</p>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link8" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Employee_newsletter/Oct_2006.pdf]]></target>
          <uuid>12f69895-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link9" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Employee_newsletter/June_2006.pdf]]></target>
          <uuid>120e8283-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link6" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Employee_newsletter/tomorrowtoday_June_07.pdf]]></target>
          <uuid>140aeec7-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link7" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Employee_newsletter/December_2006.pdf]]></target>
          <uuid>11909ff1-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Employee_newsletter/UK_employees_pension_changes_November_2009.pdf]]></target>
          <uuid>bcf55ab1-d8e5-11de-a368-4d6e53b46e73</uuid>
        </link>
        <link name="link10" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Employee_newsletter/tomorrowtoday_March_2006.pdf]]></target>
          <uuid>1462d2c9-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link5" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Employee_newsletter/April_2008.pdf]]></target>
          <uuid>10be34bf-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/Newsletter_2011_January_DB_Version.pdf]]></target>
          <uuid>456c623f-29c2-11e0-80e2-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/Pensions_Taxation_December.pdf]]></target>
          <uuid>4552237c-29c2-11e0-80e2-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Employee_newsletter/October_2011_e-newsletter_xDBx.pdf]]></target>
          <uuid>f89a7b0d-24a6-11e1-9706-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Employee_newsletter/October_2011_e-newsletter_xDCx.pdf]]></target>
          <uuid>0b909b58-24a7-11e1-9706-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>Updates on pension taxation changes:</p>
<ul>
    <li><a title="October 2011 e-newsletter (DB)" href="%(link0)" target="_self">October 2011 Pensions &amp; Benefits e-newsletter (DB version)</a></li>
    <li><a title="October 2011 e-newsletter (DC)" href="%(link1)" target="_self">October 2011 Pensions &amp; Benefits e-newsletter (DC version)</a></li>
    <li><a title="Newsletter 2011 January DB Version" target="_self" href="%(link2)">January 2011 newsletter</a></li>
    <li><a title="Pensions Taxation December" target="_self" href="%(link3)">December 2010 taxation changes</a></li>
</ul>
<p>The November 2009 announcement regarding pensions, can be viewed by clicking on the link below:</p>
<p><a title="UK employees pension changes November 2009" target="_self" href="%(link4)">November 2009 announcement</a></p>
<p>Browse the first edition of UKPensions&amp;Benefits by clicking on the link below.</p>
<ul>
    <li><a title="BPUKPensions&amp;Benefits April 2008" target="_self" href="%(link5)">April 2008</a>&nbsp;</li>
</ul>
<p style="list-style-type: none">Browse previous editions of <em>tomorrowtoday</em> by clicking on the links below.</p>
<ul>
    <li><a title="tomorrowtoday June 07" target="_self" href="%(link6)">June 2007</a></li>
    <li><a title="December 2006" target="_self" href="%(link7)">December 2006</a></li>
    <li><a title="Oct 2006" target="_self" href="%(link8)">October 2006</a></li>
    <li><a title="June 2006" target="_self" href="%(link9)">June 2006</a></li>
    <li><a title="tomorrowtoday March 2006" target="_self" href="%(link10)">March 2006</a></li>
</ul>
<p>&nbsp;</p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
