<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="headerleft">
      <links/>
      <content><![CDATA[<h1>newsletters</h1>]]></content>
    </element>
    <element name="headerleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/acorn.jpg]]></target>
          <uuid>845ac328-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="acorn" width="178" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="headerleft3">
      <links>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/Newsletter/Pensioner_newsletter.html]]></target>
          <uuid>75638a27-1aaf-11de-9548-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/Newsletter/Employee_newsletter.html]]></target>
          <uuid>753d3d6f-1aaf-11de-9548-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/Newsletter/Employee_newsletter.html]]></target>
          <uuid>753d3d6f-1aaf-11de-9548-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>Here you can browse previous editions of scheme newsletters. Each edition is packed with topical
articles and useful information.</p>
<p>Employees can view recent editions of&nbsp; 
<a href="%(link0)">UKPensions&amp;Benefits</a> and 
<em>
<a href="%(link1)">tomorrowtoday</a>,</em> and pensioners
can view recent editions&nbsp;of 
<a href="%(link2)">Pensioners' Newsletter</a>.</p>]]></content>
    </element>
    <element name="headerleft4">
      <links/>
      <content/>
    </element>
    <element name="headerleft5">
      <links/>
      <content/>
    </element>
    <element name="headerleft6">
      <links/>
      <content/>
    </element>
  </page>
</pages>
