<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>pensioner newsletter</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/acorn.jpg]]></target>
          <uuid>845ac328-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="acorn" width="178" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<font size="5">
<em>Pensioners' Newsletter</em>&nbsp;is packed with useful information</font>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link8" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/Pensioner_Newsletter_Summer_2009.pdf]]></target>
          <uuid>149a7642-8bd7-11de-bd34-4d6e53b46e73</uuid>
        </link>
        <link name="link9" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/Pensionerxs_Newsletter_Winter_2008-2009.pdf]]></target>
          <uuid>298437e7-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link6" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/Voluntary_Insurance_Services.pdf]]></target>
          <uuid>fdd3fbde-25e9-11df-94ba-4d6e53b46e73</uuid>
        </link>
        <link name="link7" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/Winter_2009-10.pdf]]></target>
          <uuid>37886131-25e4-11df-94ba-4d6e53b46e73</uuid>
        </link>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/Pensioner_Newsletter_-_Autumn_2010.pdf]]></target>
          <uuid>4dddfb43-cd2d-11df-9ad9-4d6e53b46e73</uuid>
        </link>
        <link name="link5" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/State_Benefits_Bulletin_2010-2011.pdf]]></target>
          <uuid>e5fbafd8-4b83-11df-9af9-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/State_Benefits_and_Tax_Bulletin_2011-2012.pdf]]></target>
          <uuid>552c0db1-8059-11e0-9eaf-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/BP_Spring_2011_Newsletter.pdf]]></target>
          <uuid>f3810aac-5c34-11e0-9173-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/State_benefits_and_tax_bulletin_2012-2013.pdf]]></target>
          <uuid>df66a24a-98ea-11e1-9453-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/Spring_2012_Pensioner_Newsletter.pdf]]></target>
          <uuid>d1780424-77f2-11e1-8798-4d6e53b46e73</uuid>
        </link>
        <link name="link19" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/Summer_2006.pdf]]></target>
          <uuid>2ace6b2b-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link18" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/Autumn_2006.pdf]]></target>
          <uuid>1b7d5dfb-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link17" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/Winter_2006.pdf]]></target>
          <uuid>2bdaab0f-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link13" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/Pensionersx_Newsletter_Winter_07_08_FINAL.pdf]]></target>
          <uuid>25b50771-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link14" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/BP_Pensioners_Autumn_News-WEB.pdf]]></target>
          <uuid>1dcfb273-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link15" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/BP_PENSIONERS_NEWS_SUMMER_07_Final.pdf]]></target>
          <uuid>1e69cf95-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link16" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/Newsletter_FINAL.pdf]]></target>
          <uuid>227d0ded-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link22" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link10" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/Pensionerxs_Newsletter_-_Autumn_2008.pdf]]></target>
          <uuid>26ee4ac3-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link20" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/Spring_2006.pdf]]></target>
          <uuid>29fc9c39-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link11" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/Pensionerxs_Newsletter_Summer_2008.pdf]]></target>
          <uuid>27b98a05-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link21" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/Winter_2005.pdf]]></target>
          <uuid>2b68af5d-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link12" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Pensioner_newsletter/Pensioners_Newsletter_Spring_2008_FINAL.pdf]]></target>
          <uuid>246de16f-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>Browse previous editions of&nbsp; <em>Pensioners' Newsletter</em>&nbsp;by clicking on the links below.</p>
<ul>
    <li><a title="State benefits and tax bulletin 2012-2013" href="%(link0)" target="_self">State Benefits and Tax Bulletin 2012/2013</a></li>
    <li><a title="Spring 2012 Pensioner Newsletter" target="_self" href="%(link1)">Spring 2012</a></li>
    <li><a title="State Benefits and Tax Bulletin 2011-2012" target="_self" href="%(link2)">State Benefits and Tax Bulletin 2011/2012</a></li>
    <li><a title="BP Spring 2011 Newsletter" target="_self" href="%(link3)">Spring 2011</a></li>
    <li><a title="Pensioner Newsletter - Autumn 2010" target="_self" href="%(link4)">Autumn 2010</a></li>
    <li><a title="State Benefits Bulletin 2010-2011" target="_self" href="%(link5)">State Benefits Bulletin 2010/2011 </a></li>
    <li><a title="Voluntary Insurance Services" target="_self" href="%(link6)">Voluntary Insurance Services</a>&nbsp;</li>
    <li><a title="Winter 2009-10" target="_self" href="%(link7)">Winter&nbsp;2009/10</a></li>
    <li><a title="Pensioner Newsletter Summer 2009" target="_self" href="%(link8)">Summer 2009</a></li>
    <li><a title="Pensioner's Newsletter_Winter_2008-2009" target="_self" href="%(link9)">Winter&nbsp;2008/09</a></li>
    <li><a title="Pensioner's Newsletter - Autumn 2008" target="_self" href="%(link10)">Autumn 2008</a></li>
    <li><a title="Pensioner's Newsletter_Summer_2008" target="_self" href="%(link11)">Summer 2008</a>&nbsp;</li>
    <li><a title="Spring 2008" target="_self" href="%(link12)">Spring 2008</a></li>
    <li><a title="Pensioners' Newsletter Winter 07_08 FINAL" target="_self" href="%(link13)">Winter 2007/08</a></li>
    <li><a title="Autumn 2007" target="_self" href="%(link14)">Autumn 2007</a></li>
    <li><a title="BP PENSIONERS NEWS SUMMER 07 Final" target="_self" href="%(link15)">Summer 2007</a></li>
    <li><a title="Pensioner Newsletter Spring 2007" target="_self" href="%(link16)">Spring 2007</a></li>
    <li><a title="Winter 2006" target="_self" href="%(link17)">Winter 2006/07</a></li>
    <li><a title="Autumn 2006" target="_self" href="%(link18)">Autumn 2006</a></li>
    <li><a title="Summer 2006" target="_self" href="%(link19)">Summer 2006</a></li>
    <li><a title="Spring 2006" target="_self" href="%(link20)">Spring 2006</a></li>
    <li><a title="Winter 2005" target="_self" href="%(link21)">Winter 2005</a></li>
</ul>
<p>Pensioners' Newsletter can be delivered to you by email. If you are logged on, you can request email delivery in the 'update' section in 'I want to...'. Alternatively, you can contact <a href="%(link22)">BP UK Pensions &amp;&nbsp;Benefits</a>, who will amend your record accordingly.</p>
<p>&nbsp;</p>
<p><br />
&nbsp;</p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
