<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[final salary]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>This is your pensionable salary&nbsp;on the date you leave service, retire or die, whichever
happens first.
<br />
<br />If your pensionable salary is reduced before you leave service or retire, for pensionable
service up to the date of reduction, we will work out your pension based on your years of service
to the date of reduction and your final salary at that date. This is called your 'peak' salary.
Your peak salary is then increased to take account of increases to pensions from the date of
reduction. The use of 'peak salary' does not apply to lump sum benefits.
<br /></p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
