<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[notional pension]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>Following death in service:</p>
<ul>
<li>A pension is&nbsp;calculated in a manner similar to a normal retirement pension, using your 
<strong>final salary</strong> at the date of death and your 
<strong>pensionable</strong> 
<strong>service</strong> taking account of your notional participation in the contributory or
non-contributory option of the Scheme up to 
<strong>normal retirement age</strong>, as appropriate.</li>
</ul>
<p>&nbsp;Following death in retirement:</p>
<ul>
<li>Your pension before any deduction is made in exchange for tax-free cash, the level pension
option or due to early payment.</li>
</ul>
<p>&nbsp;Following death after leaving service but before drawing pension:</p>
<ul>
<li>The pension you were entitled to, including any increases granted between the date you left and
the date of your death.</li>
</ul>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
