<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[contracted out]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>Means contracted out of the State Earnings-Related Pension Scheme (SERPS) and that you pay
reduced National Insurance contributions. Your SERPS pension is replaced by your GMP in respect of
Scheme membership before 6 April 1997. As a condition of contracting out of SERPS for membership
from 6 April 1997, the Scheme must provide benefits which are at least as good as those of a
'reference scheme'. The level of reference scheme benefits is set by the Government.</p>
<p>The Government replaced SERPS with the State Second Pension (S2P) in April 2002.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
