<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[pensionable service]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>This is normally the number of complete years and days you have been a permanent employee after
joining the Scheme, plus any other service that the Company has told you is pensionable.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
