<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[BP UK Pensions & Benefits ]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>The Team is based at Chertsey Road, Sunbury-on-Thames, Middlesex TW16 7LN, and can be contacted
should you need any further help after contacting your Human Resources unit. Call us on our UK
helpline 0845 602 1063 or, if you are based overseas, on +44 1932 767730. If you have any queries
about PensionLine, please contact the PensionLine support team via I-mail or on 0845 601 1142.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
