<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[Supplementary Pension Plan (SPP)]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>The SPP is operated by the Company and is separate from the BP Pension Fund.&nbsp;The SPP is
designed to ensure that you should not pay the additional tax charge if your pension benefits go
above the lifetime allowance. It also provides any final salary benefits that you may build up
above the annual allowance. A copy of the SPP booklet is available on request from the&nbsp;BP
Pensions Administration Team.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
