<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[contributory option]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>The first two numbers of this code show your normal pension age which will be either 60 or 65.
The second part of the code shows your current accrual rate. The figures below show the accrual
code, accrual rate and the contribution rate expressed as a percentage of your basic salary.
<br />
<br />Accrual&nbsp;&nbsp;&nbsp; Accrual&nbsp;&nbsp;&nbsp; Contribution
<br />code&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
rate&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; rate
<br />60&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;60ths&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
0%
<br />54&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;54ths&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
2%
<br />51&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;51sts&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
3%
<br />45&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
45ths&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5%
<br />40&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
40ths&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10%
<br />35&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
35ths&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15%
<br />
<br />Examples:
<br />If the option code is 6045, it means that your normal pension age is 60 and you are accruing
benefit at 45ths.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
