<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[accrual rate]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>The fraction (or percentage - %) of 
<strong>final salary</strong> you receive for each year or part year of 
<strong>pensionable service</strong> you complete. The 0:60 plan has an accrual rate of 1/60th
(1.66%) and the contributory options have higher accrual rates.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
