<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[beneficiaries]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>These can include:</p>
<ul>
<li>your widow, widower or your surviving civil partner;&nbsp;</li>
<li>anyone who was in a relationship with you that closely resembled a marriage or a civil
partnership;</li>
<li>your natural child, adopted child or stepchild;&nbsp;</li>
<li>your grandparents and their descendants, and the present and former spouses, civil partners,
widows, widowers or surviving civil partners of those descendants;</li>
<li>anyone who was, or at any time has been, financially dependent on you, your estate or any
person with an interest in your estate; and&nbsp;</li>
<li>any individual included on your expression of wishes form.</li>
</ul>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
