<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[pensionable salary]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>This is your basic annual salary, including any permanent shift allowance and any salary
sacrificed for other arrangements offered by the Company. Other allowances, overtime and any other
variable payments are not included.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
