<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[BP Pensions Administration]]></Title>
    <Definition name="Definition0">
      <links>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[mailto:pensionlineuk@bp.com]]></target>
        </link>
      </links>
      <content><![CDATA[<p>The Pensions Administration Team address and contact details are as follows:<br />
Address:<br />
Chertsey Road<br />
Sunbury-on-Thames<br />
Middlesex<br />
TW16 7LN<br />
Email: <a href="%(link0)">pensionlineuk@bp.com</a><br />
Telephone:<br />
BP Pension Fund : +44 (0) 845 602 1063<br />
Burmah Castrol Pension Fund : +44 (0) 845 600 0295</p>]]></content>
    </Definition>
    <new_edited>true</new_edited>
  </PhraseType>
</DictionaryPhraseTypes>
