<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[0:60 plan]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>This is the non-contributory final salary scheme arrangement within the BP Pension Scheme.
It&nbsp;provides an annual pension based on 1/60th (1.66%) of 
<strong>final salary</strong> for each year of 
<strong>pensionable service</strong> without the need for you to contribute. You also receive life
cover of three times final salary.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
