<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[notional service]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>The total of your 
<strong>pensionable service</strong> to the date of death or retirement due to incapacity,
expressed in years and days, plus the extra time you would have worked until 
<strong>normal retirement age</strong> (but excluding any pensionable service granted as a result
of a transfer payment, unless the Company and the Trustee decide otherwise).</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
