<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[qualifying service]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>This is your total pensionable service plus any additional service that counted for pension in a
previous employment if those rights were transferred in to the BP Pension Scheme. This includes a
transfer from a personal pension arrangement. Qualifying service is only used for checking whether
you can keep your benefits in the Scheme if you leave service. Your benefits are based on your
pensionable service.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
