<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[pensionable dependants]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>This includes your spouse (the person to whom you are legally married) or your civil partner
(the person with whom you have a registered civil partnership). It can also include, at the
Trustee's discretion, a person who is in a relationship with you at the date of your death which
closely resembles marriage or a civil partnership and whom we consider was financially dependent on
you, or another financial dependant who does not qualify for a children’s
pension.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
