<?xml version="1.0" encoding="UTF-8"?>

<DictionaryPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.dictionary/schemas/dictionary.xsd">
  <PhraseType language="en">
    <Title><![CDATA[AVC plan]]></Title>
    <Definition name="Definition0">
      <links/>
      <content><![CDATA[<p>The AVC plan allows you to increase your benefits at retirement. You can join it if you are a
member of either the 0:60 plan or the contributory options. Your AVC benefits are secured on a
money purchase basis and your contributions are invested with one of the Trustee's external
investment managers.</p>]]></content>
    </Definition>
  </PhraseType>
</DictionaryPhraseTypes>
