<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>role of the Chief Executive Officer</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link4" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-BP_Trustee_Office/David_Rix.jpg]]></target>
          <uuid>cc390d15-cc8d-11df-9ad9-4d6e53b46e73</uuid>
        </link>
        <link name="link5" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-BP_Trustee_Office/Helen_Christie.jpg]]></target>
          <uuid>e063c04d-cc8e-11df-9ad9-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-BP_Trustee_Office/Caroline_Swanson.jpg]]></target>
          <uuid>8c718877-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Team-BP_Trustee_Office/Stuart_Best.jpg]]></target>
          <uuid>a778102d-769d-11de-b736-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/Resources/TDxR.html]]></target>
          <uuid>104d89ac-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/People/Trustee/Trustee.html]]></target>
          <uuid>10164cdd-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<blockquote dir="ltr" style="margin-right: 0px"><blockquote dir="ltr" style="margin-right: 0px">
<p>The Chief Executive Officer (CEO) of the Trustee is delegated full responsibility to act on behalf of the Trustee Board, subject to certain limitations.</p>
</blockquote></blockquote>
<p>The CEO's role includes:</p>
<ul>
    <li>developing proposals for the Fund's policies and strategy for endorsement by the Board;</li>
    <li>monitoring investment and administration activities carried out on behalf of the Trustee;</li>
    <li>undertaking executive activities which are the direct responsibility of the Trustee, e.g. preparation of Fund documents;</li>
    <li>ensuring that all the activities of the Fund comply with the <a title="trust deed and rules" href="%(link0)">Trust Deed and Rules</a>, the law and BP's internal operational standards;</li>
    <li>acting as the primary point of contact for members on discretionary and other matters; and</li>
    <li>representing the Trustee's interests to the Company and external parties such as The Pensions Regulator.</li>
</ul>
<p>Additionally, the CEO is a member of the Trustee Board and has the same duties and obligations as the other Trustee Directors. You can find out more about the current CEO in the <a title="Trustee Directors" href="%(link1)">who's who</a> section.</p>
<p>A small team supports the CEO.</p>
<div class="bio_panel">
<div class="bio_image"><img height="150" alt="Caroline Swanson" width="100" border="0" src="%(link2)" />&nbsp;</div>
<div class="bio_text">
<h3>
<div><b>Caroline Swanson</b></div>
</h3>
<h3>
<div><b>Chief&nbsp;of Staff</b></div>
</h3>
<font face="Verdana" color="#666666">
<p>As Chief of Staff, Caroline is responsible for co-ordinating activities within the executive office of the Trustee. In particular, she supports the CEO in negotiations with the Company on the Statement of Funding and Investment Principles.<br />
<br />
Caroline has worked for BP for over 20 years in various roles and locations around the world, predominantly in Treasury. She joined BP Treasury in Australia and moved to Singapore in 1990 supporting BP&rsquo;s operations in South East Asia. She relocated to London in 1996 and transferred to Cape Town in 1999 where she developed and negotiated the sale of 25% of BP&rsquo;s operations in South Africa to &lsquo;black economic empowerment&rsquo; partners, whose investment returns are put towards supporting historically disadvantaged South Africans. After leaving Cape Town in 2002, Caroline became an Executive Assistant to the Integrated Supply and Trading Commercial Director, before moving to the Trustee's executive office in 2005.</p>
</font></div>
</div>
<div class="bio_panel">
<div class="bio_image" style="width: 100px; height: 54px; text-align: center"><img height="150" alt="Stuart Best" width="100" border="0" src="%(link3)" />&nbsp;</div>
<div class="bio_text">
<h3>
<div><b>Stuart Best</b></div>
</h3>
<h3>
<div><b>Chief&nbsp;Operating Officer</b></div>
</h3>
<font face="Verdana" color="#666666">
<p>Stuart joined BP in September 2008. He is responsible for preparing the Annual Report &amp; Accounts for the Fund, the governance of the Fund&rsquo;s defined contribution arrangements and for developing and monitoring the performance of the administration services provided by the UK Pensions &amp; Benefits team. <br />
&nbsp;<br />
Stuart has worked in the pensions industry for over 20 years in various in-house and third-party roles. Before joining BP, Stuart spent ten years as Pensions Manager and Secretary to the Trustees at Nuffield Hospitals.</p>
</font></div>
</div>
<div class="bio_panel">
<div class="bio_image" style="text-align: center"><img height="150" alt="David Rix" width="100" border="0" src="%(link4)" /></div>
<div class="bio_text">
<h3>
<div><b>David Rix</b></div>
</h3>
<h3>
<div><b>Chief Risk Officer</b></div>
</h3>
<font face="Verdana" color="#666666">
<p>David Rix is currently Chief Risk Officer for BP Pension Trustees Limited. He is responsible for developing and monitoring the risk framework for BP's UK Defined Benefit Fund covering strategic, investment, liability and covenant risks. <br />
&nbsp;<br />
Previous to this appointment in April 2010, David was Treasurer of the BP joint venture, The Baku-Tbilisi-Ceyhan Pipeline Company, managing all risk issues associated with the $2.5bn multi-lender project financing in Azerbaijan. Prior to this he spent 7 years for BP in Hong Kong delivering the $3.5bn Tangguh LNG financing in Indonesia and managing the first Chinese integrated petrochemicals joint venture financing between BP and Sinopec in Shanghai.<br />
<br />
David joined BP in 1988 after spending 10 years with Bank of America. Subsequently, he has worked for BP in a variety of finance roles covering Corporate Finance, Treasury, Planning and Structured Finance supporting Exploration, Refining &amp; Marketing and Petrochemicals.</p>
</font></div>
</div>
<div class="bio_panel">
<div class="bio_image"><img height="150" alt="Helen Christie" width="100" border="0" src="%(link5)" />&nbsp;</div>
<div class="bio_text">
<h3>
<div><b>Helen Christie</b></div>
</h3>
<h3>
<div><b>Investment Executive</b></div>
</h3>
<font face="Verdana" color="#666666">
<p>Since joining BP in August 2008, Helen has been responsible for monitoring the performance of the Fund's investment portfolio on behalf of the Trustee Board. In addition, she works on all investment-related projects undertaken by the Trustee at every stage from investigation to implementation.<br />
<br />
Helen qualified as an investment manager and spent 8 years working in the fund management industry before joining BP. Her experience included working with large institutions, such as pension funds, and she also spent time as a member of the economic strategy team of a leading investment manager. Helen studied Economics and Politics at the University of Edinburgh.&nbsp;</p>
</font></div>
</div>]]></content>
    </element>
  </page>
</pages>
