<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>day-to-day operations</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BP_Scheme_documents/Statement_of_funding_and_investment_principals.pdf]]></target>
          <uuid>02b9f29e-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/People/Admin.html]]></target>
          <uuid>0fdbb4af-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The Trustee and the Company have agreed that the day-to-day operational activities of the Fund will be carried out by BP's service teams.</p>
<p>BP Investment Management Limited (BPIM) is responsible for investing the Fund's assets on behalf of the Trustee within the limits set out in the <a title="Statement of funding and investment principals" target="_self" href="%(link0)">Statement of Investment Principles</a>.</p>
<p><a href="%(link1)">BP Pensions Limited</a> administers the Fund within service standards agreed with the Trustee.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/green_leaf.jpg]]></target>
          <uuid>866ab7b0-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="90" alt="green leaf" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<font size="5">day-to-day operations are carried out by BP's service teams</font>]]></content>
    </element>
  </page>
</pages>
