<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>Active&nbsp;enrolment modeller</h1>]]></content>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<p>Members on this list will not be able to access the active enrolment modeller.</p>
<div id="wall_list">
<form method="post" action="wall_handler.jsp">
    <input type="hidden" name="block" value="ACTIVE_ENROLMENT" />
    <div id="wall_active_list"><textarea id="activeList" name="list"></textarea></div>
    <div id="wall_sumitter"><input class="goButton" type="submit" value="Update" /></div>
</form>
</div>
<script type="text/javascript">
      getWallData('ACTIVE_ENROLMENT','wall_active_list');
</script>]]></content>
    </element>
  </page>
</pages>
