<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>expression of wishes</h1>]]></content>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<p>Members on this list will not be able to submit a change of expression of wish form online.</p>
<div id="wall_list">
<form action="wall_handler.jsp" method="post">
<input type="hidden" name="block" value="CHANGE_EOW" /> 
<div id="wall_change_eow">
<textarea name="list"></textarea>
</div>
<div id="wall_sumitter">
<input class="goButton" type="submit" value="Update" />
</div></form>
</div>
<script type="text/javascript">
      getWallData('CHANGE_EOW','wall_change_eow');
</script>]]></content>
    </element>
  </page>
</pages>
