<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>User blocking management</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links/>
      <content><![CDATA[<p>This section of the site controls access to parts of the site to specific member records. Select
an exclusion category from the list on the left.</p>
<p>If you are looking for the issues with a specific user, please enter the details below.</p>
<form action="wall_search.jsp" method="post">
<div class="login_component_holder">
<div class="login_label">
<label for="_request_bgroup">Bgroup</label>
</div>
<div class="login_value">
<select id="_request_bgroup" name="_request_bgroup">
<option value="BPF" selected="selected">BPF</option>
<option value="BCF">BCF</option>
</select>
</div>
</div>
<div class="login_component_holder">
<div class="login_label">
<label for="_request_refno">Refno</label>
</div>
<div class="login_value">
<input id="_request_refno" name="_request_refno" type="text" />
</div>
</div>
<div class="login_component_holder">
<div class="login_label">&nbsp;</div>
<div class="login_value">
<input class="goButton" id="doauth" type="submit" name="doauth" value="Go" />
</div>
</div>
</form>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/woman_laying_on_grass.jpg]]></target>
          <uuid>89c072db-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="90" alt="woman laying on grass" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>If you're not on the list...</p>]]></content>
    </element>
  </page>
</pages>
