<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[AnnualAllowance]]></Anchor>
    <Title><![CDATA[The annual allowance]]></Title>
    <Question><![CDATA[Who is responsible for monitoring the annual allowance? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[You are. To help you, we can provide you with information about your annual accrual and the overall
'pension input amount' of your BP pension benefits. If you would like this information, please
contact BP UK Pensions &amp; Benefits. 
<br />
<br />]]></content>
    </Answer>
    <new_edited>true</new_edited>
  </PhraseType>
</FaqPhraseTypes>
