<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[AnnualAllowance]]></Anchor>
    <Title><![CDATA[The annual allowance]]></Title>
    <Question><![CDATA[Does the annual allowance only apply whilst I'm in service, retirement or both? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Both. The annual allowance also applies to increases in excess of the rise in the Retail Prices
Index or statutory increases to the capital value of a pension in payment or a deferred pension
(using a factor of 10:1).</p>]]></content>
    </Answer>
  </PhraseType>
</FaqPhraseTypes>
