<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content/>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<h1 class="legal">Caveat</h1>
<p class="legal">&nbsp;</p>
<p class="legal">This folder contains all Caveats</p>
<p class="legal">This is a test:</p>
<p class="legal">[[Caveat(BP):Legal notice]]</p>]]></content>
    </element>
  </page>
</pages>
