<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>who will receive benefits if I die?</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/grass_on_blue_background.jpg]]></target>
          <uuid>861bd454-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="grass on blue background" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<p>
<font size="5">financial protection for your family is an important part of your benefits</font>
</p>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/Expression_of_Wish_form_for_BP_main_scheme.pdf]]></target>
          <uuid>1aab67f1-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/I_want_to/update_something/expression_of_wish.html]]></target>
          <uuid>2a9fcb57-19af-11de-8a9b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/I_want_to/update_something/expression_of_wish.html]]></target>
          <uuid>2a9fcb57-19af-11de-8a9b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>Financial protection for your family is an important part of the BP Pension Scheme's
benefits.</p>
<p>If you die before retirement, and you leave a spouse/civil partner or dependant(s), a survivor's
pension and/or children's pension will usually be payable.</p>
<p>If you die before retirement, a tax-free cash sum equal to five times the value of your deferred
pension at the date your death will be payable (known as the 'five-year guarantee').</p>
<p class="actionpoint">It is vital that you nominate who you want to receive any lump sum benefit
on an 
<a title="expression of wishes" target="_self"
href="%(link0)">expression of wishes</a>
form, as the Trustee will refer to this when deciding who should receive this benefit. You can find
more information and complete&nbsp;an 
<a title="expression of wishes" target="_self"
href="%(link1)">expression of
wishes</a>&nbsp;form online in the 'I want to...' section. If you prefer, you can 
<a title="Expression of Wish form for BP main scheme" target="_self"
href="%(link2)">print</a>
a form to send to&nbsp;
<a href="%(link3)">BP UK&nbsp;Pensions&nbsp;&amp; Benefits.</a></p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
