<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>how much will I get?</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/grass_on_blue_background.jpg]]></target>
          <uuid>861bd454-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="grass on blue background" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<p>your retirement income will include more than just your BP pension</p>]]></content>
    </element>
    <element name="bodyleft4">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Application_images/incomechart.png]]></target>
          <uuid>53e5ac16-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The main benefit from the BP Pension Scheme is a pension based on 1/60th of your <span>[[Dictionary(BP):final salary]]</span> for each year you were an active member of the Scheme
(known as <span>[[Dictionary(BP):pensionable service]]</span>). The formula used to calculate your pension
is:</p>
<p class="formula">
<strong>(Final&nbsp;Salary ÷ 60) x Pensionable Service (in years and days)</strong>
</p>
<table style="WIDTH: 369px; HEIGHT: 143px" cellspacing="1" cellpadding="1" width="369" summary=""
border="4">
<tbody>
<tr>
<td>
<h3 class="highlight">example</h3>
<p class="highlight">Samantha is 45 and has worked for BP&nbsp;for&nbsp;17 years. Her final salary
when she leaves is £40,000. When she retires at age 65, Samantha receives an annual&nbsp;pension
of:</p>
<p class="highlight">
<strong>(£40,000 ÷ 60) x&nbsp;17 = £11,333</strong>
</p>
</td>
</tr>
</tbody>
</table>
<p class="highlight">If you made your own contributions, by choosing one of the five contributory
options available under the BP Pension Scheme or by making Additional Voluntary Contributions
(AVC's), your retirement benefits will be greater.</p>
<p>Your&nbsp;benefit statement, displayed in 'My benefits', shows you how much you will get at 
<font color="#ff0000">[[Dictionary(BP):normal retirement age]]</font>.</p>
<p>Remember, your BP Pension Scheme benefits are only part of the picture - your retirement
income&nbsp;may include more than just your BP pension. In particular, you may have income from
other occupational or private pension arrangements, so you need to take this into account in
working out whether you are saving enough.</p>
<p>Your income may come from several sources (see example&nbsp;chart below).</p>
<p align="center">
<img height="218" alt="BP income chart" width="218" border="0"
src="%(link0)" />&nbsp;&nbsp;</p>
<h2>lifetime allowance</h2>
<p>The lifetime allowance&nbsp;set by HM Revenue &amp; Customs is the maximum value of
tax-advantaged benefits you can receive from all registered pension schemes, including your past,
present and future benefits from occupational and private pension arrangements in the UK. State
pension benefits are not included in the lifetime allowance.</p>
<h2>pension increases</h2>
<p>Your deferred pension is guaranteed to increase annually in line with the cost of living, up to
a maximum of 5% a year. The cost of living is measured by the rise in the Retail Prices Index each
December. Your Benefit Statement will automatically be amended to reflect this.&nbsp;</p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
