<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="headerleft">
      <links/>
      <content><![CDATA[<h1>I have left BP</h1>]]></content>
    </element>
    <element name="headerleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x180/grass_on_blue_background.jpg]]></target>
          <uuid>75ce17c6-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="180" alt="grass on blue background" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="headerleft3">
      <links/>
      <content><![CDATA[<p>If you have left BP, but not yet retired, you can use this site to check your personal details
in 'this is me'&nbsp;and the benefits you have built up so far in 'scheme benefits'. You can also
find out:</p>
<ul>
<li>when you can retire.</li>
<li>how much income you will get.</li>
<li>how your benefits will be paid.</li>
<li>how&nbsp;to transfer your BP benefits to another provider.</li>
<li>who will receive your benefits if you die.</li>
</ul>
<p>You will need to login to access some of the features on PensionLine.</p>]]></content>
    </element>
    <element name="headerleft4">
      <links/>
      <content><![CDATA[<p>
<font size="4">
<font size="3">don't forget to login to access all the features available to you</font>
</font>
</p>]]></content>
    </element>
    <element name="headerleft5">
      <links/>
      <content><![CDATA[<p>See the menu on the&nbsp;left for questions and&nbsp;issues you should consider, to help you get
the most out of your BP pension.</p>
<p>These questions will help you to find out whether you are on track for a financially secure
retirement.</p>]]></content>
    </element>
    <element name="headerleft6">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-100x100/summer_flowers.jpg]]></target>
          <uuid>6265111b-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="100" alt="summer flowers" width="100" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
  </page>
</pages>
