<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>how will I receive my benefits?</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/grass_on_blue_background.jpg]]></target>
          <uuid>861bd454-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="grass on blue background" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<p>
<font size="5">you choose how you want to receive your benefits</font>
</p>]]></content>
    </element>
    <element name="bodyleft4">
      <links/>
      <content><![CDATA[<p>There is no 'one size fits all' when it comes to retirement benefits. To reflect this, the BP
Pension Scheme enables you to choose how you want to receive your benefits.</p>
<ul>
<li>You can choose either a full pension or swap some of it for a tax-free cash lump sum. Your
pension is paid into your bank account monthly in advance as taxable income, and is guaranteed to
increase each year in line with the cost of living (subject to a maximum of 5% a year).</li>
<li>You may consider asking for your pension to be levelled so that your combined pension from BP
and the State remains at a reasonably steady level throughout your retirement.</li>
<li>If you have Additional Voluntary Contributions&nbsp;(AVCs), you must take your AVC benefits at
the same time as your main BP Pension Scheme benefits. You can use your AVC&nbsp;fund to buy
additional pension under the Scheme or buy an annuity on the open market. Alternatively,&nbsp;you
can&nbsp;take some or all of your AVC savings as a tax-free cash lump sum.</li>
</ul>
<p>These options will be explained to you in more detail when you make your decision to retire.</p>
<p>&nbsp;</p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
