<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyleft">
      <links/>
      <content><![CDATA[<h1>when can I take my retirement benefits?</h1>]]></content>
    </element>
    <element name="bodyleft2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/grass_on_blue_background.jpg]]></target>
          <uuid>861bd454-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="grass on blue background" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyleft3">
      <links/>
      <content><![CDATA[<p>
<font size="5">having an idea of when you want to retire will help you&nbsp;plan your pension
saving</font>
</p>]]></content>
    </element>
    <element name="bodyleft4">
      <links/>
      <content><![CDATA[<p>You may not have a fixed date or age in mind, but having a rough idea about when you want to
retire and/or take your BP retirement benefits will help you to plan your pension saving.</p>
<p>Under current BP Pension Scheme and HM Revenue &amp; Customs rules, you have two options:</p>
<ul>
<li>Keep your deferred pension in the BP Pension Scheme until your 
<font color="#ff0000">[[Dictionary(BP):normal retirement age]]</font>; or</li>
<li>Take your pension earlier. Your pension will be reduced unless you were a member of the Scheme
before 1 December 2006 and take your pension&nbsp;from age 60.</li>
</ul>
<p>You can take your pension at any point from age 50, as long as you reach age 50 and start
drawing your pension before 6 April 2010. Otherwise, you cannot take your pension until you reach
age 55.</p>]]></content>
    </element>
    <element name="bodyleft5">
      <links/>
      <content/>
    </element>
  </page>
</pages>
