<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="headerright">
      <links/>
      <content><![CDATA[<h1>other BP pension schemes</h1>]]></content>
    </element>
    <element name="headerright2">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>There are&nbsp;45 pension schemes within the umbrella of the BP Pension Fund.</p>
<p>If you are a member of a defined benefit (final salary) scheme, the pension you receive at
retirement is linked to your BP salary and length of service.</p>
<p>If you are a member of a defined contribution scheme (money purchase), the pension you receive
at retirement is based on the amount of contributions you have invested in your pension 'pot'.</p>
<p>This site contains information&nbsp;on all schemes with active members. If you belong to a
different scheme, you can contact&nbsp;
<a href="%(link0)">BP UK&nbsp;Pensions&nbsp;&amp; Benefits</a> for further
information.</p>]]></content>
    </element>
    <element name="headerright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x180/girl_swinging_in_tree.jpg]]></target>
          <uuid>75470d6a-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="180" alt="girl swinging in tree" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="headerright4">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-100x100/fisherman_on_car.jpg]]></target>
          <uuid>5d699612-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="100" alt="fisherman on car" width="100" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="headerright5">
      <links/>
      <content><![CDATA[<p>This section of PensionLine is relevant to members of pension schemes within the BP Pension Fund, except the main BP Pension Scheme. If you are a member of the BP Pension Scheme, or the Burmah Castrol Pension Fund Section, please use the menu on the&nbsp;left to view information relevant to you.</p>]]></content>
    </element>
    <element name="headerright6">
      <links/>
      <content><![CDATA[<div class="quote_box_green">
<p>there are 45 schemes within the BP Pension Fund umbrella</p>
</div>]]></content>
    </element>
  </page>
</pages>
