<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>Letter generation completes</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/superuser/password_letters/generate.html]]></target>
          <uuid>c22b8dd0-19b6-11de-bca0-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The letters you requested have been created as a MS Word document. Please press the button
bellow to view its content or go back to 
<a href="%(link0)">password generation</a> page to
change your request parameters.</p>
<form action="_letter_password.doc" method="post">
<div class="login_value">
<input class="goButton" id="doauth" type="submit" name="doauth" value="View Letters" />
</div>
</form>]]></content>
    </element>
  </page>
</pages>
