<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>PensionLine password generation</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/superuser/password_letters/index.html]]></target>
          <uuid>c23ddd55-19b6-11de-bca0-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<div id="password_letter_form">
<p>This page will generate the bulk password and welcome pack letters for the members selected <a href="%(link0)">previously</a>.</p>
<form id="form_password_letter" action="_letter_password.doc" method="post">
    <table width="100%">
        <tbody>
            <tr>
                <td style="vertical-align: top" width="50%">
                <h2>welcome packs</h2>
                <div><label for="bp_unreg">BP requests</label>: <input id="bp_unreg" type="hidden" size="5" name="bp_unreg" value="0" /> <span class="checkbox_text" id="bp_unreg_total">&nbsp;</span>
                <div>
                <div><label for="bc_unreg">BC requests</label>: <input id="bc_unreg" type="hidden" size="5" name="bc_unreg" value="0" /> <span class="checkbox_text" id="bc_unreg_total">&nbsp;</span></div>
                <div style="display: none"><label for="subs_unreg">Subs requests</label>: <input id="subs_unreg" type="hidden" size="5" name="subs_unreg" value="0" /> <span class="checkbox_text" id="subs_unreg_total">&nbsp;</span></div>
                <input class="goButton" id="doauth" type="button" onclick="addMoreWelcomePackMembers()" name="doauth" value="Add" /></div>
                </div>
                </td>
                <td style="padding-left: 20px; vertical-align: top" width="50%">
                <h2>password resets</h2>
                <div><label for="pension_reset">All requests</label>: <input id="pension_reset" type="hidden" size="5" name="bp_unreg" value="0" /> <span class="checkbox_text" id="pension_reset_total">&nbsp;</span></div>
                <br />
                <input class="goButton" id="doauth" type="button" onclick="addMorePasswordResetMembers()" name="doauth" value="Add" /></td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <br />
    <div class="login_component_holder">
    <h2>letter generation</h2>
    <!--<div class="login_component_holder">
    <div class="login_label"><label for="add_signature">Add signature</label>:</div>
    <div class="login_value"><input class="noborder" id="add_signature" type="checkbox" checked="checked" name="add_signature" value="on" /> <span class="mandatory">*</span></div>
    </div>-->
    <div class="login_component_holder">
    <div class="login_label"><label for="commit_changes">Commit changes</label>:</div>
    <div class="login_value"><input class="noborder" id="commit_changes" type="checkbox" name="commit_changes" value="on" /> <span class="checkbox_text" id="total_commit">&nbsp;</span></div>
    </div>
    <div class="login_component_holder">
    <div class="login_label">&nbsp;</div>
    <div class="login_value"><input class="goButton" id="doauth" type="button" onclick="submitPasswordLetterGenRequest()" name="doauth" value="Go" /></div>
    </div>
    </div>
</form>
<br />
<!--
<p><span class="mandatory">*</span>Please select <a href="/content/pl/superuser/password_letters/signature_settings.jsp">Signature settings</a> to select the signature to add into the letters.</p>-->
<script type="text/javascript">
setTimeout('loadPasswordNumberActives()', 300);
</script></div>
<div id="password_letter_whizzy" style="visibility: hidden">&nbsp;</div>]]></content>
    </element>
  </page>
</pages>
