<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bpblank">
      <links/>
      <content><![CDATA[<p>Members National Insurance numbers should be entered in the boxes below depending on whether the
member requires a welcome pack or a standard password reset letter. If there are any national
insurance numbers already in the boxes below then this is because someone is already in the process
of generating a bulk letter run or casework has been used to request individual letters.</p>
<div>
<table>
<tbody>
<tr>
<td style="VERTICAL-ALIGN: top">
<h2>welcome pack</h2>
<form>
<div id="welcome_pack_list">
<textarea name="wp_list"></textarea>
</div>
<div id="wall_sumitter">
<input class="goButton" id="wp_update" type="button" onclick="updateWPPasswordFlagged();"
value="Update" />
</div>
</form>
</td>
<td style="VERTICAL-ALIGN: top">
<h2>password reset</h2>
<form>
<div id="password_reset_list">
<textarea name="pr_list"></textarea>
</div>
<div id="wall_sumitter">
<input class="goButton" id="pr_update" type="button" onclick="updatePRPasswordFlagged();"
value="Update" />
</div>
</form>
</td>
</tr>
</tbody>
</table>
</div>
<script type="text/javascript">
      listPasswordFlagged();
</script>]]></content>
    </element>
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>PensionLine letter generation</h1>]]></content>
    </element>
  </page>
</pages>
