<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="headerright">
      <links/>
      <content><![CDATA[<h1>Burmah Castrol Pension Fund</h1>]]></content>
    </element>
    <element name="headerright2">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BC_scheme_documents/Letter_from_BCPF_Trustee_Chairman.pdf]]></target>
          <uuid>f0e02fee-f7a6-11df-afe7-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/BC_scheme_documents/QxAs.pdf]]></target>
          <uuid>02f1bc92-f7a7-11df-afe7-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The Burmah Castrol Pension Fund is a valuable part of your retirement planning.</p>
<p>The&nbsp;Fund provides you with a final salary pension. This means that the amount of pension you get when you retire is linked to your&nbsp;pay and length of service.</p>
<h3>Proposed merger of the Burmah Castrol Pension Fund (BCPF) into the BP Pension Fund (BPPF)</h3>
<p>BP International Limited and BP plc (&lsquo;the Company&rsquo;) have made a formal proposal to the Trustee Boards of the Burmah Castrol and BP Pension Funds to merge the BCPF into the BPPF.</p>
<p>There will be no change to the benefits provided to members of either Fund as a result of the merger. For members of the BCPF, the proposal is intended to improve the underlying security of their pension. For the Company, it will improve and simplify the running of the Funds.</p>
<p>By law, a 60-day consultation process has commenced with all employee members of the BCPF. The consultation process will close at 09:00 on 17 January 2011. The Company wrote to all employee members of the BCPF at the start of consultation and the Chairman of the BCPF Trustee Board has subsequently written to all BCPF members enclosing some frequently asked questions about the merger.</p>
<p>Click <a title="Letter from BCPF Trustee Chairman" href="%(link0)" target="_self">here</a> to read letter from the BCPF Trustee Chairman<br />
Click <a title="Q&amp;As" href="%(link1)" target="_self">here</a> to read Qs &amp; As about the proposed merger</p>
<p>Depending on the outcome of the consultation, and subject to any exceptional unforeseen events which may require any of the three parties to withdraw or reconsider the proposal, the aim is to combine both Funds before the end of the first quarter of 2011.</p>
<p>If you have any questions, please contact the BP UK Pensions &amp; Benefits team on 0845 600 0295.<br />
&nbsp;</p>]]></content>
    </element>
    <element name="headerright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x180/goodies_in_a_bag.jpg]]></target>
          <uuid>7563e43d-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="180" alt="goodies in a bag" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="headerright4">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-100x100/abstract_lilly.jpg]]></target>
          <uuid>5bd476ec-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="100" alt="abstract lilly" width="100" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="headerright5">
      <links/>
      <content><![CDATA[<p>This section of PensionLine is relevant to members of the Burmah Castrol Pension Fund Section. If you are a member of any other&nbsp;pension scheme within the BP Pension Fund, please use the menu on the&nbsp;left to view information relevant to you.</p>]]></content>
    </element>
    <element name="headerright6">
      <links/>
      <content><![CDATA[<font size="3">the&nbsp;Fund is a valuable part of your retirement planning</font>]]></content>
    </element>
  </page>
</pages>
