<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[PensionLine]]></Anchor>
    <Title><![CDATA[PensionLine]]></Title>
    <Question><![CDATA[I have more than one period of service with BP – can I view all of my records on PensionLine? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>Yes. You can decide which record you would like to view when you log in.</p>
<p>If you have already logged in and would like to switch to one of your other records, you can do so in the &lsquo;my details&rsquo; section. <br />
&nbsp;</p>]]></content>
    </Answer>
    <new_edited>true</new_edited>
  </PhraseType>
</FaqPhraseTypes>
