<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[PensionLine]]></Anchor>
    <Title><![CDATA[PensionLine]]></Title>
    <Question><![CDATA[How do I register for PensionLine so that I can access my personal data? ]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>If you have not already registered for PensionLine, follow the self-registration procedure.<br />
<br />
If you have any queries, please contact BP UK Pensions &amp; Benefits.</p>]]></content>
    </Answer>
    <new_edited>false</new_edited>
  </PhraseType>
</FaqPhraseTypes>
