<?xml version="1.0" encoding="UTF-8"?>

<FaqPhraseTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.faq/schemas/faq.xsd">
  <PhraseType language="en">
    <Anchor><![CDATA[PensionLine ]]></Anchor>
    <Title><![CDATA[PensionLine ]]></Title>
    <Question><![CDATA[I am having problems logging in - what do I need to do?]]></Question>
    <Answer name="Answer0">
      <links/>
      <content><![CDATA[<p>If you have forgotten your password, contact BP UK Pensions &amp; Benefits and they will write to you with your new password.<br />
<br />
If you have unsuccessfully attempted to log in three or more times, your account will be locked. Contact BP UK Pensions &amp; Benefits and they will notify you when your account has been reset.<br />
<br />
The contact details for BP UK Pensions &amp; Benefits are provided in the &lsquo;contact us&rsquo; section.</p>]]></content>
    </Answer>
    <new_edited>false</new_edited>
  </PhraseType>
</FaqPhraseTypes>
