<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[BP Pension Fund: Trustee announcement]]></title>
    <description name="description0">
      <links/>
      <content><![CDATA[<p><b>New Law Debenture representative appointed to Trustee Board</b></p>
<p>The Trustee Board is pleased to announce that Mark Ashworth has been appointed to represent The Law Debenture Pension Trust Corporation plc, one of BP Pension Trustees Limited&rsquo;s independent Directors. The appointment took effect from 1 November 2011. Mark replaced David Felder who had been Law Debenture&rsquo;s representative on the Trustee Board since 2004.<br />
<br />
You can find out more information about the Trustee and its Directors in the 'People' section. <br />
&nbsp;</p>]]></content>
    </description>
    <new_edited>false</new_edited>
  </ItemType>
</ChanelTypes>
