<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[minutes from consultation meeting now available]]></title>
    <description name="description0">
      <links/>
      <content><![CDATA[<p>The minutes from the consultation meeting that took place 6 March 2007 are now available on PensionLine. To download a copy, please go to the 'Consultation' page in the 'People' section of your Scheme.&nbsp;</p>]]></content>
    </description>
  </ItemType>
</ChanelTypes>
