<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[BP Pension Fund: Trustee announcement]]></title>
    <description name="description0">
      <links/>
      <content><![CDATA[<p><b>Martin Bradshaw reappointed to the Trustee Board</b></p>
<p>The Trustee Board is pleased to announce that Martin Bradshaw has been re-appointed as a member-nominated Director of BP Pension Trustees Limited for a further three years. His first four-year term of office ended on 29 November. The Trustee Board invited Fund members to apply for the vacancy, which arose in the employee category.</p>
<p>Several employees expressed an interest in the vacancy, although only three, including Martin, made a formal application.</p>
<p>The Selection Committee, which comprises a Company-nominated Director, an Independent Director and two member-nominated Directors, interviewed the three applicants. Sir Ian Prosser, the recently-appointed Trustee Board Chairman, attended as an observer.</p>
<p>After careful consideration, the Committee&rsquo;s unanimous recommendation was that Martin Bradshaw should be re-appointed.</p>
<p>Commenting, Sir Ian Prosser said &ldquo;I was very impressed by the quality of the candidates. I was also reassured by the openness and transparency of the selection process. Because this is such a challenging and important role, I hope that, when future member-nominated Director vacancies arise, more Fund members will think seriously about applying.&rdquo;</p>
<p>The next member-nominated Director vacancy will arise in June 2011 in the &lsquo;all-member&rsquo; category. All Fund members will be notified nearer the time. <br />
&nbsp;</p>]]></content>
    </description>
    <new_edited>false</new_edited>
  </ItemType>
</ChanelTypes>
