<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[new MND appointed to BP Trustee Board]]></title>
    <description name="description0">
      <links/>
      <content><![CDATA[<p>A new Member-nominated Director, 
<strong>Martin Bradshaw</strong>, has been appointed to the Board of BP Pension Trustees Limited.
<br />
<br />Martin joined the Board in December 2006, replacing 
<strong>Mike Holloway</strong>.
<br />
<br />Martin started his career with Mobil at the Coryton Refinery in 1982, where he was also a
Trustee of the Mobil Pension Scheme. Martin undertook many roles within the Production Department
and eventually joined the Production Planning Team where he was Fuels Asset Planner.
<br />
<br />In 2005, Martin moved to Integrated Supply &amp; Trading as a senior trading operator with
the Gasoil Team.
<br /></p>]]></content>
    </description>
  </ItemType>
</ChanelTypes>
