<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[Updates on some important pension changes]]></title>
    <description name="description0">
      <links/>
      <content><![CDATA[<p>To view the November 2009 announcement on pensions, please go to 'Newsletters' then 'Employee Newsletter'.</p>]]></content>
    </description>
    <new_edited>false</new_edited>
  </ItemType>
</ChanelTypes>
