<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[BP Pension Fund: announcements from the Trustee]]></title>
    <description name="description0">
      <links/>
      <content><![CDATA[<p><b>Trustee Board appointments</b>&nbsp;<br />
&nbsp;<br />
The Board is pleased is make the following announcements.&nbsp;</p>
<ul type="disc">
    <li><b>Mark Stageman</b> was appointed a Member-Nominated Director of BP Pension Trustees Limited (the Trustee) on 27 May 2009. He will serve a four-year term of office. Mark replaced <b>Mike Tyler</b> whose term of office ended on 24 May.</li>
</ul>
<div>The vacancy arose in the &lsquo;all member&rsquo; category. There were 7 applicants, 4 of whom (including Mike Tyler) were interviewed by a Selection Committee. Their unanimous recommendation that Mark Stageman be appointed as a director was accepted by the Board.<span>&nbsp;&nbsp; </span></div>
<div>&nbsp;</div>
<div>The Trustee Chairman, Michael Miles, paid tribute to Mike Tyler saying that, over the past four years, &quot;he has given unstintingly of his time whilst serving as an MND; and the Board had benefited hugely from his careful thought, constructive input and his collegiate approach to Board business&quot;.<b>&nbsp;</b>&nbsp;&nbsp;<br />
&nbsp;</div>
<ul>
    <li><b>David Cureton</b> was re-appointed a Member-Nominated Director of the Trustee on 25 November 2008 for a second term of office of three years.</li>
</ul>
<div>&nbsp;You can find out more information about the Trustee and its Directors in the 'People' section.&nbsp;<br />
<br />
&nbsp;</div>]]></content>
    </description>
    <new_edited>false</new_edited>
  </ItemType>
</ChanelTypes>
