<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[2008 pension increases for BP Pension Fund]]></title>
    <description name="description0">
      <links/>
      <content><![CDATA[<p>The Trustee of the BP Pension Fund met on the 23 January this year to review the rates of
increase for pensions in payment and deferred pensions.</p>
<p>Most members are entitled to receive an increase in line with the Retail Prices Index (RPI)
(subject to a 5% ceiling). For 2008, such pensions will be awarded an increase of 4%, in line with
the RPI for the 12 months to December 2007. For some members, different contractual terms
apply.</p>
<p>A summary of the increases that members can expect are summarised below. These increases will
take effect from 1 May 2008. You will be notified, by letter, of your individual award before
the&nbsp;end of May.
<br />
<br />
<strong>Summary of 2008&nbsp;increases</strong>
<br />
<br />
<strong>BP Pension Scheme and other sections of the Fund, excluding those listed below</strong>
<br />Retail Prices Index (RPI) for the last 12 months to December 2007 at 4%
<br />
<strong>
<br />Charringtons Pension Plan</strong>
<br />5%
<br />
<br />
<strong>Dominion Oils subsection and</strong> 
<strong>Polygon Retailing Limited 1988 Retirement Fund</strong>&nbsp;&nbsp;
<br />3% on benefits built up before 6 April 1997 and the RPI increase at 4% on benefits built up
from this date
<br />
<br />
<strong>British Petroleum Company Pension and Death Benefit Schemes for Indian
and&nbsp;&nbsp;Pakistani Staff (resident in India or&nbsp;Pakistan)
<br /></strong> Relevant Consumer Prices Index (CPI) for the 12 months to December 2007 in India
and Pakistan&nbsp;(December 2007 CPI not announced at date of writing).&nbsp;
<br />
<br />NB: The increases above&nbsp;do not relate to the guaranteed minimum pension (GMP) payable
from State pension age. No pension increase will be granted for retirements which take effect on or
after 2 April 2008.
<br />
<br />Pension increases over the past five years have been awarded in line with the stated
entitlements under the Trust Deed of the BP Pension Fund and the Rules of your scheme. For most
pensioners, this is the RPI (subject to the 5% ceiling) as detailed below.</p>
<p>
<strong>2003&nbsp;-</strong> 2.9%
<br />
<strong>2004</strong> - 2.8%
<br />
<strong>2005</strong> - 3.5%
<br />
<strong>2006</strong> - 2.2%
<br />
<strong>2007</strong> - 4.4%</p>
<p>During the third quarter of 2007, the Trustee carried out a comprehensive review of pensions in
payment from the Fund. The review looked in detail at the profile of pensioners in our Fund, in
particular, age, service, and income levels; the impact of different measures of inflation; and the
pension increase practice in other large pension funds. After considering the findings of this
detailed review, the Trustee is satisfied that the pension increase practice adopted in the Fund is
entirely appropriate.</p>]]></content>
    </description>
    <new_edited>false</new_edited>
  </ItemType>
</ChanelTypes>
