<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[BP Pension Fund: Trustee announcement]]></title>
    <description name="description0">
      <links/>
      <content><![CDATA[<p><b>David Cureton reappointed to the Trustee Board</b></p>
<p>The Trustee Board is pleased to announce that David Cureton has been re-appointed as a member-nominated Director of BP Pension Trustees Limited for a further three-year term. His second term of office, also for three years, ended on 25 November 2011. The Trustee Board invited Fund members to apply for the vacancy, which arose in the &lsquo;deferred pensioner and pensioner member&rsquo; category.<br />
<br />
There were five applicants, four of whom, including David, were interviewed by the Selection Committee. On this occasion, the Committee comprised the Trustee Board Chairman, an Independent Director and two member-nominated Directors.<br />
<br />
After careful consideration, the Committee recommended to the Trustee Board that David be re-selected and reappointed for a further three-year term. This appointment will take David to the maximum of 10 years&rsquo; service which normally applies to member-nominated Directors.<br />
<br />
You can find out more information about the Trustee and its Directors in the 'People' section.</p>]]></content>
    </description>
    <new_edited>false</new_edited>
  </ItemType>
</ChanelTypes>
