<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[Company contributions to the Burmah Catrol Pension Fund during 2008]]></title>
    <description name="description0">
      <links/>
      <content><![CDATA[<p>The funding level of the Burmah Castrol Pension Fund is monitored and managed in the same way as
the BP Pension Fund, as set out in the article above</p>
<p>In October 2007, the Fund Actuary certified that as at 30 September 2007, the funding level of
the Fund was 128% on the ongoing basis.</p>
<p>As a result, the Company will not contribute to the Fund during 2008. However, the Trustee,
Company and Fund Actuary will continue to monitor the funding level on a monthly basis. If the
funding level drops below 115%, the Company will resume contributions in 2009.</p>
<p>The Fund’s next full three-year valuation will be carried out at 1 January 2009. Following this,
the 
<em>Statement of Funding and Investment Principles (SFIP)</em> will be reviewed.</p>
<p>The current SFIP is available to download from PensionLine. You can find it in the Burmah
Castrol ‘Resources’ section.
<br /></p>]]></content>
    </description>
  </ItemType>
</ChanelTypes>
