<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[BP Pension Fund: announcements from the Trustee]]></title>
    <description name="description0">
      <links/>
      <content><![CDATA[<p align="left">
<strong>Trustee Board appointments</strong>
<br />The Board is pleased to announce that:</p>
<ul>
<li>
<div align="left">
<strong>Sally Bridgeland</strong> will be appointed a Director of BP Pension Trustees Limited (the
Trustee) and Chief Executive Officer with effect from Friday 27 July 2007, replacing 
<strong>Reg Hinkley</strong>; and</div>
</li>
<li>
<div align="left">
<strong>James Richardson</strong> (a deferred pensioner) was appointed a Member-Nominated Director
of the Trustee on 28 June 2007, replacing 
<strong>Derek Sainty</strong>.</div>
</li>
</ul>
<p>You can find out more information about the Trustee and its Directors in the 'People'
section.</p>
<p align="left">
<strong>Internal Dispute Resolution Procedure &ndash; changes to current arrangements</strong>
<br />Section 273 of the Pensions Act 2004 requires the Trustee to establish arrangements for the
resolution of disputes with Fund members. An Internal Dispute Resolution Procedure (IDRP)&nbsp;was
originally put in place in 1997, as required by earlier legislation. The Trustee has now reviewed
this and made certain changes: in future, both Stages 1 and 2 of the Procedure will be dealt with
by delegated Sub-Committees of the Board.</p>
<p align="left">The new arrangements are set out in the IDRP which you can find in on the Trust
Deed page in 'Resources'.</p>]]></content>
    </description>
  </ItemType>
</ChanelTypes>
