<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[Burmah Castrol actuarial valuation complete]]></title>
    <description name="description0">
      <links/>
      <content><![CDATA[<p>The actuarial valuation, a financial 'health check' of the Fund, is complete. A summary of the
results will be published in 
<em>Pensions Review</em>, which will be sent to you in the coming weeks.</p>
<p>A full copy of the valuation is available on request from the BP Pensions&nbsp;&amp;
Benefits&nbsp;Team.</p>]]></content>
    </description>
  </ItemType>
</ChanelTypes>
