<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[BP Pension Fund: Trustee announcement]]></title>
    <description name="description0">
      <links/>
      <content><![CDATA[<p><b>Trustee Board appointment</b></p>
<p>The Board is pleased to announce that Sir Ian Prosser became Chairman of BP Pension Trustees Limited on 29 September 2010 following the retirement of Michael Miles.</p>
<p>You can find more information about the Trustee and its Directors in the &lsquo;People&rsquo; section.<br />
&nbsp;</p>]]></content>
    </description>
    <new_edited>false</new_edited>
  </ItemType>
</ChanelTypes>
