<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[Business as usual]]></title>
    <description name="description0">
      <links/>
      <content><![CDATA[<div>BP Pensions has changed its name to BP UK Pensions &amp; Benefits. This follows a move to
incorporate the provision of other employee and pensioner benefits into the department. &nbsp;
<br />
<br /></div>
<div>BP UK Pensions &amp;&nbsp;Benefits will continue to manage and administer BP's UK pension
schemes. In addition, the Team will be responsible for UK benefits, as set out in the table
below.</div>
<div>
<font size="2">&nbsp;</font>
</div>
<table
style="BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BORDER-COLLAPSE: collapse"
 cellspacing="0" cellpadding="0" border="1">
<tbody>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: windowtext 1pt solid; PADDING-LEFT: 1.5pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt"
 valign="top" width="552" bgcolor="#ffff00" height="16">
<div>
<strong>
<font size="6">
<strong>
<font color="#333333" size="2"><span style="FONT-SIZE: 11pt; COLOR: #333333">Main benefits</span>
</font>
</strong>
</font>
</strong>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Broadband Policy</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Broken service</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Business Car Ownership Scheme</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Car Ownership Scheme (COS)</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">(COS) Car Alternative Allowance</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Cars</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Childcare vouchers for working parents</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Foreign National Car Ownership Scheme</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Further education and study leave</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Home telephone costs</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Loans</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Long service awards</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Mileage allowances</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Mobile telephone costs</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Reimbursement of professional subscriptions</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Retirement/25 years anniversary dinners</span>
</font>
</div>
</td>
</tr>
</tbody>
</table>
<div>
<font size="2">&nbsp;</font>
</div>
<table
style="BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BORDER-COLLAPSE: collapse"
 cellspacing="0" cellpadding="0" border="1">
<tbody>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: windowtext 1pt solid; PADDING-LEFT: 1.5pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt"
 valign="top" width="552" bgcolor="#ffff00" height="16">
<div>
<strong>
<font size="6">
<strong>
<font color="#333333" size="2"><span style="FONT-SIZE: 11pt; COLOR: #333333">Employee support services</span>
</font>
</strong>
</font>
</strong>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Career transition</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Employee assistance programme</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Pre-retirement courses</span>
</font>
</div>
</td>
</tr>
</tbody>
</table>
<div>
<font size="2">&nbsp;</font>
</div>
<table
style="BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BORDER-COLLAPSE: collapse"
 cellspacing="0" cellpadding="0" border="1">
<tbody>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: windowtext 1pt solid; PADDING-LEFT: 1.5pt; BACKGROUND: yellow; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt"
 valign="top" width="552" bgcolor="#ffff00" height="16">
<div>
<strong>
<font color="#333333" size="2"><span style="FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #333333">Voluntary benefits</span>
</font>
</strong>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">BP Plus Loyalty Plan</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Employee Health Cash Plan</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Ford and Volvo car scheme</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Ford employee car purchase plan</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Health Insurance</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Roadside assistance</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Staff Advantage</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Voluntary Insurance Benefits: Caravan, Classic
Car,&nbsp;Heating, Holiday, Property, Marine Motor, Pet,&nbsp;Roadside Assistance and Travel</span>
</font>
</div>
</td>
</tr>
<tr style="HEIGHT: 12.35pt" height="16">
<td
style="BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 1.5pt; BORDER-TOP: #ece9d8; PADDING-LEFT: 1.5pt; PADDING-BOTTOM: 0cm; BORDER-LEFT: windowtext 1pt solid; WIDTH: 414pt; PADDING-TOP: 0cm; BORDER-BOTTOM: windowtext 1pt solid; HEIGHT: 12.35pt; BACKGROUND-COLOR: transparent"
 valign="top" width="552" height="16">
<div>
<font color="#000000" size="2"><span style="FONT-SIZE: 10pt; COLOR: black">Volvo car purchase plan&nbsp;</span>
</font>
</div>
</td>
</tr>
</tbody>
</table>
<div>We would like to assure you that this change will not affect the service we give to you. As
far as we are concerned, it's business as usual.
<br />
<br />If you have any questions, you can find our contact details on the 'Contact us' page. In the
meantime, keep accessing PensionLine for further news from the department.</div>
<div>&nbsp;</div>]]></content>
    </description>
  </ItemType>
</ChanelTypes>
