<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[Transfers-in to BP Pension Fund suspended]]></title>
    <description name="description0">
      <links>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[mailto:pensions@bp.com]]></target>
        </link>
      </links>
      <content><![CDATA[<p>Given the current economic climate, BP Pension Trustees Limited has decided to suspend transfers into the BP Pension Fund from 17 October 2008. The suspension affects all the final salary schemes within the Fund. It does not, however, affect the BP Retailing Pension &amp; Life Assurance Scheme which is a defined contribution scheme.</p>
<div>The Trustee&rsquo;s Chief Executive Officer, Sally Bridgeland, has written to all employees who had requested a transfer-in within the last 6 months. In her letter, Sally says &ldquo;The current market volatility means that both the amounts you will receive from your other pension arrangements and the benefits we will grant you could differ significantly from any quotations you have received. As making the decision to transfer is difficult in these circumstances, the Trustee has decided to suspend transfers into the Fund.&rdquo;</div>
<div>&nbsp;</div>
<div>If you have any questions or concerns about the suspension, please contact the BP UK Pensions &amp; Benefits Team by phoning <b>0845 602 1063</b> or emailing <b><a href="%(link0)">pensions@bp.com</a></b>.</div>
<div>&nbsp;</div>
<div>Please note that transfers-in to the Burmah Castrol Pension Fund are unaffected by the decision to suspend transfers into the BP Pension Fund.&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>]]></content>
    </description>
    <new_edited>false</new_edited>
  </ItemType>
</ChanelTypes>
