<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[BP Pension Fund: Company announcement]]></title>
    <description name="description0">
      <links>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[http://www.dwp.gov.uk]]></target>
        </link>
      </links>
      <content><![CDATA[<p><b>Notice of intention to elect to add to the contracting-out certificate for the BP Pension Fund</b></p>
<p>This notice is given to employees of BP p.l.c. and its subsidiaries in employment covered by the BP Pension Fund (&lsquo;the Fund&rsquo;).<br />
&nbsp;<br />
It affects those who qualify (or will qualify) for post &lsquo;97 rights under this section of the Fund. <br />
&nbsp;<br />
The Employers give notice that, in accordance with Part III of the Pension Schemes Act 1993, we intend to apply to HM Revenue &amp; Customs (HMRC) Pension Schemes Services to elect that the contracting-out certificate issued to us be varied from no earlier than the 31 March 2011 so that it shall also apply to employment with Lubricants UK Limited, Electrical Oil Services Limited and BP International Services Company (&lsquo;the Employers&rsquo;). <br />
&nbsp;<br />
The benefits provided by, and any employee contributions payable to, the Fund will not change.&nbsp;</p>
<p>No changes will be made to Fund benefits or contributions as a consequence of contracting-out. <br />
&nbsp;<br />
As you will still be contracted-out, there will be no change in the rate of your National Insurance contributions. <br />
&nbsp;<br />
For further information about current rates of National Insurance contributions and pensions, please contact the Department for Work and Pensions by visiting: <a href="%(link0)">www.dwp.gov.uk</a>.</p>
<p>Between the date of this notice and 31 March 2011, representations about this notice should be made by, or on behalf of, those affected to: Ronnie Murray, Head of BP UK Pensions &amp; Benefits, BP plc, Chertsey Road, Sunbury-on-Thames TW16 7BP.</p>
<p>Representations about this notice may also be made by, or on behalf of, those affected direct to the Commissioners for HMRC at: HMRC, Pension Schemes Services, FitzRoy House, Castle Meadow Road, Nottingham, NG2 1BD. <br />
&nbsp;<br />
The Commissioners HMRC may defer their determination to enable the election to be further considered in the light of representations made. <br />
&nbsp;<br />
The Commissioners for HMRC may refuse to give effect to the election if they are not satisfied that the employer has undertaken consultations about the matters covered by the notice with all the independent trade unions recognised in relation to the earners concerned.&nbsp;<br />
&nbsp;<br />
&nbsp; <br />
<b>Ronnie Murray<br />
</b>Head of BP UK Pensions &amp; Benefits</p>
<p><b>1 March 2011</b></p>]]></content>
    </description>
    <new_edited>false</new_edited>
  </ItemType>
</ChanelTypes>
