<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[Pensions Act 2007]]></title>
    <description name="description0">
      <links/>
      <content><![CDATA[<p>The Pensions Act 2007, which received Royal Assent on 26 July 2007, heralds a significant
increase in basic State pension entitlement from 2010 &ndash; for women and carers in particular.</p>
<p>At the moment, many women and carers are currently denied a full basic State pension as their
family and caring responsibilities mean they are not in work long enough to build up enough
'qualifying years’. From 6 April 2010, the number of years' qualifying service required to achieve
a full basic State pension will be reduced from 39 years for women and 44 years for men, to 30 for
both women and men.&nbsp;</p>
<p>Under the Act, people caring for children or people with a severe disability will be able to
build up a basic State pension entitlement through weekly ‘carer's credits’. These credits will be
more flexible than the current Home Responsibilities Protection (HRP), which requires people to
build up a full ‘qualifying year’ to protect their State pension entitlement. At the moment, a
minimum of between nine and 11 qualifying years is required to get any pension at all, so some
people get nothing.</p>
<p>As well as providing a better basic State pension for women and carers, the Act re-links the
basic State pension with earnings (from 2012 at the earliest, or by the end of the next Parliament
at the latest) instead of the Retail Prices Index and provides for a simpler flat rate State second
pension.</p>
<p>The Act will also gradually increase State pension age to 68 by 2046 for men and women, to
reflect increasing life expectancy. You can find out what your expected State pension age is by
using the Pension Service’s State pension age calculator at 
<strong>http://www.thepensionservice.gov.uk/resourcecentre/statepensioncalc.asp</strong>.</p>
<p>These provisions of the Act are already in force, having commenced immediately along with the
establishment of the Personal Accounts Delivery Authority who will oversee the new framework for
Personal Accounts, which will be set out in the a second Pensions Bill. We will provide more
details on Personal Accounts when more information in known.</p>]]></content>
    </description>
  </ItemType>
</ChanelTypes>
