<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[BP Pension Fund: Trustee announcement]]></title>
    <description name="description0">
      <links/>
      <content><![CDATA[<p><b>Trustee Board appointment</b></p>
<p>The Board is pleased to announce that Steve Westwell was appointed a Director of BP Pension Trustees Limited on 12 May 2010.</p>
<p>Steve replaced Iain Macdonald who resigned from the Board on 18 March 2010 immediately before his retirement from BP.</p>
<p>You can find more information about the Trustee and its Directors in the &lsquo;People&rsquo; section.</p>]]></content>
    </description>
    <new_edited>false</new_edited>
  </ItemType>
</ChanelTypes>
