<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[Changes to Pension Fund conversion factors]]></title>
    <description name="description0">
      <links/>
      <content><![CDATA[<p>The conversion factors used to calculate benefit options available from the BP and Burmah
Castrol Pension Funds are determined by the relevant Trustee board, from time to time, on the
advice of their Actuary and after consultation with the Company.</p>
<p>Both Trustee boards have recently completed a review of the current conversion factors, the
majority of which have been in force since 2004.&nbsp; Both Trustee boards will make some changes
to the factors from 1 March 2008. The changes reflect current financial conditions and
assumptions.</p>
<p>Communications will be sent out to members during February to ensure that everyone is aware that
changes are being made and the impact of those changes.</p>
<p>The new factors will be available on PensionLine from 1 March 2008. The PensionLine modelling
tools will also be updated for the new factors. To assist future modelling, this update will take
place on 15 February 2008. So, when you use the PensionLine retirement modeller you need to be
aware that the figures for the tax-free cash sum and remaining pension incorporate the new factors
that will apply from 1 March 2008.</p>]]></content>
    </description>
  </ItemType>
</ChanelTypes>
