<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[Burmah Castrol MND election results]]></title>
    <description name="description0">
      <links/>
      <content><![CDATA[<p>The results for the Member-nominated Director (MND) election have been announced.
<br />
<br />
<strong>Vicki Pickering</strong>, a previous MND of the Burmah Castrol Trustee Board was
re-elected. Two new MNDs were also elected. They are 
<strong>John Binks</strong> and 
<strong>Adrian Jefferies</strong>.</p>
<p>More information on the three MNDs will be included in Pensions Review, which you will receive
in the coming weeks.</p>]]></content>
    </description>
  </ItemType>
</ChanelTypes>
