<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[State pension forecasts]]></title>
    <description name="description0">
      <links/>
      <content><![CDATA[<p>These are now available for most current employees. They show the value of the State pension you have built up and an estimate of your pension at State pension age. Log in and check 'my benefits' for details.</p>]]></content>
    </description>
    <new_edited>false</new_edited>
  </ItemType>
</ChanelTypes>
