<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[Company contributions to the BP Pension Fund during 2008]]></title>
    <description name="description0">
      <links/>
      <content><![CDATA[<p>
<font face="Arial">As reported in 
<em>Pensions Highlights</em> in 2006 and 2007, the amount the Company contributes to the Fund, to
pay for members' benefits, is calculated as set out in the 
<em>Statement of Funding and Investment Principles (SFIP)</em>. Under the terms of the SFIP, the
Company is not required to contribute to the Fund if the funding level (the percentage of the
Fund's assets as measured against its liabilities) goes over 115% at the Annual Assessment Date
(end of September).</font>
</p>
<p>
<font face="Arial">In October 2007, the Scheme Actuary certified that the funding level of the Fund
was 135% on the ongoing basis. The Fund's assets at the end of September were £14.7 billion,
compared with its liabilities, calculated on an ongoing basis, of £10.8 billion.</font>
</p>
<p>
<font face="Arial">As a result, and as was anticipated in last summer's 
<em>Pensions Highlights</em>, the Company will not contribute to the Fund during 2008. However, the
Trustee, Company and Scheme Actuary will continue to monitor the funding level on a monthly basis.
If it has fallen below 115%, when the Scheme Actuary certifies the funding level in his next Annual
Assessment, then the Company will resume contributions in 2009. The Company has made payments to
meet the costs of administration and the Pension Protection Fund levy.</font>
</p>
<p>
<font face="Arial">The Fund's next full three-year valuation will be carried out at 31 December
2008. Following this, the SFIP will be reviewed.</font>
</p>
<p>
<font face="Arial">Pensions Highlights and the 
<em>Statement of Funding and Investment Principles</em> are available to download from PensionLine.
You can find both documents in the 'Resources' section of your particular scheme.</font>
</p>]]></content>
    </description>
  </ItemType>
</ChanelTypes>
