<?xml version="1.0" encoding="UTF-8"?>

<ChanelTypes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/com.bp.pensionline.rssfeed/schemas/chanel.xsd">
  <ItemType language="en">
    <title><![CDATA[Transfer of AVCs]]></title>
    <description name="description0">
      <links/>
      <content><![CDATA[<p>In 2006 the government relaxed the law on AVC funds allowing employees and deferred pensioners to transfer their funds into personal pension arrangements, while leaving their main scheme benefits where they were. The change in the law left the decision to apply this relaxation to the employer and the scheme trustee.</p>
<p>BP plc, with the agreement of the BP Pension Fund Trustee, has now decided to extend this relaxation in the law to the BP Pension Fund.</p>]]></content>
    </description>
    <new_edited>false</new_edited>
  </ItemType>
</ChanelTypes>
