<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>my Scheme benefit statement</h1>]]></content>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<p>This section shows a summary of your main Scheme benefits including any benefits payable from
the Supplementary Pension Plan and any additional voluntary contributions (AVCs) you have. Please
read the explanatory notes page&nbsp;as this will help you to understand some of the assumptions
and terms used.</p>
<p>NraReducedPension[[NraReducedPension]]</p>
<p>NraPensionvsSalary[[NraPensionvsSalary]]</p>
<p>NraSpousesPension[[NraSpousesPension]]</p>
<table id="date" cellspacing="0" cellpadding="0" class="datatable">
<tbody>
<tr>
<th class="label" colspan="2">your final salary benefits</th>
</tr>
<tr>
<td class="label">Pension earned to [[BenefitStatementDate]]</td>
<td class="value number"><span id="p2date">[[PensionToDate]]</span>
</td>
</tr>
<tr>
<td class="label">Pension as a percentage of your current pensionable [[SalaryOrPay]]</td>
<td class="value number"><span id="p2datepcnt">[[PensionVsSalary]]</span>
</td>
</tr>
</tbody>
</table>
<table id="dis" cellspacing="0" cellpadding="0" class="datatable">
<tbody>
<tr>
<th class="label" colspan="2">final salary benefits payable on your death in service</th>
</tr>
<tr>
<td class="label">Death in service lump sum</td>
<td class="value number"><span id="disls">[[DeathInServiceCash]]</span>
</td>
</tr>
<tr>
<td class="label">Pension for your spouse or civil partner</td>
<td class="value number"><span id="dispen"><span id="disls">[[DeathInServicePension]]</span>
</span>
</td>
</tr>
</tbody>
</table>
<table id="pen65" cellspacing="0" cellpadding="0" class="datatable">
<tbody>
<tr>
<th class="label" colspan="2">your estimated benefits at age 65</th>
</tr>
<tr>
<td class="label">Total pension</td>
<td class="value number"><span id="tot65">[[NraReducedPension]]</span>
</td>
</tr>
<tr>
<td class="label">Pension as a percentage of your current pensionable [[SalaryOrPay]]</td>
<td class="value number"><span id="tot65pcnt">[[NraPensionvsSalary]]</span>
</td>
</tr>
<tr>
<td class="label">Pension for your spouse or civil partner</td>
<td class="value number"><span id="spen65">[[NraSpousesPension]]</span>
</td>
</tr>
</tbody>
</table><span>[[Condition:[[BenefitStatementType]] = 0]]</span> 
<div id="BsType0" style="DISPLAY: none">
<p>[[Condition:[[DateJoinedScheme]] &lt; date(01/12/2006)]]</p>
<div id="DateJoinedAvailable" style="DISPLAY: none">
<p>As you were a member of the scheme on 30&nbsp;November 2006, you can take an unreduced pension
at age 60.</p>
<table id="pen60" cellspacing="0" cellpadding="0" class="datatable">
<tbody>
<tr>
<th class="label" colspan="2">your estimated benefits at age 60</th>
</tr>
<tr>
<td class="label">Total pension</td>
<td class="value number"><span id="tot60"><span id="tot65">[[NpaReducedPension]]</span>
</span>
</td>
</tr>
<tr>
<td class="label">Pension as a percentage of your current pensionable [[SalaryOrPay]]</td>
<td class="value number"><span id="tot60pcnt"><span id="tot65pcnt">[[NpaPensionvsSalary]]</span>
</span>
</td>
</tr>
<tr>
<td class="label">Pension for your spouse or civil partner</td>
<td class="value number"><span id="spen60"><span id="spen65">[[NpaSpousesPension]]</span>
</span>
</td>
</tr>
</tbody>
</table>
</div>
<table id="lta" cellspacing="0" cellpadding="0" class="datatable">
<tbody>
<tr>
<th class="label" colspan="2">the lifetime allowance</th>
</tr>
<tr>
<td class="label">Value of your current [[SchemeOrFund]] benefits as a percentage of the lifetime
allowance.</td>
<td class="value number"><span id="tot60"><span id="tot65">[[PensionVsLta]]</span>
</span>
</td>
</tr>
<tr>
<td class="label">Value of your current AVC/Bonus Waiver&nbsp;fund as a percentage of the lifetime
allowance.</td>
<td class="value number"><span id="tot60pcnt"><span id="tot65pcnt">[[AvcVsLta]]</span>
</span>
</td>
</tr>
<tr>
<td class="label">Total value of your current pension benefits as a percentage of the lifetime
allowance.</td>
<td class="value number"><span id="spen60"><span id="spen65">[[TotalVsLta]]</span>
</span>
</td>
</tr>
</tbody>
</table>
</div><span>[[Condition:[[BenefitStatementType]] = 1]]</span> 
<div id="BsType1" style="DISPLAY: none">
<table id="pen60" cellspacing="0" cellpadding="0" class="datatable">
<tbody>
<tr>
<th class="label" colspan="2">your estimated benefits at age 60</th>
</tr>
<tr>
<td class="label">Total pension</td>
<td class="value number"><span id="tot60"><span id="tot65">[[NpaReducedPension]]</span>
</span>
</td>
</tr>
<tr>
<td class="label">Pension as a percentage of your current pensionable [[SalaryOrPay]]</td>
<td class="value number"><span id="tot60pcnt"><span id="tot65pcnt">[[NpaPensionvsSalary]]</span>
</span>
</td>
</tr>
<tr>
<td class="label">Pension for your spouse or civil partner</td>
<td class="value number"><span id="spen60"><span id="spen65">[[NpaSpousesPension]]</span>
</span>
</td>
</tr>
</tbody>
</table>
<table id="lta" cellspacing="0" cellpadding="0" class="datatable">
<tbody>
<tr>
<th class="label" colspan="2">the lifetime allowance</th>
</tr>
<tr>
<td class="label">Value of your current [[SchemeOrFund]] benefits as a percentage of the lifetime
allowance.</td>
<td class="value number"><span id="tot60"><span id="tot65">[[PensionVsLta]]</span>
</span>
</td>
</tr>
</tbody>
</table>
</div><span>[[Condition:[[BenefitStatementType]] = 2]]</span> 
<div id="BsType2" style="DISPLAY: none">
<table id="pen_pre_spa" cellspacing="0" cellpadding="0" class="datatable">
<tbody>
<tr>
<th class="label" colspan="2">your estimated benefits at age 60 if this is before the state pension
age</th>
</tr>
<tr>
<td class="label">Total pension</td>
<td class="value number"><span id="tot60"><span id="tot65">[[GrossNpaPension]]</span>
</span>
</td>
</tr>
<tr>
<td class="label">Pension as a percentage of your current pensionable [[SalaryOrPay]]</td>
<td class="value number"><span id="tot60pcnt"><span id="tot65pcnt">[[GrossNpaPensionVsSalary]]</span>
</span>
</td>
</tr>
<tr>
<td class="label">Pension for your spouse or civil partner</td>
<td class="value number"><span id="spen60"><span id="spen65">[[GrossNpaSpousesPension]]</span>
</span>
</td>
</tr>
</tbody>
</table>
<table id="pen_post_spa" cellspacing="0" cellpadding="0" class="datatable">
<tbody>
<tr>
<th class="label" colspan="2">your estimated benefits at age 60 if this is after the state pension
age</th>
</tr>
<tr>
<td class="label">Total pension</td>
<td class="value number"><span id="tot60"><span id="tot65">[[NpaReducedPension]]</span>
</span>
</td>
</tr>
<tr>
<td class="label">Pension as a percentage of your current pensionable [[SalaryOrPay]]</td>
<td class="value number"><span id="tot60pcnt"><span id="tot65pcnt">[[NpaPensionvsSalary]]</span>
</span>
</td>
</tr>
<tr>
<td class="label">Pension for your spouse or civil partner</td>
<td class="value number"><span id="spen60"><span id="spen65">[[NpaSpousesPension]]</span>
</span>
</td>
</tr>
</tbody>
</table>
<table id="lta" cellspacing="0" cellpadding="0" class="datatable">
<tbody>
<tr>
<th class="label" colspan="2">the lifetime allowance</th>
</tr>
<tr>
<td class="label">Value of your current [[SchemeOrFund]] benefits as a percentage of the lifetime
allowance.</td>
<td class="value number"><span id="tot60"><span id="tot65">[[PensionVsLta]]</span>
</span>
</td>
</tr>
</tbody>
</table>
</div><span>[[Condition:[[BenefitStatementType]] = 3]]</span> 
<div id="BsType3" style="DISPLAY: none">
<table id="lta" cellspacing="0" cellpadding="0" class="datatable">
<tbody>
<tr>
<th class="label" colspan="2">the lifetime allowance</th>
</tr>
<tr>
<td class="label">Value of your current [[SchemeOrFund]] benefits as a percentage of the lifetime
allowance.</td>
<td class="value number"><span id="tot60"><span id="tot65">[[PensionVsLta]]</span>
</span>
</td>
</tr>
</tbody>
</table>
</div>
<p>[[Condition:[[AvcInformationAvailable]] = true]]</p>
<div id="AVCTitle" style="DISPLAY: none">
<h2>AVCs</h2>
<table id="AvcInfor" cellspacing="0" cellpadding="0" class="historytable"></table>
</div>
<p>[[Condition:[[TvinInformationAvailable]] = true]]</p>
<div id="TwinTitle" style="DISPLAY: none">
<h2>transferred in AVCs</h2>
<table id="TvinAvcInfor" cellspacing="0" cellpadding="0" class="historytable"></table>
</div>
<br />
<p>[[Condition:[[AverInformationAvailable]] = true]]</p>
<div id="BonusTitle" style="DISPLAY: none">
<h2>Bonus waiver</h2>
<table id="BonusWaiverInfor" cellspacing="0" cellpadding="0" class="historytable"></table>
</div>
<br />
<br />
<p>Please read the explanatory notes page.</p>]]></content>
    </element>
  </page>
</pages>
