<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>scheme benefit statement&nbsp;explanatory notes</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link5" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/benefit_statement_ac/state_pension.html]]></target>
          <uuid>f64fbea9-1aa9-11de-9548-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/mydetails/this_is_me.html]]></target>
          <uuid>f5dc1531-1aa9-11de-9548-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<h2>accuracy of the data</h2>
<p>All the figures shown on your benefit statement are for illustration only. Although every effort has been made to ensure the accuracy of the data, this statement does not confer any rights to benefits. Your benefits are subject to the provisions of the BP Pension Fund Trust Deed, the Rules of the BP Pensions Scheme and, if you have any benefits under the Supplementary Pension Plan (SPP), the Deed governing the SPP.</p>
<h2>additional voluntary contributions (AVCs)</h2>
<p>If you have made AVCs, the Fund values shown are the latest figures we hold&nbsp;(these do not include any 'terminal bonuses' that may be payable when your fund is disinvested).&nbsp;You will receive a separate annual AVC statement from the Trustee. This will show the value of your AVC account, contributions made during the previous year, investment performance and your estimated pension at retirement based on legally prescribed assumptions.</p>
<h2>your benefits at normal retirement age</h2>
<p>For your estimated benefits at age 60 or 65, we have assumed that you will continue in the BP Pension Scheme until you reach age 60 or 65, and that your pensionable salary and current pension build-up rate (1/60, 1/54, 1/51, 1/45 or 1/35) will remain unchanged over that period.</p>
<h2>if you leave the Company</h2>
<p>If you leave the Company with less than two years' service, your entitlement to a final salary pension will lapse. However, if you have completed at least three months' service, you will be able to take a transfer value to another arrangement or ask for a refund of your contributions (if any). If you have completed less than three months' service, you will receive a refund of your contributions (if any).</p>
<h2>special benefits</h2>
<p>This statement assumes you are entitled to standard benefits. It includes benefits arising from any credited pensionable service shown in '<a href="%(link0)">this is me</a>'. It does not necessarily include any special benefits arising from such credited pensionable service or otherwise: please contact <a href="%(link1)">BP UK Pensions &amp;&nbsp;Benefits</a> if you believe you have special benefits. The BP Pension Scheme restricts your pension to a maximum percentage of 66.67% (40/60ths) of salary. If your benefits are calculated by reference to your 'peak salary', rather than your actual current salary, the projected percentage of pensionable salary shown here may be incorrect and may appear to exceed this maximum. Please contact <a href="%(link2)">BP UK&nbsp;Pensions &amp;&nbsp;Benefits</a> if you have any questions.</p>
<h2>the lifetime allowance</h2>
<p>Your statement shows the value of your current final salary benefits and any AVCs and bonus waivers you have paid, as a percentage of the standard lifetime allowance. The lifetime allowance is set by the Government and can change from year to year. It is important that you keep track of your pension benefits from all sources (including employments prior to joining BP and any private arrangements you may have) in relation to the lifetime allowance. If you have any pension benefits from a previous employer or another provider, you will need to add these to the value of your BP Pension Scheme benefits to get a more accurate view of your position against the lifetime allowance.</p>
<p>If the value of your benefits exceeds the lifetime allowance (i.e. it is greater than 100%), you should contact <a href="%(link3)">BP&nbsp;UK&nbsp;Pensions &amp;&nbsp;Benefits</a>.</p>
<h2>Supplementary Pension Plan</h2>
<p>If the Company has invited you to join the Supplementary Pension Plan (SPP), any pension benefits (on retirement or death) in excess of the capped benefits payable from the BP Pension Scheme will be paid through the SPP. This will also include any BP final salary benefits you earned in a particular year in excess of the annual allowance. You may take your SPP benefits in lump sum form if you wish.</p>
<h2>spouse's or civil partner's pension</h2>
<p>Your spouse's or civil partner's pension will not be affected by any reduction in your own pension that resulted from exchanging part of your pension for cash or retiring early.</p>
<p>If your spouse or civil partner is more than 20 years younger than you, their pension will be reduced. In certain circumstances, the Trustee may exercise its discretion to grant one or more dependants' pensions in place of the spouse's or civil partner's pension. Where applicable, pensions are also payable to qualifying children.</p>
<h2>lump sum death in service benefit</h2>
<p>The lump sum death benefit payable from the BP Pension Scheme is allocated at the discretion of the Trustee. You can let the Trustee know who you would like to receive the money by completing an <i>expression of wishes </i>form on-line and keeping it regularly updated.</p>
<h2>tax-free cash</h2>
<p>You may be able to take some of your pension benefits as tax-free cash. We will tell you how much tax-free cash is available to you, when you come to retire.</p>
<h2>further information</h2>
<p>For more information on the calculation and payment of benefits, please refer to the explanatory booklet or contact <a href="%(link4)">BP UK&nbsp;Pensions &amp;&nbsp;Benefits</a>.</p>
<h2>State benefits</h2>
<p>In addition to your BP pension benefits, you may be eligible to receive a number of State benefits. These are determined by your National Insurance record and whether or not you satisfy the regulations governing each benefit. You can view your estimated State benefits by clicking <a href="%(link5)">here</a>.</p>
<h2>data protection</h2>
<p>Under the terms of the Data Protection Act 1998, the Company and the Trustee hold personal details about you for the purposes of administering your pension benefits. This information will be made available to third party organisations who are working for and on behalf of the Company or the Trustee for the purposes of pension administration.</p>]]></content>
    </element>
  </page>
</pages>
