<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>my benefit statement</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[https://www.hartlinkonline.co.uk/bp]]></target>
        </link>
        <link name="link1" internal="false" type="A">
          <target><![CDATA[https://www.hlcorporate.co.uk/bp]]></target>
        </link>
      </links>
      <content><![CDATA[<table id="member_id" class="datatable">
        <tr>
            <td class="member_name" colspan="2"><center><strong><span contenteditable="false">[[Name]]</span></strong></center></td>
	</tr>
	<tr>
            <td class="member_refno" style="text-align:left;width:50%;">Membership number: <strong><span contenteditable="false">[[Refno]]</span></strong></td>
            <td class="member_nino" style="text-align:right;width:50%;">NI number: <strong><span contenteditable="false">[[Nino]]</span></strong></td>
        </tr>
</table>
<p><span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[BenefitStatementType]] = 0|Checking...))</span></p>
<div style="display: none">
<p>This section shows a summary of your main scheme benefits including any benefits payable from the Supplementary Pension Plan and any additional voluntary contributions (AVCs) you have. Please read the explanatory notes page&nbsp;as this will help you to understand some of the assumptions and terms used.</p>
</div>
<p><span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[BenefitStatementType]] != 0|Checking...))</span></p>
<div style="display: none">
<p>This section shows a summary of your main scheme benefits including any benefits payable from the Supplementary Pension Plan. Please read the explanatory notes page&nbsp;as this will help you to understand some of the assumptions and terms used.</p>
</div>
<table class="datatable" id="date" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">your final salary benefits</th>
        </tr>
        <tr>
            <td class="label">Pension earned to <span contenteditable="false">[[BenefitStatementDate]]</span></td>
            <td class="value number"><span contenteditable="false">[[PensionToDate]]</span></td>
        </tr>
        <tr>
            <td class="label">Pension as a percentage of your <span contenteditable="false">[[CurrentSalaryOrPay]]</span></td>
            <td class="value number"><span contenteditable="false">[[PensionVsSalary]]</span></td>
        </tr>
    </tbody>
</table>
<table class="datatable" id="dis" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">final salary benefits payable on your death in service</th>
        </tr>
        <tr>
            <td class="label">Death in service lump sum</td>
            <td class="value number"><span contenteditable="false">[[DeathInServiceCash]]</span></td>
        </tr>
        <tr>
            <td class="label">Pension for your spouse or civil partner</td>
            <td class="value number"><span contenteditable="false">[[DeathInServicePension]]</span></td>
        </tr>
    </tbody>
</table>
<table class="datatable" id="pen65" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">your estimated benefits at age 65</th>
        </tr>
        <tr>
            <td class="label">Total pension</td>
            <td class="value number"><span contenteditable="false">[[NraReducedPension]]</span></td>
        </tr>
        <tr>
            <td class="label">Pension as a percentage of your <span contenteditable="false">[[FinalSalaryOrPay]]</span></td>
            <td class="value number"><span contenteditable="false">[[NraPensionvsSalary]]</span></td>
        </tr>
        <tr>
            <td class="label">Pension for your spouse or civil partner</td>
            <td class="value number"><span contenteditable="false">[[NraSpousesPension]]</span></td>
        </tr>
    </tbody>
</table>
<p><span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[BenefitStatementType]] = 0|Checking...))</span></p>
<div id="BsType0" style="display: none"><span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[DateJoinedScheme]] &lt; '01/12/2006'|Checking...))</span>
<div id="DateJoinedAvailable" style="display: none">
<p>As you were a member of the scheme on 30&nbsp;November 2006, you can take an unreduced pension at age 60.</p>
<table class="datatable" id="pen60" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">your estimated benefits at age 60</th>
        </tr>
        <tr>
            <td class="label">Total pension</td>
            <td class="value number"><span contenteditable="false">[[NpaReducedPension]]</span></td>
        </tr>
        <tr>
            <td class="label">Pension as a percentage of your current pensionable salary</td>
            <td class="value number"><span contenteditable="false">[[NpaPensionvsSalary]]</span></td>
        </tr>
        <tr>
            <td class="label">Pension for your spouse or civil partner</td>
            <td class="value number"><span contenteditable="false">[[NpaSpousesPension]]</span></td>
        </tr>
    </tbody>
</table>
</div>
<table class="datatable" id="lta" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">the lifetime allowance</th>
        </tr>
        <tr>
            <td class="label">Value of your current scheme benefits as a percentage of the lifetime allowance.</td>
            <td class="value number"><span contenteditable="false">[[PensionVsLta]]</span></td>
        </tr>
        <tr>
            <td class="label">Value of your current AVC/Bonus Waiver&nbsp;fund as a percentage of the lifetime allowance.</td>
            <td class="value number"><span contenteditable="false">[[AvcVsLta]]</span></td>
        </tr>
        <tr>
            <td class="label">Total value of your current pension benefits as a percentage of the lifetime allowance.</td>
            <td class="value number"><span contenteditable="false">[[TotalVsLta]]</span></td>
        </tr>
    </tbody>
</table>
<span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[HasCapitaAvcs]] = "Yes"|Checking...))</span>
<div id="AVCHartlink" style="display: none">
<h2>Capita Hartshead &ndash; Hartlink Online</h2>
<p>This section allows you to view details of any additional voluntary contributions (AVCs) that you may have invested in unit-linked funds.</p>
<p>The BP Pension Fund Trustee uses Capita Hartshead to administer its unit-linked AVC funds and below is a link to their website &lsquo;Hartlink Online&rsquo;. The website allows you to:</p>
<ul>
    <li>View the most recently available unit holdings and fund valuations.</li>
    <li>Request a switch of funds between unit-linked investments directly with Capita without the need to go via the BP UK Pensions &amp; Benefits team.</li>
    <li>View an estimate of your future pension as shown on your annual pension statement. These figures are based on unit holdings and valuations as at the previous 31 December.</li>
</ul>
<p>Please note that the Capita website does not include information on any with-profits funds you may have. If you require details of your with-profits funds, or would like to request a switch from your with-profits investments, you should continue to contact the BP UK Pensions &amp; Benefits team in the usual way. Similarly, if you would like to start, stop or vary the amount of your AVCs, please contact the BP UK Pensions &amp; Benefits team.</p>
<p>Visit Hartlink Online at: <a target="_new" href="%(link0)">https://www.hartlinkonline.co.uk/bp</a></p>
<p>When you first use the site you will need to register on-line to obtain your unique username, password and PIN. You will need your BP membership reference number which can be found in the &lsquo;my details/This is Me&rsquo; section on PensionLine.</p>
<p>Please contact Capita on 0131 240 4839 if you have any issues with using this site.</p>
</div>
<span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[AvcInformationAvailable]] = true|Checking...))</span>
<div id="AVCHargreves" style="display: none">
<h2>Hargreaves Lansdown Annuity Search Engine</h2>
<p>If you would like an on-line quotation of how much pension your AVC fund could purchase on the open market if you were to retire today, you can use Hargreaves Lansdown&rsquo;s annuity search engine via the link below.</p>
<p>Please ensure that you read the notes on the home page before proceeding with an annuity quotation.</p>
<p><a target="_new" href="%(link1)">https://www.hlcorporate.co.uk/bp</a></p>
</div>
<span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[AvcInformationAvailable]] = true|Checking...))</span>
<div id="AVCTitle" style="display: none">
<h2>AVCs</h2>
<div contenteditable="false" style="background-color: #eeeeee">((Table(AvcInformation):Waiting...))</div>
</div>
<span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[TvinInformationAvailable]] = true|Checking...))</span>
<div id="TwinTitle" style="display: none">
<h2>transferred in AVCs</h2>
<div contenteditable="false" style="background-color: #eeeeee">((Table(TvinInformation):Waiting...))</div>
</div>
<span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[AverInformationAvailable]] = true|Checking...))</span>
<div id="BonusTitle" style="display: none">
<h2>Bonus waiver</h2>
<div contenteditable="false" style="background-color: #eeeeee">((Table(AverInformation):Waiting...))</div>
</div>
</div>
<p><span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[BenefitStatementType]] = 1|Checking...))</span></p>
<div id="BsType1" style="display: none">
<table class="datatable" id="pen60" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">your estimated benefits at age 60</th>
        </tr>
        <tr>
            <td class="label">Total pension</td>
            <td class="value number"><span contenteditable="false">[[NpaReducedPension]]</span></td>
        </tr>
        <tr>
            <td class="label">Pension as a percentage of your final pensionable pay</td>
            <td class="value number"><span contenteditable="false">[[NpaPensionvsSalary]]</span></td>
        </tr>
        <tr>
            <td class="label">Pension for your spouse or civil partner</td>
            <td class="value number"><span contenteditable="false">[[NpaSpousesPension]]</span></td>
        </tr>
    </tbody>
</table>
<table class="datatable" id="lta" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">the lifetime allowance</th>
        </tr>
        <tr>
            <td class="label">Value of your current fund benefits as a percentage of the lifetime allowance.</td>
            <td class="value number"><span contenteditable="false">[[PensionVsLta]]</span></td>
        </tr>
    </tbody>
</table>
</div>
<p><span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[BenefitStatementType]] = 2|Checking...))</span></p>
<div id="BsType2" style="display: none">
<table class="datatable" id="pen_pre_spa" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">your estimated benefits at age 60, payable&nbsp;until&nbsp;State pension age</th>
        </tr>
        <tr>
            <td class="label">Total pension</td>
            <td class="value number"><span contenteditable="false">[[GrossNpaPension]]</span></td>
        </tr>
        <tr>
            <td class="label">Pension as a percentage of your final pensionable pay</td>
            <td class="value number"><span contenteditable="false">[[GrossNpaPensionVsSalary]]</span></td>
        </tr>
        <tr>
            <td class="label">Pension for your spouse or civil partner</td>
            <td class="value number"><span contenteditable="false">[[GrossNpaSpousesPension]]</span></td>
        </tr>
    </tbody>
</table>
<table class="datatable" id="pen_post_spa" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">your estimated benefits at age 60, payable from State pension age</th>
        </tr>
        <tr>
            <td class="label">Total pension</td>
            <td class="value number"><span contenteditable="false">[[NpaReducedPension]]</span></td>
        </tr>
        <tr>
            <td class="label">Pension as a percentage of your final pensionable pay</td>
            <td class="value number"><span contenteditable="false">[[NpaPensionvsSalary]]</span></td>
        </tr>
        <tr>
            <td class="label">Pension for your spouse or civil partner</td>
            <td class="value number"><span contenteditable="false">[[NpaSpousesPension]]</span></td>
        </tr>
    </tbody>
</table>
<table class="datatable" id="lta" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">the lifetime allowance</th>
        </tr>
        <tr>
            <td class="label">Value of your current fund benefits as a percentage of the lifetime allowance.</td>
            <td class="value number"><span contenteditable="false">[[PensionVsLta]]</span></td>
        </tr>
    </tbody>
</table>
</div>
<p><span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[BenefitStatementType]] = 3|Checking...))</span></p>
<div id="BsType3" style="display: none">
<table class="datatable" id="lta" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">the lifetime allowance</th>
        </tr>
        <tr>
            <td class="label">Value of your current scheme benefits as a percentage of the lifetime allowance.</td>
            <td class="value number"><span contenteditable="false">[[PensionVsLta]]</span></td>
        </tr>
    </tbody>
</table>
</div>
<p><span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[BenefitStatementType]] = 4|Checking...))</span></p>
<div id="BsType4" style="display: none">
<table class="datatable" id="lta" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <th class="label" colspan="2">the lifetime allowance</th>
        </tr>
        <tr>
            <td class="label">Value of your current scheme benefits as a percentage of the lifetime allowance.</td>
            <td class="value number"><span contenteditable="false">[[PensionVsLta]]</span></td>
        </tr>
    </tbody>
</table>
</div>
<p>Please read the explanatory notes page.</p>]]></content>
    </element>
  </page>
</pages>
