<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>benefit statement testing page</h1>]]></content>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<p>Bgroup:[[Bgroup]]</p>
<p>Refno:[[Refno]]</p>
<p>Company:[[Company]]</p>
<p>BenefitStatementType:[[BenefitStatementType]]</p>
<p>GrossNpaPension:[[GrossNpaPension]]</p>
<p>GrossNpaPensionVsSalary:[[GrossNpaPensionVsSalary]]</p>
<p>GrossNpaSpousesPension:[[GrossNpaSpousesPension]]</p>]]></content>
    </element>
  </page>
</pages>
