<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>benefit statement explanatory notes</h1>]]></content>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<p><span contenteditable="false">[[ASD01R]]</span><span contenteditable="false">[[ASD02R]]</span><span contenteditable="false">[[ASD03R]]</span><span contenteditable="false">[[ASD04R]]</span><span contenteditable="false">[[ASD05R]]</span><span contenteditable="false">[[ASD06R]]</span><span contenteditable="false">[[ASD07R]]</span><span contenteditable="false">[[ASD08R]]</span><span contenteditable="false">[[ASD09R]]</span><span contenteditable="false">[[ASD10R]]</span><span contenteditable="false">[[ASD11R]]</span><span contenteditable="false">[[ASD12R]]</span><span contenteditable="false">[[ASD13R]]</span><span contenteditable="false">[[ASD14R]]</span><span contenteditable="false">[[ASD15R]]</span> <span contenteditable="false">[[ASD16R]]</span><span contenteditable="false">[[ASD17R]]</span></p>
<p><span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[Company]] = &quot;Subs&quot;|Loading...))</span></p>
<div style="display: none"><!--
<div style="BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #ffc">
<h2>Subs Testing Panel</h2>
<p>The following is put in place to test the subs ben statements</p>
<p>Company: <span contenteditable="false">[[Company]]</span></p>
<p>Scheme ID: <span contenteditable="false">[[SchemeId]]</span></p><span contenteditable="false" style="BACKGROUND-COLOR: #eeeeee">((Conditional:[[SchemeId]] = &quot;BPF-0100&quot;|Loading...))</span>
<div>
<h3>BRITOIL MEMBER</h3>
</div><span contenteditable="false" style="BACKGROUND-COLOR: #eeeeee">((Conditional:[[SchemeId]] = &quot;BPF-0120&quot;|Loading...))</span>
<div>
<h3>ARCO MEMBER</h3>
</div><span contenteditable="false" style="BACKGROUND-COLOR: #eeeeee">((Conditional:[[SchemeId]] = &quot;BPF-0275&quot;|Loading...))</span>
<div>
<h3>AMOCO MEMBER</h3>
</div><span contenteditable="false" style="BACKGROUND-COLOR: #eeeeee">((Conditional:[[SchemeId]] = &quot;BPF-0305&quot;|Loading...))</span>
<div>
<h3>BP GAS MEMBER</h3>
</div><span contenteditable="false" style="BACKGROUND-COLOR: #eeeeee">((Conditional:[[SchemeId]] = &quot;BPF-0320&quot;|Loading...))</span>
<div>
<h3>POLYGON MEMBER</h3>
</div>
</div>--><span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[SchemeId]] = &quot;BPF-0305&quot;|Loading...))</span>
<div style="display: none"><!--BP Gas statement--><!--#ASD20R-->
<h2>The accuracy of this statement</h2>
<p>All the figures shown on your benefit statement are for&nbsp;illustration only. Although every effort has been made to ensure accuracy of the data, this statement does not confer any rights to benefits. Your benefits depend on the terms of the BP Pension Fund Trust Deed, the Rules of the Combined Oil Distributors Pension Scheme (BP Gas) Section and any changes in the law.</p>
<!--#ASD21R-->
<h2>Your final pensionable salary</h2>
<p>This is the yearly average of your last three years' salary. If you have less than three years' pensionable service, this will be the average of your salary to date.</p>
<!--#ASD22R-->
<h2>Additional voluntary contributions (AVCs)</h2>
<p>This forecast does not include contributions or benefits held in any of the BP Pension Fund's AVC schemes or free-standing AVCs. If you have made AVCs, you will receive a separate statement.</p>
<!--#ASD23R-->
<h2>Your benefits at normal retirement date</h2>
<p>For your estimated benefits at normal retirement date, we have assumed that you will continue in the Combined Oil Distributors Pension Scheme (BP Gas) Section until your normal retirement date, and that your pensionable salary and the rate at which your pension builds up stay the same as they are now.</p>
<!--#ASD24R-->
<h2>If you leave the Company</h2>
<p>If you leave the Company with more than two years' service, you can leave your pension in the Scheme until your normal retirement date. Your benefits will increase in line with the Retail Prices Index, up to 5% a year.</p>
<!--#ASD25R-->
<h2>Lifetime allowance</h2>
<p>Your statement shows the value of your current final salary benefits as a percentage of the standard lifetime allowance for the 2011-2012 tax year. The lifetime allowance is set by the Government and can change from year to year.</p>
<p>It is important that you keep track of your pension benefits from all sources (including your employment before you joined BP and any private arrangements you may have) in relation to the lifetime allowance. If you have any AVCs, bonus waivers or pension benefits from a previous employer or another provider, you will need to add these to the value of your Combined Oil Distributors Pension Scheme (BP Gas) Section benefits to get a more accurate view of your position against the lifetime allowance.</p>
<!--#ASD26R-->
<h2>Husband's, wife's or civil partner's pension</h2>
<p>Your husband's, wife's or civil partner's pension will not be affected by any reduction in your own pension that comes from exchanging part of your pension for cash. However, if your pension was reduced because you retired early, your husband's, wife's or civil partner's pension will also be reduced.</p>
<p>If your husband, wife or civil partner is more than 10 years younger than you, their pension will be reduced. In certain circumstances, the Trustee may decide to grant one or more dependants' pensions in place of the husband's, wife's or civil partner's pension. Where applicable, we will also pay pensions to qualifying children.</p>
<!--#ASD27R-->
<h2>Lump-sum death-in-service benefit</h2>
<p>The Trustee will decide who to pay the lump-sum death benefit due from the Combined Oil Distributors Pension Scheme (BP Gas) Section. You can let the Trustee know who you would like to receive the money by filling in an expression of wishes form and keeping it regularly updated.</p>
<p>As well as the death-in-service lump sum, your contributions may be refunded.&nbsp;<!--#ASD28R--></p>
<p>Should you die in service, the lump sum payable will be the greater of:</p>
<ol>
    <li>4&nbsp;times your pensionable salary at date of death and;</li>
    <li>4 times your gross earnings during your current employment in the tax year immediately prior to your death<br />
    &nbsp;</li>
</ol>
<h2>Tax-free cash</h2>
<p>You may be able to take some of your pension benefits as tax-free cash. We will tell you when you retire how much tax-free cash you are entitled to.</p>
<!--#ASD29R-->
<h2>More information</h2>
<p>For more information on how we work out and pay benefits, please see the explanatory booklet or contact the BP Pensions &amp;&nbsp;Benefits Team.</p>
<!--#ASD30R-->
<h2>Data protection</h2>
<p>Under the terms of the Data Protection Act 1998, the Company and the Trustee hold personal details about you so they can manage the Scheme and pay your pension benefits under it. We will pass on this information to other organisations who are working for and on behalf of the Company or the Trustee, for the purposes of pension administration.</p>
</div>
<span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[SchemeId]] != &quot;BPF-0305&quot;|Loading...))</span>
<div style="display: none"><!--#ASD41R-->
<h2>The accuracy of this forecast</h2>
<p>All the figures shown on your forecast are for illustration only. Although we have made every effort to make sure that the information in this forecast is correct, it does not give you any rights to benefits. Your benefits are subject to the provisions of the BP Pension Fund trust deed and the [Plan] rules.</p>
<!--#ASD42R-->
<h2>Additional Voluntary Contributions (AVCs)</h2>
<p>This statement does not include contributions or benefits held in any of the Fund's AVC schemes or free-standing AVCs. If you have made AVCs, you will receive a separate statement.</p>
<!--#ASD43R-->
<h2>Pensionable service credit</h2>
<p>The additional pensionable service credit includes any transferred-in service from previous pension arrangements.</p>
<span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[SchemeId]] = &quot;BPF-0100&quot;|Loading...))</span>
<div style="display: none"><!--#ASD44R //0100-->
<h2>Retirement age</h2>
<p>From 1 December 2006, the rules of the Plan now provide for a normal retirement age of 65. You can still choose to take your benefit at age 60 rather than age 65. If you choose to remain in employment after age 60, pensionable service will continue to build up subject to a maximum two-thirds of your final pensionable salary.</p>
</div>
<!--#ASD45R-->
<h2>Your pension benefits</h2>
<p>Your estimated pension at normal retirement date assumes that your final pensionable salary remains unchanged until that date.</p>
<p>Pension benefits earned for service before 6 April 1997 include a guaranteed minimum pension (GMP). This may restrict the maximum tax-free cash sum available if the remaining pension would be less than your GMP.</p>
<span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[SchemeId]] = &quot;BPF-0100&quot;|Loading...))</span>
<div style="display: none"><!--#ASD48R //0100-->
<h2>Final Pensionable Salary</h2>
<p>This is the greater of the basic salary which you receive during the last 12 months of service, or, the average of the highest basic salaries over 3 consecutive years during the last 5 years of service.</p>
</div>
<span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[SchemeId]] = &quot;BPF-0120&quot;|Loading...))</span>
<div style="display: none"><!--#ASD47R //0120-->
<h2>Final Pensionable Salary</h2>
<p>This is the greater of the highest 12 consecutive months' basic pay in the last 5 years of service, or, the average of the highest basic salaries over 3 consecutive years during the last 10 years.</p>
</div>
<span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[SchemeId]] = &quot;BPF-0275&quot;|Loading...))</span>
<div style="display: none"><!--#ASD46R //0275-->
<h2>Final Pensionable Salary</h2>
<p>This is the best 12 consecutive months of basic salary in the 5 years before you retire or leave, if earlier.</p>
</div>
<span contenteditable="false" style="background-color: #eeeeee">((Conditional:[[SchemeId]] = &quot;BPF-0320&quot;|Loading...))</span>
<div style="display: none"><!--#ASD49R //0320-->
<h2>Final Pensionable Salary</h2>
<p>This is the average of the highest 3 consecutive gross earnings in the last 13 years.</p>
</div>
<!--#ASD50R-->
<h2>The lifetime allowance</h2>
<p>The lifetime allowance is the maximum value of pension benefits that you can build up tax efficiently during your lifetime from all registered pension schemes. This includes your past, present and future benefits from occupational and private pension arrangements in the UK. The lifetime allowance is likely to increase each year as advised by HM Revenue &amp; Customs.</p>
<p>Your statement shows the value of your estimated pension as a percentage of the current standard lifetime allowance. If you have any AVCs, or pension benefits from a previous employer or another provider, you will need to add these to the value of your [Plan] benefits to get a more accurate view of your position against the lifetime allowance.</p>
<!--#ASD51R-->
<h2>Death in service benefits</h2>
<p>The lump sum death in service benefit is allocated at the discretion of the Trustee. You can let the Trustee know who you would like to receive the money by filling in an expression of wishes form and keeping it regularly updated.</p>
<p>If your husband, wife or civil partner is more than 10 years younger than you, their pension will be reduced.</p>
<!--#ASD52R-->
<h2>Data protection</h2>
<p>The Data Protection Act 1998 gives us certain responsibilities for processing information about you. The Trustee and the Company hold information about you for the purposes of managing the [Plan] and paying benefits under it. This information will be made available to third party organisations who are working for and on behalf of the Company or the Trustee for the purposes of administering the [Plan]. However, the Trustee and the Company will only do this if they are satisfied that arrangements are in place to keep the information confidential.</p>
</div>
</div>
<p>&nbsp;</p>]]></content>
    </element>
  </page>
</pages>
