<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>who will receive benefits if I die?</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/BC_Expression_of_Wishes__01_07___2_.pdf]]></target>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bc/Resources/TDxR.html]]></target>
          <uuid>0ef65e05-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>If you die after retirement, a pension will be paid to your&nbsp;spouse or civil partner. If you
have an eligible [[Dictionary(BC):child/children]], they&nbsp;may also receive an allowance. If you
do not have a spouse or civil partner, the Trustee may award a dependant's pension.</p>
<h2>the five-year guarantee</h2>
<p>If you are a member of the Foseco or Midland Oil Refinery Sections and you die within the five
years after your pension starts, a lump sum equal to your outstanding payments for that five-year
period will be paid (known as the five-year guarantee).</p>
<p>If you are a member of any other Section and&nbsp;you die within the five years after your
pension starts, the five-year guarantee will only be paid if you&nbsp;have no spouse, civil partner
or dependant.</p>
<h2>nominating your beneficiaries</h2>
<p>It is important that you nominate who you want to receive any lump sum death benefit on an 
<em>expression of wishes form</em>, as the Trustee will refer to this when deciding who should
receive this benefit.</p>
<p>This nomination is completely separate from any other nominations you may have made, for
example, next of kin or beneficiaries under your will.</p>
<p>You can download an 
<em>expression of wishes</em> form by clicking 
<a title="BC Expression of Wishes _01 07_ _2_" target="_self"
href="%(link0)">here</a>.</p>
<h2>further information</h2>
<p>You can find out more about financial protection for your family in the 
<a href="%(link1)">Trust Deed and Rules</a>.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/yellow_dandelion.jpg]]></target>
          <uuid>8a2e76f1-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="yellow dandelion" width="178" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<font size="5">financial protection for your family is an important part of the Fund's
benefits</font>]]></content>
    </element>
  </page>
</pages>
