<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>what pension benefits do I get?</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bc/Resources/TDxR.html]]></target>
          <uuid>0ef65e05-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="false" type="A">
          <target><![CDATA[http://www.thepensionservice.gov.uk/]]></target>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/Newsletter/Pensioner_newsletter.html]]></target>
          <uuid>75638a27-1aaf-11de-9548-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bc/I_am_a_pensioner/Benefits_if_I_die.html]]></target>
          <uuid>0e0324ab-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The&nbsp;Fund provides you with a final salary pension which is linked to your accrual
rate&nbsp;at the date you retired (the rate at which your pension built up), your
final&nbsp;pensionable pay and your length of service, known as pensionable employment.</p>
<p>When you were an employee member of the Fund, you may have taken the opportunity to increase
your pension by paying additional voluntary contributions (AVCs). Any such additional contributions
will be reflected in your pension now being paid, unless you were able to take them as tax-free
cash.</p>
<p>Your&nbsp;Burmah Castrol&nbsp;pension is payable monthly in advance, with income tax deducted in
the same way as from salary. You can find upcoming payment dates in the&nbsp;winter edition of 
<a href="%(link0)">Pensioners' Newsletter</a>.</p>
<h2>what other benefits does the&nbsp;Fund provide?</h2>
<p>The Burmah Castrol&nbsp;Pension&nbsp;Fund provides other benefits, including financial
protection for your family - these are covered in the 
<a href="%(link1)">who will receive benefits
if I die?</a> section.</p>
<h2>pension increases</h2>
<p>Your pension is guaranteed to increase annually in line with inflation, up to a maximum of 5% a
year. Inflation is measured by the rise in the Retail Prices Index in March (January for members of
the Foseco, Fosroc and Midland Oil Refinery&nbsp;Sections), and any increases due are paid from the
following June (April for members of the Foseco, Fosroc and Midland Oil Refinery&nbsp;Sections). If
you were a member of the Fund before April 1997, your pension will include a <span class="fakelink">[[Dictionary(BC):Guaranteed Minimum Pension (GMP)]]</span> increase.
Responsibility for this increase is shared between the Fund and the State.</p>
<p>BP UK&nbsp;Pensions &amp; Benefits will write to you in&nbsp;May (March for members of the
Foseco, Fosroc and Midland Oil Refinery&nbsp;Sections), each year to tell you how much the increase
will be and give you a forecast of your payments for the rest of the tax year. If your net monthly
pension payment changes by £10 or more, the Team will send you a new forecast.</p>
<p>Spouses' and civil partners' pensions and children's allowances increase in the same way.</p>
<h2>further information</h2>
<div>
<ul>
<li>Find out more about pension increases&nbsp;in the 
<a href="%(link2)">Trust Deed and Rules</a>.</li>
<li>If you are not already receiving your basic State pension, you can get a State retirement
pension forecast by completing Form BR19 (available by calling 0845 3000 168) or online at 
<a href="%(link3)">www.thepensionservice.gov.uk</a>.</li>
</ul>
</div>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/yellow_dandelion.jpg]]></target>
          <uuid>8a2e76f1-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="yellow dandelion" width="178" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>the main benefit from the Fund is a pension for life</p>]]></content>
    </element>
  </page>
</pages>
