<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>pensioner liaison service</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/I_am_a_pensioner/Society.html]]></target>
          <uuid>0f37d404-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The pensioner liaison service provides an ongoing link between pensioners and the Company. The service offers home visits and assistance to pensioners on welfare and other matters.</p>
<p>The service recognises the fact that former employees continue to have an interest in the Company and appreciate having the opportunity to keep in touch.</p>
<h2>who are the Pensioner Liaison Officers?</h2>
<p>Pensioner Liaison Officers (PLOs) are BP Pension Fund pensioners who have returned to work for BP Pensions as home-based employees, working one or two days a week visiting pensioners. There are&nbsp;about 50 PLOs covering the UK.</p>
<p>PLOs aim to form friendly relationships and develop a sympathetic understanding of the needs of the pensioners they visit. They have local and general knowledge on welfare, state benefits and taxation, and assist pensioners to help themselves through providing contact details for organisations and services. All personal information is treated in the strictest confidence.</p>
<h2>who is eligible for the service?&nbsp;</h2>
<p>All BP Pension Fund pensioners are eligible.</p>
<p>If you are logged on, you can find the name, address and telephone number of the PLO in your area,&nbsp;in 'this is me'. You can also request this information from <a href="%(link0)">BP&nbsp;UK&nbsp;Pensions &amp;&nbsp;Benefits</a>.</p>
<p>To be eligible for a home visit:</p>
<ul>
    <li>you must be age 65 or over (unless you are receiving an incapacity pension or your spouse has recently died, in which case visits could start sooner).</li>
    <li>you will normally need to have completed a minimum of&nbsp;ten years' service with the Company and been employed for longer than the interval between the date you left the Company and the date you started taking your pension. This interval must have been no longer than&nbsp;ten years.</li>
    <li>you must not have left employment through resignation.</li>
    <li>if you are&nbsp;a spouse or&nbsp;civil partner&nbsp;of a pensioner who dies, your spouse or civil partner&nbsp;must have been eligible for a regular visit.</li>
    <li>there must be a PLO operating in your area.</li>
    <li>you must be resident in the UK.</li>
</ul>
<p>The PLO may be someone you already know, perhaps an ex-colleague or a member of the <a href="%(link1)">BP Society</a>. However, in case of doubt, all PLOs carry an official identity card. <br />
<br />
If you are not eligible for a visit, you can still contact your PLO for help and assistance. <br />
&nbsp;</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/yellow_dandelion.jpg]]></target>
          <uuid>8a2e76f1-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="yellow dandelion" width="178" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>do you know who your PLO is?</p>]]></content>
    </element>
  </page>
</pages>
