<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>further information</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/BP_TVin_Request_Letter_18.09.07.doc]]></target>
          <uuid>183cffe5-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/BPxSubs_TVIn_-_Who_does_what__03.07_.pdf]]></target>
          <uuid>19b8ca81-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/BPxSubs_Transfer_in_checklist__03.07_.pdf]]></target>
          <uuid>18e10819-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/Resources/TDxR.html]]></target>
          <uuid>104d89ac-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/BPxSubs_TV-In_Procedure_Flowchart__03.07_.pdf]]></target>
          <uuid>198f708d-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>The following links contain more information on the transfer process:</p>
<ul>
<li>
<a href="%(link0)">BP Pension Fund Trust Deed&nbsp;and
the&nbsp;Rules of the BP Pension Scheme</a>
</li>
<li>
<a title="BP&amp;Subs TV-In Procedure Flowchart _03.07_" target="_self"
href="%(link1)">Procedure
flowchart for transfers in</a>
</li>
<li>
<a title="BP&amp;Subs TVIn - Who does what _03.07_" target="_self"
href="%(link2)">Timetable
of events for transferring in your benefits</a>
</li>
<li>
<a title="BP&amp;Subs Transfer in checklist _03.07_" target="_self"
href="%(link3)">Transfer
in checklist</a>
</li>
</ul>
<p>If you are logged in and would like&nbsp;to proceed with a transfer value request you can
generate a pre-populated transfer request letter in the 'I want to...' section. If you are unable
to log in, you can download a&nbsp;non-personalised version of this letter by clicking 
<a title="BP_TVin_Request_Letter_18.09.07" target="_self"
href="%(link4)">here</a>.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/leafy_green_leafs.jpg]]></target>
          <uuid>876bad11-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="90" alt="leafy green leafs" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<div class="ocms_de_norm" id="ocms_65408">
<p>
<font size="5">do you have benefits you would like to transfer into the Fund?</font>
</p>
</div>
<p>
<!-- EDIT BLOCK END (ENABLED) -->
</p>]]></content>
    </element>
  </page>
</pages>
