<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>transferring in previous pension benefits</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links/>
      <content><![CDATA[<p>If you are a current BP employee and have benefits in another pension arrangement, it may be
possible to transfer them into the BP Pension Scheme.</p>
<p>Use the&nbsp;menu on the&nbsp;left&nbsp;to find out more about transfers in and what you need to
do if you are interested.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/leafy_green_leafs.jpg]]></target>
          <uuid>876bad11-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="90" alt="leafy green leafs" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>
<font size="5">do you have benefits you would like to transfer into the Fund?</font>
</p>]]></content>
    </element>
  </page>
</pages>
