<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>transferring benefits into the BP Pension Fund</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links/>
      <content><![CDATA[<p>At any time while you are an employee and a member of the BP Pension Scheme, you may be able to
transfer benefits you hold under other arrangements into the BP Pension Fund.</p>
<p>In brief, the process is as follows:</p>
<ul>
<li>The administrators of your previous pension arrangement will calculate and tell you the value
of your benefit.</li>
<li>BP UK Pensions &amp; Benefits&nbsp;will then let you know whether you can transfer in that
benefit.</li>
<li>If you can transfer in your benefit, the Team will notify you of the value of the benefit you
can buy in the BP Pension&nbsp;Fund (which is normally credited as additional Pensionable
Service).</li>
</ul>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/leafy_green_leafs.jpg]]></target>
          <uuid>876bad11-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="90" alt="leafy green leafs" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>
<font size="5">do you have benefits you would like to transfer into the Fund?</font>
</p>]]></content>
    </element>
  </page>
</pages>
