<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>what you need to do</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link2" internal="false" type="A">
          <target><![CDATA[http://www.unbiased.co.uk/]]></target>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Forms/BP_TVin_Request_Letter_18.09.07.doc]]></target>
          <uuid>183cffe5-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<h2>contact your previous pension arrangement</h2>
<p>You will need to complete a transfer value request letter and forward it to the administrators
of the pension arrangement from which you wish to transfer benefits. The letter also contains the
following attachments, which you must also send to the administrators of your previous
arrangement:</p>
<ul>
<li>Member information form &ndash; you must complete your personal details</li>
<li>Scheme registration letter</li>
<li>Contracting out certificate</li>
</ul>
<p>The transferring pension arrangement will then provide you with the details needed to calculate
a transfer into the BP Pension Scheme.</p>
<p>If you are logged in, you can produce&nbsp;a personalised version of the transfer value request
letter by going to the 'I want to...' section.</p>
<p>If you cannot currently login, click 
<a title="BP_TVin_Request_Letter_18.09.07" target="_self"
href="%(link0)">here</a> for
a non-personalised draft&nbsp;of the letter&nbsp;of the transfer value request letter.</p>
<h2>contact the BP Pensions Administration Team</h2>
<p>When you have received the required information from your previous pension arrangement, forward
it to the 
<a href="%(link1)">BP Pensions Administration Team</a>.</p>
<h2>what the BP Pensions Administration Team will do</h2>
<p>The BP Pensions Administration Team will let you know:</p>
<ul>
<li>whether or not you can transfer in that benefit;</li>
<li>if you can, the value of benefit you can buy in the BP Pension Scheme. This value will be
quoted to you in years and days and will entitle you to additional pensionable service in the
non-contributory 1/60th option in the BP Pension Scheme.</li>
</ul>
<p>There is a statutory obligation on the transferring arrangement to provide you with a quotation
of the transfer value within three months (or six months in certain circumstances) of receiving
your request, and once in any twelve-month period.</p>
<p>If you have difficulty obtaining all the relevant information from the transferring pension
arrangement, please let the BP Pensions Administration Team know.</p>
<p>The BP Pensions Administration Team is prepared to help you with the information-gathering
process by sending one chaser letter to the transferring arrangement, on your behalf, if this
proves necessary.</p>
<p>Please note that it is not a statutory requirement for the BP Pension Fund Trustee to accept a
transfer value. However, if the transfer can be accepted, there is a statutory obligation on the BP
Pension Fund Trustee to provide a quotation of the benefits that the transfer value would buy,
within two months of you requesting it, and once in any twelve-month period.</p>
<h2>decide whether or not you want to transfer in</h2>
<p>You may wish to take specialist financial advice, to help you with your decision.</p>
<p>IFA Promotion Limited can suggest independent financial advisers in your area if you do not
already use one. They can be contacted on 
<strong>0800 085 3250</strong> or at 
<a href="%(link2)">www.unbiased.co.uk</a>.</p>
<h2>additional voluntary contributions</h2>
<p>Please note that you&nbsp;will usually need to&nbsp;transfer out any additional voluntary
contribution (AVC) fund that you have with your previous&nbsp;pension scheme&nbsp;at the same time
as you transfer out your main scheme benefits.</p>
<p>The transfer value of your AVC fund will be used to set up an AVC plan alongside your BP Pension
Scheme pension and will be used to&nbsp;provide additional benefits when you retire.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/leafy_green_leafs.jpg]]></target>
          <uuid>876bad11-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="90" alt="leafy green leafs" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>
<font size="5">do you have benefits you would like to transfer into the Fund?</font>
</p>]]></content>
    </element>
  </page>
</pages>
