<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>overview</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links/>
      <content><![CDATA[<p>When you change job, you can normally move the pension benefits from your previous employer’s
pension scheme to another pension scheme.</p>
<h2>your options</h2>
<p>You normally have the following options when leaving employment:</p>
<ul>
<li>leave your pension benefits in your previous employer's scheme (known as a 'deferred'
pension);</li>
<li>transfer them to your new employer's scheme; or</li>
<li>transfer them to a private individual plan, such as a personal pension.</li>
</ul>
<h2>the transfer value</h2>
<p>If you choose to transfer your pension benefits, the trustees of your previous pension scheme
will work out a 'transfer value' for your benefits. The transfer value is the amount of money you
can transfer from your previous scheme. It represents the current value of the benefits which your
previous pension scheme would provide you when you retire.</p>
<p>Transfer values from 'defined contribution' (or 'money purchase') schemes are calculated
differently to those from 'defined benefit' (or 'final salary') schemes.</p>
<h2>using your transfer value to buy pension benefits</h2>
<p>You can use your transfer value to 'buy' benefits in your new pension scheme. The new benefits
might be extra years of service in your new scheme or a cash fund equal to the amount of the
transfer value.</p>
<p>Please remember that the benefits that your transfer value will buy will be different from those
in your old pension scheme. For example, where you are offered a number of years of service in your
new employer's scheme, this may be very different from the number of years you have in your old
pension scheme. It will usually be lower, mainly because allowance will be made for future
increases in your salary (which will increase the amount of your pension).</p>
<h2>making your decision</h2>
<p>There is no right or wrong answer as to whether or not to transfer pension benefits. A transfer
might result in a better pension or allow you to consolidate benefits from various sources.</p>
<p>You can ask for a transfer at any time up to one year before your normal retirement age. The
Government requires trustees to provide you with a guaranteed statement of your transfer value
within three months of a request. For defined benefit&nbsp;schemes, they&nbsp;must then hold that
amount for three months in order to allow you time to make up your mind. In respect of defined
contribution plans, the trustees will provide you with an approximate value, however this value is
not guaranteed as it may vary in line with market conditions.&nbsp;Before you agree to transfer,
you may wish to take independent financial advice.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/leafy_green_leafs.jpg]]></target>
          <uuid>876bad11-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="90" alt="leafy green leafs" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>
<font size="5">do you have benefits you would like to transfer into the Fund?</font>
</p>]]></content>
    </element>
  </page>
</pages>
