/******************************************************************************** 
 * 
 */ 
#content {
	width:780px;
}

#container {
	width:990px;
}

#ExpressionOfWish {
	width:760px;
}

#homepage_template #lhs {
	width: 380px;
}

#homepage_template #rhs {
	width: 380px;
	margin-left: 0px;
}
#homepage_template #first_story .story,
#homepage_template #second_story .story {
	padding-right:5px;
}

#homepage_template #third_story .story,
#homepage_template #fourth_story .story {
	padding-right:5px;
}