/********************************************************************************
 *
 */

body, h1, h2, h3, h4, h5, p, a, img, form, div, span, ol, ul, li, table, td, th, tr, blockquote, select {
	padding:0px;
	margin:0px;
	border-collapse:collapse;
	FONT-SIZE: 9pt;
	font-weight: normal;
	FONT-STYLE: normal;
}

BODY {
	margin-top:10px;
	margin-left:10px;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana, Helvetica, sans-serif;
	TEXT-ALIGN: left;
	color:#666;
}

IMG {
	FONT-WEIGHT: normal;
	COLOR: #666;
	FONT-FAMILY: Verdana, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
}

A {
	FONT-WEIGHT: normal;
	COLOR: #090;
	FONT-FAMILY: Verdana, Helvetica, sans-serif;
	TEXT-DECORATION: none;
}

A:hover {
	TEXT-DECORATION: underline;
}
A:active {
	COLOR: #666;
	TEXT-DECORATION: none;
}

ul {
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:2em;
	margin:0px;
}

li {
	margin-left:20px;
}

input, textarea, select {
	border-top:solid #999 1px;
	border-left:solid #999 1px;
	border-bottom:solid #ccc 1px;
	border-right:solid #ccc 1px;
	COLOR: #000;
	FONT-SIZE: 9pt;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Helvetica, sans-serif;
	padding-left:2px;
	padding-right:2px;
}

input.noborder {
	border:none;
}

h1, h2, h3, h4, h5{
	margin:0px;
	margin-bottom:10px;
	padding:0px;
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	font-weight:bold;
	color:#9c0;
}

h1, h1 a:link, h1 a:visited {
	FONT-SIZE: 14pt;
}

h2, h2 a:link, h2 a:visited {
	FONT-SIZE: 12pt;
}

h3, h3 a:link, h3 a:visited {
	FONT-SIZE: 10pt;
}
h4, h4 a:link, h4 a:visited {
	FONT-SIZE: 9pt;
	font-style: italic;
}

h5, h5 a:link, h5 a:visited {
	FONT-SIZE: 9pt;
	font-style: normal;
}

p {
	margin:0px;
	padding-left:0px;
	margin-bottom:2em;
}

table {
	margin-bottom:2em;
}

td, th {
	vertical-align:top;
}

/* Input submit buttons should have this style */
.goButton {
	border:solid white 1px;
	cursor:pointer;
	PADDING-TOP: 0px;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	PADDING-BOTTOM: 0px;
	FONT-WEIGHT: bold;
	COLOR: #fff;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Helvetica, sans-serif;
	BACKGROUND-COLOR: #090;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none;
	FONT-SIZE: 9pt;
}

.disabledButton {
	border:solid white 1px;
	cursor:pointer;
	PADDING-TOP: 0px;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	PADDING-BOTTOM: 0px;
	FONT-WEIGHT: bold;
	COLOR: #eee;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Helvetica, sans-serif;
	BACKGROUND-COLOR: #ccc;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none;
	FONT-SIZE: 9pt;
}

.goButton a,
.goButton a:hover,
.goButton a:active
{
	COLOR: #fff;
	TEXT-DECORATION: none;
	FONT-WEIGHT: bold;
}

/********************************************************************************
 *
 */

#container {
	width:990px;
}

#outer {
	background-image:url(/content/pl/system/modules/com.bp.pensionline.template/resources/gfx/bg.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	width:100%;
}

#content {
	float:left;
	width:780px;
	padding-left:0px;
}

#tomorrowtoday_tag {
	float:right;
}

.fakelink {
	font-size:9pt;
	color:#090;
	cursor:default;
}

#header {
	margin-bottom:10px;
	width:100%;
}

.logoholder {
	float:left;
	width:100px;
	text-align: center;
	padding-left: 0px;
}
.bannerholder {
	float:left;
	width:230px;
	padding-top: 22px;
	text-align:left;
	padding-left: 13px;
}

/********************************************************************************
 *
 */

#headernav {
	float:right; 
	font-size:9pt;
}

#headernav li {
	margin-left:15px;
	float:right;
	list-style-type:none;
	list-style-image:url();
	color:#090;
}

#headernav li.over {
	cursor:pointer;
	padding-left:0px;
	padding-right:0px;
}

#headernav li.seperator {
	color:#ccc;
}

/********************************************************************************
 *
 */

#bannernav {
	float: left; 
	width: 100%;
	border-bottom:solid #090 1px;
	padding-left: 0px;
	padding-bottom:0px;
}

#bannernav ul {
	float: left;
	width: 590px;
	padding:0px;
}

#bannernav li {
	margin:0px;
	margin-left:1px;
	margin-right:1px;
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	Font-size:10pt;
	text-align:center;
/*	border:solid #090 1px; */
	float:left;
	list-style-type:none;
	list-style-image:url();
	background-color:#090;
	color:#fff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:2px;
	padding-bottom:2px;
}

#bannernav li a {
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	Font-size:10pt;
	color:#fff;
	text-decoration:none;
}

#bannernav li.over {
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	Font-size:10pt;
	cursor:pointer;
	color:#fff;
	background-color:#9c0;
}

#bannernav li.selected {
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	Font-size:10pt;
	background-color:#ff0;
	color:#000;
}

#bannernav li.disabled {
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	Font-size:10pt;
	background-color:#ccc;
	color:#fff;
/*	border:solid #999 1px; */
	border-bottom:solid #090 1px;
}

#bannernav li.selected a {
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	Font-size:10pt;
	color:#000;
}

#bannernav li.disabled .fakelink {
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	Font-size:10pt;
	color:#fff;
}

#bannernav li.seperator{
	background-color:#fff;
	color:#fff;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:none;
}

/********************************************************************************
 *
 */

#bannernav .search {
	float: left;
	position:relative;
	width:400px;
	background-color:transparent;
	border:none;
	text-align: right;	
}

#bannernav .search a {
	padding-top: 2px;
	padding-bottom: 2px;
}

#search_box .label {
	padding:0px;
	color:#666;
}

#sbox {
	width:180px;
}

/********************************************************************************
 *
 */

#crumbtrail {
	float: left;
	width: 100%;
	FONT-SIZE:8pt;
	margin-top:10px;
	margin-bottom:15px;
	padding-left:0px;
}

#crumbtrail img {
	margin-top:4px;
	padding-left:10px;
	padding-right:5px;
}

#crumbtrail div {
	FONT-SIZE:8pt;
	float:left;
}

#crumbtrail div a {
	FONT-SIZE:8pt;
}

/********************************************************************************
 *
 */
 #sidebar {
	float:left;
	width:190px;
	padding-left:5px;
	margin-right:15px;
}

#sidebar ul {
	padding-bottom:1em;
}

#menu.lefty {
	width:100%;
	margin-top:5px;
	margin-left:0px;
	margin-right:0px;
	padding-left:0px;
}

#menu li {
	margin-top:0px;
	margin-left:0px;
	list-style-type:none;
	list-style-image:url();
	color:#000;
	background-color:transparent;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:5px;
}

#menu li a {
	color:#090;
}

#menu li img {
	vertical-align:middle;
	padding-left:5px;
	padding-right:5px;
}

#menu li.first_menu, #menu li.first_menu a {
	background-color:transparent; 
	padding-top:4px;
	padding-bottom:4px;
}

#menu li.first_menu {
	margin-top:0px;
	border-top:solid #9c0 1px;
}

#menu li.selected, #menu li.selected a {
	font-weight:bold;
	color:#000;
	text-decoration:none;
	cursor:default;
}

#menu li.rootmenu {
	border-bottom:solid #9c0 1px;
}


#menu li.submenu1 {
	margin-left:15px;
}

#menu li.submenu2 {
	margin-left:30px;
}

#menu li.submenu3 {
	margin-left:45px;
}
 
/********************************************************************************
 *
 */

#rss {
	border:solid #9c0 1px;
	margin-top:14px;
	margin-left:12px;
	margin-right:5px;
	margin-bottom:5px;
	padding-top:12px;
	padding-left:10px;
}

.lefty #rss {
	margin-left:5px;
	margin-right:7px;
}

#rss li, #rss_explanation li {
	list-style-image:url();
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
}

#rss img {
	height:12px;
	vertical-align:middle;
}

#rss_explanation img {
	height:7px;
	vertical-align:middle;
	padding-left:5px;
	padding-right:5px;
}

#rss_explanation li {
	margin-left:0px;
	padding-left:8px;
}

.lefty #rss_explanation li {
	padding-left:0px;
}

/********************************************************************************
 *
 */

#footer {
	border-top:solid #090 1px;
}

#footernav {
	margin-bottom:13px;
	padding-top:5px;
	padding-bottom:10px;
	padding-left:0px;
	padding-right:10px;
}

#footernav li {
	margin:0px;
	padding-left:0px;
	padding-right:10px;
	list-style-type:none;
	list-style-image:url();
	color:#090;
}

#footernav li.seperator {
	color:#ccc;
}

#footernav li.over {
	cursor:pointer;
}

/********************************************************************************
 *
 */

th.label {
	font-weight:bold;
	text-align:left;
	background-color:#ddd;
	color:#333;
	padding:5px;
}

td.label,
td.pvalue,
td.value {
	padding:5px;
}

/********************************************************************************
 *
 */


.datatable, #conthist, .historytable {
	width:550px;
	margin-left:10px;
	margin-bottom:2em;
}


.datatable td {
	vertical-align:top;
	border:solid #ccc 1px;
	padding:5px;
}

.datatable .label {
	width:66%;
}

.datatable .pvalue,
.datatable .value,
.historytable .value {
	text-align:left;
}

.datatable .number,
.historytable .number {
	text-align:right;
}

.datatable .total,
.historytable .total {
	font-weight:bold;
}

.datatable .value,
.historytable .value {
	background-color:#ff0;
	color:#000;
}

#conthist th {
	font-weight:bold;
}

#conthist th.label {
	text-align:left;
}

#conthist th,
#conthist td
{
	width:33%;
	border:solid #ccc 1px;
	text-align:center;
}

#conthist th,
#conthist td,
.historytable th,
.historytable td
{
	padding:5px;
}

.historytable th.label {
	text-align:left;
}

.historytable th,
.historytable td
{
	border:solid #ccc 1px;
}

.historytable td.label {
	width:66%;
}

/********************************************************************************
 *
 */
#TaxYearNav {
	width:570px;
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:solid #eee 1px;
}

#NextYearHolder {
	text-align:right;
	width:120px;
	margin:0px;
}

#ThisYearHolder {
	width:330px;
	text-align:center;
	font-weight:bold;
}

#PreviousYearHolder {
	width:120px;
}

/******************************************************************************** 
 * 
 */ 

.banner_box_green { 
	padding:10px;
        color:#fff; 
        background-color:#9c0; 
} 

.banner_box_green h1, 
.banner_box_green h2, 
.banner_box_green h3, 
.banner_box_green h4, 
.banner_box_green h5, { 
        color:#ff0;
	font-weight:bold;
} 

.quote_box_green { 
        color:#090; 
        font-size:18pt; 
} 

.banner_title_green {
	padding:10px;
        color:#fff; 
	font-weight:bold;
        background-color:#9c0; 
} 

.banner_title_yellow { 
	padding:10px;
        color:#000; 
	font-weight:bold;
        background-color:#ff0; 
} 

/******************************************************************************** 
 * 
 */ 

.component_holder {
	width:100%;
}

.component_label {
	width:150px;
	text-align:right;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}

.component_value {
	text-align:left;
	vertical-align:top;
	padding-top:3px;
}

/******************************************************************************** 
 * 
 */ 

.login_component_holder {
	width:100%;
}

.login_label {
	width:140px;
	text-align:right;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}

.login_value {
	text-align:left;
	vertical-align:top;
	padding-top:3px;
}

/******************************************************************************** 
 * 
 */ 

.address_component_holder {
	width:100%;
}

.address_label {
	width:100px;
	text-align:right;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}

.address_value {
	text-align:left;
	vertical-align:top;
	padding-top:3px;
}

/*#full_address_holder,*/
#address_postcode_holder,
#full_address_waiter,
#address_not_found,
#address_error_holder,
#address_thanks_holder {
	display:none;
}
/******************************************************************************** 
 * 
 */ 
#homepage_template p {
	margin-bottom:0px;
}

#homepage_template #main_story,
#homepage_template #first_story,
#homepage_template #second_story,
#homepage_template #third_story,
#homepage_template #fourth_story {
	width:100%;
	margin:0px;
	padding:0px;
}

#homepage_template #main_story .image,
#homepage_template #main_story .story,
#homepage_template #first_story .image,
#homepage_template #first_story .story,
#homepage_template #second_story .image,
#homepage_template #second_story .story,
#homepage_template #third_story .image,
#homepage_template #third_story .story,
#homepage_template #fourth_story .image,
#homepage_template #fourth_story .story {
	float:left;
	margin:0px;
	padding:0px;
}

#homepage_template #main_story .image {
	width:400px;
}

/*

#homepage_template #fourth_story .image p,
#homepage_template #third_story .image p,
#homepage_template #second_story .image p,
#homepage_template #main_story .image p {
	margin-bottom:0px;
}
*/

#homepage_template #main_story .image {
	background-color:#fff;
}

#homepage_template #main_story .story {
	width:350px;
	height:143px;
	margin-left:10px;
	padding:10px;
    color:#fff; 
    background-color:#9c0; 
	font-weight:bold;
}

#homepage_template #main_story .story p {
	font-size:11pt;
}

#homepage_template #main_story .story h1,
#homepage_template #main_story .story h2,
#homepage_template #main_story .story h3,
#homepage_template #main_story .story h4,
#homepage_template #main_story .story h5 {
    color:#ff0;
	font-weight:bold;
}

#homepage_template #section_note {
	float: left;
	width:770px;
	margin:0px;
	margin-top:10px;
	padding:5px;
	background-color:#ff0;
	color:#000;
}
#homepage_template #section_note h1, 
#homepage_template #section_note h2, 
#homepage_template #section_note h3, 
#homepage_template #section_note h4, 
#homepage_template #section_note h5 {
	color:#000;
	margin:0px;
	padding:0px;
}

#secondary_stories {
	margin-bottom:0px;
	width:100%;
}

#homepage_template #lhs{
	float:left;
	width:385px;
}
#homepage_template #rhs {
	float:left;
	width:385px;
	margin-left: 10px;
}
#homepage_template #first_story,
#homepage_template #second_story
#homepage_template #third_story,
#homepage_template #fourth_story {
	float: left;
	width: 100%;
}

#homepage_template #first_story .story {
	float: left;
	width:380px;
	padding:10px;
}

#homepage_template #second_story .image {
	float: left;
	width:100px;
	text-align:center;
	padding-top:10px;
}

#homepage_template #second_story .story {
	float: left;
	width:265px;
	padding:10px;
}

#homepage_template #third_story .image,
#homepage_template #fourth_story .image {
	float: left;
	width:100px;
	text-align:center;
	padding-top:10px;
}

#homepage_template #third_story .story,
#homepage_template #fourth_story .story {
	float: left;
	width:265px;
	padding:10px;
}
/******************************************************************************** 
 * 
 */ 

#body_template #main {
	width:100%;
}

#body_template #imagery {
	float:right;
	width:190px;
}

#body_template #imagery.lefty image {
	clear:both;
	padding-left:10px;
}

#body_template #writing {
	width:580px;
	padding-right:10px;

}

#body_template #imagery #banner {
	color:#ff0; 
	background-color:#9c0; 
	width:160px;
	padding:10px;
}

#body_template #imagery.lefty #banner {
}

#body_template #imagery #banner p {
	margin-bottom:0px;
	font-size:20pt;
}

#body_template #image p {
	margin-bottom:0px;
}

/******************************************************************************** 
 * 
 */ 

#header_template,
#header_template #top_row,
#header_template #bottom_row {
	float: left;
	width:100%;
}

#header_template #summary,
#header_template #image,
#header_template #picture,
#header_template #story,
#header_template #caption {
	float:left;
}

#header_template #bottom_row {
	margin-top:10px;
	padding-top:10px;
	border-top:solid #ccc 1px;
}

#header_template #summary {
	width:580px;
	padding-left:0px;
	padding-right:10px;
}

#header_template.lefty #summary {
	padding-left:10px;
}

#header_template #image {
	text-align:center;
	width:180px;
}

#header_template #picture {
	text-align:center;
	width:100px;
}

#header_template #story {
	width:470px;
	padding-left:10px;
	padding-right:10px;
}

#header_template #caption {
	padding-left:0px;
	padding-right:10px;
	width:170px;
	font-size:16px;
	color:#090;
}

#header_template #image p,
#header_template #picture p,
#header_template #caption p {
	margin-bottom:0px;
}

#header_template #caption p {
	font-size:16px;
	color:#090;
}

/******************************************************************************** 
 * 
 */ 

.bio_panel {
	float:left;
	width:100%;
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	padding-top:10px;
}

.bio_image {
	width:100px;
	float:left;
}

.bio_text {
	width:660px;
	float:left;
	padding-left:10px;
}

/******************************************************************************** 
 * 
 */ 

.dialog {
	display:none;
}


/******************************************************************************** 
 * 
 */ 

#imail #Icategory {
	width:400px;
}

#imail #Iquery {
	width:400px;
	height:200px;
}

/******************************************************************************** 
 * 
 */ 

#ExpressionOfWish {
	padding:10px;
	border:solid #ccc 1px;
}

#ExpressionOfWish #title p {
	font-weight:bold;
}

#ExpressionOfWish .datatable,
#ExpressionOfWish .historytable {
	margin:0px;
}

#ExpressionOfWish #eow_submit_form {
	display:none;
}

/*
 *
 */

#advanced_search {
}

#publishing_toolbar {
	display:none;
}
/******************************************************************************** 
 * 
 */ 

#wall_list textarea {
	width:560px;
	height:275px;
}

#wall_sumitter {
	text-align:center;
}

/******************************************************************************** 
 * registration
 */ 

.mandatory {
	font-weight:bold;
	color:#f00;
}

.reginput {
	width:200px;
}

/******************************************************************************** 
 * Planners
 */ 

#modeller .planner_table {
margin-left:35px;
}

#modeller .planner_table th,
#modeller .planner_table td {
	padding:5px;
	border:solid #ccc 1px;
}

#modeller .planner_table th {
	font-weight:bold;
	background-color:#ddd;
	color:#000;
}

#modeller .planner_table .option_name {
	width:200px;
}

#modeller .planner_table .current_option {
	width:150px;
}

#modeller .planner_table .modelled_option {
	width:150px;
}

#modeller .planner_table td.current_option,
#modeller .planner_table td.modelled_option {
	text-align:right;
}

#modeller .planner_table td.modelled_option {
	background-color:#ff0;
	color:#000;
}

#modeller .caveat,
#modeller .controlable_panel {
	display:none;
}

#modeller #ar_pensal,
#modeller #ar_spp,
#modeller #ar_tvin {
	display:block;
}

/******************************************************************************** 
 * change of bank
 */ 

.bank_details th,
.bank_details td {
	padding:5px;
	border:solid #ccc 1px;
}

.bank_details td.label {
	width:270px;
	text-align:right;
}

.bank_details td.value {
	width:150px;
}

.bank_details input.bankinput {
	width:140px;
}

.bank_details input.sortcode {
	width:31px;
}

/******************************************************************************** 
 * blanking table parts here to override anything else
 */ 

.bank_details .blank,
#modeller .planner_table .blank {
	background-color:transparent;
	border:none;
}

/******************************************************************************** 
 * dictionary and ajax component tags
 */ 

.dictionary_definition {
	display:none;
}

/******************************************************************************** 
 * faqs
 */ 

.faq_questions {
	padding-bottom:2em;
	margin-bottom:2em;
	border-bottom:solid #ccc 1px;
}

.newsletter_error,
.phone_error,
.email_error,
.cobank_error,
.imail_error {
	display:none;
	text-align:center;
	border:solid red 2px;
	color:red;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
}

.newsletter_success,
.phone_success,
.email_success,
.cobank_success,
.imail_success {
	display:none;
	text-align:center;
	border:solid #090 2px;
	color:#090;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
}

/* print specific */
.non-print { display:none; }
#printheader, #printfooter { display:block; clear:both; }
#crumbtrail div,
.logoholder, 
.logoholder {
	float:left;
}
#printfooter {
	margin-top:10px;
	border-top:solid #090 1px;
	padding-top:5px;
	width:560px;
}

.letter_membership_number {
	width:350px;
}
