<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>you have&nbsp;logged out</h1>]]></content>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<p><strong><font color="#ff0000" size="2">The system&nbsp;is currently undergoing maintenance. Service will resume shortly.</font></strong></p>]]></content>
    </element>
  </page>
</pages>
