<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>an error has occurred</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/_login_ask.html]]></target>
          <uuid>e574ce50-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>Unfortunately an error occurred when you tried to&nbsp;log in. This could be for one of the
following reasons:</p>
<ul>
<li>You entered an incorrect username or password. Please check your details and 
<a target="_self" href="%(link0)">try again</a>.</li>
<li>You have not registered yet. Please register by contacting the 
<a href="%(link1)">PensionLine Support Team</a>.</li>
<li>There is a problem with your account and the data we hold about it. Please contact 
<a href="%(link2)">BP UK&nbsp;Pensions &amp; Benefits</a>.</li>
<li>Your account has been locked, in line with BP policy. Please contact 
<a href="%(link3)">BP UK&nbsp;Pensions &amp; Benefits</a>.</li>
</ul>]]></content>
    </element>
  </page>
</pages>
