<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>are you sure?</h1>]]></content>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<p>Logging out will mean you will no longer be able to see your personal information
without&nbsp;logging back in again.</p>
<p>If you do not want to log out, please select another page from the menu, or click
on&nbsp;the&nbsp;'back' button in&nbsp;your browser.</p>
<p>If you are sure you want to log out, click the&nbsp;'OK' button&nbsp;below.</p>
<form action="_logout_handler.jsp" method="post">
<input class="goButton" type="submit" value="OK" />
</form>]]></content>
    </element>
  </page>
</pages>
