<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>access your personal details</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/Self_services/password_self_service.html]]></target>
          <uuid>d4942679-e4a1-11de-9c92-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/Self_services/userid_self_service.html]]></target>
          <uuid>12d6d45e-e4a1-11de-9c92-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>To gain access to your personal information and other secure areas of the site, you need to log in with your PensionLine user ID or BP1 account.</p>
<div class="login_holder">
<p><strong><font color="#ff0000" size="2"><script type="text/javascript" language="JavaScript">
//System admin alert message //on screen
 document.write(getLoginMessage());
</script></font></strong></p>
<form action="_login_handler.jsp" method="post" onsubmit="disableButton()" name="loginForm">
    <div class="login_component_holder">
    <div class="login_label"><label for="_request_username">Username</label></div>
    <div class="login_value"><input id="_request_username" autocomplete="off" name="_request_username" type="text" /></div>
    </div>
    <div class="login_component_holder">
    <div class="login_label"><label for="_request_password">Password</label></div>
    <div class="login_value"><input id="_request_password" type="password" name="_request_password" /></div>
    </div>
    <div class="login_component_holder">
    <div class="login_label">&nbsp;</div>
    <div class="login_value"><input class="goButton" id="doauth" type="submit" name="doauth" value="Go" /></div>
    </div>
</form>
<br />
<div class="login_component_holder">
<div class="login_label">&nbsp;</div>
<div class="login_value"><a href="%(link0)">I've forgotten my password</a></div>
</div>
<div class="login_component_holder">
<div class="login_label">&nbsp;</div>
<div class="login_value"><a href="%(link1)">I've forgotten my user ID</a></div>
</div>
</div>
<h2 class="login_holder">&nbsp;</h2>
<p class="login_holder">If you are a member of the BP or Burmah Castrol Pension Fund and not yet a registered user of PensionLine, please contact the <a href="%(link2)">PensionLine Support Team</a> to register.</p>
<script type="text/javascript" language="JavaScript">
document.loginForm._request_username.focus();
function disableButton() {
button=document.getElementById("doauth");
button.disabled= true;
}</script>]]></content>
    </element>
  </page>
</pages>
