<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>registration request received</h1>]]></content>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<h2>thank you</h2>
<p>You&nbsp;will now be sent a letter explaining what you need to do next.</p>]]></content>
    </element>
  </page>
</pages>
