<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>registration and new password request</h1>]]></content>
    </element>
    <element name="bpblank">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/contactus.html]]></target>
          <uuid>e673ef0d-18dd-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="false" type="A">
          <target><![CDATA[mailto:pensionlineuk@bp.com]]></target>
        </link>
      </links>
      <content><![CDATA[<p>Before you can log in you must first be registered. Once you have registered below, you will
receive further instructions, by letter, at the address we hold for you.</p>
<p>If you have forgotten your password, please provide the information requested below.
<br />A new password will then be sent to you.</p>
<p>Submitting this information to us is safe as you are running on a secure internet link. Your
information will be handled in accordance with the data protection act and our privacy statement
(below). If you do not agree to us holding your information in the way outlined, please contact a
member of the 
<a href="%(link0)">PensionLine Administration Team</a>, who will
process&nbsp;your registration request. Please do not email the Team directly with your personal
details as this is not secure.</p>
<form>
<div class="login_component_holder">
<div class="login_label">
<label for="name"><span class="mandatory">#</span> Your name</label>
</div>
<div class="login_value">
<input class="reginput" id="name" name="name" type="text" />
</div>
</div>
<div class="login_component_holder">
<div class="login_label">
<label for="nino"><span class="mandatory">#</span> NI number</label>
</div>
<div class="login_value">
<input class="reginput" id="nino" name="nino" type="text" />
</div>
</div>
<div class="login_component_holder">
<div class="login_label">
<label for="dob"><span class="mandatory">#</span> Date of birth</label>
</div>
<div class="login_value">
<input class="reginput" id="dob" name="dob" type="text" />
</div>
</div>
<div class="login_component_holder">
<p>&nbsp;</p>
<p>We require one of the following contact details in case we need to contact you. Your letter will
be sent to the address we hold for you.</p>
</div>
<div class="login_component_holder">
<div class="login_label">
<label for="telno">Telephone number</label>
</div>
<div class="login_value">
<input class="reginput" id="telno" name="telno" type="text" />
</div>
</div>
<div class="login_component_holder">
<div class="login_label">
<label for="email">Email address</label>
</div>
<div class="login_value">
<input class="reginput" id="email" name="email" type="text" />
</div>
</div>
<div class="login_component_holder">
<p>&nbsp;</p>
<p>The following information is optional, but will help us to identify your details.&nbsp;Please
provide&nbsp;the information&nbsp;if you have it.</p>
</div>
<div class="login_component_holder">
<div class="login_label">
<label for="refno">Reference number</label>
</div>
<div class="login_value">
<input class="reginput" id="refno" name="refno" type="text" />
</div>
</div>
<div class="login_component_holder">
<div class="login_label">
<label for="payroll_number">Payroll number</label>
</div>
<div class="login_value">
<input class="reginput" id="payroll_number" name="payroll_number" type="text" />
</div>
</div>
<div class="login_component_holder">
<p>&nbsp;</p>
<p>The image below should contain a word. Please enter this in the box provided. This is used to
prove that you are not a search engine or hacker, trying to access the site.</p>
</div>
<div class="login_component_holder">
<div class="login_label">&nbsp;</div>
<div class="login_value">
<script type="text/javascript" language="javascript">
document.write("<img id='img' src='' />");
document.getElementById("img").setAttribute("src","/content/Captcha?"+ Math.random());
</script>
<br /> 
<input  type="text" name="captcha" id="captcha" class="reginput" maxlength="10" /></div>
</div>
<div class="login_component_holder">
<div class="login_label">&nbsp;</div>
<div class="login_value">
<input type="button" value="Go" name="doauth" id="doauth" class="goButton" onclick="submitRegister()" />
</div>
</div>
</form>
<h2>&nbsp;</h2>
<h2>our privacy statement</h2>
<p>
<strong>BP Pension Trustees Limited</strong> is committed to protecting your privacy.</p>
<p>In order for you to use this site you will need to provide us with the information in the
registration form. We use this to present the information to you about your pension entitlements,
as described in the introduction to this site. Although our suppliers of web-related services may
see your details, neither we nor they will pass them to anyone else outside the BP group without
your permission.</p>
<p>If you have any questions about our privacy statement, please e-mail us at 
<a href="%(link1)">
<strong>pensionlineuk@bp.com</strong>
</a></p>
<p>
<strong>BP Pension Trustees Limited</strong> is part of the BP Group which is a global group of
companies. Our Internet systems span many countries, both in and outside of the European Economic
Area. Because of this, the information you submit may be transferred outside of the European
Economic Area, but will always remain secure and under our sole control.</p>]]></content>
    </element>
  </page>
</pages>
