<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bptitle">
      <links/>
      <content><![CDATA[<h1>reset request confirmation</h1>]]></content>
    </element>
    <element name="bpblank">
      <links/>
      <content><![CDATA[<p>Our records indicate that your account&nbsp;has a reset request outstanding. You must complete this process by completing the form below.</p>
<p>Please note that on successful completion of this step, you will be required to change your password.</p>
<p>Please enter the following details</p>
<script type="text/javascript">
function isNumber (aStr)
{
	aStr = aStr.trim();
   	var ValidChars = "0123456789";
   	var IsNumber=true;
   	var Char;
   	for (i = 0; i < aStr.length && IsNumber == true; i++) 
    { 
      	Char = aStr.charAt(i); 
      	if (ValidChars.indexOf(Char) == -1) 
        {
         	IsNumber = false;
        }
    }
    
  	return IsNumber;
}

function checkData()
{	
	var year=document.getElementById("yob").value;
	if(!isNumber(year))
	{
		document.getElementById("errorMsg").innerHTML="You must enter 4 digits in Year of birth field";  
		document.getElementById("errorMsg").focus();
		return false;	
	}	
	document.getElementById("errorMsg").innerHTML="";
	return true;
}

function submitData()
{
	var year=document.getElementById("yob").value;
	if(year.trim()==""||year.length<4)
	{
		document.getElementById("errorMsg").innerHTML="You must enter 4 digits in Year of birth field";  
		document.getElementById("errorMsg").focus();
		return ;
	}else if(checkData())
	{
		document.mainForm.submit();
	}
	
}
</script>
<form  name="mainForm" method="post" action="pinhandler.jsp">
	<div id="errorMsg" style="color: red;"></div>
    <div class="login_component_holder">
    <div class="login_label"><label for="userid">Surname</label></div>
    <div class="login_value"><input id="surname" name="surname" type="text" /></div>
    </div>
    <div class="login_component_holder">
    <div class="login_label"><label for="yob">Year of birth</label></div>
    <div class="login_value"><input id="yob" name="yob" type="text" maxlength="4" style="width: 50px;" onkeyup="checkData()"/> (e.g. 1969)</div>
    </div>
    <div class="login_component_holder">
    <div class="login_label"><label for="mob">Month of birth</label></div>
    <div class="login_value"><select id="mob" name="mob">
   <!--
    <option value="" selected="selected">Please select...</option>
   -->
    <option value="1" selected="selected">January</option>
    <option value="2">February</option>
    <option value="3">March</option>
    <option value="4">April</option>
    <option value="5">May</option>
    <option value="6">June</option>
    <option value="7">July</option>
    <option value="8">August</option>
    <option value="9">September</option>
    <option value="10">October</option>
    <option value="11">November</option>
    <option value="12">December</option>
    </select></div>
    </div>
    <div class="login_component_holder">
    <div class="login_label">&nbsp;</div>
    <div class="login_value"><input id="doauth"  class="goButton" type="button" onclick="submitData();" name="doauth" value="Go" /></div>
    </div>
</form>]]></content>
    </element>
  </page>
</pages>
