<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>contact us</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link2" internal="false" type="A">
          <target><![CDATA[mailto:pensionsteamfour@bp.com]]></target>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/faq/index.html]]></target>
          <uuid>2af32eef-18de-11de-b5f8-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="false" type="A">
          <target><![CDATA[mailto:pensions@bp.com]]></target>
        </link>
      </links>
      <content><![CDATA[<p>Before contacting us, you may be able to find the answer to your question in <a href="%(link0)">FAQs</a>.<br />
<br />
If your question is not covered in FAQs, you can contact BP UK Pensions &amp; Benefits. There are different contact details depending on what&nbsp;scheme you belong to. Please have your&nbsp;membership number to hand&nbsp;when you contact&nbsp;us.</p>
<h2>For the BP pension scheme, BP Gas, BP Retailing and BPFM pension schemes:&nbsp;</h2>
<table style="border-bottom: medium none; border-left: medium none; border-collapse: collapse; border-top: medium none; border-right: medium none" border="1" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; background: silver; border-top: gray 1pt solid; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#c0c0c0" valign="top" width="183">&nbsp;</td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: silver; border-top: gray 1pt solid; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#c0c0c0" valign="top" width="385">&nbsp;</td>
        </tr>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" valign="top" width="183">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#009900"><font color="#666666"><font size="2">Email&nbsp;</font> </font></font></font></div>
            </div>
            </td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: yellow; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#ffff00" valign="top" width="385">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666"><font size="2"><span style="color: #666666; font-size: 9pt"><a href="%(link1)">pensions@bp.com</a> </span>&nbsp;</font> </font></div>
            </td>
        </tr>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" valign="top" width="183">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666"><font size="2">Phone</font> </font></div>
            </td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: yellow; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#ffff00" valign="top" width="385">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt">0845 602 1063</span> </font></div>
            </td>
        </tr>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" valign="top" width="183">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#009900"><font color="#666666"><font size="2">Fax</font> </font></font></font></div>
            </div>
            </td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: yellow; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#ffff00" valign="top" width="385">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt">+44 1932 763630</span> </font></div>
            </td>
        </tr>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" valign="top" width="183">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#666666"><font size="2">If calling from abroad</font> </font></font></div>
            </div>
            </td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: yellow; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#ffff00" valign="top" width="385">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt">+44 1932 767730</span> </font></div>
            </td>
        </tr>
    </tbody>
</table>
<h2>For all other BP pension&nbsp;schemes:</h2>
<table style="border-bottom: medium none; border-left: medium none; border-collapse: collapse; border-top: medium none; border-right: medium none" border="1" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; background: silver; border-top: gray 1pt solid; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#c0c0c0" valign="top" width="183">&nbsp;</td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: silver; border-top: gray 1pt solid; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#c0c0c0" valign="top" width="385">&nbsp;</td>
        </tr>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" valign="top" width="183">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#009900"><font color="#666666"><font size="2">Email&nbsp;</font> </font></font></font></div>
            </div>
            </td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: yellow; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#ffff00" valign="top" width="385">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666"><font size="2"><span style="color: #666666; font-size: 9pt"><a href="%(link2)">pensionsteamfour@bp.com</a>&nbsp;</span>&nbsp;</font> </font></div>
            </td>
        </tr>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" valign="top" width="183">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666"><font size="2">Phone</font> </font></div>
            </td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: yellow; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#ffff00" valign="top" width="385">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt">0845 600 0295</span> </font></div>
            </td>
        </tr>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" valign="top" width="183">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#009900"><font color="#666666"><font size="2">Fax</font> </font></font></font></div>
            </div>
            </td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: yellow; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#ffff00" valign="top" width="385">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt">+44 1932 762841</span> </font></div>
            </td>
        </tr>
        <tr>
            <td style="border-bottom: gray 1pt solid; border-left: gray 1pt solid; padding-bottom: 0cm; background-color: transparent; padding-left: 5.4pt; width: 137.4pt; padding-right: 5.4pt; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" valign="top" width="183">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><font color="#666666"><font size="2">If calling from abroad</font> </font></font></div>
            </div>
            </td>
            <td style="border-bottom: gray 1pt solid; border-left: #ece9d8; padding-bottom: 0cm; padding-left: 5.4pt; width: 289pt; padding-right: 5.4pt; background: yellow; border-top: #ece9d8; border-right: gray 1pt solid; padding-top: 0cm" bgcolor="#ffff00" valign="top" width="385">
            <div style="text-autospace: ideograph-numeric; punctuation-wrap: hanging"><font color="#666666" size="1"><span style="color: #666666; font-size: 9pt">+44 1932 767730</span> </font></div>
            </td>
        </tr>
    </tbody>
</table>
<h2>PensionLine queries:</h2>
<p>If you have any queries relating to PensionLine, please call your scheme contact as above.<br />
<br />
If you would like to write to the team, please send your letter to:<br />
<br />
BP UK Pensions &amp; Benefits <br />
Chertsey Road <br />
Sunbury-on-Thames <br />
Middlesex TW16 7LN</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x180/laptop_on_grass.jpg]]></target>
          <uuid>772c9689-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p><img height="180" alt="laptop on grass" width="180" border="0" src="%(link0)" /></p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>you may be able to find the answer to your question in FAQs</p>]]></content>
    </element>
  </page>
</pages>
