<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="body">
      <links/>
      <content><![CDATA[<h1>welcome to PensionLine</h1>]]></content>
    </element>
    <element name="body2">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Homepage_banners/sunflowers_in_bloom.jpg]]></target>
          <uuid>59e96f96-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p><img alt="sunflowers in bloom" src="%(link0)" /></p>]]></content>
    </element>
    <element name="body3">
      <links/>
      <content><![CDATA[<h2>Your BP pension online</h2>
<p><b>If you're a BP employee with a BP email account, you can login to the secure, personalised area using the same username and password for accessing your BP emails.</b></p>]]></content>
    </element>
    <element name="body4">
      <links/>
      <content><![CDATA[<h3>other news</h3>]]></content>
    </element>
    <element name="body5">
      <links/>
      <content/>
    </element>
    <element name="body6">
      <links/>
      <content/>
    </element>
    <element name="body7">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-100x100/3_leaves.jpg]]></target>
          <uuid>5bbd4569-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="100" alt="3 leaves" width="100" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="body8">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/PensionLine_Survey.html]]></target>
          <uuid>9d22e8bd-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<h3>Tell us what you think</h3>
<p>
<font face="Verdana" color="#666666" size="2">Tell us what you think of PensionLine, by taking part
in the&nbsp;new PensionLine 
<a href="%(link0)">survey</a>.</font>
</p>]]></content>
    </element>
    <element name="body9">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-100x100/leaf_veins.jpg]]></target>
          <uuid>6083a7a6-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="100" alt="leaf veins" width="100" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="body10">
      <links>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/system/galleries/download/Communications/AVC_transfer_guide.pdf]]></target>
          <uuid>22bb2a42-81a2-11de-8d1f-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<h3>Transfer of AVCs</h3>
<p>You can now transfer your Additional Voluntary Contribution and bonus waiver funds out of the in-house AVC scheme to another arrangement and leave your main scheme benefits in the BP Pension Fund. To find out more, click <a title="AVC transfer guide" target="_self" href="%(link0)">here</a> for more information.</p>]]></content>
    </element>
    <element name="body11">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-100x200/bamboo_cutout2.jpg]]></target>
          <uuid>64713522-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img style="float:left;" height="200" alt="bamboo cutout" width="100" border="0" src="%(link0)" />
<h3>Change to lifetime allowance (LTA) from April 2012</h3>
<p>The LTA is reducing from £1.8 to £1.5 million from 6 April 2012. We will update PensionLine in early January 2012 with an introductory set of Questions & Answers and will provide a range of other communications from then through to April.</p>]]></content>
    </element>
  </page>
</pages>
