<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>legal notice</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links/>
      <content><![CDATA[<p>Below is a copy of the BP Pension Fund's current website legal notice. Please read this information carefully. Access to this website is confirmation that you have understood and are bound by all of these terms and conditions.</p>
<p>The following sets out the terms and conditions of use of this website:-</p>
<h2>our liability to you</h2>
<p>The information contained in this website is not comprehensive. Despite our efforts, it may not be accurate, up to date or applicable to the circumstances of any particular case. We cannot accept any liability for any inaccuracies or omissions in this website and any decisions you make based on information contained in this website are your sole responsibility. The information on this website does not constitute investment or other advice and therefore should be verified with BP UK Pensions &amp; Benefits before taking any action that relies on it. We are of course happy to discuss with you the implications of any issue raised if you contact us at the following address: BP UK Pensions &amp; Benefits, Chertsey Road, Sunbury-on-Thames, Middlesex TW16 7LN</p>
<p>Products and services on this website are not being offered publicly in any jurisdiction where such an offer may be unlawful.</p>
<p>We are not responsible for the content of any other website, including any website through which you may have gained access to our website or to which you may gain access from our website. We do not accept any liability in connection with any such sites or links.</p>
<p>No information contained in this website constitutes an invitation by or on behalf of BP p.l.c. or any of its subsidiaries to enter into a contract with you.</p>
<h2>ownership of the copyright and trademarks on this site</h2>
<p>You are responsible for obeying all applicable copyright laws. We permit you to make copies of this website as necessary incidental acts during your viewing of it; and you may take a print for your personal use of so much of the site as is reasonable for private purposes. All other use is strictly prohibited.</p>
<p>All the contents of this website and downloads from it are Copyright &copy;, owned by or licensed to BP Pension Trustees Limited. All rights reserved. BP and the Helios mark are trademarks of BP p.l.c.</p>
<p>You may not frame this site nor provide a link to a page other than the home page without our express permission.</p>
<h2>what law governs this website?</h2>
<p>Your use of this website and downloads from it, and the operation of these terms and conditions, shall be governed in accordance with the laws of England. The English courts shall have exclusive jurisdiction over any dispute arising out of your use of this website.</p>
<p>In the event that any, or any part, of the terms contained in these terms and conditions shall be determined by any competent authority to be invalid, unlawful or unenforceable to any extent, such term shall to that extent be severed from the remaining terms which shall continue to be valid and enforceable to the fullest extent permitted by law.</p>
<h2>your comments</h2>
<p>If you have any queries or comments concerning the operation of this website, please contact us at the following address: BP UK Pensions &amp; Benefits, Chertsey Road, Sunbury-on-Thames, Middlesex, TW16 7LN, United Kingdom.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x200/compass.jpg]]></target>
          <uuid>7bc46dc2-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="200" alt="compass" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>this page sets out the terms and conditions of use of this website</p>]]></content>
    </element>
  </page>
</pages>
