<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>what is RSS?</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[http://en.wikipedia.org/wiki/Aggregator]]></target>
        </link>
      </links>
      <content><![CDATA[<p>To make content more readily available and to save you time, PensionLine is now RSS enabled. RSS
stands for Really Simple Syndication and&nbsp;allows users to subscribe to updates to, or news
items from, a website.</p>
<h2>how do I read it?</h2>
<p>To read RSS feeds, you will need to have some software installed on your computer (a RSS reader
client sometimes referred to as an aggregator) or access to a web site that offers the same
functionality. To 'subscribe' to a feed, simply right-click the related icon and click Copy Link
Location or Copy Shortcut, then paste it into your RSS aggregator.</p>
<h2>what clients are available?</h2>
<p>There are two main types of clients available, some free, some available for purchase. These
are:</p>
<ul>
<li>Desktop aggregators are installed on your computer and are available for Windows, Linux, and
just about every other platform.</li>
<li>Web-based or on-line clients are special Web sites where you set up an account and then
subscribe and read all your RSS feeds from the one location.</li>
</ul>
<p>The desktop-based ones have the advantage of letting you read the news articles offline and
being as fast as your computer. The on-line ones have the advantage of letting you view your feeds
from anywhere you have an Internet connection and Web browser.</p>
<p>Wikipedia has a good list of all types of clients at 
<a href="%(link0)">http://en.wikipedia.org/wiki/Aggregator</a>.</p>
<h2 class="lightGreenBold">how do I add a feed to my client?</h2>
<p>The exact procedure depends very much on the capabilities of your RSS reader software, but
basically it is as follows:</p>
<ul>
<li>Using your Web browser, go to the site of the organisation you want to follow and look for the
RSS icon</li>
<li>Right-click the icon and click Copy Shortcut (Internet Explorer) or Copy Link Location
(Firefox), or the equivalent for your browser.</li>
<li>Start your RSS reader software.</li>
<li>Look for the button, link, or menu that says Add a Feed or similar.</li>
<li>Paste in the URL you copied in step 2 (either right-click in the field and click Paste, or
click the field and press Ctrl+V).</li>
<li>Click OK or Add to add the feed.</li>
</ul>
<p>The feed should now be added to your list of feeds.</p>
<h2>using BP RSS feeds on your site</h2>
<p>You can use RSS feeds to display the latest headlines from BP websites on your website. We
encourage the use of BP RSS feeds as part of a website, subject to our terms of use for RSS
Feeds.</p>
<p>You must always attribute us and include a link back to the relevant BP website when using
content accessed through a BP RSS feed. The terms of use set out the detail of the wording you must
use and where you must insert the link.</p>
<p>The terms of use also set out important provisions confirming that you may not re-distribute BP
RSS feeds and setting out the extent of our responsibility to you in relation to the RSS feeds.</p>
<p>If you download a BP RSS feed you will be legally bound by the terms of use, which will take
effect from the time you start downloading that BP RSS feed. If you do not agree to be legally
bound by the terms of use, then you should not download any BP RSS feeds.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Application_images/rssicon.gif]]></target>
          <uuid>54d1b9d6-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="180" alt="rss icon" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>Really Simple Syndication</p>]]></content>
    </element>
  </page>
</pages>
