<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>useful links</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link8" internal="false" type="A">
          <target><![CDATA[http://www.thepensionsregulator.gov.uk/]]></target>
        </link>
        <link name="link9" internal="false" type="A">
          <target><![CDATA[http://www.thepensionservice.gov.uk/atoz/atozdetailed/traceform.asp]]></target>
        </link>
        <link name="link6" internal="false" type="A">
          <target><![CDATA[http://www.hmrc.gov.uk/faqs/faqnic.htm]]></target>
        </link>
        <link name="link7" internal="false" type="A">
          <target><![CDATA[http://www.opas.org.uk/]]></target>
        </link>
        <link name="link4" internal="false" type="A">
          <target><![CDATA[http://www.unbiased.co.uk/]]></target>
        </link>
        <link name="link10" internal="false" type="A">
          <target><![CDATA[http://www.uar.co.uk]]></target>
        </link>
        <link name="link5" internal="false" type="A">
          <target><![CDATA[http://www.napf.co.uk/]]></target>
        </link>
        <link name="link11" internal="false" type="A">
          <target><![CDATA[http://www.uar.co.uk]]></target>
        </link>
        <link name="link2" internal="false" type="A">
          <target><![CDATA[http://www.hmrc.gov.uk/home.htm]]></target>
        </link>
        <link name="link3" internal="false" type="A">
          <target><![CDATA[http://www.hm-treasury.gov.uk/]]></target>
        </link>
        <link name="link0" internal="false" type="A">
          <target><![CDATA[http://www.dwp.gov.uk/]]></target>
        </link>
        <link name="link1" internal="false" type="A">
          <target><![CDATA[http://www.fsa.gov.uk/]]></target>
        </link>
      </links>
      <content><![CDATA[<p class="ocms_de_norm">Click on the links below to access some general websites relevant to
pensions. We hope that you find them helpful and that they address issues of interest to you.</p>
<h3 class="ocms_de_norm">Department for Work and Pensions</h3>
<p class="ocms_de_norm">Responsible for Government's welfare reform agenda. Site provides support
and advice on a long list of benefits and services - including pensions.</p>
<p class="ocms_de_norm">
<a href="%(link0)">http://www.dwp.gov.uk/</a>
</p>
<h3 class="ocms_de_norm">Financial Services Authority</h3>
<p class="ocms_de_norm">Independent body that regulates UK financial services industry.</p>
<p class="ocms_de_norm">
<a href="%(link1)">http://www.fsa.gov.uk/</a>
</p>
<h3 class="ocms_de_norm">HM Revenue &amp; Customs</h3>
<p class="ocms_de_norm">Provides information on tax and National Insurance contributions.</p>
<p class="ocms_de_norm">
<a href="%(link2)">http://www.hmrc.gov.uk/home.htm</a>
</p>
<h3 class="ocms_de_norm">HM Treasury</h3>
<p class="ocms_de_norm">Provides information on&nbsp; changes in legislation and Government
regulations, including Budget reports.</p>
<p class="ocms_de_norm">
<a href="%(link3)">http://www.hm-treasury.gov.uk/</a>
</p>
<h3 class="ocms_de_norm"><span style="FONT-SIZE: 9pt"><span style="FONT-SIZE: 9pt">
<font size="2">
<strong>Independent Financial Advice</strong>
</font>
</span>
</span>
</h3>
<p class="ocms_de_norm">
<font size="1"><span style="FONT-SIZE: 9pt">
<font size="1"><span style="FONT-SIZE: 9pt">Find an Independent Financial Adviser near you.</span>
</font>
</span>
</font>
</p>
<p class="ocms_de_norm">
<font size="1"><span style="FONT-SIZE: 9pt">
<font size="1"><span style="FONT-SIZE: 9pt">
<a href="%(link4)">
<font color="#009900"><span
style="COLOR: #009900; TEXT-DECORATION: none; text-underline: none">http://www.unbiased.co.uk/</span>
</font>
</a>
</span>
</font>
</span>
</font>
</p>
<h3 class="ocms_de_norm">National Association of Pension Funds</h3>
<p class="ocms_de_norm">Representative body for employer-sponsored pensions.</p>
<p class="ocms_de_norm">
<a href="%(link5)">http://www.napf.co.uk/</a>
</p>
<h3 class="ocms_de_norm">National Insurance Contributions (NICs)</h3>
<p class="ocms_de_norm">Inland Revenue website that answers frequently asked questions on NICs.</p>
<p class="ocms_de_norm">
<font size="1"><span style="FONT-SIZE: 9pt">
<a href="%(link6)">
<font color="#009900"><span
style="COLOR: #009900; TEXT-DECORATION: none; text-underline: none">http://www.hmrc.gov.uk/faqs/faqnic.htm</span>
</font>
</a> &nbsp;</span>
</font>
</p>
<h3 class="ocms_de_norm">The Pensions Advisory Service</h3>
<p class="ocms_de_norm">Provides information, guidance and advice on pensions. Can help with
pensions disputes.</p>
<p class="ocms_de_norm">
<font size="1"><span style="FONT-SIZE: 9pt">
<a href="%(link7)">
<font color="#009900">http://www.pensionsadvisoryservice.org.uk/&nbsp;</font>
</a>
</span>
</font>
</p>
<h3 class="ocms_de_norm">The Pensions Regulator</h3>
<p class="ocms_de_norm">The regulatory body for work-based pension schemes in the UK.</p>
<p class="ocms_de_norm">
<font size="1"><span style="FONT-SIZE: 9pt">
<a href="%(link8)">
<font color="#009900"><span
style="COLOR: #009900; TEXT-DECORATION: none; text-underline: none">http://www.thepensionsregulator.gov.uk/</span>
</font>
</a>
</span>
</font>
</p>
<h3 class="ocms_de_norm"><span style="FONT-SIZE: 9pt">
<strong>The Pension Tracing Service</strong>
</span>
</h3>
<p class="ocms_de_norm"><span style="FONT-SIZE: 9pt">Helps you to find any pension schemes you have lost touch with.</span>
</p>
<p class="ocms_de_norm"><span style="FONT-SIZE: 9pt">
<a
href="%(link9)">http://www.thepensionservice.gov.uk/atoz/atozdetailed/
<br /> traceform.asp</a>
</span>
</p>
<h3 class="ocms_de_norm"><span style="FONT-SIZE: 9pt">
<strong>The Unclaimed Assets Register</strong>
</span>
</h3>
<p class="ocms_de_norm"><span style="FONT-SIZE: 9pt">A search service that helps you find your lost assets and re-establish
contact with financial institutions.</span>
</p>
<p class="ocms_de_norm">
<a href="%(link10)">http://www.uar.co.uk</a>
</p>
<p class="ocms_de_norm"><span style="FONT-SIZE: 9pt">
<a href="%(link11)">&nbsp;</a>
</span>
</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/laptop_on_grass.jpg]]></target>
          <uuid>873c118b-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="90" alt="laptop on grass" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<font size="5">find pensions-related websites that might be of interest to you</font>]]></content>
    </element>
  </page>
</pages>
