<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>welcome to PensionLine</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links/>
      <content><![CDATA[<p>Before you proceed please make sure you have your <em>welcome letter</em> to hand as this provides some of the information required below.</p>
<form method="post" action="_login_handler.jsp" name="[object]">
    <input type="hidden" name="hardreg" value="PL4-2007-06-18" />
    <div class="login_component_holder">
    <div class="login_label"><span class="mandatory">#</span> <label for="name">Surname</label></div>
    <div class="login_value"><input id="surname" class="reginput" name="surname" type="text" /></div>
    </div>
    <div class="login_component_holder">
    <div class="login_label"><span class="mandatory">#</span> <label for="_request_username">NI number</label></div>
    <div class="login_value"><input id="_request_username" class="reginput" name="_request_username" type="text" /></div>
    </div>
    <div class="login_component_holder">
    <div class="login_label"><span class="mandatory">#</span> <label for="payroll_number">Payroll number</label></div>
    <div class="login_value"><input id="payroll_number" class="reginput" name="payroll_number" type="text" /></div>
    </div>
    <div class="login_component_holder">
    <div class="login_label"><span class="mandatory">#</span> <label for="pin">PIN</label></div>
    <div class="login_value"><input id="_request_password" class="reginput" name="_request_password" type="text" /></div>
    </div>
    <!--
    <div class="login_component_holder">
    <div class="login_label"><span class="mandatory">#</span> <label for="dob">date of birth</label> </div>
    <div class="login_value"><input class="reginput" id="dob" name="dob" type="text" /> (dd/mm/yyyy)</div>
    </div>
-->
    <div class="login_component_holder">
    <div class="login_label">&nbsp;</div>
    <div class="login_value"><input id="doauth" class="goButton" type="submit" name="doauth" value="Go" /></div>
    </div>
</form>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/laptop_on_grass.jpg]]></target>
          <uuid>873c118b-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>
<img height="90" alt="laptop on grass" width="180" border="0"
src="%(link0)" />
</p>]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<p>welcome to PensionLine</p>]]></content>
    </element>
  </page>
</pages>
