<?xml version="1.0" encoding="UTF-8"?>

<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.opencms.org/dtd/6.0/xmlpage.xsd">
  <page language="en">
    <element name="bodyright">
      <links/>
      <content><![CDATA[<h1>role of the Trustee</h1>]]></content>
    </element>
    <element name="bodyright2">
      <links>
        <link name="link4" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/People/Trustee/Trustee.html]]></target>
          <uuid>10164cdd-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link2" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/Resources/TDxR.html]]></target>
          <uuid>104d89ac-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link3" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/Resources/TDxR.html]]></target>
          <uuid>104d89ac-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link0" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/Resources/TDxR.html]]></target>
          <uuid>104d89ac-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
        <link name="link1" internal="true" type="A">
          <target><![CDATA[/sites/default/schemes_bp/Resources/RxA.html]]></target>
          <uuid>10423f02-1b3f-11de-859b-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<p>BP Pension Trustees Limited is a corporate trustee company, responsible for managing the BP Pension Fund in accordance with the <a href="%(link0)">Trust Deed and Rules</a>, any relevant policies agreed with the Company and the limits set by legislation. In particular, it:</p>
<ul>
    <li>assesses and collects moneys from the Company and from those active members who pay contributions, all of which are invested to pay for the benefits due to members;</li>
    <li>establishes an investment strategy and appoints a manager to invest the assets on its behalf;</li>
    <li>manages the payment of benefits and appoints an administration manager&nbsp;to carry out this task;</li>
    <li>carries out a number of functions required as part of the Fund's activities, such as the actuarial valuation and preparation of the <a href="%(link1)">annual report and accounts</a>; and</li>
    <li>ensures the Fund is run in a way that complies with the law.</li>
</ul>
<p>The Trustee does not define the benefit policies for its members; this is the responsibility of the Company. It does have some limited discretionary powers which are set out in the <a href="%(link2)">Trust Deed and Rules</a>, e.g. the payment of lump sum benefits and pensions to dependants. On a number of matters, such as the granting of discretionary pension increases and altering the <a href="%(link3)">Trust Deed and Rules</a>, the agreement of the Company is required.</p>
<p>In essence, the Trustee exists to ensure the Fund is run properly so as to protect and pay the pensions and related benefits which members have built up.</p>
<p>The <span class="fakelink"><a href="%(link4)">Trustee Board</a> </span>comprises 11 Trustee Directors. Each Director has the same duties and responsibilities, whether Company-nominated, Member-nominated or independent.</p>]]></content>
    </element>
    <element name="bodyright3">
      <links>
        <link name="link0" internal="true" type="IMG">
          <target><![CDATA[/system/galleries/pics/Stock-180x90/green_leaf.jpg]]></target>
          <uuid>866ab7b0-1829-11de-93c4-4d6e53b46e73</uuid>
        </link>
      </links>
      <content><![CDATA[<img height="90" alt="green leaf" width="180" border="0"
src="%(link0)" />]]></content>
    </element>
    <element name="bodyright4">
      <links/>
      <content><![CDATA[<font size="5">the Trustee exists to ensure the Fund is run properly</font>]]></content>
    </element>
  </page>
</pages>
